[2014-12-10 19:43] #1120 closed, assigned to stapelberg

[2014-12-11 18:32] i3bot opened #1414 "Statically assign names to workspaces"
[Originally reported by i3-new-ticket]
(It's possible to open workspaces with custom names. However, when i3 starts, it will initially create one workspace for each output which are labelled by number.

It would be great to statically assign names to workspaces with a certain number such that that's the default name to be used whenever it is created (unless it is overridden).

Currently, I have "e

[2014-12-11 19:06] i3bot opened #1415 "Initial workspace has unparsed config as name"
[Originally reported by joseph@…]
(When I start i3, it automatically goes to my workspace 1:sys.

I made the following change to my config to support defining a floating window that is always visible across workspaces.

[code]

It works fine except when i3 starts, where it creates one workspace named

[code]

I worked around it by adding a line to my config:

[code]

[2014-12-11 19:50] #1415 closed, assigned to i3bot

[2014-12-12 08:27] #1414 closed, assigned to i3bot

[2014-12-18 01:49] i3bot opened #1416 "Configure specified windows to not take focus on manage"
[Originally reported by tony@…]
(TonyC here.

Applications can choose whether or not they want their windows to take focus when it is managed by setting a property on the window. In this case, input focus will not be disturbed. `xfce4-notifyd` is known to do this for its notification windows.

There is currently no way for a user to reliably configure this kind of behavior. #1319 is an example of

[2014-12-18 07:37] i3bot opened #1417 "wayland transition"
[Originally reported by yaumo.chan@…]
(Given X11 is to be replaced by Wayland, any transition plan/roadmap?

[2014-12-18 09:11] #1417 closed, assigned to i3bot

[2014-12-18 09:13] #1412 closed, assigned to stapelberg

[2014-12-18 09:17] #1407 closed, assigned to i3bot

[2014-12-18 16:24] i3bot opened #1418 "control default layout per workspace"
[Originally reported by haythem.elganiny@…]
(workspaces cannot (at the moment) be assigned with a specific layout mode for any application that gets opened/moved there. I always open some applications in floating mode (skype, gimp, mplayer.....) I think it wiould be nice if we can have a a workspace which has dafault "floating" layout when we want to lauck any app in floating mode we can just swit

[2014-12-19 07:26] #1418 closed, assigned to i3bot

[2014-12-19 08:52] i3bot opened #1419 "Broken i3 hot reloading since 4.8"
[Originally reported by ultrabug@…]
(Since I upgraded to i3 v4.8 I can't reload my wm without it crashing apps / windows. The more I then try to reload, the more broken it gets.

My setup is dual screen (but I experience the same in single) and the most visible effect is that the icon tray disappears right after the first reload.

If I just downgrade i3 to v4.7.2, the problem disappears and I can

[2014-12-20 00:10] i3bot opened #1420 "Cannot specify sound card for i3bar"
[Originally reported by lezed1@…]
(I tried to change the sound card used when displaying volume. The relevant part of my i3status config is below:

[code]

Using this config file leads to the error `[$HOME]/.config/i3status/config:65: no such option 'card'`. Line 65 tries to change the card being used.

This option should change which sound card is used to report volume.

[2014-12-20 00:35] #1420 closed, assigned to i3bot

[2014-12-21 10:39] i3bot opened #1421 "make i3bar suspend the child when the bar is not mapped"
[Originally reported by amonakov@…]
(Right now the bar is capable of suspending the child (such as i3status) when it does invisible voluntarily. It would be nice to extend this mechanism to also suspend the child when the bar goes invisible involuntarily, for example when some window goes fullscreen.

I've looked at i3bar source to see if I can easily make this enhancement myself, but I don't know

[2014-12-22 05:57] #1104 closed, assigned to stapelberg

[2014-12-22 08:39] #1421 closed, assigned to i3bot

[2014-12-22 08:48] #1411 closed, assigned to i3bot

[2014-12-22 09:10] i3bot opened #1422 "i3status: "_first_" iface pseudonyms don't work on BSDs and cause overhead"
[Originally reported by amonakov@…](The recently introduced in i3status' git ability to specify interfaces as "_first_" probably does not work on BSDs as advertised, since the implementation will attempt to stat%28) a non-existent file in '/sys/' hierarchy. I'm don't have a BSD installation to verify, but from googling I see no evidence that the file would be there.  The documentation added with t

[2014-12-22 09:14] #1422 closed, assigned to i3bot

[2014-12-24 20:03] i3bot opened #1423 "Potential off-by-one bug in i3bar"
[Originally reported by admin@…]
(The decoration of a workspace button is "inset" in i3bar such that there is one pixel of the i3bar's background coming through above and below the button. Is this intended or a defect?

If it is intended, then the fix for #969 is inconsistent as it will draw the border without the additional pixel above and below the status block.

This pixel line has been in stab

[2014-12-29 08:24] i3bot opened #1424 "Firefox and Chrome visibility events not working"
[Originally reported by b@…]
(Hi, first of all I'm not sure if this is an i3 issue or a Firefox/Chrome issue, but I thought I'd report it here first :)

There exists a javascript API for web pages to be notified if they've been "hidden". You can test it here: http://ie.microsoft.com/testdrive/Performance/PageVisibility/Default.html. In other desktop environments, it becomes "hidden" when the brows

[2014-12-30 12:28] i3bot opened #1425 "Top-level floating window initial position off-screen"
[Originally reported by donaldcallen@…]

I have written my own money-management software.
When you run this software, the first thing it does is display a
window showing the top level of your account tree. The software is
written in C and uses GTK3. I give a suggested minimum size for that
window, using gtk_window_set_geometry_hints. If I do a 'floating
enable' for my application's window class, u

[2014-12-31 08:07] i3bot opened #1426 "NET_ACTIVE_WINDOW messages steal focus"
[Originally reported by i3-new-ticket]
(Any client on the current workspace can steal focus with a NET_ACTIVE_WINDOW message.  For example, if I have a terminal window and a chromium window open, and enter "chromium google.com" in the terminal, the terminal will lose focus to chromium.  I would prefer that the terminal remains focused, but the chromium container could have its urgency flag set.

[2015-01-07 22:34] i3bot opened #1427 "empty bug"
[Originally reported by philipp.groene@…]
(

[2015-01-07 22:50] #1427 closed, assigned to i3bot

[2015-01-08 07:30] i3bot opened #1428 "Strange rendering when opening tor browser"
[Originally reported by psk@…]
(Steps to reproduce:

1.) Download the tor-browser bundle

2.) Create a Desktop Entry (copied from debians iceweasel):

[code]

3.) Start the tor browser using dmenu.

Tor browser then starts, but the window looks a bit odd:
![http://i.imgur.com/M62oAJA.png](http://i.imgur.com/M62oAJA.png)

Switching to fullscreen mode and back fixes this. But as soon as I start tor

[2015-01-11 00:01] #1428 closed, assigned to i3bot

[2015-01-11 07:43] i3bot opened #1429 "Mouse binding not just on container"
[Originally reported by coujellis@…]
(## Description
[[commit](http://code.stapelberg.de/git/i3/commit?id=0df172fd|This)] allows actions to be bound to the mouse keys; however, it is implemented in such a way that it only works if the mouse pointer is currently on container (unless a modifier key is used).

Although I understand the reason behind that for the primary mouse buttons, it is inconveni

[2015-01-11 10:51] i3bot opened #1430 "i3bar does not send click events when workspace buttons are hidden"
[Originally reported by i3-new-ticket]
(When workspace buttons are hidden

[code]

i3bar does not send click events even if the appropriate header block is sent

[code]

click events can be received if `workspace_buttons yes` is set in `bar` block.

[2015-01-15 18:09] i3bot opened #1431 "bindsym Mod4+Shift+Right can not be assigned"
[Originally reported by soerenbnoergaard@…]
(In my config file I have:

[code]

Every binding works as expected, except for the last line -- I simply cannot move windows right (execute any other command) with this key binding. Nothing is executed. I expected the window to be moved right (or "exec xterm" to open xterm).

I have not assigned any other commands to this key combination. My config file

[2015-01-17 17:29] #1423 closed, assigned to i3bot

[2015-01-18 01:53] i3bot opened #1432 "feature request: support _NET_WM_MOVERESIZE"
[Originally reported by lukas@…]
(When dragging floating Gtk windows that use GtkHeaderBar (client side decorations) at their header bar, the window follows the mouse with considerable lag. This is because Gtk detects that i3 doesn't support _NET_WM_MOVERESIZE and uses to some slow fallback implementation. Occasionally this causes the window content to be garbled.

[2015-01-19 22:43] i3bot opened #1433 "KDE plasma panel windows change locations"
[Originally reported by a.pronobis@…]
(I'm running i3 together with KDE 5.0. The problem I'm observing is that every second time I open a kicker window (the one shown in the image here: http://regmedia.co.uk/2014/07/28/kde_plasma_5_kickoff_menu_resized.jpg), it appears in the middle of the screen instead of it's normal location.

I'm opening and closing the window using the (K) button in the left

[2015-01-19 22:45] #1387 closed, assigned to i3bot

[2015-01-20 06:43] i3bot opened #1434 "multiply floating client"
[Originally reported by slucfly@…]
(There are two floating clients, fc1 and fc2, and they are overlapping， fc1 is over fc2。and now, how can I let fc2 over fc1?

[2015-01-20 19:48] #1393 closed, assigned to stapelberg

[2015-01-22 08:38] #1392 closed, assigned to i3bot

[2015-01-22 21:29] i3bot opened #1435 "Focus not working when spawning new instance with assigned workspace"
[Originally reported by saos@…]
(When I spawn a new instance of a program whom I've got set up an assign command and a for window command with focus left, the focus left only works if I'm in a workspace different of the one that is assigned in the config.

In my config I've got this two lines

assign [class="Uzbl-core"] "2: www"

for_window [class="(?i)uzbl-core"] focus left

So If I'm in workspac

[2015-01-23 14:06] i3bot opened #1436 "Add lxterminal to i3-sensible-terminal script"
[Originally reported by schapman@…]
(Please add lxterminal to the list of terminals to check for in /usr/bin/i3-sensible-terminal.

[code]

[2015-01-24 19:52] #1434 closed, assigned to i3bot

[2015-01-25 18:46] #1436 closed, assigned to i3bot

[2015-01-26 14:44] i3bot opened #1437 "i3bar with tray"
[Originally reported by slucfly@…]
(I'm let tray output  and restart the i3wm, then window and i3bar have an error.

[2015-01-26 23:17] i3bot opened #1438 "Eclipse/i3 Editor/View Drag and Drop fails"
[Originally reported by kupka@…]
(I am using Eclipse 4.4 Luna with i3 4.8 under Arch Linux. When I open multiple source code files in the Eclipse editor and I drag one around, the whole Eclipse window starts flickering. Further dropping the tab to any location within the Eclipse window does not change the layout at all.
Here's a video of the bug: https://www.youtube.com/watch?v=QKWK7MF3qhU
Further

[2015-01-29 14:44] i3bot opened #1439 "No workspace selected when window is automatically moved to scratchpad"
[Originally reported by will@…]
(My config file starts a program and uses a for_window command to move it to the scratchpad. This apparently leaves no workspace selected and workspace selection keys no longer work and other programs started at load do not have a workspace in which to display. If I select (with mouse) any workspace, that fixes the hotkey workspace selection issue and, once I open t

[2015-01-29 15:05] i3bot opened #1440 "Allow delay when parsing config file"
[Originally reported by will@…]
(I've had a few issues with not being able to control the order in which programs are executed at startup. I know that I can write a bash script and call that to make sure that things finish opening, but the ability to tell i3 to wait a few seconds when parsing the config file would eliminate the need to rely on an external script.

[2015-01-29 17:50] #1438 closed, assigned to i3bot

[2015-01-29 19:52] #1439 closed, assigned to i3bot

[2015-01-29 22:06] i3bot opened #1441 "Default location of i3-input prompt may not be on a screen"
[Originally reported by will@…]
(I have multiple monitors and the top of the leftmost monitor is about 150 pixels below the top of the rightmost monitor. Consequently, I cannot see prompts for i3-input. I can still respond to them of course, but can't see them. It would be nice to be able to specify where prompts go without having to modify the source code and recompile.

[2015-01-29 22:18] #1441 closed, assigned to i3bot

[2015-01-31 11:41] i3bot opened #1442 "feature request: hide transient windows when their parent is not visible"
[Originally reported by lu@…]
(When a window inside a tabbed/stacked container is not visible (other window is active), its transient windows (dialogue boxes, file choosers) should be hidden since the window they're referring to is no longer visible. This may be made configurable.

[2015-01-31 12:07] #1442 closed, assigned to i3bot

[2015-01-31 12:17] #1440 closed, assigned to i3bot

[2015-01-31 20:30] #1429 closed, assigned to i3bot

[2015-01-31 21:43] #1395 closed, assigned to stapelberg

[2015-01-31 21:56] #1400 closed, assigned to i3bot

[2015-01-31 23:03] #1408 closed, assigned to i3bot

[2015-01-31 23:08] #1409 closed, assigned to i3bot

[2015-02-01 19:31] #1431 closed, assigned to i3bot

[2015-02-02 16:40] i3bot opened #1443 "If status overlaps workspace buttons, can't click on them"
[Originally reported by mattator@…]
(When using i3pystatus with the github module and losing connection, it generated a long error message that would recover i3bar workspace buttons. Upon clicking on the workspace buttons, i3bar would send the click event to i3pystatus *instead*  of the workspace buttons. I believe the latter should be the reasonable behavior (ie workspace buttons have higher prio

[2015-02-03 10:37] i3bot opened #1444 "Race condition on "move absolute position center""
[Originally reported by chris]

I'm using the mode to launch Lxappearance and Nitrogen. I'm seeing an obvious race condition on "move absolute position center" and possibly on "move absolute position 100 px 100 px" too as I'm not sure if both commands comes from the same code section. I'm expecting for the windows to be launched and moved to correct positions. It is more noticeable when I take tur

[2015-02-04 13:21] hercek opened #1445 "container split mode change not indicated in tab line"
If I have a container tree like e.g. this:
V[urxvt V[urxvt]]
then when I change the split mode of the second urxvt from vertical to horizontal then the change is not immediately visible in the top level tab line. The text should change from "V[urxvt V[urxvt]]" to "V[urxvt H[urxvt]]". But this does not happen. It looks like the tab line is updated only when a container/window is created or destroye

[2015-02-04 13:22] hercek commented on #1445
i3 version 4.8 (2014-06-15, branch "4.8") © 2009-2014 Michael Stapelberg and contributors

[2015-02-04 13:41] hercek commented on #1445
*.bz2 log is not accepted by this issue tracker. It wants only PNG, GIF or JP. But I doubt the log is needed in this case. If you feel it is needed then ask for it. I can send it e.g. by email.

[2015-02-04 18:35] acrisci opened #1446 "Deprecate the `restart` command"
I think it's time to deprecate the use of the `restart` command for normal users.

It's not being supported. It kills windows sometimes with X errors. It causes problems for ipc clients when their connection is broken during a restart. It makes weird config directives like `exec_always` necessary.  It causes confusion when people confuse `restart` and `reload` on the bug tracker. I don't think the

[2015-02-04 18:51] stapelberg commented on #1446
What do you mean by that? It certainly isn’t “unsupported” in the sense that we intentionally do not support it.

Never happened to me. Doesn’t sound like an unfixable bug either.

I think you’re referring to https://github.com/denesb/xfce4-i3-workspaces-plugin/issues/7, and I think that should just be fixed in that plugin.

Agreed.

Is that actually a frequent issue? Given that these commands are

[2015-02-04 18:56] stapelberg commented on #1445
Sorry for the confusion, I’ve now updated http://i3wm.org/docs/debugging.html — we provide a service where you can upload your log file and get a URL that you can put into the bug report.

[2015-02-04 19:51] hercek commented on #1445
The url to the log is: http://logs.i3wm.org/logs/5770237022568448.bz2

[2015-02-04 22:34] hercek commented on #1446
Although I do not care about the result of this ticket I can confirm that my i3 (v4.8) results in strange close of one of the pidgin windows when it is restarted. The system is archlinux. After that one rectangle (where the pidgin window had been) was filled with garbage and it could not be released. Pidgin itself needed a restart. I do not have a clue whether it is a fault of pidgin or i3. If you

[2015-02-04 23:27] acrisci commented on #1446
I mean that nobody is actually supporting it. It's just a hunch, but right now I doubt we can reasonably expect to support it either (although this is a very difficult case to make).

See #1419. I think there is the possibility it could be unfixable within i3 because it could be a bug in the X server or the applications themselves if they aren't robust to certain X errors that can arise when i3 is

[2015-02-05 23:28] lasers opened #1447 "Feature Request -- Support format_down in path_exists (i3status)"
Using the module path_exists... It will update the module with either red or green to indicate its status. I would like for that module to disappear when it is not avaiable. This is possible in few other modules by issuing format_down = "" and path_exists does not have one.

[2015-02-06 08:38] stapelberg commented on #1447
Please file this in https://github.com/i3/i3status directly (or, even better, send a pull request).

[2015-02-06 08:38] #1447 closed

[2015-02-06 09:57] hercek commented on #1419
I have this or a similar problem too. But I do not need this functionality so it is not bugging me.
i3 version 4.8 (2014-06-15, branch "4.8") © 2009-2014 Michael Stapelberg and contributors
Distribution is archlinux.
When I reload i3 then pidgin freaks out. The screen-shot of the original pidgin window is attached. There were two pidgin windows at that location before restart. Now there is only on

[2015-02-06 10:12] hercek commented on #1419
Ooops it is not possible to attach a picture any more and the log service does not accept pictures. It accepts only bzip2 compressed files.
Here is a temporary link. It will work only for about a week.
http://www.hck.sk/users/peter/pub/tmp/screenshot.png

[2015-02-06 13:17] ultrabug commented on #1419
Visually, I can ack. that I get the same type of graphics mess as @hercek when I hit this bug.

[2015-02-06 17:51] Airblader commented on #1430
Yes, I can reproduce this.

[2015-02-06 17:57] Airblader commented on #1446
I've been reloading quite a bit in the few months I've worked with and on i3 and I have not once experienced any crashing applications or anything of that sort.

I'm also not sure that i3 should remove features because other software has bugs.

[2015-02-06 17:58] spippi opened #1448 "problem with libreoffice writers"
This is my version of i3 in arch:
i3 version 4.8 (2014-06-15, branch "4.8") © 2009-2014 Michael Stapelberg and contributors.
In libreoffice writer if i want select a color characters, the window of the colors close immediately.
i try with another pc and i3 same problem, same pc and gnome work perfectly.
thank you

[2015-02-06 18:06] spippi commented on #1448
http://logs.i3wm.org/logs/4664229256757248.bz2

[2015-02-06 19:20] Airblader commented on #1448
I can't reproduce this on my machine, so maybe you should give us some more details about the two machines you can reproduce this on.

[2015-02-06 19:52] acrisci commented on #1446
@Airblader, do you mean the `restart` command or the `reload` command? The `restart` command is the one with bugs, so reloading should work just fine. I can see how you could confuse the two because they are so similar.

Let me clarify that I'm not suggesting removing any functionality from i3. What I'm talking about here is an update to the user guide to remove mention of the `restart` command an

[2015-02-06 20:01] Airblader commented on #1446
@acrisci Oops, I of course meant that I am `restart`ing (yes, actually restarting i3) a lot.

I will agree, though, that the common usecase for a normal user that requires any kind of re-something is a config change, for which `reload` is sufficient.

I'm not sure anything needs to be "reclassified", but I certainly don't see a reason why it couldn't be removed from the default config. My expectat

[2015-02-06 21:21] acrisci opened #1449 "Make the `next` branch the default branch on Github"
On this issue tracker, we expect everyone to be using the `next` branch because many issues are fixed in this branch. This branch is most relevant for anyone who is looking at the code and reporting issues. Also, it keeps all of the statistics Github keeps on this project about contributions more up to date.

[2015-02-06 21:52] acrisci commented on #1448
I also can't reproduce this with libreoffice `4.3.5`.

[2015-02-06 21:59] stapelberg commented on #1449
Sure, that makes a lot of sense. Wasn’t aware I could configure this on GitHub. It’s now done :).

[2015-02-06 21:59] #1449 closed

[2015-02-06 22:53] Merovius commented on #1446
I like the mindset of being opinionated in what the user should want and I support the idea of trying to reduce the total surface area users have to interact with. However, I don't think that this statement is true for the class of users i3 targets and for this example.

I disagree with this (especially the last part). I usually run my X session for many months and the state of my X clients is imp

[2015-02-07 09:39] spippi commented on #1448
1 pc: is a asus netbook 1015px with arch + i3
2 pc is a laptop hp with arch + gdm + gnome + i3

[2015-02-07 11:49] nbensa opened #1450 "KEYEXPIRED: stable Ubuntu repo"
Hello,

apt-get update, complains:

W: GPG error: http://debian.sur5r.net trusty InRelease: The following signatures were invalid: KEYEXPIRED 1423263902

Regards,
Norberto

[2015-02-07 11:50] nbensa commented on #1450
i3 version 4.8 (2014-06-15, branch "4.8") © 2009-2014 Michael Stapelberg and contributors

[2015-02-07 13:11] spippi commented on #1448
LibreOffice 4.4.0.3 40m0(Build:3)

[2015-02-07 18:37] acrisci commented on #1432
There's still a patch for this pending on the old cr site: http://cr.i3wm.org/patch/709

[2015-02-07 18:46] acrisci commented on #1433
Hey @pronobis, how is this patch working out for you? Can you make a pull request for this on the new github repo here?

[2015-02-08 02:03] acrisci opened #1455 "Handle EWHM sticky property"
[EWMH sticky property](http://standards.freedesktop.org/wm-spec/wm-spec-1.3.html#idm140130321887808):

This is usually set on manage, such as for `xfce4-notifyd`.

Is this compatible with the sticky groups concept that is partially implemented in the code or would it require a separate implementation? I don't know much about the current sticky implementation.

[2015-02-08 02:05] acrisci commented on #1455
i3 version 4.8-145-g3f126c6 (2015-01-31, branch "bug/revert-bar-mouse") © 2009-2014 Michael Stapelberg and contributors

[2015-02-08 02:45] pronobis commented on #1433
It's working great for my Plasma 5.2 + i3 setup. Here's the PR https://github.com/i3/i3/pull/1456

Btw. glad to see i3 on github!

[2015-02-08 02:46] pronobis commented on #1433
I do have some other KDE-related improvements in my fork, you can check it out.

[2015-02-08 06:19] astynax commented on #1450
I have the same problem (KEYEXPIRED)
[code]

[2015-02-08 09:40] MrSchism commented on #1450
Same across the board.

[2015-02-08 11:31] bsmr commented on #1450
I just wanted to install ```i3``` with the instructions from http://i3wm.org/docs/repositories.html when I got the same errror... about 5~10 Minutes ago.

I also had to _force_ ```apt-get``` to install it (sorry, I didn't change ```LANG```, so the output is in German):
[code]

The system in question is a Ubuntu 14.04.1 desktop setup:
[code]

[2015-02-08 13:16] stapelberg commented on #1455
(meta: the bug where i3bot mismatched numbers as version strings should be fixed)

The sticky property you mention is relevant for window managers which support large desktops, see http://standards.freedesktop.org/wm-spec/wm-spec-1.3.html#largedesks

Since i3 doesn’t support large desktops (and shouldn’t, given that tiling window managers want to display everything on the screen), I’m not sure wha

[2015-02-08 18:32] stapelberg commented on #531
Here’s the script:

[code]

[2015-02-08 18:58] sur5r commented on #1450
Sorry for breaking this again, I prepared a new keyring but forgot to actually upload it to my repository.

The easiest way to fix this is by manually installing the new keyring package from this URL:

http://debian.sur5r.net/i3/pool/main/s/sur5r-keyring/sur5r-keyring_2015.02.08_all.deb

MD5: 6f12c58ee9c4ea2291f2e65650b34023
SHA1: f7a9888bee73eca367243f396c1245e93d89e03d
SHA256: 37fb5653d3f05ab665

[2015-02-08 19:00] stapelberg commented on #1450
Thanks, @sur5r!

[2015-02-08 19:00] #1450 closed

[2015-02-08 19:57] acrisci commented on #1455
The use case for `xfce4-notifyd` is that suppose I get a desktop notification on some workspace and then switch to another workspace. The desktop notification should appear on the workspace I switched to. This is how dunst works, but it does so by a different method (I think override redirect).

Another use case could be for sticky notes applications that are meant to act as if you had actually pl

[2015-02-09 00:24] acrisci commented on #1444
I can't reproduce this.

[2015-02-09 09:49] hercek commented on #1444
I have the same problem with meld. Maybe you will be able to see it with meld.

[2015-02-09 10:20] Airblader opened #1458 "Click detection on i3bar is wrong"
The current click detection does not take separators into account. When separators are used, this causes the click detection to be more off the more blocks there are and the further right the user clicks, eventually even leading to a click being detected for the wrong block.

The faulty code is `i3bar/src/xcb.c`. In `refresh_statusline`, the `x` coordinate takes `sep_block_width` into account:

[c

[2015-02-09 10:20] Airblader commented on #1458
I can work on this myself.

[2015-02-09 11:51] stapelberg commented on #1458
Thanks for the attention to detail. Fixing this sounds good to me :).

[2015-02-09 18:04] mikedmcfarland commented on #838
FYI. I've also written a script that also gives this feature
http://thrownforaloop.com/posts/i3-finder/
uses i3-msg, not the ipc though.

[2015-02-09 18:34] Airblader commented on #1458
Alright, I'm getting started on this then. It's more complicated than just adding `sep_block_offset` there, though. For one, clicks should be between the separators, but also it seems like there's quite a bit of misalignment going on.

[2015-02-09 19:12] Airblader commented on #1458
I think I've got it. However, this bug actually doesn't exist on 4.8, but only on the `next` branch. And, sadly, I think I'm the one who introduced it in my patch to respect the urgency flag on status blocks. Well, at least I'm also fixing it. :)

To be fair, though, I still think this was broken – for example, the tray calculation was wrong, the wrong offset was used and it doesn't deal correctly

[2015-02-09 19:24] Airblader commented on #1458
Well… I'm having trouble issuing a pull request since my own fork of i3 is already named i3, so I can't fork it on Github. But without forking it, I cannot issue a pull request.

[2015-02-10 01:34] acrisci commented on #1443
This is only an issue when you enable click events.

[2015-02-10 08:08] stapelberg commented on #1458
Can you not just start a new branch in airblader/i3, possibly without any commits? I.e. using `git checkout --orphan`

[2015-02-10 08:10] Airblader commented on #1458
I can, but `Airblader/i3` has no fork relationship with `i3/i3` and since it was originally forked from another i3 fork on Github (but that relationship has been removed), no relationship can be established (only possible for the original base of the fork). :(

[2015-02-10 08:46] stapelberg commented on #1284
Can you elaborate on the use-case you have in mind? Why would you need to set/unset the urgency hint _by means of the hack of using the bell character_ within a terminal?

[2015-02-10 08:49] stapelberg commented on #1050
That seems like a reasonable workaround to me :). If you care about this, you’re welcome to send a pull request which implements multiple modifiers in i3bar.

[2015-02-10 08:49] #1050 closed

[2015-02-10 08:56] 4mirox opened #1459 "Value of cpu_temperature gets cloned on multiple inputs"
If i specify more than one cpu_temperature in my .i3status.conf, the value of the _first_ element in my order specification is shown in every following cpu_temperature element.

E.g. :

order += "cpu_temperature 0"
order += "cpu_temperature 1"

cpu_temperature 0 {
	format = "VI: %degrees°C"
	path = "/sys/class/thermal/thermal_zone0/temp"
}

cpu_temperature 1 {
	format = "VII: %degrees°C"
	path = "

[2015-02-10 09:01] 4mirox commented on #1459
Binary i3 version:  4.8 (2014-06-15, branch "4.8") © 2009-2014 Michael Stapelberg and contributors
Running i3 version: 4.8 (2014-06-15, branch "4.8") (pid 1501)

The i3 binary you just called: /usr/bin/i3
The i3 binary you are running: i3

----------------------------------------

and the link to the logfile:

http://logs.i3wm.org/logs/5702666986455040.bz2

[2015-02-10 18:08] Airblader commented on #1459
I can reproduce this.

[2015-02-10 18:28] Airblader commented on #1459
… but if I compile i3status from source, it works as expected. Maybe there has already been a bug for this?

[2015-02-10 18:33] 4mirox commented on #1459
I'm using Arch Linux, so maybe this is a distro specific problem.

The package is from the community repo:
===
community/i3status 2.8-2 (i3) [installed]
    Generates status bar to use with i3bar, dzen2 or xmobar

[2015-02-10 18:33] #1459 closed

[2015-02-10 18:34] Airblader commented on #1459
@4mirox In that case install `i3status-git` and you'll be set.

[2015-02-10 18:35] Airblader commented on #1459
@stapelberg I think the bot bugged out again here. It should not detect the i3status version like this.

[2015-02-10 20:32] nhrade opened #1461 "i3 Scrolling Problem"
Whenever I'm using an application with scrolling enabled, such as chrome, firefox, or evince the scrolling mechanism always scrolls to the left automatically. I first thought this was a chrome specific problem but after testing it out on a variety of applications it's common to them all. For chrome however it also seems to affect tabs where only the rightmost tab can be viewed, that might be a sep

[2015-02-10 22:07] vivien commented on #1148
Hi, just for as a reference, centering the text (not the workspace buttons) is what I tried to suggest in https://github.com/vivien/i3blocks/issues/70. Cheers!

[2015-02-11 02:12] acrisci opened #1463 "Toggle marks"
A command such as:

    mark identifier toggle

should give `identifier` to the window if it does not have this mark already. Otherwise, it should remove the mark.

[2015-02-11 02:15] acrisci opened #1464 "Show marks on the titlebar"
The titlebar should show the marks that a window has on the right side of the window. This would make marks much easier to work with.

[2015-02-11 07:57] stapelberg commented on #1461
i3 doesn’t have anything to do with scrolling. Can you check other window managers such as awesome or twm and see whether the problem appears there, too?

[2015-02-11 08:00] stapelberg commented on #1463
What’s the use case for this?

Note that implementing this would require us to break behavior, because currently we treat everything after “mark” as a string, so “identifier toggle” is a perfectly valid mark, and may be used by people.

[2015-02-11 08:02] stapelberg commented on #1464
That’s a good idea, I think, but we would need to make this configurable, as people might be annoyed by their formerly invisible scripts now having visible effects.

[2015-02-11 08:06] stapelberg commented on #1459
@Airblader Yep, this should be fixed by now. The corner case was that I assumed bugs for i3status will be filed in the i3status git repository :).

[2015-02-11 08:17] stapelberg commented on #1419
See the line below the issue text for how to add images, copy&paste works for example:

![image](https://cloud.githubusercontent.com/assets/55506/6143783/c46e07e6-b1ce-11e4-8774-343738c3edb5.png)

[2015-02-11 08:19] stapelberg commented on #1419
@ultrabug does the issue only affect pidgin as well on your computer or are other applications also affected?

[2015-02-11 09:05] hercek commented on #1419
It happened only with pidgin on my machine so far.

Thanks for adding the picture. I tried to select the item (browse for it), but when I added the picture then the comment button was disabled. It is probably something with my firefox plugins. If I need this functionality again I try to disable them all.

[2015-02-11 09:29] Adaephon-GH commented on #1464
In addion to a global configuration option to enable or disable this feature, I think it would be useful to have a way to control visibility of individual marks. Something as simple as marks starting with `_` always being invisble could do the trick. That way marks only used for scripting purpouses could be kept from cluttering the titlebars while other marks are still visible.

[2015-02-11 13:28] ultrabug commented on #1419
@stapelberg , pidgin is one but I also tried to reproduce with hexchat and xpad which also crashes.

Yesterday I tried a few other things
- removing "named workspace" from my conf, same result
- removing workspace output assignment, same result
- removing application to workspace assignment, same result

I'll keep on trying to isolate a culprit when I can.

[2015-02-11 16:57] Airblader commented on #1430
I've fixed it now. Pull request will follow.

[2015-02-11 17:20] acrisci commented on #1463
I think marks are a good idea, but they are hard to use with a binding because it requires two bindings to use effectively: one to mark and one to unmark.

My use case is to have a kind of "mouse selection" scheme with commands that use criteria to operate on the windows I have marked.

I guess you can avoid breakage with a `--toggle` switch.

[2015-02-11 17:33] acrisci opened #1466 "Convert docs to markdown"
Now that i3 is on github, converting the docs to markdown would allow people to browse the docs in html within the github repository.

[2015-02-11 18:44] stapelberg commented on #1466
I don’t think that’s an advantage that outweighs the various downsides, most importantly broken links and possibly markdown being less mighty than asciidoc.

[2015-02-11 18:44] #1466 closed

[2015-02-11 18:49] stapelberg commented on #1464
Very good point, I agree that marks starting with `_` should not be displayed.

[2015-02-11 18:59] acrisci opened #1467 "Built in media key support"
Media keys should do something by default.

For instance, play, pause, etc. can be implemented with the [mpris dbus specification](http://specifications.freedesktop.org/mpris-spec/latest/).

Volume up/down can be implemented by adjusting the volume of the default alsa card.

In some cases, this could be accomplished as simply as adding things to the default config.

[2015-02-11 19:07] stapelberg commented on #1467
I’m open to amending the default config with things that work for a wide range of environments (which is tricky in the case of media keys, I think). I’m very skeptical about anything aside from that.

[2015-02-11 19:17] acrisci opened #1468 "i3bar: support pango markup"
Pango has a [markup format](https://developer.gnome.org/pango/stable/PangoMarkupFormat.html) that can be used to adjust things like font weight, colors, underlining, etc.

i3bar should parse status `full_text` property and workspace names as pango markup. This would allow more customization of the bar and take some pressure off the i3bar format to support these features.

[2015-02-11 19:18] #1458 closed

[2015-02-11 19:20] nhrade commented on #1461
Checked with xfce and awesome, it was an update issue, I checked the apt logs and there were package errors, updating fixed that.

[2015-02-11 19:20] #1461 closed

[2015-02-11 19:21] stapelberg commented on #1468
Sounds good. As an aside: if you add “feature request” or “enhancement” to the title of your issue, the bot will shut up ;).

[2015-02-11 19:30] #1432 closed

[2015-02-11 19:51] stapelberg commented on #1419
Which version of pidgin are we talking about? I’ve tested this with Pidgin 2.10.11, and cannot reproduce the problem, neither with a conversation window open nor with just the buddy list open, nor when all pidgin windows are hidden. I’ve tested both i3 v4.8 and the latest version in the “next” branch.

I also briefly tried xpad and hexchat, and couldn’t reproduce it there either.

Which graphics d

[2015-02-11 19:55] stapelberg commented on #1445
I can reproduce this. Looking…

[2015-02-11 19:57] Airblader commented on #628
@stapelberg "We have to add an indicator" is a little vague. Do you have a specific idea of what it should look like (where to put it, how to display the number of scratchpad windows, …)?

[2015-02-11 20:08] #1430 closed

[2015-02-11 20:14] #1445 closed

[2015-02-11 20:16] stapelberg commented on #628
I think it’d be best if the indicator would look just like the mode indicator we have in i3bar (e.g. like an urgent workspace). I think using “scratchpad: %d urgent” as a hard-coded string to signal how many windows are urgent on the scratchpad would work.

[2015-02-11 20:18] stapelberg commented on #1463
For mouse-based marks this makes sense, agreed.

Sounds good.

[2015-02-11 20:19] Airblader commented on #628
Ah, I see. I was thinking about a constant display if there are scratchpad windows, not just if there's an urgent one. Okay. I will try and see if I can get anywhere with this.

[2015-02-11 20:29] stapelberg commented on #1446
Based on the discussion, I think the only thing which found consensus is changing the default config file to not contain `restart` anymore.

Closing this issue now, in the expectation that a pull request for that will eventually follow, but there’s nothing fundamental to discuss anymore.

[2015-02-11 20:29] #1446 closed

[2015-02-11 20:31] stapelberg commented on #1455
I see. That makes sense. This is an orthogonal feature to the sticky groups for tiling windows, as for floating windows we can just always reassign the floating window to the target workspace when switching workspaces.

[2015-02-11 20:34] stapelberg commented on #1416
Sounds good. I think this is another thing which I’ll only merge once the next release is out, just because it has potential to uncover/introduce (indirectly) a bunch of bugs.

[2015-02-11 23:17] acrisci opened #1469 "enhancement: make i3-input dmenu-based"
i3-input should be replaced with a simple dmenu script that executes the given command.

[2015-02-11 23:38] acrisci opened #1470 "enhancement: notify users when commands fail"
When executing a command with `exec` command or config directive, notify the user when the command exits with non-zero status through the session notification daemon.

[2015-02-12 05:56] acrisci opened #1472 "configure statusline separator"
Right now, the statusline is drawn as a line with the X drawing api. It should be a character (such as "|") which the user can configure. Then people can use little circles or diamonds or something.

[2015-02-12 06:37] acrisci opened #1473 "enhancement: rename workspace and assignments"
When a workspace is renamed to the name of a workspace is assigned to a particular monitor, the workspace should be moved to that monitor.

[2015-02-12 07:38] stapelberg commented on #1470
I think this should just be `exec $command || notify-send $command exited` in the default config.

[2015-02-12 07:41] stapelberg commented on #1469
dmenu lacks i3-input’s -l feature, which people may be using.

[2015-02-12 07:42] stapelberg commented on #1472
That would change the look & feel and consume more screen space. People can already turn off the built-in separator and just draw their own. How is yet another way of achieving the same thing any better?

[2015-02-12 07:42] stapelberg commented on #1473
Yes. I think the fact that it doesn’t is a bug.

[2015-02-12 08:42] ultrabug commented on #1419
I'm using intel drivers x11-drivers/xf86-video-intel-2.99.916

I tried with a new user, empty and default config. I think it's related to the icon tray because when I open tray-less programs, restart is ok. Whatever tray program I launch then (even tried with pnmixer which is very lightweight), it still produces the bug explained here. So I doubt it's related to pidgin/hexchat specifically.

I'll

[2015-02-12 08:50] hercek commented on #1419
Linux 3.18.5-1-ARCH x86_64
pidgin 2.10.11-1
xf86-video-ati 1:7.5.0-1
The log file: http://logs.i3wm.org/logs/5697423099822080.bz2
Pidgin uses tray icon here.

[2015-02-12 10:53] 4mirox commented on #1459
using i3status-git fixed the issue.

Thanks for the support :+1:

[2015-02-12 11:39] Airblader commented on #1469
Indeed. I use `-l` :)

[2015-02-12 11:41] Airblader commented on #1467
I think a reasonable alternative to this would be to maintain a wiki here on Github that showcases such typical usecases and how to achieve them.

[2015-02-12 11:45] Airblader commented on #1468
What happens with this patch if I'm using markup with a non-pango font?

[2015-02-12 15:09] rainerborene opened #1474 "gaps"
I know this was already discussed somewhere else but why do you hesitate to merge `gaps` to the codebase? Even If it's i3 philosophy to use all space on screen I think it is up to the user decide that on his/her own configuration file. More and more users are moving from i3 to bspwm or any other wm with gaps feature. Please consider the use case of users using large monitors, which makes sense usi

[2015-02-12 15:09] dosera commented on #1419
Really looks like a problem with the icon tray - I get it when using Hexchat or Thunderbird..

I doubt that it is related to the graphics drivers, I had the issue using an ATI HD 4870 (driver: xf86-video-ati 1:7.5.0-1). After getting a new card (GTX960, driver: nvidia 346.35-6) the issue is still there.

[2015-02-12 17:28] okraits commented on #1474
There's a fork of i3 with gaps: https://github.com/Airblader/i3

I don't see why you would need gaps to be able to use large monitors :)
And i don't see masses of users moving away from i3 because of gaps either :)

[2015-02-12 18:33] stapelberg commented on #1419
I’m getting the feeling that this could be a duplicate of #1296, which was fixed with commit 4699c714b — could you please upgrade to the latest version of what’s in the “next” branch? On arch linux, you can do that by installing i3-git.

[2015-02-12 18:35] stapelberg commented on #1467
We already have the faq for documentation/tips/questions related to software used with i3. Adding a third corpus of documents doesn’t make anything better, I think :).

[2015-02-12 18:40] stapelberg commented on #1474
I respectfully disagree. See https://faq.i3wm.org/question/778/why-is-patch-not-merged-and-made-optional/ for the reasoning.

I couldn’t care less. The old “people will not use your software anymore if you don’t implement $x” argument doesn’t work on me/us :).

If people won’t use i3 because of gaps, perhaps they actually are better off with some other window manager that emphasizes the visual app

[2015-02-12 18:40] #1474 closed

[2015-02-12 18:52] hercek commented on #1419
You may be right. Pidgin survives i3-git restart on archlinux.
It did not survive the first restart after i3-git install (so the i3 restart did not work as a way to upgrade i3 from i3-wm to i3-git). But the later restarts did work well.
i3-git 4.8.145.g3f126c6-1

[2015-02-12 19:01] stapelberg commented on #1419
But at that point you’re still running the old version, so it’s expected that the first restart doesn’t work. I.e. the first restart is necessary to even load the new version. Use `i3 --moreversion` if you’re unsure about which version you are running.

[2015-02-12 19:05] Airblader commented on #1467
Yes, of course. I completely forgot about the FAQ site :)

[2015-02-12 23:26] acrisci opened #1475 "enhancement: gtk context menu for root window on right click"
Right clicking on the root window or i3bar should open a context menu that displays options for the user to run common commands such as opening a terminal, navigating the tree, editing the config, and switching workspaces.

[2015-02-12 23:28] hercek commented on #1419
I know the first restart was shutting down the old version and starting a new one.
I mentioned that since I do not know whether the tray icon error happens at shutdown of i3 or startup of i3. I can assume from my test that an important part of the error (or all of it) happens at shutdown.

[2015-02-13 07:26] stapelberg commented on #1419
Yes, the commit fixes a problem on shutdown.

I’ll close this issue as a duplicate now.

[2015-02-13 07:26] #1419 closed

[2015-02-13 08:14] ultrabug commented on #1419
Confirming it works for me too now ! All of this for one line of code ahah :)

Thanks a bunch @stapelberg @hercek @dosera !

[2015-02-13 10:47] ledti opened #1476 "mouse locking modifier option for multiple monitors"
Feature request:

Sometimes having the mouse cursor flow freely across the edges of the screen to another output may be unwanted.

Proposal: unless a modifier key is held or pressed, the mouse won't flow freely to other outputs. This shouldn't affect the  ```mouse_warping``` option, but it would compliment it.

e.g.

```mouselock none```: The default behavior, disables mouse-locking.
```mouselock

[2015-02-13 17:14] ultrabug opened #1477 "incorrect i3bar click events detection"
On the i3 'next' branch, the i3bar click events detection is messing up between the configured modules.

For reference, I'll be using this i3status.conf : https://gist.github.com/ultrabug/37614f696cc7e4ca027f

If I click on a module in the i3bar, the event is dispatched for the module next (on the right) of it.

For example, if I scroll up on the wireless module, I get an event for the battery mod

[2015-02-13 17:14] ultrabug commented on #1477
i3 version 4.8-145-g3f126c6 (2015-01-31, branch "branch-next") © 2009-2014 Michael Stapelberg and contributors

[2015-02-13 20:13] Airblader commented on #1477
I think this is a duplicate of #1458. Try updating to the latest version and see if it's fixed.

[2015-02-13 21:13] acrisci commented on #1467
What I really want to accomplish is to make i3 more accessible to more people by making more things work as soon as they install. People expect certain things to work without having to configure them. Details like this may seem small, but they are a big deal for casual desktop users. And of course, we should allow power users to override the built-in behavior however they want. If we implement eno

[2015-02-13 21:15] Airblader commented on #1467
As another idea: what about extending the wizard to optionally configure such features?

[2015-02-13 21:29] acrisci commented on #1470
I don't see a case where the user wouldn't want to be notified of command failure except where the user is adverse to any notifications at all, in which case they can not use a notification daemon. Otherwise, we could provide a config directive to turn i3 notifications off.

When a user presses a key that they know to be bound to an action, they expect for that action to happen. If that action doe

[2015-02-13 21:55] stapelberg commented on #1470
Agreed.

No. We actually pop up a nagbar when there is a parser error in a configured binding: https://github.com/i3/i3/blob/next/src/bindings.c#L440

As for `for_window`, people need to check the log. I don’t think popping up nagbar is a good idea in that case because there is no direct action that could result in nagbar as a reaction, i.e. the user did not just press a button which is directly h

[2015-02-13 22:02] stapelberg commented on #1467
Let me be really clear here:

NO.

It almost automatically follows from our philosophy that i3 actually should not be accessible to the same kinds of users as gnome or unity. Those desktop environments want to deliver a complete experience to all sorts of users, and I think there is lots of value in i3 being targeted to power users only.

Don’t get me wrong, I do like it when things work out of th

[2015-02-13 23:34] stapelberg commented on #1475
A terminal is only useful when using the keyboard, so you might as well open it using a keyboard shortcut.

Switching workspaces already works by clicking on the workspace number, there is no need for another mechanism.

Editing the config is not supposed to be something that you do often, and i3-nagbar already prompts you to when you have a mistake in it. When you’re not pressed (no mistake in th

[2015-02-13 23:34] #1475 closed

[2015-02-13 23:52] stapelberg commented on #1476
This is out of scope for i3 (which doesn’t do anything with your mouse pointer, except receive clicks on window decorations) and should be implemented either in the X server or a third-party utility.

[2015-02-13 23:52] #1476 closed

[2015-02-14 03:19] acrisci commented on #1470
What about notifying the user of the name of the command and the exit code when the command fails?

No new dependencies would be required to do this if we try to send the notification over d-bus using GLib.

[2015-02-14 03:40] acrisci commented on #1467
I'm just trying to be practical. I hate to see how our way of doing things is being marginalized as the Linux desktop moves forward. I think if i3 becomes more popular, our use case will have a better chance of being recognized by the developers of the new desktop stack. Right now, I think we are in danger of Wayland only supporting massive compositing DEs which take several full-time specialists

[2015-02-15 02:13] seblu commented on #1448
Same issue with 4.4.0.3 Arch Linux build-2.

[2015-02-15 10:26] andaag commented on #1413
I've seen similar things with some steam games, specifically valve's (HL2 engine). I for example had left 4 dead 2 configured to be fullscreen and it defaulted to fairly low resolution. When opening it it lagged and ... did not look low res. Checked my monitor, it was running at 2560x1440. Valve is pretty big, so I'm guessing this isn't an issue for their engine in general :p

[2015-02-15 11:24] stapelberg commented on #1470
That’s precisely what my earlier suggestion (`exec $command || notify-send $command exited`) does, isn’t it?

[2015-02-15 11:25] stapelberg commented on #1467
That’s a fair worry, but I don’t think adding bells and whistles to i3 on X11 is a good way to address that. I rather suggest experimenting with Wayland and working on the issues which may arise.

[2015-02-15 18:10] ultrabug commented on #1477
@Airblader, you're right. My distro package for "next" branch of i3 was still pointing to the code.i3wm.org git repo.. cheers

[2015-02-15 18:10] #1477 closed

[2015-02-15 20:51] stapelberg commented on #1477
@ultrabug Thanks for the hint, I’ve updated our mirroring script to also include the next branch. code.i3wm.org should keep on working (but using GitHub directly is the preferred way).

[2015-02-16 11:29] ultrabug commented on #1477
np @stapelberg, I've updated the package in Gentoo portage as well so nobody will get affected from now on.

[2015-02-17 18:15] Airblader opened #1480 "i3bar flickers with many status blocks"
A user reported a bug on my fork (https://github.com/Airblader/i3/issues/36) about i3bar flickering. After some debugging and poking around, it looks like i3bar has an issue.

If the JSON line becomes too long / has too many elements, parsing might become so slow, that `refresh_statusline` is called on an incompletely parsed line. This causes not all blocks to render for this iteration, causing th

[2015-02-17 19:42] Airblader commented on #1448
I'm not sure it's the same, but it may very well be. With Eclipse Luna, I sometimes get the effect that a context menu will immediately close when I start moving the mouse.

A workaround is to make the window float and unfloat, then it works again. Maybe something similar works for LibreOffice?

I also found that having Eclipse float mitigates other problems, but I'm fairly sure those are Eclipse

[2015-02-17 19:45] Airblader commented on #1480
One possible way to solve this more nicely would probably be to copy blocks during parsing to a temporary statusline and then copying over the entire statusline when the line is fully parsed.

[2015-02-18 19:26] Airblader commented on #1480
I've attempted a fix using the latter idea in https://github.com/i3/i3/pull/1481 … see my comment there.

[2015-02-19 22:03] rainerborene opened #1482 "move i3* components to other repository"
What do you think about spliting `i3-*` (wizard, bar, input, msg) into multiple repositories?

[2015-02-19 22:52] acrisci commented on #1482
Well this is difficult to do because there is code that is shared between them, such as an internal library and the build system. I personally am a fan of the approach to have one big repository for all the related utilities. After all, the programs that you mentioned are not useful with other window managers.

What is your use case?

[2015-02-20 07:40] stapelberg commented on #1482
I agree with @acrisci. I think splitting them up into separate repositories will only make the development setup harder. We already split up programs that are useful with other window managers into separate repositories, see i3lock and i3status.

[2015-02-20 07:40] #1482 closed

[2015-02-20 19:49] cornerman opened #1484 "i3 crashes with floating mode on workspace containers"
There seems to be a problem with floating windows and workspace containers. I first experienced this as I accidently sent a workspace container to floating mode, which results in a tiny floating window and once made i3 crash. However, I could not reliably reproduce it.

Now, I found something that might be related and reliably crashes i3. Given a fresh workspace, open two windows and then issue th

[2015-02-20 21:19] Airblader commented on #1484
Hm, I can't seem to reproduce this. I opened two terminals on a new workspace and got this:

[code]

[2015-02-20 21:30] Airblader commented on #1484
However, I can reproduce the somewhat weird behavior that if you open two windows, focus one window, then focus the parent and put it into floating mode, you end up with a "floating workspace", i.e., it seems impossible to open a tiled window as everything will open in the floating container.

I'm not sure if this is intended or not, though.

[2015-02-20 21:33] cornerman commented on #1484
Thanks! I just checked and it seems that this is only reproducible when setting ```workspace_layout tabbed``` or ```workspace_layout stacked``` in your config.

[2015-02-20 21:36] Airblader commented on #1484
Yep. I can reproduce this now; i3 crashes.

[2015-02-20 22:05] acrisci commented on #1484
You shouldn't be able to make a split container floating.

[2015-02-21 10:24] stapelberg commented on #1484
Why not? This specifically was a feature once, just like you should be able to make any container fullscreen. Technically, it should work, so I’d say this is a bug that needs to be fixed properly.

[2015-02-21 10:35] cornerman commented on #1484
Also, no split container is sent to floating mode with the above command, just a child window of the workspace while having focus on the workspace itself.

[2015-02-21 11:25] Airblader commented on #1484
@stapelberg I don't seem to be able to make a split container fullscreen. I can make it floating, though.

[2015-02-21 13:14] Airblader commented on #1484
I wonder if this is a race condition case. Executing the commands with some time in between makes the issue disappear:

[code]

[2015-02-21 13:19] cornerman commented on #1484
@Airblader That is because you did not use the criteria in the last command, it should be:
[code]

[2015-02-21 13:21] Airblader commented on #1484
Oh, yeah. Silly me. I'll delete that comment (and this one) then in a few minutes to not spam this issue too much.

[2015-02-21 17:21] ad1217 opened #1485 "Fullscreen in window and fullscreen without sending the event"
It would be really useful to both make a window fullscreen without sending it the event, as well as send the event without making the window fullscreen. It seems to be quite possible, with only a few changes to con_set_fullscreen_mode(), but I am not sure how to do it properly (i.e. without breaking anything else).

[2015-02-21 18:34] acrisci commented on #1484
@stapelberg, ok that makes sense. Should you be able to split an already floating container as well? Because that is currently not possible.

[2015-02-21 18:51] acrisci commented on #1485
I don't understand why you wouldn't want to send the event. You can just ignore the event. What's your use case?

[2015-02-21 20:02] stapelberg commented on #1485
I see where you’re coming from (different programs behave differently when they think they are in fullscreen than when they are not), but I consider this unclean and abusing the spec/X11 protocols. Hence we’re not going to implement that.

[2015-02-21 20:02] #1485 closed

[2015-02-21 20:19] #1468 closed

[2015-02-21 21:51] acrisci commented on #1468
@Airblader it won't work. However, every font can be rendered with pango just by putting `pango:` before the font string. I think it would be a good idea to always render with pango.

[2015-02-21 22:00] acrisci opened #1487 "Enhancement: Always render fonts with Pango"
Fonts should always be rendered with Pango. Rendering xcb fonts could be removed, or maybe `xcb:` would be required as a prefix to the font string to render fonts with xcb.

[2015-02-22 10:54] stapelberg commented on #1487
This breaks old configs, so the answer is no. I thought you know our never-break-configs rule by now? :)

[2015-02-22 10:54] #1487 closed

[2015-02-22 19:59] exobug commented on #1448
same problem here under libreoffice calc 3.5 and ubuntu 12.04

the font colour button doesn't resprond and I can't change text color.

[2015-02-22 21:15] acrisci commented on #1487
How does this break old configs?

[2015-02-22 21:18] stapelberg commented on #1487
Currently fonts are rendered using XCB by default, so if we change that to Pango, that changes rendering, hence it breaks an old config (the config does not do anymore what the user expressed).

[2015-02-22 21:24] acrisci commented on #1487
If there is no rendering prefix given, then the user never expressed what rendering backend to choose. I think that gives us license to use the best rendering backend available, which is Pango. Is there any advantage at all to using XCB rendering for fonts that someone will complain?

[2015-02-22 21:43] stapelberg commented on #1487
No, the user expressed to chose XCB, because that’s what “no rendering prefix” means.

The rendering with XCB differs slightly over the Pango rendering depending on the system settings.

Breaking old configs in this way is really not acceptable.

[2015-02-23 00:10] scoddy opened #1489 "i3 exits when no output available (docking station scenario) reopen #926"
As described in #926 i3 correctly dies when no output is available. Beside the unlikely scenario that you disable all outputs via xrandr, there's another scenario that is a pretty inconvenient.

Using a docking station that does not announce the undock (e.g. ACPI Undock event triggered through manually pushing a button _before_ actually ejecting the notebook). During the removal of the notebook fr

[2015-02-24 20:37] Airblader commented on #1448
But no one wants to try out whether floating the window changes anything?

[2015-02-24 21:32] licaon-kter commented on #1448
I can't repro this with 4.3.3.2 from Debian Sid, the colour select window stays on top even unfocused (and I use focus follows mouse + **unclutter** to hide the cursor on idle)

[2015-02-25 03:42] seblu commented on #1448
@Airblader make the window floating doesn't solve the issue.

[2015-02-25 19:44] Zopieux commented on #1448
I can reproduce. See GIF below. Floating mode has no influence. Arch x64 latest. LibreOffice 4.4.0-2.
Please note there is the same behavior on eg. the color dropdown of *Calc* (the spreadsheets).

![screencast](http://i.imgur.com/r9Uo82X.gif)

[2015-02-25 20:44] licaon-kter commented on #1448
@Zopieux: do upload your config too ( https://gist.github.com )

[2015-02-25 22:05] setzer22 opened #1490 "Avoid keybindings from taking input focus"
When any kind of keybinding is processed by i3, the current window looses the current input focus. That is a problem when binding keys to xdotool commands for example. Even though this particular case can be solved, some programs like for example terminator, the telegram desktop client and many others, still show the "lost focus" animation when any keybinding is pressed. That is making particulary

[2015-02-25 22:23] Airblader opened #1491 "Man pages are not installed when compiling from source"
The man pages are currently not installed when i3 is compiled and installed from source via `make install`. There also doesn't seem to be a target for it – man pages have to be manually copied over in order to work.

Would it be feasible to have this be part of the install step or at least have a target that installs them?

[2015-02-26 03:34] acrisci commented on #1490
I can confirm this.

[2015-02-26 07:38] stapelberg commented on #1491
That’s because the path to install them to varies from distribution to distribution.

We don’t consider `make install` to be a good way to install i3. You should always use the distribution’s packages.

[2015-02-26 07:39] stapelberg commented on #1490
Is this not solved with using `bindsym --release`?

[2015-02-26 07:42] Airblader commented on #1491
Well, the AUR package only calls `make install` and copies the man files manually. I didn't know about the differing folder structure. Is it common for packages to do this on a per distribution basis? I can't believe there's no standard or environment variable of some sort :)

Either way, it makes a lot of sense to not touch this. It'll have to stay that way I guess :)

[2015-02-26 07:42] #1491 closed

[2015-02-26 08:58] ortolot opened #1493 "enhancement: use new RFC 7464 JSON sequencing in i3bar protocol"
The current i3bar protocol uses a flow that is represented as an infinite, never-ending table. This is the current way to implement that common need, but since it was not entirely satisfactory, there is a new RFC 7464 that defines a standard way to represent JSON sequences, which are basically a series of JSON objects separated by specific delimiters:
    https://tools.ietf.org/html/rfc7464

I wou

[2015-02-26 09:56] setzer22 commented on #1490
@stapelberg  Using --release not only binds the key to the release event (which is not always what people might want) but also makes the same "unfocus" animation.

That being said when using release it's true that programs like xdotool can work with the current focused window, just like it's mentioned in the documentation, but the "animation" is still there.

By the way, by "animation" I don't mea

[2015-02-26 10:25] acrisci commented on #1490
It will also trigger the window onfocus method of a web browser.

[2015-02-26 11:49] Airblader commented on #1493
What exactly are shortcomings that affect i3bar?

[2015-02-26 12:46] ortolot commented on #1493
Ingo Bürk, 2015-02-26 03:49-0800:

No real shortcomings, it is just that the need (a flow of JSON objects)
is currently implemented in a kludgy way, and that there is now a
standard way to do that.

Now, since it is using JSON, which is a standard, instead of some
specific format, it would be nice to use the standard way for
serializing flow of JSON objects rather than the current way.

[2015-02-26 20:54] ton opened #1494 "Incorrect y-offset for text in i3bar drawn using Pango"
When using Pango to draw text in i3bar, the y-offset of the text is incorrectly calculated in case all characters in the string that needs to be drawn are smaller than the cached font height, as can be seen in the following screenshot. The cog icon is the only character in the string to be drawn with a height smaller than the cached font height:

![valign](https://cloud.githubusercontent.com/asset

[2015-02-26 20:58] Airblader commented on #1494
Are you using `infinality-bundle`?

[2015-02-26 21:00] Airblader commented on #1494
I've seen your commit now. Just wondering, by "drawing with pango", do you mean specifying the font for i3bar as a pango font on do you mean using the newly added pango markup?

[2015-02-26 21:01] ton commented on #1494
@Airblader, no I am not using any Pango markup. I am pretty convinced this is an issue in i3bar.

[2015-02-26 21:04] ton commented on #1494
After applying the fix:

![valign-fixed](https://cloud.githubusercontent.com/assets/157002/6401812/6193cbec-be03-11e4-890b-c351860f0b06.png)

[2015-02-26 21:04] Airblader commented on #1494
But if it's all the same font and no markup, how does changing the y offset for all text change anything about two snippets of text being off? And is there an api justification for using half of the value?

Also, do you have the package I mentioned installed?

[2015-02-26 21:06] ton commented on #1494
In 99% of all cases the y-offset is not changed since `height` will be equal to `savedFont->height`. Only in case the calculated height of the piece of text is or larger than the cached font height, the text needs to be vertically aligned, by taking half of the additional extent along y.

[2015-02-26 21:07] Airblader commented on #1494
Ah, I see. I wasn't reading carefully enough. It's what I get for reading code on my phone.

That makes sense. Thanks.

[2015-02-26 23:08] lexszero opened #1496 "bug: 'hot-babe' window breaks tiling"
The [hot-babe system activity indicator](http://hotbabe.sourceforge.net/) window is not tiled, and overall screen layout is broken in an interesting way: ![screenshot](http://dump.bitcheese.net/files/utyjabi/hot-babe-fucked-i3.png)

i3 version 4.8-145-g3f126c6 (2015-01-31, branch "branch-next") © 2009-2014 Michael Stapelberg and contributors

http://logs.i3wm.org/logs/5642554087309312.bz2

[2015-02-27 00:57] lexszero commented on #1496
Added version and log.
It appears that this window declares itself as dock. Not sure what should WM do if another dock (i3bar in this case) is already present.

[2015-02-27 15:10] Airblader commented on #1496
I think i3 behaves correctly here.

[2015-02-27 15:19] stapelberg commented on #1496
I think so, too. The program is managed as a dock window, so this works as intended.

[2015-02-27 15:19] #1496 closed

[2015-02-27 19:13] afh opened #1497 "i3 flickers when changing size/layout of windows"
I use i3 4.8 on Mac OS X through the latest release of [Xquartz](http://xquartz.macosforge.org/landing/)(2.7.7)

Here's a screen capture of the flickering:
https://anonfiles.com/file/9d4e0adbfe7cf74068f14fd44af227d1

and the link to the log file:
http://logs.i3wm.org/logs/5651124426113024.bz2

[2015-02-27 19:18] stapelberg commented on #1497
Not sure what we could do about that. It looks like the window contents are flickering, and drawing these is entirely up to your graphics driver, i3 has nothing to do with that.

Possibly using a compositing manager such as compton might help (or not), so that’s worth a try.

[2015-02-27 20:25] Zopieux commented on #1448
@licaon-kter I added the link to my config.

[2015-02-27 21:27] afh commented on #1497
Thanks for the quick reply (and thanks for writing i3!) I've already been in touch the some Xquartz folks over at #xquartz, though it was hard to pinpoint the potential cause of the issue given that my code knowledge of Xquartz and i3 are quite negligible.

If you were to debug the issue how would you go about it?
Any info that might help me or the Xquartz developers to identify the issue would be

[2015-02-27 22:58] troutrout opened #1498 "Title bar icon support"
How about adding icon support for title bar for better user experience?

[2015-02-27 23:09] stapelberg commented on #1497
First thing I’d check is with which other window managers it also happens and what properties the affected WMs share. Good candidates are awesome, xmonad and twm.

[2015-02-27 23:11] stapelberg commented on #1498
duplicate of #905

[2015-02-27 23:11] #1498 closed

[2015-02-28 08:29] afh commented on #1497
Great thanks. I've been trying to get awesome to work on Mac OS X through [Homebrew](http://brew.sh) to no avail for a long time and have given up on it for now; the dependencies with xcv in previous Xquarz versions, Lua, object-introspection and lgi (if I remember correctly) were too much to handle for me.

I've tried my long-time favourite [dwm](http://dwm.suckless.org) and twm and to see simila

[2015-02-28 10:25] stapelberg commented on #1497
I agree that it should be addressed in Xquartz.

With regards to how they size/place the windows, I don’t think there’s a significant difference between xlib and xcb.

I’m closing this ticket since it’s not an issue with i3 itself.

[2015-02-28 10:25] #1497 closed

[2015-02-28 13:22] spippi commented on #1448
update libreoffice at  4.4.1.2 Arch Linux build-1 same problem

[2015-02-28 14:28] Airblader commented on #1448
Can anyone maybe try some other window managers? OP said with Gnome it works; what about awesome, xmonad and the like?

[2015-02-28 14:52] stapelberg opened #1499 "Empty error message for append_layout errors."
@siassaj reports that with i3 4.9-2-gcc55ee4 (2015-02-28, branch "next") starting, using `i3-msg "workspace 2; append_layout ~/.i3/workspace_2.json"` results in:

[code]

Based on the logfile http://logs.i3wm.org/logs/5675267779461120.bz2, I think the error is empty when append_layout cannot open the provided path.

[2015-02-28 14:53] stapelberg opened #1500 "enhancement: append_layout should glob paths/replace ~"
See also #1499 for context.

[2015-02-28 17:36] acrisci commented on #1448
Can it be reproduced with the latest version, 4.9?

[2015-02-28 21:31] Airblader opened #1501 "append_layout does not consider borders on placeholder window"
When restoring a layout, the border width in the `*.json` file doesn't seem to have any effect until the window is actually opened and swallowed.

[2015-02-28 21:41] Airblader opened #1502 "Restarting i3 in-place breaks workspaces with placeholders"
* Restore some layout on a workspace and just have the placeholder windows shown (i.e., do not open the application to let them swallow it)
* Restart i3 in place

The placeholder windows disappear, but the workspace will not be destroyed when switching to another workspace. After opening a terminal multiple times and closing it, I got the workspace to be destroyed correctly. My guess is that the p

[2015-03-01 14:53] pulux opened #1505 "i3 exit problem"
I run i3 on http://www.voidlinux.eu, is is a Distribution that used runit as inti-system, here a process tree.

On exit i3 with $mod+shift+e, all open applications run in background and i3-nagbar also.

If I run i3-msg exit from Termial, the Terminal run also in Background and i3 exit.

i3 version 4.9 (2015-02-28, branch "tags/4.9") © 2009-2014 Michael Stapelberg and contributors

[2015-03-01 15:18] stapelberg commented on #1505
I don’t see how that’s a bug in i3. It is intended that window managers start applications into the background, so that you can switch window managers without losing your applications.

[2015-03-01 15:28] pulux commented on #1505
From my point of view are startet Applications Childs. So when I kill i3 all in the session started Application are killed to.

I also use i3 under Ubuntu, there all Applications are killed on i3 exit. What is diffrent?

[2015-03-01 15:47] stapelberg commented on #1505
As I said, that’s not how it works, and that’s intentional.

I’m not sure how you are starting i3, but typically people `exec i3` in their `~/.xsession`, which makes i3 the controlling process of the X session. Once i3 exits, the X session is closed, which will lead to every application receiving an error on their X11 socket, which typically makes the application terminate.

As for what’s differen

[2015-03-01 15:51] #1494 closed

[2015-03-01 16:21] #1480 closed

[2015-03-01 16:25] #1500 closed

[2015-03-01 18:22] JoeMBlair opened #1506 "Specific workspace layout not saving properly"
I'm trying to get a layout with 2 windows on top and one on the bottom. http://i.imgur.com/l4p0Jns.png However when I load the layout it just comes out as 3 vertical columns. http://i.imgur.com/gb7APMQ.png
http://pastebin.com/pGa6pv6r

[2015-03-01 18:27] JoeMBlair commented on #1506
http://logs.i3wm.org/logs/5677751478517760.bz2

i3 version 4.8 (2014-06-15, branch "4.8") © 2009-2014 Michael Stapelberg and contributors

[2015-03-01 18:27] #1506 closed

[2015-03-01 18:47] JoeMBlair commented on #1506
i3 version 4.8-191-g487ccb5 (2015-03-01, branch "makepkg") © 2009-2014 Michael Stapelberg and contributors

[2015-03-01 18:55] iseikr opened #1507 "i3 EWMH reporting all windows as being on the same desktop/workspace"
I am running Debian jessie and here's output of i3 --version :
[code]
EWMH support is much better in i3 4.9 than in 4.8, great work! One issue that remains is that all windows are being reported as being on workspace 1 no matter which workspace they are placed on.

Here's output of wmctrl -l  after placing rxvt terminals on workspace 1, 2, 3 and 4 :

[code]

The second column here in this case sho

[2015-03-01 18:58] afh commented on #1497
Thanks for writing i3 I hope to get the issue resolved to be able to use i3 regularly on my machine and thanks for your helpful comments.

[2015-03-01 19:02] acrisci commented on #1507
We don't support _NET_WM_DESKTOP on the windows. We would have to keep that property updated on all the windows as they change desktops.

[2015-03-01 19:09] JoeMBlair opened #1508 "Specific workspace layout not saving properly"
I'm trying to get a layout with 2 windows on top and one on the bottom. http://i.imgur.com/l4p0Jns.png However when I load the layout it just comes out as 3 vertical columns. http://i.imgur.com/gb7APMQ.png
http://pastebin.com/pGa6pv6r

i3 version 4.8-191-g487ccb5 (2015-03-01, branch "makepkg") © 2009-2014 Michael Stapelberg and contributors

http://logs.i3wm.org/logs/5687539843203072.bz2

[2015-03-01 19:09] #1508 closed

[2015-03-01 19:26] JoeMBlair opened #1509 "Specific workspace layout not saving properly"
I'm trying to get a layout with 2 windows on top and one on the bottom. http://i.imgur.com/l4p0Jns.png However when I load the layout it just comes out as 3 vertical columns. http://i.imgur.com/gb7APMQ.png
http://pastebin.com/pGa6pv6r

i3 version 4.9.22.g487ccb5 (2015-03-01, branch "next") © 2009-2014 Michael Stapelberg and contributors

http://logs.i3wm.org/logs/5687539843203072.bz2

[2015-03-01 19:26] #1509 closed

[2015-03-01 19:28] pulux commented on #1505
The i3 session is started via `/usr/share/xsessions/i3.desktop` with content

[code]
and `lxdm` as Desktop-Manager.

Do you know any problems with `lxdm`?

[2015-03-01 19:39] JoeMBlair opened #1510 "Specific workspace layout not saving properly"
I'm trying to get a layout with 2 windows on top and one on the bottom. http://i.imgur.com/l4p0Jns.png However when I load the layout it just comes out as 3 vertical columns. http://i.imgur.com/gb7APMQ.png
http://pastebin.com/pGa6pv6r

http://logs.i3wm.org/logs/5124589889781760.bz2
i3 version 4.9-22-g487ccb5

[2015-03-01 19:45] stapelberg commented on #1505
Not off the top of my head, but why don’t you try LightDM or gdm? Those are known to work well.

[2015-03-01 19:46] Airblader commented on #1510
I can reproduce this.

[2015-03-01 19:52] Airblader commented on #1510
As a workaround you can edit your file to explicitly contain a v-split. Here's your adapted file: http://pastebin.com/35ZBKJrs

[2015-03-01 19:57] pulux commented on #1505
I have tested with ` xdm` and it works normal, so maybe the problem comes from `lxdm`.

[2015-03-01 19:57] #1505 closed

[2015-03-01 21:24] Airblader commented on #1473
I've created a draft for this. I wrote a test that works now, but I'll test this a bit tomorrow when I have access to an external screen.

The fix is crude right now and requires some refactoring. The entire logic for moving a workspace currently is in the commands handler, but should probably be moved to `src/workspace.c` so that it can be reused nicely.

[2015-03-02 13:51] acrisci commented on #628
Instead of a separate indicator, you could just add a block to the statusline generator.

[2015-03-02 13:51] #1470 closed

[2015-03-02 13:52] #1469 closed

[2015-03-02 13:52] #1467 closed

[2015-03-02 13:53] acrisci commented on #838
This should be closed.

[2015-03-02 13:57] acrisci commented on #1168
This should be closed.

[2015-03-02 16:59] Airblader commented on #1493
The question is whether this ever so little benefit is worth breaking basically all scripts and tools that have been built around the protocol. :/

[2015-03-02 17:02] ortolot commented on #1493
Ingo Bürk, 2015-03-02 08:59-0800:

Probably not. It could be just a possibility, however, that is, i3bar
accepting that format as well as the never-ending table.

Or it could be kept in mind if one day there is a need for a new version
of the protocol.

[2015-03-02 17:06] Airblader commented on #1493
I don't think maintaining two protocols is worth it either since there isn't really any benefit.

The future — sure, if i3 was to start all over again with the protocol or if there was a good point in time to do so, why not. But it's not my project anyway. Maybe Michael favors the idea of the standard. Just my two cents. :)

[2015-03-02 17:07] Airblader commented on #1493
By the way, the protocol *does* have a version field already. So it would definitely be possible to have them coexist right now.

[2015-03-02 17:10] ortolot commented on #1493
Ingo Bürk, 2015-03-02 09:07-0800:

I know it was, and this was my original suggestion, to create a new
version of the protocol.

Now, another possibility would be to keep the current version while
adapting i3bar so it can take both formats, making them two version of
the updated current version of the protocol, if that makes any senses.

But anyway, the main reason I created that enhancement reque

[2015-03-02 18:14] stapelberg commented on #1168
Closing as requested.

[2015-03-02 18:14] #1168 closed

[2015-03-02 18:15] stapelberg commented on #838
Closing as requested.

[2015-03-02 18:15] #838 closed

[2015-03-03 06:30] stoodfarback commented on #1302
Have the same issue after updating from `4.8` to `4.9` (arch linux).

I use dvorak, and on startup `i3` reads commands in qwerty. Restarting `i3` (`$mod+Shift+Control+r` on my config) fixes the issue for that session.

From you last comment, it seems that there is some issue with `i3` not getting the mapping event (MappingNotify?).

Interestingly, while manually changing the layout in a terminal w

[2015-03-03 08:15] stapelberg commented on #1302
I think I can reproduce what you’re seeing. Investigating…

[2015-03-03 08:47] #1302 closed

[2015-03-03 09:40] mdtipton opened #1511 "Scrolling in window decoration with hidden cursor doesn't cycle stack."
If the mouse cursor is hidden (i.e. with unclutter), then scrolling in the window decoration doesn't cycle the stack. Instead, it just highlights all the window decorations simultaneously without changing the window. It is easily reproducible by...

1. unclutter -idle 1
2. place cursor on window decoration
3. wait for the cursor to disappear
4. scroll through stack

The bug was introduced in commi

[2015-03-03 09:54] phromo commented on #1302
+1, first experienced in 4.9 with dvorak. I've worked around this using

   exec --no-startup-id i3-msg restart

at the end of my i3/config

[2015-03-03 09:54] stapelberg commented on #1302
@phromo: Can you confirm that my commit fixes the problem for you?

[2015-03-03 10:26] phromo commented on #1302
Confirmed, works as expected after building latest next :+1:

[2015-03-03 15:58] fabienengels commented on #1302
Could we expect a 4.9.1 release in coming days ? :) Got this issue using Archlinux and a French keyboard.

[2015-03-03 20:12] stapelberg commented on #1302
Yeah, I’ll most likely release 4.9.1 this weekend.

[2015-03-04 08:54] mazrimtaim1974 opened #1514 "Eclipse 4.x manual content assist (via ctrl key) popup disappears"
Hello,

I'm running i3 on an x86_64 Archlinux system.

I've an issue with Eclipse 4.x while dealing with manual content assist (via ctrl key).
This issue was not present in the 4.8 version of i3.

I'll try to explain better this issue:
  1. open Eclipse in tiling mode and remain always in Eclipse. Do not change workspace, view mode (tiling/fullscreen/etc) or window
  2. hold ctrl on a java method;

[2015-03-04 09:59] Airblader commented on #1514
I've had this for a while as well (I've been running 4.9 before the release already), so I can confirm this. I haven't noticed any regularity in the issue yet, it seems to happen randomly to me.

Floating and unfloating makes the issue go away. There are also other issues when having Eclipsed in tiling mode. E.g., opening the call hierarchy sometimes doesn't display anything. Here, too, floating a

[2015-03-04 10:54] mazrimtaim1974 commented on #1514
Thanks for your suggestions.
At the moment the only trick that works for me is the "Floating and unfloating" trick.
But the trick is rather annoying.

[2015-03-04 11:28] Adaephon-GH commented on #1490
I, too, can confirm this.

I did a bit of testing with trying to find a answer to setzer22's question on the FAQ. And at least when using something like

    bindsym Somekey exec xdotool getactivewindow key Someotherkey

everything seems to be working - that is the intended window gets the key press - but also are the focus events triggered.

When testing a single key (`XF86Play`) that is bound in

[2015-03-04 11:52] mazrimtaim1974 commented on #1514
Relevant data:
http://logs.i3wm.org/logs/5735995932672000.bz2
i3 version 4.9 (2015-02-28, branch "tags/4.9")

[2015-03-04 14:12] acrisci commented on #1490
It's not just exec that does it. It's any command at all.

[2015-03-04 14:26] Eyenseo commented on #1448
@acrisci Yes libreoffice 4.4.1.2 and i3 4.9

[2015-03-04 14:27] pfent opened #1516 "Games disappearing when switching workspaces"
Running i3 version 4.9 on x86_64 Archlinux.
When running a fullscreen game and switching workspaces the window containing the game disappears with the containing workspace being destroyed. The game continues to run until manually killed.
This happens for me with several Steam games (Dota 2, Civilization V etc.) and with xonotic-sdl (although xonotic-glx works fine)

This behaviour is not present i

[2015-03-04 14:30] Airblader commented on #1516
Did you mean 14:**4**9:26?

[2015-03-04 14:32] pfent commented on #1516
Indeed. Sorry for the typo

[2015-03-04 14:32] acrisci commented on #1516
Put this in your shell rc file:

    export SDL_VIDEO_MINIMIZE_ON_FOCUS_LOSS=0

I think we may need to reevaluate the iconic state request for this reason.

[2015-03-04 14:36] licaon-kter commented on #1516
@pfent: SDL issue see this too: https://github.com/i3/i3/pull/1457#issuecomment-76618057

[2015-03-04 14:47] pfent commented on #1516
The shell rc export works for xonotic-sdl
dota_linux and Civ5 still get lost.

Since Dota 2 is a Source game I suspect a lot of other Valve games are also affected...

[2015-03-04 15:41] Adaephon-GH commented on #1490
No, like setzer22 said, it is with any kind of key bindings. It is just most noticable with `exec` as most other i3 commands change the focus anyway or move windows around so that the animations are easily missed.

[2015-03-04 16:14] licaon-kter commented on #1516
I have a *.xsession* script to start **i3** and putting an **export SDL_...** there does the job.

[2015-03-04 16:37] Airblader opened #1517 "[enhancement] Persistent placeholders"
This is an idea that came up here: https://github.com/Airblader/i3/issues/40

i3 now allows placeholder windows. However, once they swallow a container, the placeholder disappears in its entirety and closing the swallowed application will cause the layout to change.

Would it be an accepted feature to (optionally, of course) allow placeholders to be persistent? I.e., when closing the swallowed win

[2015-03-04 18:18] stapelberg commented on #1517
I could be convinced either way. Sending a pull request would help me make a decision, I think, as then I can judge the look and feel and see if there are any implementation concerns.

[2015-03-04 18:20] Airblader commented on #1517
Alright, thanks for the feedback. I won't get started right now, but I might look into it sometime.

[2015-03-04 18:21] stapelberg commented on #1516
@acrisci Can you come up with a fix for this until this weekend? Otherwise I’m inclined to just revert the commit introducing iconic state handling for the 4.9.1 release.

[2015-03-04 19:21] acrisci commented on #1516
There is no fix for this. I think it's a good idea to revert it. I'll do a pull request today or tomorrow.

[2015-03-04 19:35] larne opened #1518 "bindsym Mode_switch+… stopped working in v4.9"
As the title says, since the upgrade to 4.9, my keybinding involving Mode_switch is no longer recognized.
Exact version: i3 version 4.9 (2015-02-28, branch "tags/4.9") © 2009-2014 Michael Stapelberg and contributors.

To be precise, the binding is `bindsym Mode_switch+Escape exec --no-startup-id toggle-bar`.
I verified that `toggle-bar` is still functional, and changed the binding around to variou

[2015-03-04 19:46] stapelberg commented on #1518
Can you check whether dcba0b46dd65a519c2fe54fdb2a5d6f3220d0ed4 fixes it please?

[2015-03-04 19:58] larne commented on #1518
I'm afraid it doesn't. The log shows the just about the same as before.

[2015-03-04 21:28] ckafi opened #1519 "$mod+something bindsyms use wrong keyboard map"
Running i3 version 4.9 on x86_64 Arch Linux.
I use a non-standard keyboard layout called Neo (http://neo-layout.org), so my bindsyms are tailored for that specific layout. But since version 4.9 (4.8 worked fine), the $mod+something bindsyms kind of 'fall through' to the QWERTY layout.
As an example: When I press Super_L+z (in Neo) the action that will be triggered is the action for the Super_L+b (

[2015-03-04 21:29] Airblader commented on #1518
I can confirm that the binding doesn't work with the latest git checkout.

[2015-03-04 21:35] Airblader commented on #1519
I don't actually really understand what was done there, but my guess is it could be related: can you check whether your i3 contains commit https://github.com/i3/i3/commit/dcba0b46dd65a519c2fe54fdb2a5d6f3220d0ed4 ?

[2015-03-04 21:38] stapelberg commented on #1519
This is a duplicate of #1302

[2015-03-04 21:38] #1519 closed

[2015-03-04 21:47] ckafi commented on #1302
Sorry, didn't see that.

[2015-03-04 21:47] ckafi commented on #1519
Sorry, didn't see that.

[2015-03-05 16:20] roninmugen opened #1522 "Problems with alternative keyboard layouts in v4.9"
It seems that my configuration does not get loaded properly with v4.9. I'm using the neo2 keyboard layout with a German keyboard. For example: when I want to open dmenu, normally I had to press the mod-key+ö (which is "d" in neo2), but now it only works with mod+normal QWERTZ-d-key. It's the same for other keybindings.
I was able to fix this temporarily with the "i3-msg restart" command, but after

[2015-03-05 16:29] licaon-kter commented on #1522
Duplicate of https://github.com/i3/i3/issues/1302

[2015-03-05 18:18] #1522 closed

[2015-03-05 20:59] rainerborene commented on #1516
@pfent how did you do that?

[2015-03-05 21:09] licaon-kter commented on #1516
@rainerborene: right-click on the game -> ( last option down ) Advanced -> ( press the button under the overlay checkbox ) Set start command line -> write:

*%command%* will be automatically replaced by Steam with the game EXE, this needs to be like this.

This might not work for games that use a launcher ( eg. Witcher 2 ), so you can rename the launcher, and soft-link the main EXE to the launcher

[2015-03-06 07:45] andaag opened #1523 "the old repo is still up"
Meaning git pull still works, and doesn't give an indication that the location has moved. Links on http://i3wm.org/downloads/ also point to the old repo (meaning the released version is newer than whats in next ;) ).

[2015-03-06 08:17] Airblader commented on #1523
This is on purpose as to not break redirecting links. It's a transition phase setup.

[2015-03-06 08:33] stapelberg commented on #1523
Yep. The problem was that not all branches were synchronized and tags were not synchronized either. I’ve hopefully fixed both issues, but will keep an eye on that.

Feel free to send a pull request on https://github.com/i3/i3.github.io for updating the links.

[2015-03-06 08:33] #1523 closed

[2015-03-06 08:36] phairland opened #1524 "Using dmenu throws error on i3bar"
I just updated i3 to version 4.9.1 from 4.8.3

After using dmenu i3bar throws the following error:

`Error: status_command process exited unexpectedly (exit 0)`

I am using my own customise i3bar which is a tcl script which outputs using the JSON protocol specified in the i3 docs.

After several attempts to change what the tcl script was outputing I found that:

`{"version": 1, "stop_signal": 10,

[2015-03-06 08:38] stapelberg commented on #1524
I’m guessing your TCL script exits when receiving either the STOP/CONT signals or input on stdin (click_events). How is this a bug in i3?

[2015-03-06 08:42] phairland commented on #1524
That's fine Michael, thank you for the clarification. I am closing the issue.

[2015-03-06 08:42] #1524 closed

[2015-03-06 16:37] taerath opened #1525 "Matching by title does not work for some windows"
i3wm does not seem to swallow some windows correctly. For example, the window opened by `ipython3 qtconsole` (debian package *ipython3-qtconsole*) comes up with a title of *IPython*, `xprop` reports `WM_NAME(STRING) = "IPython"`, but i3wm does not match it to a `"swallows": [ { "title": "^IPython" }]` directive.

(First reported at  https://faq.i3wm.org/question/5447/how-to-match-ipython-window/)

[2015-03-06 17:03] taerath commented on #1525
[code]

I tried obtaining the log with the recipe in the instructions above, but it didn't print any URL:
[code]

I saved the log in a file instead, but there doesn't seem to be a way to attach it to the issue...

[2015-03-06 17:03] #1525 closed

[2015-03-06 17:17] taerath commented on #1525
Alright, I updated.

[code]

For now, I've put the log on https://trialphaenergy.box.com/shared/static/txy7tyn5qcl0g0gz4r6wfn2dem95ikpc.log

[2015-03-06 17:20] taerath opened #1526 "Matching by title does not work for some windows"
(Seems that I can't reopen #1525 after upgrading i3. Bummer).

i3wm does not seem to swallow some windows correctly. For example, the window opened by `ipython3 qtconsole` (debian package *ipython3-qtconsole*) comes up with a title of *IPython*, `xprop` reports `WM_NAME(STRING) = "IPython"`, but i3wm does not match it to a `"swallows": [ { "title": "^IPython" }]` directive.

[code]

For now, I've

[2015-03-06 17:41] Airblader commented on #1526
Is that really `WM_NAME`? Because there only are `_NET_WM_NAME` and `WM_CLASS`. If it's the latter, you should match on class, not title.

Can you maybe just post the entire xprop output?

[2015-03-06 17:43] taerath commented on #1526
Here's the full `xprop` output: https://trialphaenergy.box.com/shared/static/j6333crvnufxu9u4rad616ghtj0tjvxg.txt

[2015-03-06 17:47] Airblader commented on #1526
Mh. Interesting. Out of curiosity, does it work if you either leave out the circumflex or add a dollar in the end?

Maybe the application doesn't set the property on startup right away. Not that I understand much of the protocol, but I'd guess that's possible. I don't think i3 reacts to changing window titles for swallowing.

[2015-03-06 18:07] taerath commented on #1526
Using just `"IPython"` or `^IPython$"` does not work either.

[2015-03-06 18:07] Airblader commented on #1526
Despite oddly seeing `IPython` being rendered before `append_layout` is called, this excerpt looks interesting:

[code]

[2015-03-06 18:11] taerath commented on #1526
Hmm. I guess that's good news? But I can assure you that it most definitely does not get swallowed on the screen.

[2015-03-06 18:11] Airblader commented on #1526
Oh, yeah, I didn't mean to say I don't believe you :) I'm trying to look into it a bit. But Michael or Tony know this a million times better than me.

[2015-03-06 18:42] Airblader commented on #1526
For all I can see it gets properly matched. I can reproduce this, though – it doesn't get swallowed for me either.

It seems that we never enter this in `src/manage.c`:

[code]

[2015-03-06 20:16] Airblader commented on #1526
Actually, if you read more of the log, you will see that the window is unmapped and remapped again and since the match has then been removed from the placeholder already, it will not be swallowed again and instead be opened in its own container.

This should only leave the question on why it is unmapped a little bit after having been mapped.

[2015-03-06 21:28] taerath commented on #1526
What does "mapping" mean? Is that something that i3 does, that the application does, or that X11 does?

[2015-03-06 22:31] pharpend commented on #1302
Okay, I just had this problem come up after a system update. (I documented my issue https://bbs.archlinux.org/viewtopic.php?pid=1509037#p1509037). My version is "4.9-1", which I'm assuming/hoping is different than 4.9.1?

[2015-03-06 22:34] stapelberg commented on #1302
Yes, it is different, as you can see on http://i3wm.org/downloads/ there is not yet a new release.

[2015-03-06 23:03] Airblader commented on #1526
Mapping is something the window manager will do. Either on its own or when the client (window) requests it. A mapped window basically means it's visible on the screen. For some reason, this window gets mapped, unmapped and mapped again.

[2015-03-06 23:32] mh21 opened #1527 "Workspaces in startup sequences not renamed on "rename workspace""
When renaming workspaces with "rename workspace", workspaces that are mentioned in startup sequences are not renamed.

This is problematic for e.g. firefox, where the transient keyring-passphrase window appearing several seconds after startup also uses the startup workspace. When the workspace was renamed in the meanwhile, this dialog ends up on a new workspace out of sight.

[2015-03-06 23:39] mh21 commented on #1527
This was on `next`: i3 version 4.9-27-gb083471 (2015-03-07, branch "next") © 2009-2014 Michael Stapelberg and contributors

[2015-03-06 23:42] mh21 commented on #1527
Logs: http://logs.i3wm.org/logs/5685265389584384.bz2

[2015-03-06 23:48] Airblader commented on #1526
Could it be that ipython3 somehow unmaps any window with that name? That sounds really odd and wrong, but here's what I just found out: if you choose a different name for the container in your layout file (the name is pretty irrelevant there anyway), it will get swallowed correctly.

[2015-03-06 23:54] taerath commented on #1526
I thought the mapping is  done by the window manager (aka i3)? Then how can ipython3 unmap something? Or do you mean ipython3 would *close* existing windows that have "IPython" in its name? I don't think that's the case, you can have multiple Ipython windows (from multiple, separate processes) open at the same time.

[2015-03-06 23:55] taerath commented on #1526
...but I'll try it with a different name on Monday to see if that works for me to. Very odd. Thanks for investigating!

[2015-03-06 23:59] Airblader commented on #1526
i3 can either unmap a window on its own terms or it will do it if the window requests to be unmapped. And I'm pretty sure i3 closes windows when they are unmapped (but I stand to be corrected) since the point of a tiling window manager is to always have all windows visible.

In fact when I noticed this, my first reaction was to see what ipython will do if I open it several times. Since it just ope

[2015-03-07 00:05] taerath commented on #1526
Ok, I can confirm that it works if I use something else for `name` in the json file. Very odd, but quite an acceptable workaround. Thanks Airblader!

[2015-03-07 08:32] Airblader commented on #1527
Why would i3 rename workspaces in commands you haven't executed yet? I'm not sure I understand the problem correctly.

[2015-03-07 10:48] #1516 closed

[2015-03-07 12:54] mh21 commented on #1527
Hi,

the following steps show the problem:

  -> start firefox

  -> a startup notification context is created and i3 sets up a
startup sequence. The launch workspace (WS1) is saved in the startup
sequence so the application window shows up on the correct workspace.

  -> the firefox window appears and is mapped on the correct workspace
(WS1), but the startup sequence stays around for a while long

[2015-03-07 12:56] Airblader commented on #1527
Thanks for the detailed explanation. I had already deleted my comment because I was just reading it wrong originally. :)

[2015-03-07 13:52] #1518 closed

[2015-03-07 13:53] stapelberg commented on #1518
Can you please confirm the commit I just pushed fixes your issue?

[2015-03-07 14:02] stapelberg commented on #1490
I don’t think this can be fixed. When using `xbindkeys` with the following config file:

[code]

I observe the same thing. xbindkeys is a nice example because it is very simple on the X11 protocol level:

[code]

The second paragraph is what happens when the keybinding is triggered. This causes a flash in terminator, but as you can see, xbindkeys doesn’t actively change focus.

Therefore, I think

[2015-03-07 14:02] #1490 closed

[2015-03-07 14:16] spippi commented on #1448
4.4.1.2 Arch Linux build-2 same problem

[2015-03-07 14:41] #1526 closed

[2015-03-07 14:41] stapelberg commented on #1526
Thanks for the detailed report and analysis. See the commit message for details on what the problem was.

[2015-03-07 14:43] Airblader commented on #1526
Thank you for the commit message. Makes a lot of sense now.

[2015-03-07 15:01] #1499 closed

[2015-03-07 15:16] stapelberg commented on #1510
Yeah, the problem here is that `i3-save-tree --workspace` only dumps the _contents_ of that workspace, not the workspace’s properties itself. I think this is intended behavior, since if it contained the workspace, you could not actually append it in an arbitrary position in the tree, it would always need to be appended on the workspace level.

The solution is to use `i3-save-tree --output`, which

[2015-03-07 15:16] #1510 closed

[2015-03-07 16:32] SirCmpwn opened #1529 "Include a second config file in i3 config file"
I often find myself having specific needs for each environment I work in. I keep my dotfiles under version control and it would be nice to be able to include a local config file to tweak it for each particular environment.

    i3 version 4.9-173-ga7a8b7b (2015-03-04, branch "gaps") © 2009-2014 Michael Stapelberg and contributors

[2015-03-07 16:54] stapelberg commented on #1529
duplicate of #1197

[2015-03-07 16:54] #1529 closed

[2015-03-07 17:15] Airblader opened #1530 "[enhancement] Assign windows to outputs"
Given that there already is a `A_TO_OUTPUT` mode, my guess is that this is a feature worth implementing, right? Any idea on the syntax? I have a draft for this using

[code]

[2015-03-07 17:18] Airblader commented on #1530
Some thoughts and questions if a patch for this were to be accepted:

* Do we require any special logic when the same window is matched to a workspace *and* an output? I'd prefer not touching this case as it requires not stopping after having found one match, but also because I don't see a benefit in handling this (the user should assign to a workspace and assign the workspace to an output).
* If

[2015-03-07 17:20] Airblader commented on #1530
Just for reference, my draft (rough, not fully done, no tests yet): https://github.com/Airblader/i3/commit/303ca50619c822dce752775723d943b572d78c7b

[2015-03-07 17:44] Airblader commented on #1510
I think it would be worth adding this to the docs. I could see this causing confusion (and tickets) more often.

[2015-03-07 18:50] okraits commented on #1529
You can use https://github.com/okraits/j4-make-config for that.

[2015-03-07 18:51] acrisci commented on #1530
I would say this feature would be too redundant with `for_window` to justify another command.

People can just do this:

    for_window [class="Xfce4-notifyd"] move to output DVI-D-0

[2015-03-07 18:53] Airblader commented on #1530
That's actually a really good point. I'll opt for removing the `A_TO_OUTPUT` thing then.

[2015-03-07 18:54] Airblader commented on #1530
Out of curiosity, why is `assign` needed for workspaces? Couldn't I use `for_window` there, too?

[2015-03-07 18:56] acrisci commented on #1530
The functional difference is that `assign` will set the window to urgent when it is not focused, but I suspect that it is a legacy command that can't be removed because of the projects strong stance for backwards compatibility.

[2015-03-07 19:08] Airblader commented on #1530
Ah, alright. Thank you. Maybe @stapelberg can say something about whether the urgency flag would justify this feature or even on whether we could drop the old feature with v5 and offer a script to migrate the config (much like it was done with v4).

[2015-03-07 19:16] acrisci commented on #1530
I wouldn't mind a major version bump.

[2015-03-07 19:21] licaon-kter commented on #1516
I can confirm that it works, it would be perfect if the window would still be fullscreen and not end up floating on workspace switch back.

[2015-03-07 19:26] stapelberg commented on #1516
That’s up to SDL, nothing we can do about that, I think.

[2015-03-07 19:37] rainerborene commented on #1516
What do you mean by SDL? Setting `SDL_VIDEO_MINIMIZE_ON_FOCUS_LOSS` environment variable would solve that problem?

[2015-03-07 19:38] mh21 commented on #1448
I also see the same issue with the stock config (Ubuntu 14.10, i3 next, libreoffice 4.4.1.2).

When restarting i3, something weird happens:
- startup libreoffice
- click on the palette button that should give the dropdown
-> nothing seems to happen
- restart i3 with the hotkey
-> the libreoffice main window becomes floating???
- restart i3 again
-> the missing palette window appears out of nowhere

[2015-03-07 19:46] larne commented on #1518
Yes, 7340a3e fixes the issue.

[2015-03-07 20:07] mh21 commented on #1448
Output of git bisect:

 git bisect start
 # good: [2640fb2b5fbcff48a6aaefe80f80a251d70fee36] makefile: delete test.{config_parser,commands_parser} in distclean
 git bisect good 2640fb2b5fbcff48a6aaefe80f80a251d70fee36
 # bad: [b08347109b55d6aecefc283a3de6806a4989fa2e] Rename workspaces in startup sequences.
 git bisect bad b08347109b55d6aecefc283a3de6806a4989fa2e
 # bad: [da0acb20800999558b6302b2d

[2015-03-07 20:16] Airblader commented on #1448
Cool, thanks for the bisecting. I can confirm that reverting that commit makes the window appear; however, it appears to be unmanaged. It's in the upper left edge of the screen, cannot be moved or closed via i3 shortcut and stays on the screen even when switching workspaces.

[2015-03-07 20:22] Zopieux commented on #1448
“Fixes Mathematica, breaks LibreOffice”
Welcome to software development. :smile:

[2015-03-07 20:43] Airblader commented on #1448
@Zopieux To be able to reparent it, the window manager first has to manage it. The way I understand the bad commit, it unmaps (hides) the window because it has been requested to be closed.

Now, which application shall we break with the fix of this?

[2015-03-07 20:45] Zopieux commented on #1448
I launched `xwininfo -root -tree` in a loop while opening the "text color" dialog and `diff`ed the results. There is the log. You can see the window appearing and disappearing right after.

[code]

[2015-03-07 21:44] licaon-kter commented on #1516
Yes it does and I'll just stick that back on my *~/.xinitrc* anyway.

[2015-03-08 10:35] Airblader commented on #1514
There is a ticket over at awesome for this which contains a really helpful analysis of all kinds of window managers.

https://github.com/awesomeWM/awesome/issues/71

[2015-03-08 10:49] shdown opened #1531 "i3bar shows garbage with long statusline"
This script produces a single block with long (500 letters) `full_text`:
[code]
$ i3 --version
i3 version 4.9-41-g0148dc6 (2015-03-07, branch "next") © 2009-2014 Michael Stapelberg and contributors
$ i3bar --version
i3bar version 4.9-41-g0148dc6 (2015-03-07, branch "next") © 2010-2014 Axel Wagner and contributors
[code]

[2015-03-08 10:55] shdown commented on #1531
But I can't reopen it. And this is the yesterday's git slice. Fix your bot please.

[2015-03-08 11:59] stapelberg commented on #1531
We’ve released yesterday, so the message is correct (albeit annoying in this specific case).

[2015-03-08 12:00] stapelberg commented on #1531
Yeah, `short_text` is not implemented yet. If you care, please send a pull request.

[2015-03-08 12:25] shdown commented on #1531
Shouldn't it be somehow documented?

Okay...

[2015-03-08 12:36] stapelberg commented on #1531
Feel free to send a pull request for that as well, but sending one that implements the feature would be better :).

[2015-03-09 09:38] iosonofabio opened #1532 "[website] link to FAQ missing"
Hi,
(btw: awesome i3, been using for years and it's the b.e.s.t.!)

On the website, when you click on "User's guide" or any subsection of "Docs", the link to FAQ in the top menu disappears. I think it should stay like on the rest of the website.

Cheers!
F

[2015-03-09 12:38] Troelsj opened #1533 "Assigned workspace on external monitor wrong keybinding"
Since the update to i3 version 4.9, when an external monitor has been connected, which has its own assigned workspaces, with its own keybindings. the workspaces on the external monitor will take over the keybindings for the main monitor. This is especially the case with workspace 2 on the main monitor being inaccesible when the corresponding workspace is created on the external monitor, e.g. works

[2015-03-09 12:49] Troelsj commented on #1533
The issue has excisted since 4.9, I am currently running 4.9.1 and the issue is still there

[2015-03-09 12:58] Airblader commented on #1532
This should be an issue against the website: https://github.com/i3/i3.github.io

[2015-03-09 13:01] iosonofabio commented on #1532
Ok will file there.

[2015-03-09 13:01] #1532 closed

[2015-03-09 13:02] Troelsj opened #1534 "Assigned workspace on external monitor wrong keybinding"
Since the update to i3 version 4.9, the issue is still there in version 4.9.1. When an external monitor has been connected, which has its own assigned workspaces, with its own keybindings. the workspaces on the external monitor will take over the keybindings for the main monitor. This is especially the case with workspace 2 on the main monitor being inaccesible when the corresponding workspace is

[2015-03-09 13:02] #1534 closed

[2015-03-09 13:03] Troelsj opened #1535 "Assigned workspace on external monitor wrong keybinding"
Since the update to i3 4.9.1. When an external monitor has been connected, which has its own assigned workspaces, with its own keybindings. the workspaces on the external monitor will take over the keybindings for the main monitor. This is especially the case with workspace 2 on the main monitor being inaccesible when the corresponding workspace is created on the external monitor, e.g. workspace "

[2015-03-09 13:20] nvanggaard opened #1536 "Assigned workspace on external monitor takes internal monitors keybindings - version 4.9.1"
Since version 4.9. When an external monitor has been connected, which has its own assigned         workspaces, with its own key bindings. The workspaces on the external monitor will take over the key bindings for the internal monitor, and therefore make the internal workspaces unavailable.

Most of my internal workspaces are named only with a number, the external workspaces are named number+F e.g.

[2015-03-09 13:22] nvanggaard commented on #1536
My i3 version:
i3 version 4.9.1 (2015-03-07, branch "4.9.1") © 2009-2014 Michael Stapelberg and contributors

[2015-03-09 13:27] nvanggaard commented on #1536
Link to my log file:
logs.i3wm.org/logs/5733311175458816.bz2

[2015-03-09 16:14] acrisci commented on #1536
I read this several times and I still don't have a good idea of is going on. Give me an example of what the problem is by answering these questions.

What workspaces are open at the time?

What command did you use to switch to a new workspace?

What workspace did you expect to switch to?

What workspace did you actually switch to?

[2015-03-09 16:36] nvanggaard commented on #1536
Okay I'm not native English but let me give it a try :)

My setup is a laptop with an external monitor.
The laptop got 10 workspaces assigned to the internal screen named:
1: Main
2
3
4
5
6
7
8
9: Matlab
10: Mail

The command I use to change to laptop workspaces is $mod+(number).
-----------------------------------------------------------------------------------

The external monitor got 10 worksp

[2015-03-09 16:50] Anon1234 opened #1537 "Version mismatch in announcement mail list [enhancement]"
[code]

[2015-03-09 17:52] stapelberg commented on #1537
Yeah, my mistake. Can’t do anything about it, so I’m going to close this.

[2015-03-09 17:52] #1537 closed

[2015-03-09 19:00] stapelberg commented on #1535
Sorry for the trouble you’re having with the bot here. I’ll look into why that is.

[2015-03-09 19:03] stapelberg commented on #1535
Is your issue related to #1536?

[2015-03-09 19:09] Troelsj commented on #1535
Yeah, it was actually a colleague of mine, who have been having the same problem, who created it since mine kept getting closed. So you can just close this issue again.

[2015-03-09 19:12] stapelberg commented on #1535
Ah, alright. I’ve updated the bot and fixed the issue with it not detecting the version properly. Sorry again for the trouble.

[2015-03-09 19:12] #1535 closed

[2015-03-09 21:26] ashinkarov opened #1538 "Warnings when compiling with a higher optimisation level"
If I compile i3 with higher level of optimisations:
[code]
I get the following list of previously unseen warnings:
[code]

I compile with `gcc (Gentoo 4.9.2 p1.0, pie-0.6.2) 4.9.2`.  I am not sure what are your stands on this.  Some of the warnings like "ignoring return value of xxx" can be ignored.  However, those that say that a value might be used uninitialised are caused by missing default sta

[2015-03-09 21:51] stapelberg commented on #1538
I think these should be fixed. Pull requests will be accepted.

[2015-03-10 20:20] Ninja-Koala opened #1542 "i3 bar flickers at bottom when toggled"
When i toggle i3bar rapidly with i3-msg it gets shown at bottom for a little moment before shown at top where it is set to be
Im using version 4.9.1

[2015-03-10 20:48] aksr opened #1543 "Problem with letters in a titlebar..."
version: i3 version 4.9.1-24-g10a5872

Using Anonymous Pro font: font pango:Anonymous Pro Minus 13
Youtube links with  lower 'j' and/or lower 'g' etc. have them a bit cutoff, e.g.:
http://i.imgur.com/1kIiSF2.png
(font pango:Anonymous Pro Minus 14) http://i.imgur.com/B0SFao7.png

It doesn't happen with DejaVu Sans.

[2015-03-10 21:50] pronobis commented on #1433
Here you go. I did open/close a few of the panels before generating the log.
http://logs.i3wm.org/logs/5655869022797824.bz2

[2015-03-10 22:25] acrisci commented on #1543
I can confirm this with that font. It works fine with other fonts.

[2015-03-11 20:41] davidbaumann opened #1544 ""Do you really want to exit i3" should be on any screen"
Hello,

I think, when you want to exit i3, the box "Do you really want to exit i3" should be displayed on all screens.
On my set up, the message always appears on my laptop screen, which is turned off. My external screen - which I am using, doesn't show it, so I always have to do init 0.

So it should appear either on every screen, or the on that is in focus.

David.

[2015-03-12 22:06] or commented on #1531
This happens because the statusline pixmap is only cleared from (0, 0) to (root_screen_width, bar_height). This results in random pixels or previous text rendered beyond root_screen_width being shown.

The patch also honours the tray width when calculating src_x for the copying of the pixmap content.

[2015-03-13 05:21] shdown commented on #1531
@or, this (and not olny this) is already fixed in #1541... You must haven't noticed it.

@stapelberg, ping? What's your thoughts on #1541?

[2015-03-13 07:25] or commented on #1531
@shdown, cool. Indeed I didn't see that. I fixed it because I ran into it and then only found this issue that seemed to be related. :)

[2015-03-13 07:46] #1511 closed

[2015-03-13 07:52] #1473 closed

[2015-03-13 08:17] stapelberg commented on #1530
`assign` was introduced earlier than `for_window`, yes.

Since `assign` is effective a bit earlier than `for_window`, there might be very subtle differences in how applications behave with one or the other, but I have no evidence to back that up (or refute it).

As @acrisci already mentioned, we won’t be removing the `assign` directive for backward compatibility.

It might be feasible to internall

[2015-03-13 08:17] #1530 closed

[2015-03-13 08:18] stapelberg commented on #1502
Can you provide a log please?

[2015-03-13 10:27] He-Ro commented on #1543
I am experiencing a similar issue, where characters are also cut off:
![i3bar](https://cloud.githubusercontent.com/assets/3579374/6636653/7cb7462c-c972-11e4-8cda-5be3df0fb506.png)
Interesting to note is that only the g on the left is cut off. The characters in the white sample text are fine.
bar font: `font xft: Awesome, Ubuntu Mono 12`
version: `i3 version 4.9.1-40-g439cadf (2015-03-13, branch "m

[2015-03-14 10:16] Airblader commented on #1502
Hm, a log file of what? After restarting it? Or the log file for the session before I restart? If the latter, how can I get that log file (since I can't just do `i3-dump-log`)?

[2015-03-14 11:56] stapelberg commented on #1527
This is fixed with pull request #1539

[2015-03-14 11:56] #1527 closed

[2015-03-15 01:03] chilicuil opened #1548 "Is the default branch (next) in github going to last?"
Hello,

Thanks for this great peace of software, some days ago I noticed the default branch was changed from "master" to "next" on github. I wonder if this change is going to last, I have an script who fetches, patches and builds i3 continuously so I'd prefer to pointing it out the stablest branch.

Regards

[2015-03-15 01:53] acrisci commented on #1548
It makes a lot of sense to make the default branch `next`.

On the bug tracker, we require that people use this branch for issues to be valid.

For pull requests, we require that people use this branch for patches to be accepted.

It keeps all the repo stats and code on the front page up to date.

It's easy for you to modify your script to get the master branch.

    git clone -b <branch> <remote_

[2015-03-15 04:39] chilicuil commented on #1548
Thanks for replying so fast!, indeed I agree, I was just wondering. Best regards

[2015-03-15 04:39] #1548 closed

[2015-03-15 09:46] He-Ro commented on #1543
The fix by @shdown worked for my problem with the i3bar.
![fixed-offset](https://cloud.githubusercontent.com/assets/3579374/6655401/539ab9c4-cb00-11e4-8c04-13d7f55345fc.png)

I didn't test it on the titlebar!

[2015-03-15 11:33] nonchip opened #1550 "feature request: scrolling over i3bar blocks should generate click events instead of switching workspace"
there should be the possibility (=config option) to make i3bar not switch the workspace but instead generate click events when scrolling while hovering an i3bar-json-block, for example for volume control/etc.

i'll implement&pullrequest this if you agree.

[2015-03-15 11:34] Airblader commented on #1550
This already exists.

[2015-03-15 11:35] nonchip commented on #1550
i did, but it still scrolls through workspaces. since when does this exist?

[2015-03-15 11:36] Airblader commented on #1550
I don't know what release introduced this, but it was a while ago. At the very least since 4.8, but probably sooner than that.

[2015-03-15 11:45] nonchip commented on #1550
well, i just rebuilt from master and tested, it still doesn't do that

Binary i3 version:  4.9.1-55-gcd48bcf (2015-03-14, branch "next") © 2009-2014 Michael Stapelberg and contributors
Running i3 version: 4.9.1-55-gcd48bcf (2015-03-14, branch "next") (pid 2315)

[2015-03-15 11:46] nonchip commented on #1550
oops, nvm, just realized i'm still running plain i3status on this host, migrating to my i3cat setup (that utilizes click events) in a minute and retrying

[2015-03-15 11:46] Airblader commented on #1550
Can you post the script that generates your JSON as well as some example JSON?

[2015-03-15 12:01] nonchip commented on #1550
ok, now it works. seems I'm still using 4.7 on the other host (I don't have access to right now) then.

[2015-03-15 12:01] #1550 closed

[2015-03-15 20:25] mh21 commented on #1448
Not sure what that means, but if I start lowriter under xtrace ("xtrace lowriter --writer") with i3 upstream next, the color popup is rendered correctly.

[2015-03-15 21:07] Airblader commented on #1448
@mh21 Hm, I cannot confirm this. Running it through xtrace still has the same issues for me. Out of curiosity, though, since `xtrace` logs all X communication – can you post the log from when you click the popup?

[2015-03-15 21:59] mh21 commented on #1448
xtrace log at https://drive.google.com/file/d/0Bwk9b3e5-K60dzFJNENjQ1dLYTQ

[2015-03-15 22:23] mh21 commented on #1448
xvis11 log at https://drive.google.com/file/d/0Bwk9b3e5-K60dmxCWGlnaS0tNms

The interesting part starts at "startlowriterbug", which was shortly before I clicked on the button. The actual window created has the name  "Tekstkleur".

[2015-03-16 07:43] mh21 commented on #1448
@Airblader, could you also post your xtrace log?

[2015-03-16 18:21] ErikThorsell opened #1552 "Mouse cursor vanishes when moved to the top of screen in portrait."
When moving the mouse cursor to the top of my secondary screen, which is in portrait, the cursor vanishes. This only happens for the last 10-20 px and I would not have found this if it wasn't for my friend whom just installed i3 and had the exact same issue.

I am running i3 on Arch (so is he) and I am using a 2560x1440 screen while he is using a 1920x1080 screen (both in portrait).

Logfile: http

[2015-03-16 18:44] Airblader commented on #1448
@mh21 I would, but for some reason xtrace won't work for me. It complains about the silliest things (missing xterm, I have to fully specify the path to `lowriter`, …) and when it does run the program, it doesn't print anything. Not sure what's going on…

[2015-03-16 20:28] Airblader opened #1554 "Test cases throwing a lot of warnings"
When I execute the testsuite, I get countless of these warnings:

[code]

[2015-03-16 21:40] stapelberg commented on #1554
Fixed with d1f99abf75bbb6df520f48a45b954d24eb5c42c7

[2015-03-16 21:40] #1554 closed

[2015-03-16 21:47] stapelberg commented on #1502
A logfile of the session before you restart and after you restart. So, just run `i3-dump-log` twice :).

[2015-03-16 21:54] stapelberg commented on #1552
i3 is not involved in handling the mouse cursor, and it will never hide it, nor is it up to i3 to show/control it. The only thing we ever do that influences cursors is pointer warping when switching focus to a different output and setting a specific pointer when resizing.

I strongly doubt this is an i3 issue. Can you test a couple of other window managers to see whether this happens with others a

[2015-03-17 18:57] saosr commented on #1435
For the record

I just reproduced the error with version

i3 version 4.9.1 (2015-03-07, branch "4.9.1") © 2009-2014 Michael Stapelberg and contributors

Thank you

[2015-03-17 19:56] Airblader commented on #1073
@stapelberg  I would feel fairly confident that this issue has disappeared. Even if it didn't, with the recent changes it'd probably be worth closing this and waiting for a reopen if it happens again.

[2015-03-17 20:03] Airblader commented on #1179
@stapelberg I would vote for closing this issue. As you said over a year ago, this is perfectly doable with the IPC. That's sort of what it's for, anyway.

[2015-03-17 20:09] Airblader commented on #1181
@stapelberg I think this should be closed as "not reproducable". OP doesn't seem to have interest in this anymore and no one else complained about it. It might not be an i3 issue at all.

[2015-03-17 20:13] Airblader commented on #1317
@stapelberg  I use urxvt and am unable to reproduce this. Given that the OP didn't answer this in half a year and that no one else had this issue, I'd vote to close it (yes, I'm going through issues to see what can/should be cleaned up :smile: )

[2015-03-17 20:14] Airblader commented on #1443
#1541 would fix this.

[2015-03-17 20:50] teto commented on #1443
I am the creator of the issue. I've not tested the fix but others say it works so you may close this. I will reopen it if it does not work.

[2015-03-17 20:52] Airblader commented on #1443
Well the referenced PR hasn't been merged yet so until then this should stay open.

[2015-03-19 16:46] Hessesian commented on #1343
Just tested it again on Intellij IDEA 14, and the issue doesn't seem to be present, so the bug has probably been fixed by Intellij.

I suggest to close bug

[2015-03-21 12:23] acrisci opened #1558 "Cannot start with config given by process substitution"
Starting i3 with:

[code]

gives

[code]

I would expect it to start i3 with the config given at `~/.i3/config`.

i3 version 4.9.1-61-g09e4fb7 (2015-03-16, branch "next") © 2009-2014 Michael Stapelberg and contributors

[2015-03-21 15:31] shdown commented on #1558
Seeking (that i3 somewhy requires) on pipes (that `/dev/fd/*` files are) is not allowed.

With zsh, you can do
[code]
(but not `exec i3 ...`, or the tempfile will not be removed.)

With bash, well...
[code]
(`exec` is OK here.)

[2015-03-21 15:32] #1543 closed

[2015-03-21 15:45] #1073 closed

[2015-03-21 15:45] #1179 closed

[2015-03-21 15:46] #1181 closed

[2015-03-21 15:46] #1317 closed

[2015-03-21 15:47] #1343 closed

[2015-03-21 18:02] stapelberg commented on #1542
Can you please provide a logfile? I want to look at your config file and how you’re triggering i3bar, and what i3 makes of all that. The bot asks for a logfile for a reason :).

[2015-03-21 18:03] stapelberg commented on #1435
@saosr Can you provide a logfile please? See http://i3wm.org/docs/debugging.html

[2015-03-21 18:08] stapelberg commented on #1510
@Airblader Agreed. Could you send a pull request which documents this in the right place please?

[2015-03-21 18:13] Airblader commented on #1542
For the record, I was able to reproduce this. I couldn't quite track it down; my best guess is that it has to do with the un- and remapping of the bar.

[2015-03-21 18:23] #1531 closed

[2015-03-21 18:31] shdown commented on #1443
I guess this can be closed.

[2015-03-21 18:35] Airblader commented on #1510
Done with #1561

[2015-03-21 19:10] stapelberg commented on #1542
@Airblader Can _you_ provide a logfile then?

[2015-03-21 19:14] #1443 closed

[2015-03-21 19:46] Airblader commented on #1542
[code]

[2015-03-21 19:57] Airblader commented on #1502
1. First log file, created after running the `append_layout` command: http://logs.i3wm.org/logs/5704147139559424.bz2
2. Second log file, created after restarting i3: http://logs.i3wm.org/logs/5719238044024832.bz2
3. Used layout file: http://pastebin.com/DbqTXCHJ

I also noticed (in a previous attempt) that I had another two terminals open on my last workspace. When I restarted i3, the placeholder

[2015-03-21 20:08] stapelberg commented on #1448
@Airblader Do you have the right xtrace? On Arch, it’s called x11trace.

Unfortunately, I cannot reproduce this issue. From the logs it seems like LibreOffice is unmapping the window, and the discussion makes me think this is some sort of race condition.

The X11-related source in LibreOffice seems to live in `vcl/source/app/`

[2015-03-21 20:15] stapelberg commented on #1448
Seems like I spoke too hastily. I think I can reproduce this sometimes, if I just keep trying long enough.

[2015-03-21 20:19] Airblader commented on #1448
@stapelberg Thanks for the hint. I use Manjaro, but unfortunately the package `x11trace` doesn't seem to exist.

[2015-03-21 20:54] stapelberg commented on #1448
breaking on XUnmapWindow in gdb reveals:

[code]

and

[code]

My current suspicion is that for some reason, LibreOffice maps/unmaps the same window repeatedly without waiting for i3 to catch up. Let’s see if that’s true…

[2015-03-21 21:07] stapelberg commented on #1448
The part of the LibreOffice code we’re dealing with here is very complex and big. I took a look, but I’m not motivated to spend more time looking into that code.

I think at this point, the best way to proceed is to raise this issue upstream with the LibreOffice developers.

[2015-03-21 21:51] #1542 closed

[2015-03-21 22:03] #1501 closed

[2015-03-21 23:09] stapelberg commented on #1536
Sorry for the late reply.

I think you’re correct.

The problem here is that your workspaces are called e.g. “4F” — i3 will look at the beginning of the workspace name and treat it as a numbered workspace if the name begins with a number. That means a workspace called “4” has number 4, a workspace called “4: www” has number 4 and, in your case, a workspace called “4F” has number 4.

Now, the chang

[2015-03-21 23:09] #1536 closed

[2015-03-21 23:13] stapelberg commented on #1484
Sorry for the late reply.

@acrisci No, splitting floating containers is intentionally not possible. The rationale is that floating windows should be simple popup windows and you should try to avoid them as much as possible. I realize that this is not 100% consistent with making any container floating, but that’s how it is. I think if anything, we’d want to restrict the floating split containers u

[2015-03-21 23:19] Airblader commented on #1536
@stapelberg I thought the colon after the number was necessary. Should `4F` really be considered as a workspace with number 4 and treated the same as `4:F`?

[2015-03-22 00:38] acrisci commented on #1536
I agree that this change was a mistake. Are you sure it's too late to revert it? There was no documentation change with this change, so the only way people not following development would hear about it is in the changelog.

[2015-03-22 00:40] acrisci commented on #1484
It seems weird to me that if you want to split a floating window, you must first make it tiling, then split it, then make it floating again.

[2015-03-22 09:20] acrisci opened #1565 "Don't parse bar blocks as markup by default"
When I suggested to use markup, I didn't think there would be any breaking changes to statusline generators. Now I know that there are some characters that may cause the string to not display properly.

Pango markup must be escaped like XML. For instance, the characters `<` and `&` must be escaped as `&lt;` and `&amp;` respectively.

This will cause problems with any block that displays a string f

[2015-03-22 09:28] stapelberg commented on #1536
@Airblader See `ws_name_to_number` in src/util.c — the colon is not necessary.

@acrisci I’m thinking we might release a new major release rather soon which addresses both this change in behavior and the markup change. I’ll think about it a bit.

[2015-03-22 09:30] stapelberg commented on #1484
Agreed, but as I said, you shouldn’t want to split a floating window. On the other hand, making an existing tiling container floating is something we’ve introduced with version 4.

[2015-03-22 09:49] spippi commented on #1448
how we can do this? i'm not an expert
thank you

[2015-03-22 09:50] Airblader commented on #1448
Report the bug at https://bugs.documentfoundation.org// and link to this issue from there as well.

[2015-03-22 10:08] stapelberg commented on #1448
Actually, wait a minute with that. I’m currently looking into this again from a different angle, and it could be that i3 is not handling withdrawn windows correctly. I’ll update this issue once I know more.

[2015-03-22 10:15] spippi commented on #1448
https://bugs.documentfoundation.org/show_bug.cgi?id=90155

[2015-03-22 11:46] stapelberg commented on #1448
See https://bugs.documentfoundation.org/show_bug.cgi?id=90155#c3 for the results of my investigation.

Currently I’m convinced this is a bug in LibreOffice, they’re violating the ICCCM specification.

[2015-03-22 13:37] stapelberg commented on #1565
SGTM.

[2015-03-22 17:38] nvanggaard commented on #1536
Maybe it could be made as a feature, which the user should enable.

[2015-03-22 18:18] stapelberg commented on #1536
@nvanggaard No — the functionality is already present as the “workspace number” command if the user desires to use that behavior.

[2015-03-22 18:41] vimeitor opened #1566 "i3-config-wizard should be aware of ~/.config/i3"
If you have your i3 configuration under ~/.config, i3 wizard says i3 is not yet configured. It should respect it.

[2015-03-22 18:44] Airblader commented on #1566
Since we're on that, we should think about changing the wizard to create the config in that location rather than `~/.i3`.

[2015-03-22 18:49] stapelberg commented on #1566
Both sounds good to me. Pull requests welcome.

[2015-03-23 09:21] varmanishant opened #1567 "Minitube doesn't re-align"
Version : 4.7.2 (2014-1-23) branch "tags 4.7.2"
Distro : Linux Mint

While watching Youtube videos in Minitube, if I do a Mod+e (layout toggle split) to tile all the applications it doesn't realign back if I do a Mod+w (layout tabbed). Also it doesn't respond to Mod+Shift+q (kill). Can anyone help me with this problem? I have a workaround to move it to another workspace but can anyone address this

[2015-03-23 09:55] Airblader commented on #1567
A log file of a session where you open it, play the video, try to close it and maybe a log file of the workaround would probably be really helpful here. :)

[2015-03-23 13:38] acrisci commented on #1567
I can't reproduce this.

Update to the latest version and see if the problem still exists.

[2015-03-23 18:49] varmanishant commented on #1567
Thanks for checking acrisci and Airblader. I installed 4.8 from Ubuntu repos and its working fine. Issue can be closed! Will reopen if anything persists.

[2015-03-23 19:27] #1567 closed

[2015-03-23 19:29] #1092 closed

[2015-03-23 19:59] ultrabug opened #1569 "i3bar should pass instance key on tztime/time click events"
Hi,

Currently, when i3status passes a click event on a **tztime module** to an external program, it does not include its instance name (which is mendatory for tztime).

    {'y': 9, 'x': 2256, 'button': 1, 'name': 'tztime'}

Could you please make it so that i3status passes an `instance` key with the name of the tztime module being clicked ?

Please also make sure it does so on `time` modules with

[2015-03-23 20:17] Airblader commented on #1569
Can you post your `.i3status.conf`?

[2015-03-23 20:21] Airblader commented on #1569
@stapelberg I think this is an i3status issue because it looks like i3status only sets the instance JSON key for volume, but for nothing else.

[2015-03-23 20:33] y2kbugger opened #1571 "variable containg zero is broken"
version 4.9.1

    set $baseo3    #002b36
    set $base02    #073642
    set $base01    #586e75
    set $base00    #657b83
    set $base0     #839496
    set $base1     #93a1a1
    set $base2     #eee8d5
    set $base3     #fdf6e3
    set $yellow    #b58900
    set $orange    #cb4b16
    set $red       #dc322f
    set $magenta   #d33682
    set $violet    #6c71c4
    set $blue      #268bd2
    set

[2015-03-23 20:36] #1571 closed

[2015-03-23 20:39] Airblader commented on #1569
I'll send a PR to fix this, but it'll be against i3status.

[2015-03-23 20:44] ChrisDunder opened #1572 "changing focus between outputs focuses a different window in the destination output"
Hi,

First of all, thanks for this wm. I love it.

The issue I have is when switching from one output/monitor to the other via 'focus ...' (e.g. 'focus left') the focus on the destination output is switched to the window closest to the edge (e.g. furthest right) rather than the currently focused window. This even happens if I focus to the highest parent on the source output before moving focus to

[2015-03-23 20:46] Airblader commented on #1569
i3/i3status#10 should be fixed here: https://github.com/i3/i3status/pull/12

[2015-03-23 20:50] Airblader commented on #1572
This is the expected behavior, though. `focus left` is a command used for directionally changing focus to the nearest container. If this happens to cross the border of a workspace, so be it – it is not meant to focus the next output.

I think the behavior you want is

[code]

[2015-03-23 21:00] Airblader commented on #1569
The other modules currenty not setting this property seem to be cpu_usage, print_ddate, ip_addr, ipv6_addr, load.

[2015-03-23 21:11] stapelberg commented on #1571
As you probably noticed on your own, the problem is that one of your variables is contained in the other variables.

[2015-03-23 21:13] stapelberg commented on #1572
What @Airblader said :).

[2015-03-23 21:13] #1572 closed

[2015-03-23 21:13] y2kbugger commented on #1571
that was it exactly. man do i feel like a clone.

On Mon, Mar 23, 2015 at 5:11 PM, Michael Stapelberg <
notifications@github.com> wrote:

[2015-03-24 05:37] acrisci commented on #1569
Yes this is an i3status issue.

[2015-03-24 05:37] #1569 closed

[2015-03-24 05:41] acrisci commented on #1544
Duplicate of #1405.

[2015-03-24 05:41] #1544 closed

[2015-03-24 05:42] davidbaumann commented on #1544
OK, sorry didn't See this.

[2015-03-24 05:43] davidbaumann commented on #1405
I'd also like to see this :)

[2015-03-24 05:50] acrisci commented on #1472
It removes code duplication across the statusline generators and provides a common way to accomplish this, such as within the header.

Right now, you have to append the separator to `full_text` and use markup to make it the right color, or maybe add blocks between all the blocks with the `color` set appropriately. This requires an ipc connection to find out what color is set for the separator in t

[2015-03-24 05:55] acrisci commented on #1444
Can you still reproduce this with the latest version?

[2015-03-24 06:07] acrisci opened #1573 "Relative focus in `for_window` not working"
Commands that focus relative to the current window (such as `focus [direction]`) no longer work with `for_window`. This is a regression in version 4.8.

The problem is that when the window is managed,the `for_window` command runs before focus is set on the window.

To reproduce, put this in your config:

[code]

and open a terminal window. Focus remains unchanged, while it should move to the left.

[2015-03-24 06:08] acrisci commented on #1319
Closing in favor of #1573.

[2015-03-24 06:08] #1319 closed

[2015-03-24 06:09] acrisci commented on #1435
Closing in favor of #1573.

[2015-03-24 06:09] #1435 closed

[2015-03-24 06:15] acrisci commented on #1413
I can't reproduce this. Is the problem still in version 4.9?

[2015-03-24 08:18] stapelberg commented on #1472
If it doesn’t change behavior, I think that’d be okay. Can you send a pull request for that?

[2015-03-24 11:28] acrisci commented on #615
I was on a Windows machine the other day and noticed that it had this feature.

[2015-03-24 11:31] acrisci commented on #1514
If the issue is not present in 4.8, can someone run a bisect to find out what change introduced this bug?

[2015-03-24 11:35] acrisci commented on #1437
Closing due to inactivity.

[2015-03-24 11:35] #1437 closed

[2015-03-24 11:44] acrisci commented on #1425
I can reproduce this issue reliably with pgadmin3, but I get the same issue with openbox.

It also happens occasionally with Steam.

It used to happen with Skype, but they fixed it.

I'm pretty sure this is a bug in the toolkits, probably with multi-monitor support, that is being fixed.

[2015-03-24 12:53] Airblader commented on #1514
@acrisci Since this bug appears in many window managers it seems like it's more of an Eclipse issue, no? Maybe we should debug the X events that are going on. I'm not all that great with gbd, unfortunately.

[2015-03-24 13:16] davidbaumann commented on #1405
There's a bounty now: https://www.bountysource.com/issues/9939245-make-i3-nagbar-appear-on-the-primary-screen

[2015-03-24 13:22] acrisci commented on #1514
If someone could point to a particular commit where this issue first appears, that would help a lot for our understanding of the issue.

[2015-03-24 16:36] apeyser commented on #1129
Oh no -- it should be me much simpler, and would be terribly useful. Don't bother with docking --- in fact, I don't use any dock thingies in the i3bar because that is, in imho, silly on a large screen. Just write the text from top to bottom or bottom to top --- if you can't read sideways, you're not using i3.

Everyone is starting from interactive notions pioneered in the 80s for 640x480 single bl

[2015-03-24 16:47] Airblader commented on #1129
Well, such a big feature would be built for a large group of people and I don't think for the "general public", reading sideways is a a route we should go down.

[2015-03-24 16:52] Airblader commented on #1472
I'll start working on this unless Tony already did.

[2015-03-24 16:56] acrisci commented on #1472
@Airblader go ahead.

[2015-03-24 17:15] apeyser commented on #1129
Why not? It's just a question of tradition, and the large group of people that i3 appeals to should have no problem adapting.

[2015-03-24 17:53] stapelberg commented on #615
I think it should first be explored whether this can be put into a small external tool that is window manager independent.

[2015-03-24 18:19] hercek commented on #1444
Positioning of Meld window does not work with the released i3 version 4.9.1.
I'm not sure whether it is because of this race but the following config line works fine:
  for_window [class="Meld"] floating enable; $doTool windowmove 1080 1218
While this one does not work:
  for_window [class="Meld"] floating enable; move absolute position 1080 px 1218 px

---
set $doTool exec --no-startup-id xdotool

[2015-03-24 18:24] acrisci commented on #1444
Make sure you are using a comma and not a semi colon or it won't work properly. There is a bug with `for_window` right now where the window is not assumed to be focused that will cause problems (see #1573).

This works fine for me:

    for_window [class="Meld"] floating enable, move absolute position 10 px 10 px

[2015-03-24 18:28] gurvindersingh opened #1576 "support for selectSearchBrowser function"
Hi i3wm community

I am new to i3wm and have to say quite like it. I am missing one feature from xmonad which I use quite often is selectSearchBrowser. This feature allowed me to select text anywhere in my system e.g. terminal, editor or browser itself and enables me to search this text in search engine using default browser. I am wondering if there is such option available in i3wm already, if not

[2015-03-24 18:33] acrisci commented on #615
I think it certainly could be put into an external tool. Maybe someone has already written it, but I would have no idea how to find it.

[2015-03-24 18:34] Airblader commented on #1576
I might be wrong, but this hardly seems like the responsibility of a window manager to me. Why not just write a script/tool that does this?

[code]

[2015-03-24 18:42] acrisci commented on #1576
Here you go:

    firefox --search "$(xclip -o -selection -primary)"

Put this in one of your key bindings with an `exec` statement.

[2015-03-24 18:56] hercek commented on #1444
Yes, it works with comma on my machine too.

[2015-03-24 19:25] gurvindersingh commented on #1576
Thanks that was quick :-)

[2015-03-24 19:25] #1576 closed

[2015-03-24 19:40] shdown opened #1577 "Command parser: no way to represent a random string ends with a backslash"
The double-quotes escaping method i3 supports offers no way to represent a backslash in the end of a string, because `\"` is always interpreted as escaped `"`.

This causes the following effect (steps to reproduce):

- Run `i3-msg workspace 'test\'`;
- Click on the workspace button labeled `test\`;
- i3bar sends the message `workspace "test\"` and then the command parser interprets it as `workspac

[2015-03-24 20:02] teto commented on #615
(@acrisci which windows ? I am running 8.1 right now and it doesn't warp.)

[2015-03-24 20:46] stapelberg commented on #1577
Yep, being able to escape backslashes sounds like the correct fix to me.

[2015-03-24 22:55] jirib opened #1579 "i3-msg socket path should follow i3 default socket path"
Hello,
I use `i3-msg` from outside of X11 env, thus `i3-msg` doesn't find socket path info from X11 root window, IIUC.
[code]
Thus it would be nice if `i3-msg` would use `i3` default socket path by default, so I do not need to to explicitly define it.
(`i3-msg` runs OK when executed from X11 env, but I talk for example about scripts running from cron etc. using `i3-msg`).
Thanks!

Version: i3-4.8p

[2015-03-24 23:13] acrisci commented on #1579
I would be weary of this change because it seems like too much guessing. If i3 is not running on the display, or if there is no display, I think an error is appropriate. Keep in mind that there could be any number of i3 processes running at one time.

The best way to do this is to find your display env variable:

    echo $DISPLAY

It's probably something like `:0`. Then in your script:

    DISPL

[2015-03-24 23:21] jirib commented on #1579
Sorry but the purpose of socket communication is just that - use the socket. Why would I need to know DISPLAY if I want to use socket? That doesn't make much sense.
From `man i3`:
[code]
OK, valid point is there could be more `i3` instance of the one user. Thus I'm closing this bug as I overlooked that "external" `i3-msg` cannot know which instance it wants to talk, that's why there's XXXXXX in th

[2015-03-24 23:21] #1579 closed

[2015-03-24 23:23] jirib commented on #1579
Ah, got it about DISPLAY :) One discovers everyday some new things, thanks!

[2015-03-25 07:35] stapelberg commented on #1489
I’d argue that having the outputs disappear is a bug in your driver that should be fixed.

That said, I agree that it’s an inconvenience for which there doesn’t seem to be a good workaround. I’ll accept a pull request which adds a timeout called `delay_exit_on_zero_displays` (see `force_display_urgency_hint` for another implemented timeout).

[2015-03-25 09:03] stapelberg commented on #1502
I think there’s multiple issues:

1. We don’t call `restore_open_placeholder_windows(croot);` when restoring a layout after restarting (easily fixed).

2. Sometimes, windows are swallowed into placeholder containers. Still need to address that.

I think the issue you were describing might be orthogonal to these. Please test once the fix has landed and file a new issue in case you can still reprodu

[2015-03-25 14:48] acrisci commented on #1378
I'm not exactly sure what's going on here. Some applications have this behavior and some don't. It could be a quirk in X. It's not present in Openbox.

Either way, it doesn't seem like a huge issue, but something someone could look into.

[2015-03-25 15:05] acrisci commented on #1328
I'm pretty sure this was fixed in 105db325. This fixed #1383 which sounds like the same issue.

Can anyone still reproduce this?

[2015-03-25 15:09] acrisci commented on #1288
There were some changes recently to DPI handling that very likely fixed this issue. Can anyone still reproduce this on the latest version?

[2015-03-25 15:14] acrisci commented on #1213
Closing due to inactivity.

[2015-03-25 15:14] #1213 closed

[2015-03-25 16:42] Airblader commented on #1330
This should perhaps be closed due to inactivity. It's been nine months. Plus, it should be an issue against i3/i3status.

[2015-03-25 17:06] #1330 closed

[2015-03-25 17:29] acrisci opened #1581 "`restart` command does not return a command reply"
The `restart` command should return a command reply.

To reproduce:

[code]

[2015-03-25 19:13] stapelberg commented on #1581
That’ll require some refactoring. Not sure if it’s worth it. Is there a good use-case behind this?

[2015-03-25 19:46] acrisci commented on #1581
It's a weird case to handle in anything that runs a command and checks whether or not an error occurred.

[2015-03-25 19:50] #1502 closed

[2015-03-25 19:52] stapelberg commented on #1581
That’s true, but what’s the specific use-case? When do you need to restart i3 programmatically and be sure that it worked (which you can’t be sure about, except by reconnecting to i3 afterwards)?

[2015-03-25 19:59] acrisci commented on #1581
I have an [i3-input replacement](https://github.com/acrisci/i3ipc-python/blob/master/examples/i3-cmd) that adds the last command to a history file if it ran successfully. I have to figure out how to add a `restart` command to the history file.

[2015-03-25 20:01] stapelberg commented on #1581
Just special-case it and always add it? `restart` can never fail because of bad input or anything.

[2015-03-25 20:27] Airblader opened #1584 "Append layout to specific workspace"
If I want to set up a layout on several workspaces,  I have to focus each workspace and append the layout. It'd be easier to set up a complex layout if I could specify where to insert it without switching to that workspace:

[code]

[2015-03-25 20:29] acrisci commented on #1581
I guess I could do that.

[2015-03-25 20:48] Airblader commented on #1502
I can confirm that the fix works. Thanks!

[2015-03-25 21:08] Airblader opened #1585 "Open workspace based on binding names"
This is a reopen for #1414.

The bindings in the config are only considered for naming the workspace in `create_workspace_on_output`. However, `workspace number 3` doesn't call this method. Instead it will call `workspace_get` which will name the workspace with its number and disregard a name potentially given in a binding.

Is it acceptable to add this behavior to `workspace_get`? I'd consider th

[2015-03-25 21:10] stapelberg commented on #1585
Use e.g. `workspace number 4: www`.

[2015-03-25 21:10] #1585 closed

[2015-03-25 21:14] Airblader commented on #1585
But that defeats the purpose. I want to open what is my third workspace and I want to do so from a script. The script doesn't have the workspaces names my config has. With the current behavior, a new workspaced named "3" will be opened instead of the workspace "3:www" that my binding to switch to my third workspace will switch to.

This is especially somewhat inconsistent with the fact that the sa

[2015-03-25 21:15] stapelberg commented on #1584
Since this is scripted anyway, all you’re asking for is a slightly different syntax. `append_layout` currently takes a string, so we’d need to introduce this functionality is a flag, e.g. `append_layout --workspace "2: www" layout.json`, at which point just doing `workspace "2: www"; append_layout layout.json` is just a couple characters difference.

I’m not convinced this is a significant-enough

[2015-03-25 21:17] stapelberg commented on #1585
Yes, your script will need to match your config.

I’m not saying this is great, but this is how things are. Changing the design of how we do workspaces now is something I consider impossible. See also our recent foray into changing the behavior of the `workspace` command, which was recently rolled back and is the cause for a very-soon new major release :|.

[2015-03-25 21:18] Airblader commented on #1584
Why would we introduce a `--` flag? i3 commands generally don't have that.

This is only ambiguous if there are spaces in filenames. I didn't consider this before, though – it's perfectly legal. So I agree that the benefit doesn't this.

[2015-03-25 21:18] #1584 closed

[2015-03-25 21:19] stapelberg commented on #1584
The `exec` command has `--no-startup-id`, and some configuration directives also have flags, e.g. `bindsym`’s `--release`. I thus consider this the canonical way of implementing options in i3 :).

[2015-03-25 21:21] Airblader commented on #1585
Mh. You're certainly right that this change would have a good chance of breaking someone's setup.

I also can't think of a reasonable way to add an alternative doing it this way, though I'd consider it a nice-to-have feature given the use-case and inconsistency of the command to itself depending on whether the workspace already exists.

[2015-03-25 21:23] Airblader commented on #1584
Ah, yeah. I forgot about those. :) Well, either way, filename spaces kill this idea anyway.

[2015-03-25 21:26] stapelberg commented on #1585
I’d be open to adding an IPC command type that just returns the list of parsed bindings. I think that’d be the best thing considering the situation.

[2015-03-25 21:30] Airblader commented on #1585
I'll keep that in mind, but for now I'll try binding execution of my script to a key and simply passing all workspace names. That way they stay in the config. It means I have to trigger it from a binding rather than, say, an alias in my shell, but that should be fine.

If anyone (including me) does have a need for such an IPC command I'll open a corresponding ticket. Thanks for your help!

[2015-03-25 21:49] #1472 closed

[2015-03-25 21:59] Airblader opened #1586 "[enhancement] sep_block_width for all blocks"
#1578 likely requires the user to change the `sep_block_width` which currently has to be done on each individual block. If not specified, there is a default value, which is currently hardcoded.

Can we add a config directive to the bar config that sets this default value?

[2015-03-25 22:00] stapelberg commented on #1586
I’d like to avoid blowing up the config file. Why is it infeasible to set this on every block? Should be a simple change in your status line generator of choice, right?

[2015-03-25 22:05] Airblader commented on #1586
Sure. Just asking and documenting.

However, how about adding the separator text width to the default value for blocks that don't set a sep_block_width on their own?

It'd be completely internal and the user only has to change the width themselves if they explicitly want a different value. I probably should've done this in the PR right away.

[2015-03-25 22:07] SBSTP opened #1587 "Debian: i3-sensible-terminal does not start without xterm (packaging)"
I installed i3 on a fresh debian jessie and `i3-sensible-terminal` wouldn't open. Trying to debug the issue, I installed `xterm` which fixed the issue. So the issue seems to be that `xterm` should be a dependency of i3 on debian.

I know this isn't an issue with i3 itself, however you might be more familiar than me with the debian process required to get this fixed.

Edit: version `i3 version 4.8

[2015-03-25 22:10] Airblader commented on #1587
Which terminal emulator is installed on a fresh Debian? Sounds more like it that one is missing in the list of editors.

Any distro should come with some terminal emulator and as long as that one is in the list, there shouldn't be any problem.

[2015-03-25 22:11] Deiz commented on #1566
I can implement this soon, using $XDG_CONFIG_HOME/i3/config as the write path, and checking ~/.i3, $XDG_CONFIG_HOME/i3, plus i3 within each directory specified in $XDG_CONFIG_DIRS before running.

[2015-03-25 22:12] SBSTP commented on #1587
I didn't install any desktop environment. I installed and booted into a TTY. I logged in as root and installed i3. It didn't even have X or a DM when I installed it.

[2015-03-25 22:16] stapelberg commented on #1587
No, xterm should not be a dependency of i3.

See https://packages.debian.org/jessie/i3-wm, the i3-wm package suggests you install either rxvt-unicode or x-terminal-emulator.

[2015-03-25 22:16] Airblader commented on #1587
Oh, okay. Makes sense not to have a terminal emulator in that case.

I'm not sure there should be a hard dependency on this. It forces people to install an emulator they may very well not need. In fact, with the current version, it would mean that someone using, e.g., `gnome-terminal` would be forced to install `xterm` which would then open instead of `gnome-terminal`.

`i3-sensible-terminal` is o

[2015-03-25 22:19] stapelberg commented on #1587
I guess we could raise `rxvt-unicode | x-terminal-emulator` from Suggests to Recommends. The difference is explained on https://www.debian.org/doc/debian-policy/ch-relationships.html.

[2015-03-25 22:21] Airblader commented on #1129
But once this "tradition" is set, it is set in stone and can't be changed easily. And I'm not convinced a 90 degrees rotated bar is really beneficial (also, I'm not sure XCB offers an easy way to rotate an entire pixmap like that).

[2015-03-25 22:29] SBSTP commented on #1587
I guess that would be easier for new users. I didn't read the suggestions when installing. It felt like there was a bug, because `Alt+Enter` didn't work (but the rest did).

[2015-03-25 23:55] acrisci commented on #1587
Maybe `i3-sensible-terminal` should warn you if you don't have one of the sensible terminals installed.

[2015-03-26 08:19] #1587 closed

[2015-03-26 11:22] acrisci commented on #1586
I think that the statusline related things should go into the statusline config.

[2015-03-26 14:34] rjpcomputing commented on #581
Any update on the status of this. This seems like it would help me quite a bit. I am on a 3-4 monitor setup and would like this feature.

[2015-03-26 15:50] Airblader commented on #581
Looks like no one submitted a patch and followed up on it long enough to have it merged.

[2015-03-26 17:53] #1586 closed

[2015-03-27 00:14] Deiz commented on #1378
Looked at this briefly and I suspect it's an X fallback behaviour, since there's nothing in the workspace to consume the events.

If I'm correct, one workaround might be creating an invisible window on the empty workspace and setting focus to that, though that's a lot of complexity for a very minor issue.

[2015-03-27 00:38] Deiz commented on #1484
I implemented a fair bit of that behaviour, and my usage case at the time was for quickly punting workspaces between outputs, as well as merging workspaces together.

For my use, the floating workspaces were entirely transient and I largely stopped working on them after implementing the basics.

That said, I don't recall the tiny window behaviour, that may be a regression. Resize on split floating

[2015-03-27 03:19] Deiz commented on #1484
Dug into this issue a bit, when the assertion fails, assigned is always 1.5x total.

The workspace container has two children: One is 100% of the width, the other is 0%, and there's special handling for <= 0% which turns it into 1/children, resulting in the extra 50%.

I won't have time to look at this more closely until tomorrow, but I suspect it's an issue with con_fix_percent not being called p

[2015-03-27 08:02] #1294 closed

[2015-03-27 08:33] Airblader commented on #1405
I gave the primary output thing a shot. For display on all outputs I'd need some hints or references. If this does get merged, please just donate the bounty to Michael.

[2015-03-27 08:39] #1318 closed

[2015-03-27 08:40] #1577 closed

[2015-03-27 11:46] Airblader commented on #555
I implemented this, but it breaks existing behavior. See `518-interpret-workspace-numbers.t`. With this config:

[code]

[2015-03-27 12:01] bhcopeland opened #1594 "Please delete."
Message has now been deleted, found a bug in the X-Org driver instead

[2015-03-27 13:50] #1594 closed

[2015-03-27 14:05] acrisci commented on #581
This discussion is mostly from a very old version. What's the current thinking on this?

[2015-03-27 14:20] acrisci commented on #1402
Since this is an issue with i3status, if this is still an issue, this discussion should be moved to the i3status issue tracker.

[2015-03-27 14:20] #1402 closed

[2015-03-27 14:39] acrisci commented on #1424
If someone can confirm exactly what needs to be done to support this, we can consider accepting it.

[2015-03-27 14:54] Airblader commented on #1424
I just did some `xprop` tests. Setting `_NET_WM_STATE_HIDDEN` does trigger the desired behavior (and in the case of Chrome actually suspends the browser entirely until the flag is removed again).

[2015-03-27 14:59] acrisci commented on #1291
It seems that they aren't drawing anything in that portion of the window. The bug is only present when there the container has `border none`.

I'm not sure who is responsible for drawing in that area. It might be a bug with mplayer.

mpv is a similar media player, and it handles this case just fine.

[2015-03-27 15:28] acrisci commented on #1424
I agree that `_NET_WM_STATE_HIDDEN` is inappropriate for i3 because we don't have a concept of minimization.

Thinking about the spec logically, if chromium were on another workspace, if that workspace were active, then the chromium window would be visible. Therefore the property is not appropriate by the terms in the spec.

[The spec](http://www.w3.org/TR/page-visibility/) seems to indicate this

[2015-03-27 15:28] #1424 closed

[2015-03-27 15:38] acrisci commented on #1185
There's not enough info to work on this issue. This issue needs steps to reproduce or a log or something.

I'm pretty sure this has been fixed.

[2015-03-28 00:30] Airblader commented on #1385
* If this is an Eclipse issue, why do we keep it open?
* The Eclipse issue now has an answer. Can anyone confirm that?

[2015-03-28 00:44] Airblader commented on #1271
I think this deserves the bug label. And the fact that x/y aren't printed for floating containers I can reproduce.

[2015-03-28 00:57] acrisci commented on #1385
Yeah, it does look like this is a change of behavior in eclipse rather than a bug in i3.

[2015-03-28 00:57] #1385 closed

[2015-03-28 06:56] gfa commented on #581
i'm still using 4.2 as that was the version this patch applies

[2015-03-28 09:08] #1565 closed

[2015-03-28 09:11] stapelberg commented on #1424
@acrisci Why exactly can i3 not set `_NET_WM_STATE_HIDDEN` when Chrome is on a workspace that is not currently visible? I didn’t get that from your last comment.

[2015-03-28 11:11] stapelberg commented on #581
@gfa: does https://github.com/i3/i3/blob/next/contrib/per-workspace-layout.pl not address your needs? If not, what’s missing from that?

[2015-03-28 13:31] acrisci commented on #1424
The spec says:

So if Chrome is on a hidden workspace, but it would be visible if the workspace was focused, then it should not have this property.

However, you could make the argument that the property might be appropriate for any window hidden in a stack or tabs.

[2015-03-28 14:07] lkraav commented on #1424
I would really like to have an experimental toggle for this anyway for hidden workspaces. Maybe the spec just wants to stay manageable and not worry about virtual desktops too much? I've been thinking about some kind of a "pkill -STOP background-process" for hidden desktop apps for a while now, mainly to enhance laptop battery life.

[2015-03-28 14:20] Airblader commented on #1424
As stated in my earlier comment, I interpret the spec such that this property should not be set in this case, though from a practical point of view I don't really see why we wouldn't. Does anyone know how other window managers (with a concept of workspaces) handle this?

@lkraav Just in case – this could also be scripted with the IPC, though it certainly wouldn't be an ideal solution.

[2015-03-28 14:37] acrisci commented on #1424
@lkraav someone submitted [this script](https://github.com/acrisci/i3ipc-python/blob/master/examples/stop_application_on_unfocus.py) to my ipc project that stops an application whenever it loses focus to save battery. That might be a good basis for your use case.

[2015-03-28 14:45] acrisci commented on #1424
@Airblader just tested with openbox desktops and the visibility api behaves the same as it does in i3 now.

[2015-03-28 17:12] stapelberg commented on #1424
Ah, thanks for pointing out the sentence I overread, @acrisci.

We definitely should keep the current behavior, i.e. stay within the spec.

If it turns out that Chrome (and other browsers) can actually easily suspend themselve and would want to do that for the use-case at hand, that should be fixed upstream. I’m happy to support any spec-compliant hint which would be necessary for that.

[2015-03-28 17:18] stapelberg commented on #1271
For context, the mentioned patch is:

[code]

[2015-03-28 18:02] acrisci opened #1598 "Move `separator_symbol` from the bar config to the statusline header"
I think the `separator_symbol` option belongs in the statusline config because it has to do more with the presentation of the statusline rather than the bar. I propose we move it to the header of the statusline.

[2015-03-28 18:03] Airblader commented on #1598
Wouldn't the same apply to the color configuration of, for example, the separator?

[2015-03-28 18:10] acrisci commented on #1598
I think you could make that argument, but it's very practical to have all the colors in one file for theming with color definitions or programs such as i3-style. And the bar block needs a color block anyway because most of the colors that are configurable affect other parts of the bar.

The `separator_symbol` seems to be the only other option that affects only the statusline.

[2015-03-28 18:18] Airblader commented on #1598
Agreed. The only downside to this is that all statusline generators has to adapt first before the feature can be used. That's not a very *good* argument, however. The directive does seem a little out of place there.

It's sort of impractical that i3bar's configuration is mixed with its live input. Would've been great to have a separate `~/.i3bar/config`.

[2015-03-28 20:58] vivien commented on #1598
I'm not sure about that change. What actually goes into the header, defines how i3bar should interact with its status command. For instance, the version tells i3bar to parse the output as json, and `click_events=true` asks i3bar to write clicks to its stdin. Even though centralizating presentation config is a good argument, this `separator_symbol` doesn't affect the interaction between i3bar and i

[2015-03-28 21:06] acrisci commented on #1598
What about a per-block member? We could make the existing `separator` member and expand it to accept a string value, which would be the symbol used.

[2015-03-28 21:07] Airblader commented on #1598
@acrisci I considered that when implementing this (in fact, I finished implementing it that way first). However, doing it that way sort of defeats the purpose because at that point you might as well append it to every block's full_text or use a separate block.

[2015-03-28 21:18] Airblader commented on #1598
On the other hand, the `sep_block_width` is per-block as well and the new property typically will have to be used in combination with that. But one could argue that instead that property should have a default directive as well.

I guess I wouldn't mind turning the new property into a per-block property by extending the existing `separator` property. It still makes it a bit easier than separate blo

[2015-03-28 21:27] acrisci commented on #1598
I think that anything that affects the presentation of the text of the statusline should be configurable by the statusline generator.

[2015-03-28 21:47] vivien commented on #1598
Or, having something as I mentionned in https://github.com/vivien/i3blocks/issues/97#issuecomment-87316155, but that may be too ambitious.

[2015-03-28 22:25] Airblader commented on #1239
I'd prefer ease of writing tests over execution speed. Don't get me wrong, I very much don't want the two hour Jenkins run I have at work, but I absolutely can wait a minute. The time spent writing even simple tests is much more expensive and frustrating.

[2015-03-28 22:29] Airblader commented on #1175
@mkaito (I hope linking works) Were you the author of this issue? Can you still reproduce this? Have you tried my suggestion above (conky buffer)?

Otherwise I close for a vote here. There is good reason to assume a buffer issue (at least I had this issue when I was using conky). There's always a reopen if the issue comes up again.

[2015-03-28 22:32] Airblader commented on #1124
@acrisci I'm assuming you authored this issue? It's fairly old now; can it still be reproduced?

[2015-03-28 22:35] Airblader commented on #1058
@stapelberg I could probably give this the same fix as i3-nagbar. If, instead, we want to go for the current workspace rather than the primary (active) output, what's the easiest way to get the coordinates? Starting to communicate through the i3 IPC is probably a fair bit of work. Is there some useful EWMH hint i3 complies with that could be used?

[2015-03-29 00:02] acrisci commented on #1124
@Airblader yes, spotify cannot be fullscreened from the tiling state for me.

[2015-03-29 02:25] wufufufu opened #1602 "Segmentation fault on i3 -C -d all"
03/28/2015 10:21:22 PM - config_parser.c:parse_file:906 - Got new variable $mod = Mod4
03/28/2015 10:21:22 PM - config_parser.c:parse_config:313 - CONFIG(line   1): # This file has been auto-generated by i3-config-wizard(1).
03/28/2015 10:21:22 PM - config_parser.c:parse_config:313 - CONFIG(line   2): # It will not be overwritten, so edit it as you like.
03/28/2015 10:21:22 PM - config_parser.c:pa

[2015-03-29 02:25] #1602 closed

[2015-03-29 08:52] Airblader commented on #1602
This is probably #1557 so please update to the current next branch and see if you can reproduce the issue still. If yes, reopen it.

[2015-03-29 10:02] Airblader commented on #731
I can still reproduce this on the current next branch. What are the thoughts on this? Bug?

[2015-03-29 10:08] Airblader commented on #615
I don't have multiple screens at home to try this out right now, but I would assume `xdotool behave_screen_edge` could be used for this.

[2015-03-29 10:30] Airblader commented on #1426
@stapelberg This was pretty easy to implement. However, taking Tony's comment into account, what would be a good name for such a config directive? I currently have `window_on_activate urgent`. I can send a PR for this.

[2015-03-29 10:33] Airblader commented on #1426
Also note that the current behavior is that focus is only stolen if the target workspace is visible. Otherwise the urgency hint is already used.

Do we maybe want to slightly extend this option so that the user can choose between these?

* the current behavior (steal focus if workspace is visible, urgency otherwise, default)
* always steal focus
* always use urgency

[2015-03-29 12:28] acrisci commented on #1426
I would rather see this as the default behavior once we bump the major version to 5.

This seems way too subtle to be configurable. There's not really a use case for any of these options. I think it's just a matter of style. Most people are not aware that there is a difference between the application sending a message to the window manager to focus a window and the window manager focusing a window

[2015-03-29 12:34] Airblader commented on #1426
I agree. But just because that's what's going on here doesn't mean that's how we have to expose it to the user. Being merely a user, I can definitely see the argument of wanting the option to choose whether `google-chrome www.google.com` will make Chrome steal my focus or not.

Assuming urgency is made the default, is there a way with the IPC to distinguish between a situation as mentioned above a

[2015-03-29 14:14] acrisci opened #1603 "`move [direction]` does not move across outputs with default workspace layout"
The `move [direction]` command does not move containers across outputs when a default workspace layout is given.

To reproduce, use this config directive:

    workspace_layout stacked

then open a window on a left monitor and give the command `move right`.

[2015-03-29 14:54] mh21 opened #1605 "Non-null-terminated class property not handled correctly"
When matlab is starting, it changes its class a couple of times. As class and instance are both from WM_CLASS, they are decoded in `src/window.c`:

[code]

It seems that these strings don't need to be zero-terminated (see e.g. http://lists.freedesktop.org/archives/xcb/2010-June/006121.html), so in the matlab case this results in random garbage at the end of the class name:

[code]

A naive fix is

[2015-03-29 14:55] mh21 commented on #1605
i3 version: 4.9.1-128-g0391ac2 (2015-03-28, branch "remotes/upstream/next") (pid 14208)

[2015-03-29 14:57] mh21 commented on #1605
I would actually like to provide a test case for this, but I'm not sure whether the test harness of i3 can simulate such a case?

[2015-03-29 14:58] stapelberg commented on #1239
@Airblader Can you go into more detail about what’s making writing test cases hard currently?

[2015-03-29 15:00] Airblader commented on #1605
@mh21 Take a look at `t/235-wm-class-change-handler.t`

[2015-03-29 15:07] Airblader commented on #1239
@stapelberg My statement was a more general observation: i3 will likely receive more testcases if they are easier to write (by whatever means), even if it means trading off some execution time. It sounded like you want to optimize execution speed which, while of course generally a good idea, is not what I'd consider the top priority if we want to encourage contributors to write testcases.

[2015-03-29 15:36] Airblader commented on #1416
See https://github.com/Airblader/i3-original/commit/af4e44ea252bf9768b8c76998f7a069f1aa054ec and https://github.com/Airblader/i3-original/commit/af4e2549fb68dea2fc58ef63993fc977f5a41924

I'm not sure if this is enough, so early feedback is welcome.

[2015-03-29 16:57] mh21 commented on #1605
I updated #1604 to include a testcase. With i3 from `next`, it fails most of the times.

[2015-03-29 17:26] Airblader commented on #1537
@stapelberg You did it again. :)

[2015-03-29 17:35] stapelberg commented on #1537
I’ll add the email sending part to the release.sh script to avoid this in the future.

[2015-03-29 17:50] #1187 closed

[2015-03-29 17:54] #1405 closed

[2015-03-29 18:39] acrisci commented on #1598
Now that it's been included in a release, it's not smart to change it.

[2015-03-29 18:39] #1598 closed

[2015-03-29 18:41] Airblader commented on #1598
Mh, that probably wasn't entirely intentional. It's a shame. I think this is worth talking about. Not necessarily for this single property, but more where we want to go with this in general.

[2015-03-29 19:17] stapelberg commented on #1058
@Airblader  For the current pointer position, there is `xcb_query_pointer`, for the current window with the input focus, there is `xcb_get_input_focus`.

[2015-03-29 19:23] stapelberg commented on #1603
A logfile is still missing. Just because you can edit issue labels doesn’t mean a logfile isn’t valuable in issues that you post.

[2015-03-29 19:37] Airblader commented on #1058
@stapelberg Is pointer position or focused window where we want to put i3-input, though? I think putting it in the corner of the focused workspace is the best solution. I guess it will have to learn to use the IPC then.

[2015-03-29 19:51] wufufufu commented on #1602
This is my version. It's 4.9.1

i3 version 4.9.1-165-g84c4103 (2015-03-08, branch "makepkg") © 2009-2014 Michael Stapelberg and contributors

[2015-03-29 19:55] Airblader commented on #1602
Please upgrade to 4.10.1 and see if it's still broken. The fix for this was merged on March 22nd, so two weeks after the timestamp in your version string.

[2015-03-29 19:56] Airblader commented on #1602
@stapelberg I think the bot needs to be changed since 4.9.1 is now unsupported.

[2015-03-29 20:00] wufufufu commented on #1602
It's working now. Thanks!

[2015-03-29 20:53] stapelberg commented on #1058
@Airblader I think input focus would be the best, since that’s the last window you switched to using either your pointer or your keybindings. No need to use IPC for that.

[2015-03-29 20:55] Airblader commented on #1058
Alright. I'll give this a shot then.

[2015-03-29 21:02] #1463 closed

[2015-03-29 21:14] #1484 closed

[2015-03-29 21:18] stapelberg commented on #555
@Airblader I think in this case we can just change the test so that the list becomes `fake-1, fake-0`.

I’d argue that if people have multiple assignments in their config file, that’s a misconfiguration, and the new behavior is clearly better. I also can’t think of a case where people might not like the new behavior because it breaks their use-case. Am I missing something?

[2015-03-29 21:22] stapelberg commented on #1416
@Airblader Looks reasonable. Can you add a test case and submit it as a pull request?

[2015-03-29 21:26] stapelberg commented on #1426
Add “never steal focus” to the list :).

I think it makes sense to configure this, even though it is, indeed, a matter of style. I suggest we implement this as a config option and don’t change the default yet, then propose changing the default to “urgency” for the next release (as @acrisci suggested) on the mailing list. Depending on the reactions we’ll either do the change or not, but having the

[2015-03-30 03:17] amfournda opened #1607 "4.10.1 crashes upon renaming a workspace"
i3 crashes upon renaming any workspace. This issue was not present in 4.9. Box popped up asking if I wanted to save a backtrace and/or restart in place. Rebuilt i3 with debug symbols enabled and attached said backtrace. Reproducible 100% for me. The log did not appear to contain anything about the crash, as i3 reloads upon crashing, apparently wiping the log. I'm open to suggestions about doing it

[2015-03-30 03:23] amfournda commented on #1607
Whut? version number is literally in the title. Should I put it somewhere else?
erin@erin-laptop ~ % i3 --version
i3 version 4.10.1 (2015-03-29, branch "4.10.1") © 2009-2014 Michael Stapelberg and contributors

[2015-03-30 03:47] Airblader commented on #1607
The obvious candidate here is the fix for output assignments I guess.

Can you please post your i3 config?

[2015-03-30 03:52] amfournda commented on #1607
i3 config: http://pastebin.com/KhPvbb3Y

[2015-03-30 05:35] mh21 commented on #1607
Crash seems to be in the fix for #1527, `startup_sequence_rename_workspace()`, with an `old_name=NULL`, most probably crashing in the strcmp because of that

[2015-03-30 06:07] Airblader commented on #1426
@stapelberg Is "never steal focus" really different from "always use urgency"? As in, the user can configure to not have the focus stolen but also to not have the urgency flag set?

[2015-03-30 06:32] mh21 commented on #1607
Could you check whether #1608 fixes it for you?

[2015-03-30 06:38] #1566 closed

[2015-03-30 06:47] #1211 closed

[2015-03-30 06:47] stapelberg commented on #1426
@Airblader Correct.

[2015-03-30 06:48] Airblader commented on #1426
OK. I'll implement all those and do a PR.

[2015-03-30 07:12] #1605 closed

[2015-03-30 10:02] Airblader commented on #555
@stapelberg Just wanted to run it by you. I agree that the effect of this should be fairly small and the new behavior is favorable. I'll pack it up in a PR etc.

[2015-03-30 12:30] amfournda commented on #1607
#1608 does indeed fix the problem for me. Thanks for the quick turnaround.

[2015-03-30 12:48] rjpcomputing commented on #581
I am using https://github.com/i3/i3/blob/next/contrib/per-workspace-layout.pl and it does fix my need, but I am automating the setup of i3 for many people and this makes it very hard to do because I use the i3 packages in Debian. Does 'per-workspace-layout.pl' come installed with the .deb?

[2015-03-30 12:58] sshilovsky opened #1610 "don't quit when all monitors are turned off with xrandr"
I use dual monitor desktop and use a script to switch between different screen configurations.

If both monitors happen to be turned off at once, i3wm exits.

[2015-03-30 13:40] acrisci commented on #1610
Can you post the part of the script that makes i3 exit?

[2015-03-30 13:42] Airblader commented on #1610
Is this a duplicate of #1489  ?

[2015-03-30 14:56] gfa commented on #581
@stapelberg yes, it does work for me, my default layout is default and i override it on 2 workspaces to tabbed layout using the perl script.

tnx

[2015-03-30 17:43] acrisci opened #1612 "enhancement: accept list of outputs in workspace output assignment"
Config directives of type `workspace [n] output [output]` should accept a list of outputs.

Example:

    workspace 1 output HDMI-0 DVI-D-0

The first output that exists and is suitable for the assignment will be the effective output this workspace will be assigned to.

Whenever the first output is turned off or disconnected, the second output will take over the assignment.

This would make the co

[2015-03-30 17:45] Airblader commented on #1612
This is a duplicate of #555

[2015-03-30 17:45] sshilovsky commented on #1610
yes, it looks to be duplicate of #1489, and the proposal fix there should fix this too

[2015-03-30 17:45] #1610 closed

[2015-03-30 17:53] acrisci commented on #1612
Oh ok I didn't read that one all the way through to see what the enhancement became.

[2015-03-30 17:53] #1612 closed

[2015-03-30 17:54] Airblader commented on #555
@stapelberg @acrisci Do we want to use

[code]
workspace $ws output $output1 $output2
[code]

[2015-03-30 18:02] acrisci commented on #555
I kind of like the second one because I think the order of the config declarations should not matter.

[2015-03-30 19:27] stapelberg commented on #581
@rjpcomputing Given that you’re already distributing a config file, you might as well also distribute the per-workspace-layout.pl file, right?

@gfa Thanks for confirming.

I’m closing this issue, the recommendation is to use per-workspace-layout.pl.

[2015-03-30 19:27] #581 closed

[2015-03-30 19:31] stapelberg commented on #555
@acrisci’s argument is convincing, that sounds good to me.

[2015-03-30 20:01] #1607 closed

[2015-03-30 20:08] acrisci commented on #1607
There's still some weirdness going on in this command that I'll look into.

[2015-03-30 20:29] Airblader opened #1614 "Marks can be put onto multiple windows"
How to reproduce:

* Open two instances of urxvt (or any other application)
* Execute `i3-msg '[class="(?i)urxvt"] mark uhoh'`

The reason is that `cmd_mark` loops over all matched windows. We should probably log an error and only work on the first match.

i3 version 4.10.1-33-g537fec1 (2015-03-30, branch "feature-titlebar-marks") © 2009-2014 Michael Stapelberg and contributors

[2015-03-30 20:58] #1426 closed

[2015-03-30 21:53] #1464 closed

[2015-03-31 06:03] Deiz commented on #1603
I've fixed this locally but have yet to write a test case. Will submit a pull request once I've done so.

[2015-03-31 08:50] stsquad opened #1615 "Renaming workspace causes i3 to crash"
Looking at the backtrace it looks like it's a NULL string compare that brings it down. Renaming to a simple number seems to work fine but I tried:

0:Main
"0:Main"
"0: Main"

And all would cause it to crash. I'm going to do it again now with debug symbols on to get a better backtrace.

[2015-03-31 08:51] Airblader commented on #1615
This is a duplicate of #1607 and is already fixed on the current next branch.

[2015-03-31 08:56] stsquad commented on #1615
@Airblader aha I see it's fixed and closed already - any idea when a new 4.10 will be released with the fix?

For completeness:

[code]

and

[code]

[2015-03-31 08:56] #1615 closed

[2015-03-31 10:19] Airblader commented on #1615
@stsquad You'll have to ask @stapelberg that. My guess is that we wait a bit longer to see if there's anything else that needs to be fixed.

[2015-03-31 15:59] colinvidal opened #1616 "i3 crashs when rename workspace"
Since i3 4.10.1, i3 crashes every time (with the message "i3 just crashed") when I rename a workspace with this command :
i3-msg rename workspace to "new name"

My version of i3 (packaged by ArchLinux)
i3 version 4.10.1 (2015-03-29, branch "4.10.1") © 2009-2014 Michael Stapelberg and contributors

/usr/bin/i3: ELF 64-bit LSB executable, x86-64, version 1 (SYSV), dynamically linked, interpreter /li

[2015-03-31 16:01] Airblader commented on #1616
Duplicate of #1607

[2015-03-31 16:02] #1616 closed

[2015-03-31 17:17] AloisMahdal opened #1617 "`window state: Withdrawn` is lost during restart, causing "dead window" to appear"
1. An application starts without creating a window; it only adds icon to notification
    area. If I restart i3 at this point, nothing weird is observed.

 2. After clicking the icon, a window is created.

 3. Clicking the icon again makes the window disappear (`window state: Withdrawn`).

    So far so good.

 4. At this point, issuing `i3-msg restart` leads to effect that after restart and layou

[2015-03-31 17:22] AloisMahdal commented on #1617
Here is an anotated log (actions being aligned to 5 seconds):

    --- xprop select ---

    0:00 WM_STATE(WM_STATE):
    0:00 		window state: Normal
    0:00 		icon window: 0x0
    0:00 _NET_WM_USER_TIME(CARDINAL) = 706178964
    0:00 WM_TRANSIENT_FOR(WINDOW): window id # 0x2000004
    0:00 _NET_WM_ICON(CARDINAL) = 	Icon (22 x 22):
    0:00 	[------------------------]
    0:00 	[---SNIP the icon

[2015-03-31 17:24] AloisMahdal commented on #1617
i3 version 4.10.1 (2015-03-29, branch "4.10.1") © 2009-2014 Michael Stapelberg and contributors

[2015-03-31 17:27] AloisMahdal commented on #1617
Here is screenshot of the state right after the restart:

    http://storage1.static.itmages.com/i/15/0331/h_1427822765_9478598_174dc190b3.png

[2015-03-31 18:01] DrPyser opened #1619 "Various applications using flash crashing"
Hi.
I have Ubuntu 14.04..
I have many wm installed(e.g. cinnamon), and when I'm using i3, pretty much any application usually using flash player(e.g. YouTube, Gmail, etc) crash, warning there's a problem with Shockwave Flash. Even when I deactivate in the the google chrome's settings, which should force YouTube to use html5 instead, it still crashes(without error message).

i3 version:  4.7.2 (201

[2015-03-31 18:45] acrisci commented on #1619
We don't support 4.7.2 anymore. Update to the latest version, preferably the development version, and see if the bug is still there.

[2015-03-31 19:59] Airblader commented on #1058
@stapelberg I tried with `xcb_get_input_focus` and then `xcb_get_geometry` on the `focus` returned by the first request, but the reply always to has `x = 0` and `y = 0`. Am I doing something wrong?

[2015-04-01 03:14] Deiz opened #1623 "feature request: Size reset command"
I'm envisioning a command that would operate on containers that have multiple children. It would iterate over all of the children and reset their percentages so they're evenly distributed.

As an example, running `resetsize` on a split container with three children would result in each child container having a third of the parent's width.

Ideally, the resizing would be implemented purely using ex

[2015-04-01 06:57] stapelberg commented on #1619
See http://i3wm.org/docs/repositories.html for Ubuntu repositories.

[2015-04-01 07:00] stapelberg commented on #1058
You need to translate the coordinates from coordinates relative to the parent window to coordinates relative to the root window, see `xcb_translate_coordinates`

[2015-04-01 07:08] #1603 closed

[2015-04-01 07:10] stapelberg commented on #1623
I think this should be done in an external script using the IPC interface (in fact, I have a script which will establish a 60/40 ratio of the currently focused container).

[2015-04-01 07:10] #1623 closed

[2015-04-01 07:27] stapelberg commented on #1617
Thanks for the detailed bugreport. I’ll take a look either this evening or tomorrow.

[2015-04-01 10:42] Airblader commented on #555
@stapelberg I'm having trouble getting this to work in the config parser. Say I have this:

[code]

[2015-04-01 12:15] Airblader commented on #1058
@stapelberg Perfect, that works. Thanks! I'll send the PR.

[2015-04-01 15:19] Airblader commented on #555
And a more interesting problem: I'm trying to write testcases for this (see here: http://pastebin.com/ZmTUiwBh). However, it errors out as shown below. The odd thing is that if I replace `fake-1` in the assignment with something non-existing (`baz-1`), it works just fine.

I also ran the implementation in a VM and using an assignment with the two actually existing screens of the VM, everything wor

[2015-04-01 18:29] #1614 closed

[2015-04-01 18:49] Deiz opened #1627 "Crash when a floating window is tiled while being resized via mouse"
Ran into this while testing yesterday and managed to reproduce it on current next.

I'm able to fairly reliably reproduce this by doing the following:
1. Open a floating window
2. Begin resizing the floating window (titlebar right-click seems most reliable)
3. Disable floating on the window

Note that this sometimes crashes X itself for me, so it's probably wise to test on a second X server.

I've

[2015-04-01 18:50] Airblader commented on #1627
(The things some people test *laughs*)

[2015-04-01 20:19] tntmarket opened #1629 "Mouse binding doesn't respond in mode"
in `~/.i3/config`:

    mode "test" {
       bindsym Escape mode "default"
       bindsym --whole-window button3 exec xterm
    }
    bindsym $mod+t mode "test"

1. enter "test" mode
2. right click

expected: xterm opens
actual: nothing happens

[2015-04-01 20:23] tntmarket commented on #1629
oops, here are the version:

i3 version 4.10.1 (2015-03-29, branch "4.10.1") © 2009-2014 Michael Stapelberg and contributors

I'm getting the logs at the moment

[2015-04-01 20:28] tntmarket commented on #1629
http://logs.i3wm.org/logs/5118084088070144.bz2

[2015-04-01 20:37] Airblader commented on #1629
I can reproduce this.

[2015-04-01 20:56] tntmarket commented on #1629
Ok I found that right clicking the window title with:

    mode "test" {
       bindsym Escape mode "default"
       bindsym button3 exec xterm
    }
    bindsym $mod+t mode "test"

works. Also on line 785 of the log:

    04/01/2015 04:26:21 PM - ERROR: Could not translate string to key symbol: "--whole-window"

[2015-04-01 20:58] Airblader commented on #1629
Bindings in modes are defined separately. So the switch is missing there. Imho that's a valid bug and should be fixed.

[2015-04-01 21:11] Airblader commented on #1629
It was only forgotten in one place. If you change the order of arguments as shown below, it will work. I will do the PR for a fix tomorrow.

[code]

[2015-04-01 21:16] tntmarket commented on #1629
Thanks!

[2015-04-02 01:10] DrPyser commented on #1619
Well, I've updated my version( to 4.10.1-36-g1431ea6), and it worked for a short while, but now the bug seems to have come back.

[2015-04-02 06:41] stapelberg commented on #1619
@DrPyser In the logfile you provided I don’t see anything related to chrome and flash. Can you provide a logfile and the stdout/stderr output of chrome when this happens?

Also, can you reproduce the issue in awesome or openbox?

[2015-04-02 06:56] #1058 closed

[2015-04-02 07:31] stapelberg commented on #555
Yeah, I think you have no other choice but to use a global variable in src/config_directives.c, just like we do for example with criteria_next_state.

[2015-04-02 07:31] stapelberg commented on #555
My guess with regards to the failing test is memory corruption. Try using the valgrind flag and see if that will give you something.

[2015-04-02 12:10] Airblader commented on #555
@stapelberg Running it with valgrind causes the test to be stuck most of the times and sometimes, when it does run through, to not print any other information.

I will just open a PR for this so that maybe someone (you :smile: ) can have a better look at it.

[2015-04-02 15:52] Airblader commented on #555
@stapelberg (Disregard my deleted comment if you've seen it)

So running it with valgrind reveals an infinite loop, I guess:

[code]

[2015-04-02 16:13] Airblader commented on #555
So… yeah. When the two outputs are *both* present and initialized, both want the assigned workspace and move it, but since the other one is then left empty, it does the same thing, causing the infinite loop. I guess before moving the workspace I have to check whether it is *also* assigned to the output it is currently on.

[2015-04-02 17:34] Airblader commented on #555
I think this has really quite a few corner cases. I'll need some time to think this through and probably write a lot of tests.

[2015-04-02 19:18] Airblader commented on #1573
The problem is easy, but the solution might be tricky. The workflow is

1. Run assignments.
2. Fetch the workspace again since assignments may have moved the window.
3. Render the workspace if it's not visible and disable setting the focus.
4. Send the `new` event
5. Set the focus if feasible

We have to get 1. behind 5. somehow, but 5. depends on 4. and 3. and 3. depends on 2. which depends on 1.

[2015-04-02 20:05] Airblader commented on #1067
Implementing this is rather easy, but the proposed way to draw the indicators doesn't really work because windows can (and usually will) have window decorations. And those, unlike the other borders, will at most have a 1px border, making it look rather silly to color that one while the others might have a 10px border.

An example for the stacked case can be seen here:
![screenshot-2015-04-02_22-03

[2015-04-02 20:15] #1629 closed

[2015-04-03 09:10] hwangcc23 commented on #1489
Hi,
I want to help this.
I have implemented the new timeout delay_exit_on_zero_displays. But I have problems on testing: I have only one desktop PC and one monitor. Don't know how to do the test (to disable an output and enable it again).
Is there any suggestion?
Thanks.

[2015-04-03 09:22] Airblader commented on #1489
@hwangcc23 Use `xrandr` to disable and enable the output. If you don't want to mess with your machine, I'd recommend setting up a virtual machine via VirtualBox and installing it in there.

[2015-04-03 13:52] viking opened #1633 "i3wm ubuntu repository for utopic refers to non-existent file"
See: http://debian.sur5r.net/i3/dists/utopic/universe/binary-amd64/Packages

The sur5r-keyring file doesn't exist: `pool/universe/s/sur5r-keyring/sur5r-keyring_2015.02.08_all.deb`

[2015-04-03 13:54] viking commented on #1633
Hmm, nevermind. There seems to be something wrong with my setup.

[2015-04-03 13:54] #1633 closed

[2015-04-03 13:55] Airblader commented on #1633
Just for reference anyway: #1450

[2015-04-03 13:58] viking commented on #1633
Thanks, I had to install the keyring manually and do an update before it worked properly.

[2015-04-03 22:49] Airblader opened #1635 "[deleted]"
–

[2015-04-03 22:53] Airblader commented on #1635
As a "case in point" kind of thing, having this would make something like https://github.com/i3/i3status/pull/21 a non-issue.

[2015-04-04 00:30] #1635 closed

[2015-04-04 14:35] Airblader opened #1637 "[enhancement] Support marks on multiple windows"
This was briefly discussed in a PR, but I'd like to have a real discussion on this. Wouldn't it make sense to allow marks to be put onto more than one window?

I agree that this introduces more complexity here, but I'd say the benefit would outweigh it. At least I could see myself utilizing marks only if this were possible. Any corner cases and the like we could maybe try thinking of before.

[2015-04-04 19:34] Deiz commented on #1627
It seems my steps are slightly incorrect. You actually need to start with one tiled window and one floating window.

As a bonus, it seems that this also often results in a con being its own parent, which causes an infinite loop in con_get_output.

[2015-04-04 19:38] Airblader commented on #1627
I managed to reproduce this.

[2015-04-04 19:55] Deiz commented on #1627
It seems like the crash happens when the mouse is moved quickly, and the infinite loop occurs when the mouse isn't moving.

I just ran i3 under valgrind while triggering the infinite loop case, and there are invalid reads and writes going on, which explains the nonsensical values I saw under gdb. My guess is that all of it stems from the resize not being aborted as soon as the floating con is dest

[2015-04-04 19:56] acrisci commented on #628
I implemented this feature in the [scratchpad generator](https://github.com/acrisci/i3-dstatus/blob/master/i3dstatus/generators/scratchpad) for my statusline project, i3-dstatus.

[2015-04-04 21:48] stapelberg commented on #1617
I can reproduce this (only with owncloud 1.8, though), and it doesn’t happen in other window managers.

My current theory is that it has something to do with how we’re doing inplace restarts. It seems like when i3 restarts, the window is transitioning from unmapped to mapped for some reason. I’m not yet sure why that is and how it can be prevented.

[2015-04-05 09:26] hwangcc23 commented on #1489
@Airblader
Thanks.  :)
I used "xrandr --output Virtual1 --off; xrandr --output Virtual1 --auto" to verify my patch.
Have created the pull request for review.

[2015-04-05 14:55] AloisMahdal commented on #1617
FTR, An old behavior of 4.9 that I originally reported to [i3faq][1] may be related to this.  It might be caused by same problem or not, however

 *  with 4.9, *first* restart would behave differently, and cause another window to
    be switched to floating mode and resized (to size of the owncloud client),
 *  but only *second* and consecutive restarts would cause the "ghost window" to
    appear

[2015-04-05 14:58] Airblader commented on #1617
I'm having problems with Steam that could be related. I'll have to look into it a bit more, though. But basically I also get ghost windows when restarting i3.

[2015-04-05 16:13] acrisci commented on #1489
Why can't i3 run indefinitely when there are no displays?

[2015-04-05 16:52] stapelberg commented on #1627
Yeah, the loop should definitely be aborted when the window ceases to be floating. Pull requests for fixing this are welcome as I won’t get around to fix this myself.

[2015-04-05 16:53] stapelberg commented on #1489
@acrisci I think the code has assumptions in place in several locations about there being at least one screen. In general, it’s absolutely not useful to use a window manager without an output, which is why I want to categorically exclude that use-case and not bother with testing i3 under yet another configuration.

[2015-04-06 13:35] stapelberg commented on #1617
I have a suspicion on what it is :). Let’s see if I can get it to work.

[2015-04-06 13:40] #1617 closed

[2015-04-06 13:46] lkraav commented on #1617
I just had a massive weird messed up look on the desktop for the first time ever, after upgrading to 4.10.1 and doing in place restart. Maybe this has something to do with it, looking forward to the next point release.

[2015-04-06 15:01] Airblader opened #1639 "[enhancement] i3-msg should return with proper return codes"
i3-msg currently always returns with `0`. How about having it return with proper error codes so that non-success cases can be handled without parsing the JSON? We should have two error codes, one for `ysuccess(false)` and one for `yerror(…)`.

However, this *can* break compatibility if people already do connect two calls with `&&` or `||` (even though it doesn't make much sense).

Just throwing it

[2015-04-06 15:02] stapelberg commented on #1639
For what? If you’re doing anything moderately complex, you should not use i3-msg. It’s a toy for sending the occasional IPC command and serving as an example of how IPC works.

[2015-04-06 15:08] Airblader commented on #1639
My specific usecase is having a terminal in the scratchpad. I can already have a single keybinding to hide and show that terminal, now I'd also like the terminal to be opened with that shortcut if it hasn't been opened yet. With return codes, I could do something along the lines of

[code]

[2015-04-06 15:36] stapelberg commented on #1639
I think having to be more explicit about what should happen on your end is a good thing here (i.e. using `jq` or a higher-level language to parse the error).

As you noted, scratchpad show doesn’t return an error, and personally I wouldn’t want to make this solution only work when that terminal is the only thing in the scratchpad.

[2015-04-06 15:36] #1639 closed

[2015-04-06 19:33] vaterp commented on #1623
I'd love something like this!  One vote from me.

[2015-04-06 19:35] Airblader commented on #1623
@vaterp Why can't you use an IPC script as suggested by Michael?
Maybe @stapelberg wants to share his 60/40 scripts here as a base.

[2015-04-06 19:44] Deiz commented on #1627
I spent a little more time investigating this, it occurs because the command that disables floating runs before the event loop. So, the window is tiled, its floating parent is destroyed, but then a key event is handled which causes the position/size of the now-destroyed parent to be modified.

I'm not sure what the best approach is for handling this, since destroying the floating parent doesn't ge

[2015-04-06 20:08] vaterp commented on #1623
If the script is shared, i'd have no problem using that as the solution.... perhpas i missed it (this is the first time i've attempted to track an issue of a 3rd party project with github) but i dont see any attached script.

[2015-04-06 20:21] AloisMahdal commented on #1617
Just re-built i3 from 'next' and I can confirm the problem disappeared for me. Thanks!

[2015-04-06 20:46] AloisMahdal opened #1640 "--version/--moreversion cannot be trusted after compilation without “make clean”"
**TL;DR:** Just running `make` and omitting `make clean` aparently may result in mix-match of binaries that (apart from other potential problems) may report the older version.

Happened after checking out commit eb04a64 and re-building, with left-over binaries from tag 4.10.1.  Tree clean in both cases; Fedora 21 w/ git-2.1.0-4.fc21.x86_64 and gcc-4.9.2-6.fc21.x86_64.

---

I came to my machine (w

[2015-04-06 20:48] AloisMahdal commented on #1640
(Hm I wonder if the bot does not support clipped --moreversion or chokes on the fact it's twice in the text ;))

[2015-04-07 01:37] PTNobel opened #1642 "i3bar appears on top of i3lock"
I'm not sure if this is an i3-wm, i3bar, or i3lock bug, but since it has to do with window placement I guessing it's i3-wm.

When ~/.i3/config includes:

    bar {
            position top
            tray_output primary
            **mode hide**
    }

Emphasis added.

Pressing the $meta key when the screen is locked with i3lock results in i3bar being visible.

    $ i3lock --version
    i3lock:

[2015-04-07 01:44] PTNobel commented on #1642
Here's the [log](http://logs.i3wm.org/logs/5149586599444480.bz2).

[2015-04-07 06:37] stapelberg commented on #1642
You’re running compton. As per https://github.com/i3/i3lock/issues/8, that’s your problem.