[2015-11-13 09:38] E100Beta commented on #2062
I have Archlinux (Linux 4.2.5-1-ARCH).
On
i3 version 4.11-102-gff63104 (2015-11-09, branch "makepkg") © 2009 Michael Stapelberg and contributors
keys do not work.
At the same time, on
i3 version 4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and contributors
any keyboard layout works fine.

My /etc/X11/xorg.conf.d/00-keyboard.conf is:
[code]

[2015-11-13 10:05] Gallardo994 commented on #2062
I have exactly the same settings, but on Ubuntu. I also tried using
mate-settings-daemon layout management and the problem still exists.

Отправлено из AquaMail для Андроида
http://www.aqua-mail.com

Pavel Kiselev <notifications@github.com> 13 ноября 2015 г. 12:38:36 написал:

[2015-11-13 13:19] Gallardo994 commented on #2062
The command is:

setxkbmap us,ru -option grp:alt_shift_toggle

(Switching between layouts with alt+shift)

The keys I use are win+(0-9) to switch between workspaces as a test, but none of the other key combinations work as well.

[2015-11-13 13:47] tombuchholz opened #2063 "Feature Request: Creating a split in floating window"
When having a floating window i'd like to be able to create a split window that attaches to the current floating window, so it becomes a floating container. Right now i have to unfloat the window, add a split, select the container and then make the container floating.

[2015-11-13 13:51] Airblader commented on #2063
We don't really support floating containers. Floating windows are intended for dialogs, popups and the like. For anything more complex – i3 is a tiling window manager.

[2015-11-13 13:51] #2063 closed

[2015-11-13 17:11] stapelberg opened #2064 "enhancement: implement not focusing windows when _NET_WM_USER_TIME == 0"
From http://standards.freedesktop.org/wm-spec/latest/ar01s05.html:

Applications such as Chrome use this hint that way: https://code.google.com/p/chromium/codesearch#chromium/src/ui/views/widget/desktop_aura/desktop_window_tree_host_x11.cc (line 1672)

[2015-11-14 15:17] Airblader commented on #2064
I'll prepare a PR for this. It should be fairly straight-forward and I can use a break from the i3 to cairo work. =D

[2015-11-14 15:20] Airblader commented on #2064
Out of curiosity, do you happen to know a usecase in Chrome where this will be used?

[2015-11-15 10:27] pedrokost opened #2066 "i3bar covers Photoshop menu"
I run the i3wm with the i3bar. I installed Photoshop CS6 through Wine.

I have found a few quirks:

- the i3bar is overlapping the Photoshop's Menu bar (File, etc): i3wm and Photoshop
![photoshop](https://cloud.githubusercontent.com/assets/725286/11168283/fed87ff8-8b88-11e5-9760-e493d00cf9c2.png)

- resizing the Photoshop window (i.e. by placing it into floating mode or opening another application

[2015-11-15 10:28] pedrokost commented on #2066
i3 version 4.11-100-gf836e4c (2015-11-03, branch "next") © 2009 Michael Stapelberg and contributors

[2015-11-15 11:08] Airblader commented on #2066
So as a disclaimer, Photoshop is not open source and hence we don't officially support it. However, I asked @pedrokost to move this issue from the FAQ page to here because it makes it easier to communicate about it.

@pedrokost From a first look at the log file, the window seems to be floating when its resizing is handled. But if it was, it shoudl float above i3bar. Can you also do a `i3-msg -t ge

[2015-11-15 12:20] stapelberg commented on #2064
During a quick look within Chrome, I couldn’t find a code path which leads to a managed (!) window with `_NET_WM_USER_TIME == 0`.

However, it looks like konqueror uses `_NET_WM_USER_TIME == 0`:

https://sources.debian.net/src/kde-baseapps/4:15.08.2-1/konqueror/src/konqmainwindow.cpp/?hl=1417#L1417

[2015-11-15 12:22] Airblader commented on #2064
The Konqueror usecase seems like it wouldn't affect i3 very much either since the window is either tiled and hence doesn't overlap any other window, or it is floating and would then float above the tiled window anyway.

But the change is fairly simple anyway and it shouldn't hurt to support the spec correctly here.

[2015-11-15 13:16] pedrokost commented on #2066
The output of `xrandr` is:

[code]

And the output of `i3-msg -t get_tree` is [here](http://pastebin.com/geeLPubA).

[2015-11-15 13:29] Airblader commented on #2066
Looks to me like everything is alright on the i3 side. Especially considering the second problem you mentioned, it seems to me that the issue is that Wine/Photoshop think they have a size that they simply don't have.

It's the responsibility of the client to correctly deal with the dimensions the window manager assigns to it. I suggest you start filing a bug against Wine to see what they say about

[2015-11-15 13:29] #2066 closed

[2015-11-15 13:30] stapelberg commented on #1278
`draw_text_ascii` is maybe a bit of a misnomer. Its advantage is that you don’t need to create an i3String for it, hence it’s a little bit simpler to use in code (think of the signal handler dialog). I think we could rename it to `draw_text_const` and make it a more straight-forward wrapper around `draw_text`, since I don’t think we actually _need_ its semantics of being ASCII-only.

[2015-11-15 13:42] Airblader commented on #1278
@stapelberg I'd argue that we get rid of using that function, at least in `src/x.c`. It exposes the functional leak of being the only text drawing routine that doesn't respect `max_width`, and only does so under the very special circumstance where it actually avoids going into the other routines anyway (less than 255 characters).

I'm not really sure saving the very little overhead of creating an

[2015-11-15 13:47] Airblader commented on #1278
I have to correct myself. XCB font rendering generally doesn't seem to respect `max_width`. I guess I'll just do the proposed renaming and introduce a corresponding wrapper in the draw util.

I wonder whether we can get rid of XCB drawing altogether and use cairo there instead (read: not pango, just cairo) and whether that'd allow us to respect the max width that way. There's a pretty ugly workaro

[2015-11-15 15:12] Airblader commented on #1278
@stapelberg For the sake of not blowing the patch up, I'll actually just replace this one particular case with a normal `draw_text`. If you insist on not introducing an i3String, I'm happy to take care of it, but in a separate PR or at least separate commit later on, because it involves using the correct visual_type in that function everywhere, too.

[2015-11-15 18:53] pedrokost commented on #2066
Thanks to a comment posted on the original StackOverflow issue, I was able to find a perfect solution to the problem.

The solution is to dissalow the window manager to decorate the window.

This can be done by running "winecfg", go to the "Graphics" tab and uncheck "Allow the window manager to decorate the windows."

This resolves both issue I noted in the question: the i3bar covering the menu, a

[2015-11-15 18:54] Airblader commented on #2066
Thank you for sharing the solution!

[2015-11-15 19:45] japhir opened #2067 "Weird screen tearing below floating window - new Hangouts chromium extension"
Hi there! This might be an issue on the part of Hangouts, but I thought I'd submit anyway and see if you guys can help me out.

This image shows the problem that's occurring. What happens is that when I move the floating little button window (that expands when I click it, I think it's trying to be transparent) it moves a large section with of the background with it. Resizing has even more drastic

[2015-11-15 20:07] Airblader commented on #2067
Sorry, I'm a little lost. Can you be more specific what button it is and how to get there?

[2015-11-15 20:28] stapelberg commented on #2062
I can reproduce this. Looking at it now.

[2015-11-15 21:58] japhir commented on #2067
I installed the newest Google Hangouts App from [https://chrome.google.com/webstore/detail/google-hangouts/knipolnnllmklapflnccelgolnpehhpl?hl=en](here). I'm also confused by the many different versions of hangouts apps/extensions/plugins, but this one seems pretty fun if it's running correctly.

[2015-11-15 22:04] Airblader commented on #2067
OK, that's the extension. Now where exactly do I find the button you are clicking? Just opening the Hangouts window from that extension is working fine for me.

Also, are you running a compositor such as compton?

[2015-11-15 22:05] japhir commented on #2067
Updated above before I read your reply ;).

Yes, I've recently started using compton because I still have some vsync issues on my primary monitor (I have 2) when watching video.

[2015-11-15 22:09] Airblader commented on #2067
Thanks, now I could reproduce it. Yeah, I too think it wants to be transparent. However, the window only has a 24bit depth. I suggest you file the bug with the Plugin creator. We don't support transparency either way, but using compton it generally works, but the app, of course, has to do it the right way.

Maybe it also wants to do very weird fake transparency.

[2015-11-15 22:09] #2067 closed

[2015-11-15 22:17] japhir commented on #2067
Thanks for looking into it!

[2015-11-16 03:35] beanaroo opened #2068 "Unable to bind Mod1+Print"
I have the following:

    # Screenshots
    bindsym --release Print exec --no-startup-id        "scrot -z ~/Pictures/Screenshots/%Y-%m-%d_%k:%M:%S.png"
    bindsym --release Mod1+Print exec --no-startup-id   "scrot -zu ~/Pictures/Screenshots/%Y-%m-%d_%k:%M:%S.png"
    bindsym --release Shift+Print exec --no-startup-id  "scrot -zs ~/Pictures/Screenshots/%Y-%m-%d_%k:%M:%S.png"

`Mod1+Print` does no

[2015-11-16 04:35] acrisci commented on #2068
The log says it works fine.

[2015-11-16 04:43] acrisci commented on #2068
Try this:

    bindsym --release Print exec --no-startup-id        "scrot -z ~/Pictures/Screenshots/%Y-%m-%d_%k:%M:%S.png &> ~/scrotlog"

It should save the output of scrot to `~/scrotlog`. Tell me what it says there.

[2015-11-16 06:03] beanaroo commented on #2068
The log output you quoted is for `Shift+Print`.
Scrot works as expected when keybinding is recognised.
When pressing `Alt+Print` the only thing output to log file is:
    event type 85, xkb_base 85

[2015-11-16 07:06] stapelberg commented on #2068
I’ll take a look, I’m working on keyboard-related things right now anyway.

[2015-11-16 07:31] stapelberg commented on #2068
I can reproduce this.

[2015-11-16 07:35] stapelberg commented on #2068
Bisected to commit bf3cd41b5ddf1e757515ab5fbf811be56e5f69cc

[2015-11-16 08:05] stapelberg commented on #2068
The Print key actually produces the Sys_Req keysym in higher layers:

[code]

You’ll need to do either of these two:

1. Change your binding to read `bindsym Mod1+Sys_Req exec …`
2. Remap your Print key to also produce the Print keysym when Mod1 is pressed.

[2015-11-16 08:05] #2068 closed

[2015-11-16 08:18] beanaroo commented on #2068
Interesting. Thanks for having a look and thank you for clarifying.

[2015-11-16 08:43] #2062 closed

[2015-11-16 08:49] #2049 closed

[2015-11-16 20:59] hydride0 opened #2069 "Error while building i3"
Hi, I'm experiencing the following error while compiling i3wm:
[code]
It seems like it's trying to use /bin/sh to launch a perl script, so I tried modifying src/i3.mk in lines 63 and 68 adding the "perl" command before "../generate-command-parser.pl" and it works.

Binary i3 version:  4.11-107-gb255d14 (2015-11-16, branch "next")
Running i3 version: 4.11-100-gf836e4c (2015-11-03, branch "next")
OS

[2015-11-16 21:02] stapelberg commented on #2069
Nothing in the Makefile is specifically using /bin/sh, it’s just that make uses a shell to execute commands.

I believe the filesystem on which you’re working might be mounted noexec. Is that it?

What happens when you run ./generate-command-parser.pl manually?

[2015-11-16 21:06] hydride0 commented on #2069
zsh: permission denied: ./generate-command-parser.pl

Input file "" does not exist! at generate-command-parser.pl line 25.

[2015-11-16 21:06] hydride0 commented on #2069
zsh: permission denied: ./generate-command-parser.pl

Input file "" does not exist! at generate-command-parser.pl rine 25.

[2015-11-16 21:13] stapelberg commented on #2069
What’s the output of `mount`, `df -h .` and `strace -v -s 2048 -f sh -c ./generate-command-parser.pl`?

[2015-11-16 21:14] hydride0 commented on #2069
Uhm, yeah, it's mounted with noexec
Sorry, didn't know about that

[2015-11-16 21:15] #2069 closed

[2015-11-16 22:38] Airblader commented on #1278
@stapelberg Can you confirm that contaners of type CT_ROOT and CT_OUTPUT should never require a pixmap? I've noticed that the __i3 output has a ridiculous size (due to `scratchpad_fix_resolution`), which causes an allocation failure that we, until now, silently ignore because we don't create the pixmap checked.

Since I don't think these containers need a pixmap anyway, I'd just change the code to

[2015-11-17 07:54] stapelberg commented on #1278
Yes, AFAIR, CT_ROOT and CT_OUTPUT should never require a pixmap. CT_WORKSPACE is the first type in the hierarchy that actually needs a pixmap.

[2015-11-17 11:13] TomRauchenwald commented on #1784
I encountered the same issue with IntelliJ IDEA.
As a data point: It doesn't happen with 1.8 (i3 version 4.8 (2014-06-15, branch "4.8") © 2009-2014 Michael Stapelberg and contributors), but I could reproduce it with 1.9.

[2015-11-17 14:38] TomRauchenwald commented on #1784
I bisected this now.

8a618e4b006000cbd521031f4c191e862da03914 is the first bad commit
commit 8a618e4b006000cbd521031f4c191e862da03914
Author: Tony Crisci <tony@dubstepdish.com>
Date:   Tue Jun 17 02:49:39 2014 -0400

    bugfix: don't set input focus if not accepted

    http://tronche.com/gui/x/icccm/sec-4.html#s-4.1.7

    Since managing a window happens on a MapNotify (which is absent from thi

[2015-11-17 15:07] Airblader commented on #1784
Thanks for the bisect, that's very useful!

[2015-11-19 21:16] Nycroth opened #2072 "[enhancement] workspace new"
I'm adding a `workspace new` command to i3 that changes the current workspace to the next unused numbered workspace.

Interested in the patch?

[2015-11-19 21:39] stapelberg commented on #2072
I’m not sure. I can imagine a number of different behaviors that make sense depending on one’s workflow, and I’m not convinced a single “workspace new” command can reasonably handle them all. E.g.:

Switch to a not-currently-existing workspace based on…

* the next unused number
* the next not-currently-existing workspace that has a name (possibly in combination with a number)
* the next unused nu

[2015-11-19 21:46] Nycroth commented on #2072
I haven't looked into how it currently works in the source, but I planned to reuse the code that already handles when the last workspace on one output is moved to another.

Didn't know about the mailing list. Checked in with IRC and they said I should open an issue.

I'm more than happy to tool my work to meet the community's needs. I just have a script file sitting around that runs `i3-msg rename

[2015-11-21 18:34] Airblader commented on #1966
Reopening because the move to cairo does not fix the usecase properly, so this would be an option.

[2015-11-21 18:41] Airblader commented on #1966
@stapelberg I suspect that if we did this change, the values / meaning of things like `deco_rect` could change (we'd have to see). Is your answer, that you're generally not against this, still valid in this case? Might be something for a major version release (?)

[2015-11-21 19:34] sirlnx opened #2075 "Wifi signal out in percentage has three chracters when under 100%"
Wifi output in percentage shows the output when the signal is under 100 percent.

For example, when the signal is 100 percent, I get the following output:

    WLAN (100% at MyWifiNetwork) 192.168.1.5

When the signal is 98 for example, I get the following output:

    WLAN (098% at MyWifiNetwork) 192.168.1.5

I think it's a minor bug, but I thought I should addressed it.

PS,

I'm using i3 versoi

[2015-11-21 19:41] Airblader commented on #2075
Please report bugs against i3status in the correct repository, this is the i3 window manager repository. Closing for that reason.

However, if you're talking about the leading zero, this is intentional AFAIK. It avoids the length of the statusline to keep changing all the time, which can be irritating.

[2015-11-21 19:41] #2075 closed

[2015-11-21 21:48] stapelberg commented on #1966
We could retain deco_rect’s semantics when serializing for the IPC interface, right?

[2015-11-21 21:51] Airblader commented on #1966
I guess we could. My only pain point with it is that as a developer I don't have access to the proper information anymore, unless we add a new key for the new semantics.

[2015-11-21 22:04] #2064 closed

[2015-11-21 22:05] stapelberg commented on #1966
Yes, we should add a new field with the new semantics.

[2015-11-22 01:40] Airblader commented on #1966
OK. Suggestions for a name welcome :)

The following list is simply for myself. Please disregard.

- [ ] Come up with a good way to draw decorations for stacked/tabbed. Parent seems logical, but poses a problem due to the recursion approach when rendering decorations. Either one needs to be adapted.
- [ ] Adapt `is_pixmap_needed`, as window-less containers will no longer need a surface.
- [ ] Don'

[2015-11-22 18:00] tyll opened #2077 "PACKAGE-MAINTAINER file link leads to 404 error page"
The package maintainer file mentions
http://michael.stapelberg.de/Kontakt
but this leads to a 404 error page.

[2015-11-22 18:49] stapelberg commented on #2077
That should become http://michael.stapelberg.de/Impressum/

[2015-11-22 19:00] #2077 closed

[2015-11-22 22:11] acrisci commented on #2072
https://github.com/acrisci/i3ipc-python/blob/master/examples/workspace-new.py

[2015-11-22 23:42] sirlnx opened #2080 "How to use xdotool in i3?"
I would like to emulate the following arrow keys through xdotool via i3:

    bindsym $mod+Tab+h exec xdotool key "Left"
    bindsym $mod+Tab+j exec xdotool key "Down"
    bindsym $mod+Tab+k exec xdotool key "Up"
    bindsym $mod+Tab+l exec xdotool key "Right"

Unfortunately, i3 doesn't seem to recognize the bindsyms. The commands, e.g. `xdotool key "Left"` does work through the command line.

Edi

[2015-11-23 06:40] stapelberg commented on #2080
Use e.g. `bindsym --release $mod+Tab+h exec --no-startup-id xdotool key "Left"`, so that i3 executes that keybinding when the key is released.

[2015-11-23 06:40] #2080 closed

[2015-11-23 13:50] Nycroth commented on #2072
People really love showing me that i3 has an IPC...

[2015-11-23 21:09] stapelberg commented on #2072
I’m going to close this issue for now in favor of fulfilling this use-case via the IPC interface. In case it turns out that there is significant user demand and my earlier comments can actually be dismissed with a clearly correct way to implement it, we can revisit.

[2015-11-23 21:09] #2072 closed

[2015-11-23 21:33] Airblader commented on #1278
Implemented in #2065

[2015-11-23 21:33] #1278 closed

[2015-11-24 02:04] kb100 commented on #1839
@stapelberg I haven't experienced the bug in months now so I'm closing this issue. Will you please delete the logs

http://logs.i3wm.org/logs/5639574185312256.bz2
http://logs.i3wm.org/logs/5649521866440704.bz2
http://logs.i3wm.org/logs/5733935958982656.bz2

which contain personally identifiable information.

[2015-11-24 02:04] #1839 closed

[2015-11-24 08:53] stapelberg commented on #1839
Done.

[2015-11-24 11:08] arnuschky opened #2081 "Mouse cursor jumping back to previously used workspace"
I am facing a weird bug right now. I am sorry for a vague discription, but I wasn't able to fully identify and reproduce the issue yet.

Scenario: i3 4.11 on Ubuntu 14.04. Two monitors, same resolution.
Behavior: Mouse coursor jumping back to previously used workspace.

Detailed description: When moving/clicking with the mouse on a "broken" workspace, the mouse jumps back to the previously used wo

[2015-11-24 11:13] arnuschky commented on #2081
I haven't yet found a way to reproduce the problem deterministically. Might be related to me using two monitors and often switching between this two-monitor setup and a one-monitor one (laptop with a docking station).

[2015-11-24 11:17] Airblader commented on #2081
I've had this happen once in a while as well. Unfortunately I also don't have a way to reproduce it reliably yet. Marking it reproducible anyway.

All I know is that it wasn't introduced with 4.11.

[2015-11-24 11:52] arnuschky commented on #2081
I only noticed this very recently. I upgraded to 4.11 on 2015-10-17, so there might not be a correlation. I recently switched docks, so it might be related to that.

It's surely quite an annoying bug; once a workspace is "broken" it's basically unasble. (I'm happy that I found the workaround of moving the windows, at least :) )

[2015-11-24 11:58] Airblader commented on #2081
Actually I'm thinking our issues are different (though maybe not unrelated). For me it's not a "broken workspace", certainly doesn't *stay* broken in any way – it's just a sporadic mouse jump now and then.

I'll remove the reproducible again because either way, it isn't actually reproducible. Just somewhat confirmed.

[2015-11-24 18:44] woodensquares opened #2082 "i3 behavior in a multiple xrandr/xscreen situation"
I have X configured as follows, left to right:

monitor0: 1680x1050 card1, X screen 0, randr left
monitor1: 2560x1440 card2, X screen 0, randr right
monitor2: 1280x1024 card3, X screen 1

- if I move the mouse on the xscreen 0 monitors, everything is fine
- if I cross the boundary between xscreen 0 and xscreen 1 the keyboard focus does not switch *UNLESS* I enter the title bar of a window already

[2015-11-24 18:56] stapelberg commented on #2082
i3 does only support RandR, not multiple X screens.

Can you rephrase your problem in such a way that it only involves RandR?

[2015-11-24 19:00] woodensquares commented on #2082
I have 3 screens and two video cards, X screen 0 has two monitors connected (which are in xrandr as left/right), X screen 1 has one monitor connected, I can't believe I forgot to add this:

I am running two i3 instances, one on DISPLAY=:0.0 and one on DISPLAY=:0.1 the logs above are from DISPLAY=:0.0, but I now realize that I might have needed to debug on :0.1, let me retry

[2015-11-24 19:04] woodensquares commented on #2082
ok, here are the logs from the two i3s, one on xscreen0 and one on xscreen1 when my mouse pointer leaves xscreen0 (one window/container) and enters xscreen1 (one window/container)

xscreen0 (leaving)
[code]

xscreen1 (entering)
[code]

[2015-11-24 19:05] woodensquares commented on #2082
is it maybe a case that the i3 on screen1 still thinks it's in the same container that it was when the mouse left screen1 and so when the mouse comes back it does not think it needs to do anything (and so the focus stays on screen0)?

[2015-11-24 19:27] stapelberg commented on #2082
Yes. i3 makes the assumption that focus is a global property of X11, not a property that can be modified by a separate instance of a window manager running on a separate display.

I can’t think of a clean way to address this use-case, as I think i3 won’t get any events when you move focus to a different X screen, and we don’t want to constantly poll the focus either.

[2015-11-24 19:29] woodensquares commented on #2082
what about my suggestion above? do the poll if you get an enter event on 0 or screen_max? I don't think you could get an enter event on 0 (as opposed on 2) unless the cursor was coming from the left (i.e. outside the X screen) I would think, same for screen_max coming from the right

[2015-11-24 19:31] Airblader commented on #2082
Yes, you can, because any client can warp the pointer.

[2015-11-24 19:35] woodensquares commented on #2082
I would totally be willing to incur the extra penalty in my case, could you let me know where to modify to get handle_enter_notify to do the workspace change? it's ok if you don't want it to be a general thing as I doubt a lot of people are running multiple X screens nowadays (I have to because my video card doesn't have 3 outputs) and I am not sure it'd be worth the effort for you to make it conf

[2015-11-24 19:37] Airblader commented on #2082
Without taking a look at it, my first naive try would be to go look at this

    24/11/15 11:01:58 AM - workspace.c:_workspace_show:385 - Not switching, already there.

and kill that early-exit. You'd have to see what happens, so beware.

Just FYI, it is possible to track the cursor without constant polling. I had to do it for my work on xedgewarp. But it'd spam us with a lot of events from X11 wh

[2015-11-24 19:39] woodensquares commented on #2082
in general are there side-effects I need to take into account if you do a workspace show if you are already there? or is it usually skipped just for performance reasons?

[2015-11-24 19:52] woodensquares commented on #2082
looking at the code, the first handle_enter_notify goes through 'the user moved their cursor to the root window' case, then there is a second enter_notify that instead keeps going beyond that (and does not do the workspace check) that might be a way to trigger a workspace refresh only in that case, hmmm

[2015-11-24 19:52] Airblader commented on #2082
From quickly looking at the code, I'd expect `auto_back_and_forth' to break and perhaps urgency hints might misbehave. In general, it could also just crash, hence me saying

[2015-11-24 19:53] Airblader commented on #2082
Yes, there's definitely cleaner approaches. But I'd start with the dumbest, most naive approach and see where it takes me.

[2015-11-24 19:54] woodensquares commented on #2082
yeah, I had tried some naive changes before and ended up with my pointer stuck in a grab window in the middle of the screen with no keyboard focus :/ I might have to dig a bit deeper than that, will let you know if I get something that works

[2015-11-25 00:20] woodensquares commented on #2082
ok, the way I fixed this for my scenario is in workspace.c:384 in the "Not switching already there" if, before the return I added a call to a modified x_push_changes function that will force the focus change no matter what (meaning the if focused_id != to_focus was changed to if focused_id == to_focus)

I have tried a lot of other things but with no success, I would think the above would be fairly

[2015-11-25 00:25] Airblader commented on #2082
The approach doesn't sound clean to me, so I'm not really favoring merging such a patch. Even more so because it's a very partial "fix", so there's not really a great benefit from it. If we get a proper fix that actually makes things work reasonably well for multiple X screens, I don't see why we wouldn't want to merge it.

[2015-11-25 00:31] Airblader commented on #2082
https://tronche.com/gui/x/xlib/events/window-entry-exit/

I think the two properties `display` and `root` are worth exploring to figure out whether we can use them to detect if we have movement across displays.

[2015-11-25 00:33] woodensquares commented on #2082
what other cases can you end up in the "not switching already there" scenario besides having multiple screens just curious.

The less hacky fix would be of course to take from x_push_changes only the focus change code and have an additional function along the lines of x_refresh_focus() and call that in this case, either way as I was saying I doubt a lot of others are running with multiple X screen

[2015-11-25 00:34] woodensquares commented on #2082
hmmm, that might help, the only thing it'd be one would need to cache the current display/root at every event and trigger the focus change if they change, I guess I'd have to dig a bit more in the code to see where your event loop is etc.

[2015-11-25 07:50] Airblader commented on #2082
EnterNotify are quite frequent events. They're sent for every window.

Understandably, but that's no option for something you want to get merged in i3. :)

[2015-11-25 08:52] poisonby opened #2083 "i3 automatically changes the [mod] key"
I chose the Windows key as the mod key during start-up, but suddenly i3 changed it to Alt. I tried to replace my local config file with the default one in case I messed something up, but after reloading i3 it remains the same. The only thing that fixes it is removing the config file, restarting i3 and re-doing the start-up configuration.

I've done this twice now.

Is this a bug or is there someth

[2015-11-25 08:57] poisonby commented on #2083
@i3bot i3 version 4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and contributors

[2015-11-25 09:09] poisonby commented on #2083
It was a matter of pebkac. The start-up configuration file was placed in ~/.config/i3/config, replacing this file with /etc/i3/config changed the mod key. I didn't realize i3 placed the generated config file there.

[2015-11-25 09:09] #2083 closed

[2015-11-25 14:59] woodensquares commented on #2082
oh, for sure, I agree, that's why I didn't submit a pull request :) when I have time to work on this some more I'll see if I can get something cleaner working and will let you know, this said my aim was more so that if others hit the issue at least they will find there is a workaround for the time being.

[2015-11-25 16:50] Nairou opened #2084 "Feature Request: append_layout alternative to replace existing layout"
append_layout is great for when i3 first starts up, to prepare a workspace for certain windows at certain sizes. However, after hours or days of use, the layout of that workspace can change. Closing and reopening one of those windows will result in a different position or size.

It would be nice if there was a command, like replace_layout, that you could bind to a key to revert a layout back to th

[2015-11-25 20:03] Airblader commented on #2084
I think that'd be a feature. I'm not sure I'd like having that, though.

I think with #1668 implemented, this could be done with a script.

[2015-11-25 21:10] Airblader commented on #2084
Even without #1668, it might be possible to write a script by unmapping the windows and mapping them again. This should cause i3 to remanage them.

[2015-11-25 21:29] Nairou commented on #2084
Any hints on how a script would do that? I'm not familiar with unmapping/remapping windows.

[2015-11-25 21:31] Airblader commented on #2084
Once you have the window id (which you can get from the IPC or any other way), you could use `xdotool`

    xdotool windowmap <id>
    xdotool windowunmap <id>

[2015-11-25 21:32] ledti commented on #1979
This should be reproducible by installing the [Hangouts extension](https://chrome.google.com/webstore/detail/google-hangouts/nckgahadagoaajjgafhacjanaoiihapd?hl=en) in chrome and assigning the Hangouts window to a different workspace like so:

[code]

Then open Hangouts via the green button in Chromium.

[2015-11-25 21:38] Airblader commented on #1979
I can reproduce this with @ledti's instructions.

[2015-11-25 21:44] Airblader commented on #1979
I'm not convinced that this is an i3 issue. There's nothing special going on with the Chrome window AFAICT, it simply waits for the popup to be focused.

@ledti Can you please try to reproduce this with another window manager where the window will not be focused when it's opened?

[2015-11-25 22:09] ledti commented on #1979
@Airblader I've always assumed it *wasn't* a bug with i3, which is why I never reported it myself. It seems more like a specific circumstance that the Chromium developers never thought about.

A simple workaround I use is to just make sure that the main Hangouts window is always open.

Though, another similar problem related to the main Chromium window freezing should be able to be reproduced by [

[2015-11-25 23:06] acrisci opened #2085 "Enhancement: Add alpha channel to decoration color spec"
Use 8-digit hexidecimal notation for color specs to specify transparency in the form of `#RRGGBBAA`.

Example:

    client.focused #859900cc #859900cc #fdf6e3cc #859900cc

This specifies that focused windows decorations have 80 percent transparency.

Add a config for global setting of decoration transparency.

Example:

    decoration_transparency 80%

This specifies that all window decorations wi

[2015-11-25 23:10] acrisci commented on #2085
A use case for this would be to set borders very wide (maybe 10px) and then make them transparent. That would give you something like i3-gaps.

[2015-11-26 05:39] Airblader commented on #2085
I think this is already possible as a "side-effect" of the transparency commit. However, there's still tearing that I'm hoping to fix as a result of #1966. I don't really see why we need an extra directive for a global alpha channel?

[2015-11-26 06:28] acrisci commented on #2085
Can you give an example of how to do this in a config presently?

[2015-11-26 06:36] acrisci commented on #2085
Ah ok I just tried exactly what I put in the example and it actually kind of works. I was not expecting that.

However, it does not work for the borders and the text.

This should definitely be documented.

[2015-11-26 06:39] acrisci commented on #2085
Wasn't transparency support the entire reason for rendering with cairo in the first place?

[2015-11-26 07:37] Airblader commented on #2085
For text it doesn't work as we currently do this completely separately. Once we move everything to use cairo and `draw_util`, this should start working automatically.

It not working for borders surprises me. Are you sure you're not falling for our little misnomer here? The "border" color is not actually the border color – the border also uses "background". "border" is only used for two horizontal

[2015-11-26 07:44] Airblader commented on #1979
Yeah, I can reproduce that as well. Anyone want to report it against Chromium?

[2015-11-26 14:40] RX14 opened #2086 "i3 does not obey window minimum/maximum size or float."
I have a window with the same minimum and maximum size, but it doesn't float, and I can resize past max/min size.

xprop of window:
[code]

[except from i3 logfile when opening window](https://aww.moe/hrufbt.txt)

I know next to nothing about X11, so I may be wrong, but it seems that the window is setting it's minimum and maximum size after the window is opened, and this causes the properties not

[2015-11-26 14:58] Airblader commented on #2086
https://tronche.com/gui/x/icccm/sec-4.html:

The client should set those hints before mapping the window.

[2015-11-26 14:58] #2086 closed

[2015-11-26 15:05] RX14 commented on #2086
Can you verify from the logs that this is happening, because i'm not 100% sure.

[2015-11-28 10:18] unera commented on #1904
Hi!

I couldn't catch the bug for a long time.
Now I've opened mu notebook and statusbar showes yesterday date.

`sudo strace -f -v -tt -o /tmp/strace.log -s 2048 -p $(pidof i3status)`

showes only one string:

`24510 13:15:34.815855 --- stopped by SIGSTOP ---`

Sorry for inactivity.

Please reopen the ticket.

[2015-11-28 10:20] unera commented on #1904
[code]

but after kill -CONT status is still hangs up.

[2015-11-28 10:22] unera commented on #1904
kill -KILL doesn't help in the situation, too

only restart of i3

[2015-11-28 11:37] stapelberg commented on #1904
So, my guess is that i3bar is sending the STOP signal to i3status. Could you run strace on i3bar (leave it running in the background, grab the output when you run into the issue)?

Given that your bar is not configured to use hide mode, my guess would be that there is a bug in `handle_visibility_notify`.

You could try recompiling i3 with this patch:

[code]

[2015-11-28 13:45] unera commented on #1904
I must catch the bug for strace. The bug is reprodiced from time to time. I couldn't catch it for month or two :)

Now I run strace until the bug is reproduced, so it will have too big logfile :)

I'll try :)

[2015-11-28 14:03] LemonBoy commented on #1784
I'm experiencing this problem, or a very similar one, too with i3 (but the same happens with dwm too).
If I open a wireshark window it doesn't get redrawn at regular intervals (eg, the blinking bar in the text fields stays still for a handful of seconds, then disappears to reappear after some time). Switching focus continuously makes the window redraw regularly-ish.
The output of i3 -v is `i3 vers

[2015-11-30 18:54] Anachron commented on #1148
Hey, have you started yet? :+1:

[2015-11-30 19:38] Airblader commented on #1148
I haven't and I think given how long ago this was, it's safe to assume neither did @simonnagl.

[2015-11-30 20:46] Airblader opened #2088 "Adopt the StatusNotifierItem specification"
The XEmbed based system tray specification is horrible. We've noticed this when trying to allow transparency, and so has [awesome](https://github.com/awesomeWM/awesome/issues/363).

Even all the big players, namely Unity, KDE and Gnome, started deprecating the tray specification and seem to be betting on the replacement instead: the [StatusNotifierItem specification](http://www.freedesktop.org/wik

[2015-11-30 21:25] vitaliydmitriev opened #2089 "Jumping from one workspace to another."
Ubuntu 14.04, i3 version 4.11 (2015-09-30, branch "4.11"). Opened some workspaces: on the first one firefox is opened, on the second one -- libreoffice. When I try to go to the second workspace by pressing `mod4 + 1`, i3 automatically throws me to the first (sometimes with delay in about from 2 to 30 seconds). Only from the second to the first.
How to reproduce:
1. Open firefox on the first worksp

[2015-11-30 21:27] Airblader commented on #2089
Please provide a log file for this and make sure to read the link the bot gave you. A clean log file might go a long way for this issue.

[2015-11-30 21:53] arnuschky commented on #2081
It seems to be linked to LibreOffice. This bug is also reported in #2089 I think.

[2015-12-01 07:38] stapelberg commented on #2089
This seems to be a duplicate of #2081, closing. Please re-open if you think otherwise.

[2015-12-01 07:38] #2089 closed

[2015-12-01 07:45] stapelberg commented on #2088
Thanks for bringing this up, I think implementing this sounds reasonable in theory.

Given that the StatusNotifierItem spec seems to be based on dbus, we’ll need to have a careful look at which dbus libraries are out there that we can depend on.

[2015-12-01 08:58] Airblader commented on #2088
Alright. I'm not going to work on this right away, too much on my plate already, but I'll mark it as accepted for now under the usual restrictions and disclaimers.

[2015-12-01 19:21] Airblader commented on #1966
Just an FYI, I will continue working on this, but between pre-vacation work and then a few weeks of vacation, it might take a while. So inactivity on the ticket should not be mistaken with abandoning working on this.

[2015-12-01 20:10] arnuschky commented on #2081
Confirmed link to libreoffice. Jumping back is triggered non-deterministically by mouse movement and clicks. It always works when clicking on a menu item.

However, this concept of "brokeness" remains: when the window/workspace is in "broken mode", the bug is there and ist repeatable. When it's not in "broken mode", all behaves normally.

[2015-12-02 00:08] infokiller opened #2090 ""move position center" using i3-msg failure on a floating window"
When trying to issue the following command (where {w.id} is the i3 window id):
[code]
I get the following error:
[code]

Although the window is actually floating and doing other commands such as the following work well:
[code]

Versions:
[code]

[2015-12-02 00:35] infokiller commented on #2090
Sorry, first i3 bug report. I reproduced the problem with a very minimal setup of only 2 windows:
* One terminal (for issuing the i3-msg commands)
* One chrome floating window
Then, I just issued the above commands to i3-msg in the terminal window. I also fully deleted my i3 configuration file, so none of my settings are applied. Log file URL: `http://logs.i3wm.org/logs/5717648100818944.bz2`

Than

[2015-12-02 05:59] acrisci commented on #2090
What terminal are you using?

[2015-12-02 06:00] acrisci commented on #2090
It sounds like you are getting the `con_id` wrong somehow. How are you finding it?

[2015-12-02 06:04] Airblader commented on #2090
Could this be #2078?

[2015-12-02 06:09] acrisci opened #2091 "Command with `con_id` selector works on the focused window with no match"
Try this in a terminal:

    i3-msg [con_id="asdf"] kill

It will kill the terminal even though "asdf" will not match any `con_id`.

It should instead do nothing and give an error message in the json response that says there is no con with that id.

[2015-12-02 06:16] pniederlag opened #2092 "crash on suspend/resume and/or multiple monitor change"
laptop withdebian testing/unstable and recent i3wm from i3 apt-repos.

- multimonitor-setup via randr
- Unplugging a monitor (external hdmi)
- Closing the lid (suspend to ram via systemd/logind)
- Resume
- Crashing

Any hints/tips greatly appreciated.

[i3-backtrace.3140.2.txt](https://github.com/i3/i3/files/49419/i3-backtrace.3140.2.txt)

[2015-12-02 07:36] stapelberg commented on #2092
From the backtrace, this is i3 version 4.11-100-gf836e4c (2015-11-03, branch "next")

[2015-12-02 07:40] stapelberg commented on #2092
@pniederlag Can you provide a logfile please? This issue is pretty hard to diagnose otherwise.

[2015-12-02 09:24] infokiller commented on #2090
@acrisci I'm using your i3 python library for that (which is great BTW!).
But if I'm getting this wrong, why does the `move position mouse` command work?

[2015-12-02 10:58] ndemou commented on #2092
After upgrading from Ubuntu 12.04 and a really old version of i3 to Ubuntu 14.04 with i3 4.11 I'm facing the same crash a couple of times per week (I connect/disconnect an external monitor almost daily). I mostly hit 'r' and I'm fine but sometimes the small crash window is black with no text and hitting "r" doesn't work. I followed http://i3wm.org/docs/debugging.html in order to provide a backtrac

[2015-12-02 12:34] unera commented on #1904
Hi!

Now I've caught the bug, so I have full strace logs for i3bar and i3status.

You can find these logs here:
http://vdst.uvw.ru/strace.logs.tgz

[2015-12-02 16:27] ianks opened #2093 "Exposing workspace as a program managed by i3"
Here is my dilemma : I would like to be able to have Google Hangouts share just a single **workspace** when I screenshare.

Currently, I am only offered a few options:
1. Anything from the output of wmctrl -l
2. Entire screen

I assume that somehow Hangouts is looking at all of the programs managed by Xorg, then displaying those in a list. Is there a hack with Xorg to make it so a workspace can be

[2015-12-02 16:29] ianks commented on #2093
[code]

[2015-12-02 16:31] Airblader commented on #2093
Yes, the solution is (most likely) supporting the appropriate ewmh hints. However, we did this in the past and had to revert it because it caused problems. The i3 concept of workspaces is simply not compatible with the ewmh spec, unfortunately, so there isn't much we can do.

I do think it'd be possible to write a script that maps the i3 tree to something like the ewmh spec and sets the appropriat

[2015-12-02 16:34] Airblader commented on #2093
Sorry, just to make it clear: I meant an IPC script outside of i3, not a feature that lies within i3. That way it wouldn't matter if it broke for some users under some circumstances.

[2015-12-02 17:59] Airblader commented on #2091
The problem occurs because we fail to parse the `con_id` to a long. We do actually print an error, but we return and just don't add a match to the match criteria, causing the fallback to the focused window as if no criteria were present.

I'd actually argue that this isn't a bug, but simply incorrect usage.

The same behavior exists for `id` and `window_type`

[2015-12-02 18:02] Airblader commented on #2090
Can you provide the script you are using? If I manually get the con_id from the IPC and execute the command, it works fine for me.

[2015-12-02 18:04] Airblader commented on #2093
FYI, see #1507 and #938 for this. I'm going to close this issue soon since everything is explained there (unless someone can tell us that Chrome is looking for something other than those properties), but I think it could be a fun idea to write such a script.

[2015-12-02 18:27] Airblader commented on #2093
@ianks Actually now I have to ask – how is "entire screen" not the same as "workspace"? Are you talking about a multi-monitor setup?

[2015-12-02 22:11] mxmind commented on #1343
The issue is still present on El Capitan, even more the context menus have wrong "z-index". Can attach video or screenshots.
<img width="764" alt="z-index" src="https://cloud.githubusercontent.com/assets/1923314/11545855/59c47a30-9952-11e5-9231-22ebbe0b867f.png">

[2015-12-02 22:43] eeemsi opened #2094 "i3 crashes with a certain number of open windows"
steps to reproduce:
1. switch to stacked mode
2. open as many terminals as needed to reach the end of the monitor
3. open another terminal
4. crash

used version:
i3 version 4.11-129-gc490a60 (2015-11-30, branch "next") © 2009 Michael Stapelberg and contributors

[2015-12-02.txt](https://github.com/i3/i3/files/50289/2015-12-02.txt)

[2015-12-03 00:04] ianks commented on #2093
yes @Airblader I am talking about a multi-monitor setup.

[2015-12-03 00:59] acrisci commented on #2093
_NET_WM_DESKTOP is probably not what is needed to support this because it is a top-level window property that will not be applied to a workspace.

Do other window managers support the functionality you want? There is a possiblity that hangouts simply won't do what you want it to do. Try it with Openbox, Xfce, or Gnome to see if it can be supported at all.

[2015-12-03 05:39] Airblader commented on #2094
This could be the cairo move. I'll take a look at it.

[2015-12-03 07:31] stapelberg commented on #2091
I think we should improve this behavior. If a criterion was specified, we should just not fall back.

[2015-12-03 07:32] stapelberg commented on #2092
@ndemou Having installed i3-wm-dbg is enough. Just generate the backtrace, gdb will load the symbols from an external symbol file.

If you’re 100% sure you’re running into the very same issue (only a backtrace will tell), a logfile will be helpful.

[2015-12-03 07:39] stapelberg commented on #1904
[code]

I think this confirms my suspicion: i3bar stops i3status, and doesn’t wake it up again.

Have you tried recompiling i3 with the patch I provided? Does that resolve the issue?

[2015-12-03 07:41] stapelberg commented on #2094
The logfile you attached only contains one terminal being opened and covers a session that seems to be one minute long. Was it capped because you uploaded it into this issue? Can you use the way outlined in http://i3wm.org/docs/debugging.html please? Also, can you provide a backtrace of the crash?

[2015-12-03 07:51] pniederlag commented on #2092
unfortunatly I didn't manage to obtain the logfile(restarted meanwhile) but I am prepared to catch it next time. I'll come back as soon as I experience the next crash. Thx for i3wm and your support!

[2015-12-03 08:15] ndemou commented on #2092
BTW pniederiag's description matches my case word by word (except I'm on Ubuntu 14.04). The ugly detail is that when I just tried to reproduce the issue I can't :-(
@pniederlag can you reproduce it at will?

[2015-12-03 08:21] Airblader commented on #2091
So you don't want to let the command error out, but instead let it not match anything?

[2015-12-03 08:31] stapelberg commented on #2091
It should still result in an error, but it should not cause a fallback to the focused window any more.

[2015-12-03 09:21] unera commented on #1904
Now I've just rebuild debian package (4.11) with the patch and installed it.
So I will watch the problem.
But looking through the patch I think that the problem will be solved.

[2015-12-03 10:02] hwangcc23 commented on #2094
I can reproduce this.
In libi3/draw_util.c, line 51, xcb_request_check() returned an error code 9.
I don't understand XCB well. Don't know how to help debug this.

Closing SHM log "/i3-log-2456"
[Inferior 1 (process 2456) exited with code 01]
(gdb)
(gdb)
(gdb) Exiting due to signal.

libi3/draw_util.c:
 38 void draw_util_surface_init(xcb_connection_t *conn, surface_t *surface, xcb_drawable_t drawa

[2015-12-03 10:04] Airblader commented on #2094
Yeah, so it is the move to cairo. It's probably some condition about some width being less than zero or something. I'll look into it.

[2015-12-03 10:22] infokiller commented on #2090
Here's the code I'm using to print the current tree:
[code]
Output:
[code]

I then used `22947872` as the `con_id`.

[2015-12-03 10:22] infokiller commented on #2090
And again, `move position mouse` works.

[2015-12-03 10:37] Airblader commented on #2090
The problem is that `cmd_move_window_to_center` in `src/commands.c` does not consider command criteria at all yet, but operates only on the currently focused window. That'll be an easy fix.

[2015-12-03 12:30] Airblader commented on #2090
@infokiller You can try the PR I submitted to see if it solves your problem.

[2015-12-03 12:32] Airblader commented on #2093
My thought was that maybe Hangouts decides what a workspace is based on grouping windows by their `_NET_WM_DESKTOP`. I tried it, but it doesn't work and with some research I agree that it looks like Hangouts doesn't support this.

We should see if someone can verify with Gnome, Unity or similar.

[2015-12-03 18:02] Airblader commented on #2094
@eeemsi @stapelberg I've pushed a PR to fix this. Please note that containers you open "beyond visibility" might be broken afterwards because their frame windows are opened with a zero height. I've verified that this was the case before the cairo move already, so it's not a regression.

[2015-12-03 18:11] Airblader commented on #2091
The way I see it there's not many ways to fix this without substantially touching the parser. Two possible solutions:

* Set the match's property to something that will never match (`-1` and the like). We'd not do anything, the command exits neutrally and the error is logged in the log file.
* We introduce a "failure flag" on the match object and set it to true when a criterion was specified incor

[2015-12-03 18:32] eeemsi commented on #2094
@Airblader just applied your changes and tried to reproduce the crash. so far no crash.

[2015-12-03 20:34] Airblader opened #2097 "[enhancement] Run mouse bindings on the root window"
A mouse binding like

    bindsym --whole-window $mod+button4 workspace next

will only work on windows, but not on an empty workspace. We should allow selecting mouse bindings on the root window itself. Either by default when `--whole-window` is given or via another flag such as `--include-root-window`.

[2015-12-04 00:34] infokiller commented on #2090
Thanks @Airblader I will try that.
When is that expected to be part of a release?

[2015-12-04 00:54] infokiller commented on #2090
I can confirm it now works for me.

[2015-12-04 08:01] #2094 closed

[2015-12-04 08:02] #2090 closed

[2015-12-04 08:03] stapelberg commented on #2097
What’s the use-case you have in mind for a click on the root window?

[2015-12-04 10:05] Airblader commented on #2097
@stapelberg https://faq.i3wm.org/question/7528/scrolling-trough-workspaces/

[2015-12-04 10:09] Airblader commented on #2090
@infokiller Since the fix has been merged, it'll (probably) be in the next bugfix release.

[2015-12-04 10:16] stapelberg commented on #2090
It wasn’t clearly tagged as a bugfix, and the line is a bit blurry. Strictly speaking, this changes behavior — I’d argue in a positive way, but it’s not a clear and simple bugfix. I might save this up for the next regular release.

[2015-12-04 16:50] pniederlag opened #2098 "i3wm crash on removing external hdmi"
no suspend/resume this time involved(to my knowledge), now it happend just when unplugging the external hdmi monitor.

debian testing/unstable
i3 version 4.11-129-gc490a60 (2015-11-30, branch "next") © 2009 Michael Stapelberg and contributors

backtrace:
https://gist.github.com/pniederlag/414849b8b1efe56d323c

log:
http://logs.i3wm.org/logs/5696758453633024.bz2

[2015-12-04 16:52] pniederlag commented on #2092
no, some attempts but not reproducible at will. but today I experienced a crash on unplug and got the log and backtrace #2098 I'd assume this to be related

[2015-12-04 17:56] Airblader commented on #2098
How did you create the backtrace? Unless I'm reading it wrong, it makes no sense to me.

[2015-12-04 18:30] pniederlag commented on #2098
Just pressing b in Crash Dialog.
Timestamp Matches.

[2015-12-04 22:28] stapelberg commented on #2098
With regards to the backtrace: either the version of your binary does not match the version of your debug symbols (an old i3-wm-dbg package floating around?) or we’re seeing memory corruption.

[2015-12-05 00:09] Airblader commented on #2088
@stapelberg We already depend on glib which comes with a dbus API, so I think we should just use that one.

[2015-12-05 10:58] stapelberg commented on #2088
I haven’t used that API, but the fact that we already depend on glib is a strong plus of course. I guess we should try using the glib dbus API.

[2015-12-05 14:30] teto opened #2099 "Crash with layouts"
I was trying to use the append_layout feature with this simple layout (4 urxvt console):
https://transfer.sh/UyPBc/ws1.json
So just after loading the layout via i3-msg append_layout, I get this screen:
https://transfer.sh/8KUoD/2015-12-05-162429-1920x1080-scrot.png
Funny part is that there seems to be a placeholder not drawn on the right.
Then I open/close randomly terminals and eventually I alway

[2015-12-05 14:31] teto commented on #2099
2015-12-05 15:30 GMT+01:00 i3bot <notifications@github.com>:

i3 version 4.11-134-g04be42f (2015-12-04, branch "next") © 2009 Michael
Stapelberg and contributors

[2015-12-05 17:27] Airblader commented on #2099
I can reproduce this with the layout file; however, your layout file is invalid. You haven't provided any swallow criteria, they're all still commented out. Once that is fixed, everything works fine for me, hence I am closing this bug. Please read the guide on this: http://i3wm.org/docs/layout-saving.html

If you can reproduce this after trying to append a valid layout file, let us know and we wil

[2015-12-05 17:42] Airblader commented on #1904
@unera Can you try this patch instead now?

[code]

[2015-12-05 18:26] quark-zju opened #2100 "[enhancement] two options to help bring back i3 3.x or wmii column behavior"
### Background

Initially I was a wmii user and switched to i3 for better xrandr and tray icon support.

After using i3 for years, I finally conclude the tree concept brings more trouble than benifits to me.

For example, consider the following layout:

[code]

To create it, i3 3.x or wmii only needs 5 keystrokes. While i3 4.x requires 2 more (split v), which is 40%, a significant number.

Another

[2015-12-05 18:28] Airblader commented on #2100
We have the indicator for that which will tell you exactly this.

[2015-12-05 18:31] quark-zju commented on #2100
@Airblader yes if it's the first window and no if the container already has >= 2 windows.

[2015-12-05 18:59] stapelberg commented on #2100
I haven’t had time to read the container-related part yet, but:

http://i3wm.org/docs/userguide.html#_orientation_for_new_workspaces says:

So, it sounds to me like that option already exists? Does the `default_orientation` option not work for you?

[2015-12-05 20:31] quark-zju commented on #2100
@stapelberg Yes! Thanks! I vaguely remembered that there is such an option but cannot find it by searching "split" today. So I think we only need an option to disable implicit container, which seems to be easy.

[2015-12-05 21:39] Airblader commented on #2098
Is there a good, systematic approach to dealing with this backtrace in this case? It's really all over the place and I'm not seeing how it'd be useful.

Since the problem currently isn't reliably reproducible, it's also not an option to run it under valgrind.

@pniederlag Can you try to see how easy you can reproduce this? Once we can reproduce this at least one out of x times (x being sufficientl

[2015-12-05 21:44] Airblader commented on #2085
@acrisci Can you explain why we'd need the separate `decoration_transparency` directive? It seems to be the only thing left over in this proposal and if we don't need it, I'd close this issue. The other mentioned tickets will take care of this implicitly.

[2015-12-05 22:16] acrisci commented on #2085
I'm asking for 8bit hex to be explicitly supported because I think it's a really cool feature that people will like. I think that the greatest opportunities for improving i3 are in aesthetics. Other window managers do that much better than we do currently, and the fact is that eye candy is something that people care about. The more popular i3 becomes, the more influential the tiling paradigm will

[2015-12-05 22:31] Airblader commented on #2085
Agreed. I'd definitely like to explicitly support it as well, but we have work to do beforehand and I think a wise way to go would be to, once those things are implemented, go through a testing period (beyond the next branch).

Agreed.

That I don't really agree on. RGBA is a well-established format that plenty of other applications use for configuration of opacity. I'd also argue that it's both m

[2015-12-05 23:18] acrisci commented on #2085
8bit hex is probably the most unreadable way to write colors you can imagine. I think it's so ugly that it deserves an abstraction for the most common use case of this feature. Setting transparency for all parts of windows at once (or perhaps by some criteria, such as the focused window) I believe is actually a much more common use case than setting them individually for each part of the window. I

[2015-12-05 23:37] Airblader commented on #2085
I'd agree that hex is a user-unfriendly format in general, but why does this apply specifically to RGBA, but not to RGB?

For example, I could see the case where people want the background of the decoration to have transparency, but still want the text to be displayed with full opacity to stay readable.

Either I don't understand or we're talking about different things. Example time! Say we have t

[2015-12-06 21:39] stapelberg commented on #2099
Actually, I still think this behavior is worth improving: an invalid layout file should not make i3 crash, it should be rejected with an error message that conveys what’s wrong as best as we can possibly tell.

[2015-12-06 21:44] stapelberg commented on #2085
I think the 20-something edits refer to users who define colors in their config files. Because the default config file does not contain any directives involving colors, I think the majority of users will actually not have to do that many edits.

Also, I’d argue that adding an opacity level to every color in your config file can easily be done with one single edit operation, and that is a regular e

[2015-12-06 21:55] acrisci commented on #2085
I guess there is no arguing in matters of taste.

I'm gonna add this feature to i3-style so more github stars for me! :shipit:

[2015-12-07 04:18] woky opened #2101 "Programs that resize themselves"
Some programs wants to control their dimensions, for example Qmmp (something like WinAmp). Its player window can't be resized and making it non-floating results in this: https://i.imgur.com/lm2rxWa.png. That's bad example though as it's typical floating candidate. If you resize its playlist in classic window manager, the playlist window will resize by steps, which is somehow controlled by Qmmp. Bu

[2015-12-07 06:55] Airblader commented on #2101
That's the application's fault. The entire point to a window manager is that it is free to decide what to do with any configuration request. It can accept it, deny it entirely or modify it to its own liking. The client must behave accordingly.

i3 does support those "steps", so if it doesn't work for an application, it might set the hints incorrectly – for example, only after mapping the window. T

[2015-12-07 07:51] stapelberg commented on #2091
Both approaches sound okay to me, but I think your second suggestion is the clearer one:

[2015-12-07 07:51] stapelberg commented on #2097
That sounds reasonable.

[2015-12-07 08:01] stapelberg commented on #2098
The specific backtrace that was provided (https://gist.github.com/pniederlag/414849b8b1efe56d323c) is just not useful, I don’t think there’s anything we can do with it. As I mentioned, my first guess would be that there is a symbol mismatch, so if @pniederlag still has the core dump lying around, a proper backtrace might be obtainable by re-installing the precise version of the binary and symbols

[2015-12-07 08:15] stapelberg commented on #2100
If you frequently create such a layout, I suggest you automate it. That way, you’ll only need a single keystroke (if at all). There are a number of ways to go about automating layout manipulation, but the most promising might be [layout saving/restoring](http://i3wm.org/docs/layout-saving.html).

It actually is predictable. Here are two screenshots, each one with the default colors and the layout

[2015-12-07 08:15] #2100 closed

[2015-12-07 08:57] pniederlag commented on #2098
As I am on a fresh restart now any old logs are probably lost.

<pre>
i3:amd64/sid 4.11.1-1+g4.11-129-gc490a601 upgradeable to 4.11.1-1+g4.11-134-g04be42f1
i3-wm:amd64/sid 4.11.1-1+g4.11-129-gc490a601 upgradeable to 4.11.1-1+g4.11-134-g04be42f1
i3-wm-dbg:amd64/sid 4.11.1-1+g4.11-129-gc490a601 upgradeable to 4.11.1-1+g4.11-134-g04be42f1
</pre>

Will upgrade to -134 right now.

From what I think all

[2015-12-07 10:43] ccryx commented on #1969
As far as I can tell KDE Plasma 5.3 uses _NET_WM_WINDOW_TYPE_NOTIFICATION for its notifications without setting override_redirect resulting in the notifications being managed by i3. I have added the functionality to match for this window type and it seems to not cause any undesired behavior so far.

[2015-12-07 10:47] Airblader commented on #1969
@ccryx How did you manage to match on this window type? We currently don't support it. Anyway, thanks for the hint that Plasma uses this. I'll reopen.

[2015-12-07 10:48] Airblader commented on #1969
If you mean you actually implemented support for this, it'd be great if you could submit it as a PR. I think we have reason to support it now.

[2015-12-07 11:50] unera commented on #1904
Rebuilt and installed. So I wait and watch the bug  :)

[2015-12-07 18:10] quark-zju commented on #2100
I am not asking for change back, but a configurable way (even if it is very complex) to use the old behavior. For example, if we have a conditional command like "if a new implicit container is created, then do command xxx", and the option to disable horizontal/vertical implicit container from being created, I can configure myself to have column behavior. It's still the tree layout.

Your screensho

[2015-12-07 21:03] Airblader commented on #2097
Do you have a preference regarding a separate flag?

[2015-12-07 21:07] Airblader commented on #2085
OK so I'm going to close this then if that's alright. There's no reason we couldn't revisit in the future if necessary, we want to support RGBA either way anyway.

[2015-12-07 21:07] #2085 closed

[2015-12-07 23:56] woky commented on #2101
Sorry, I hastened too much. I realized that this probably isn't even problem with i3 and the issue is so minor that I don't have much interest in debugging it further. I'm attaching the logs nevertheless.

Here's the log after starting i3, starting the Tor Browser, and making a split: http://sprunge.us/VNaj

It seems `client.background` has no effect. Note the duplicated menu icon on the right sid

[2015-12-07 23:56] #2101 closed

[2015-12-08 15:38] ccryx commented on #1925
I tried to reproduce this issue with obs-studio-0.12.3 from the AUR. I also experience the redscreen with windows that are currently not visible but as soon as they become visible (or if I add the source while they are visible) OBS dies. This happens in awesome, openbox and i3 both with and without compton running. So I guess this is an obs bug rather than an i3 bug.

[2015-12-08 16:42] pniederlag commented on #2098
here is another fresh one, unplugging hdmi-monitor, i3wm crashed

backtrace:
https://gist.github.com/ae488621efab79e87e1c

log:
http://logs.i3wm.org/logs/5751700212154368.bz2

[2015-12-08 18:54] Airblader commented on #2098
Thank you, that backtrace makes more sense. It seems like the problem is that we're working on a con which has been detached because of the output being disconnected, which causes the workspace to be `NULL`, causing the crash.

@pniederlag Could it be that the crash happens if a container on the workspace on the output that you disconnected was set to urgent? If you're unsure, please try opening a

[2015-12-08 19:09] Airblader commented on #1925
The link provided in the original i3 mailing list thread actually received a comment between the mail thread and opening of this issue which describes both the reason and a workaround[1]. Also see [2].

I very much doubt we are going to change the entire foundation the i3 workspace concept is based on (which is unmapping windows on invisible workspaces and not rendering those workspaces); @stapelb

[2015-12-08 19:09] #1925 closed

[2015-12-08 22:22] Airblader commented on #2098
My previous theory was slightly off. It's not a detached container we are dealing with, but an output container (simply looking at the backtrace will tell you this). Since outputs are higher up in the hierarchy than workspaces, we end up with `NULL` there.

[2015-12-09 12:29] pniederlag commented on #2098
I could not reproduce the crash by the procedure that you described (`sleep 5; echo -e "\a"`a) but I did experience quite some crashes today in relation with suspend/resume and plug/unplugging external monitor.

backtrace:
https://gist.github.com/27ab568d8958c2781a47

log:
http://logs.i3wm.org/logs/5648334039547904.bz2

hth,
Peter

[2015-12-09 12:32] Airblader commented on #2098
Yeah, that's the same bug. Can you please tell me what applications you had open on the output you removed? How did you start them? Especially try to find similarities between the incidents.

It's pretty clear what the fix looks like, but I want to understand how we even get into this situation because I currently don't see how we end up there.

[2015-12-09 13:13] Airblader commented on #2092
From the backtrace I can tell that it's the same issue as #2098. Although this one came first, I've described the problem there, so I'm closing this as a duplicate.

[2015-12-09 13:13] #2092 closed

[2015-12-09 18:05] Airblader commented on #1865
@mgrunwald This is gonna sound dumb, but is the missing terminal simply the one that was sent to the scratchpad due to opening a shell after appending the layout in your config?

[2015-12-09 18:16] pniederlag commented on #2098
ok, here's the next one, before unplugging i tried your hint once more (closing most other workspaces and applications beforehand, add terminal on workspace attached to external monitor, run `sleep 5; echo -e "\a"`a).

unplug: fine
running xrandr to adapt randr config to current setup: -> crash

log:
http://logs.i3wm.org/logs/5724681378201600.bz2

backtrace:
(sry, must have forgotten to dump backt

[2015-12-09 18:18] mgrunwald commented on #1865
Hello Airblader!

Doesn't sound dumb at all. Nevertheless, I don't think it is like this, because in this case, the free slot in the layout would be used by the scratchpad shell. In my case, the free slot is completely missing...

Thanks for your hint!

[2015-12-09 18:28] Airblader commented on #1865
@mgrunwald But you have a directive that sends that shell straight to the scratchpad, so it could be like this:

* The layout is appended
* The scratchpad shell is started
* The container swallows the shell
* The assignment runs and the shell is sent to the scratchpad

[2015-12-09 18:46] Airblader commented on #2098
What really confuses me about your log files is that I don't see something like this in there:

[code]

[2015-12-09 19:49] mgrunwald commented on #1865
Now I feel dumb. It is exactly as you described!
Thank you very much!

Now, if I start five shells before the scratchpad-shell, all should be fine :)

[2015-12-09 19:57] Airblader commented on #1865
Well, it took a few months but we figured it out, that's all that counts. :)

[2015-12-09 19:57] #1865 closed

[2015-12-10 08:14] stapelberg commented on #2100
As I was saying, I don’t think adding an option is a good idea either.

If this is really a big deal for you, the best course of action might be to run a patched version of i3.

[2015-12-10 08:15] stapelberg commented on #2097
I think we should not add a separate flag unless we have to.

[2015-12-10 08:17] Airblader commented on #2097
OK, then let's go with doing this if `--whole-window` is set.

[2015-12-10 08:30] stapelberg commented on #1925
Correct, having workspaces map/unmap windows is the standard way of implementing workspaces, and we won’t diverge from that.

[2015-12-10 16:25] kynan opened #2104 "Allow matching against WM_COMMAND in command criteria"
It would be useful to be able to match against `WM_COMMAND` in command criteria e.g. with `window_for`.

[2015-12-10 16:26] kynan commented on #2104
$ i3 --version
    i3 version 4.11-135-g624b33f (2015-12-09, branch "next")

[2015-12-10 16:30] Airblader commented on #2104
What's your usecase for this where the existing criteria don't suffice?

[2015-12-10 19:58] stapelberg commented on #2104
I’m also curious about the specific use-case. In my experience, I’ve only ever come across urxvt which even sets WM_COMMAND, and it doesn’t do that in a useful way (the initial WM_COMMAND is never updated). Which applications are you using that set WM_COMMAND?

[2015-12-10 19:58] kynan commented on #2104
`xview`, for which I currently use `[class="^xli$"]` but I'm unsure that is a good rule.

[2015-12-10 20:00] kynan commented on #2104
xprop:
[code]

[2015-12-10 20:09] Airblader commented on #2104
I don't see why it wouldn't be a good rule, it looks fine to me. The problem I have with supporting `WM_COMMAND` is, for one, what Michael said about it being rarely used (meaningfully), but also that we generally believe that applications should set proper values for `WM_CLASS`. xview / xli, so it seems to me, seems to do that, though.

[2015-12-10 20:23] kynan commented on #2104
OK, if you think that's sufficient I'll leave it as is.

[2015-12-11 07:44] Airblader commented on #2104
OK. I'll close this issue then since we have no actual reason for this yet. If you do eventually find class to be insufficient, which I doubt, just check back with us here.

[2015-12-11 07:44] #2104 closed

[2015-12-11 10:20] Walther opened #2106 "Feature request: Option `alternating` for `default_orientation`"
Feature request: Add the option `alternating` to `default_orientation`, that will make every other container split in the other direction.

i3 has the [option](https://i3wm.org/docs/userguide.html#_orientation_for_new_workspaces) `default_orientation` with options `horizontal`, `vertical`, and `auto`.
By default, i3 creates all new windows split evenly to the same direction, unless you specificall

[2015-12-12 12:40] mishurov opened #2107 "Feature request: maximize command"
Commands:
maximize enable
maximize disable
maximize toggle
With behavior like non-global fullscreen but don't hide i3bar. I tried to do it with scripting, saving state of windows in parent container (width, height) then move out container into new workspace, and on restore tried to move all back and resize windows according to saved state. But it's very buggy and unstable, for example when you try

[2015-12-12 20:14] Airblader commented on #2107
I'm not entirely sure why you want to have a window on a workspace with other applications, then "fullscreen" it, meaning you want to focus only on that window, but decide to arbitrarily exclude dock windows from that action. Maybe you can explain a bit more why you actually want/need this?

Also note that if we were to implement this, we should respect the atoms mentioned in #1874.

[2015-12-12 20:53] Airblader commented on #2106
This is somewhat related to #1814, though there it's via command and here it's automatically. I'm not sure how I feel about having both.

[2015-12-12 23:08] mishurov commented on #2107
When I "fullscreen" window, I cant see what time is it now and other useful information on bar, because window occupies whole screen and hides bar (list of workspaces, tray and status). I want fullscreen mode but also visible bar like "zoom" mode in tmux which zooms active screen temporary over other ones. Word "maximize" means to maximize window like it maximized on floating WMs from users point

[2015-12-13 14:44] Juje opened #2109 "Feature request: The ability to set a color to floating windows only"
Today I was using tabbed mode for my windows and I saw that the coloring was incorrect so I changed the color but than when I opened a window in floating mode the color was wrong. Because it messed with the main background of my windows.

So my question is if it would be possible to add color settings to floating windows only.
For example:

    client.floating.focused
    client.floating.focused_i

[2015-12-13 14:46] Juje commented on #2109
I don't see any reason why the version is needed for a feature request but here we go:

    i3 version 4.10.3 (2015-07-30, branch "4.10.3") © 2009-2014 Michael Stapelberg and contributors

And same for the log. Because there is nothing really to log.

[2015-12-13 17:41] Airblader commented on #2107
That's the part that sounds weird to me. If you want to see the time, just unfullscreen the container and then refullscreen it. You only have it fullscreened temporarily anyway and you do that because it's the window you want to focus on in that moment – not the bar.

If, on the other hand, it's not a temporary thing, you should just put the window on its own workspace to begin with.

I just don't

[2015-12-14 08:17] #2091 closed

[2015-12-14 08:23] stapelberg commented on #2106
I think this is covered fairly well be #1814, which is a small addition, whereas the suggestion here implies deeper changes into how i3 layouts work, at least from a mental complexity point of view. Opening a window and splitting a container are distinct operations, and I don’t want to throw them together.

Users can always use the IPC interface to achieve the suggested feature. I’m closing this r

[2015-12-14 08:23] #2106 closed

[2015-12-14 08:31] stapelberg commented on #2109
This is not currently possible, and I don’t think we should make it possible. The color settings are confusing enough as-is, so adding more color settings isn’t too appealing. Especially since the distinction between floating and tiling windows is on a very high level, so we’d need to duplicate all the settings (focused, not focused, urgent, …) for floating windows.

Given that using floating wind

[2015-12-14 08:31] #2109 closed

[2015-12-14 08:35] stapelberg commented on #2107
I agree with what @Airblader says. Also, this is a duplicate of #720.

[2015-12-14 19:48] #2099 closed

[2015-12-15 09:17] zenny opened #2110 "Extremely tiny unreadable fonts with 4k monitor"
Hi,

My i3 version is at 4.11:

Logfile at:
http://logs.i3wm.org/logs/5684961520648192.bz2

The fonts are rendered extremely tiny (unreadable) with i3 in 4k monitor.

§1. Tried with

which just increased the size of the workspace conky-i3bar, but not of i3staus bar nor of other application windows.

§2. Appended a line in .i3/config file with a larger fontsize:

§3. Tried with:

§4. Appended with

[2015-12-15 12:16] Airblader opened #2111 "con_id and mark criteria ignore all other criteria"
If a command is specified with either `con_id` or `mark`, all other criteria are ignored. For example, the following will always kill the focused window:

    [con_id=__focused__ class=foobar] kill

This is due to the special handling of those criteria in `cmd_criteria_match_windows` in `src/commands.c`.

I guess the rationale for this was that `con_id` and `mark` uniquely identify a window alread

[2015-12-15 12:18] Airblader commented on #2110
You still are using a monospaces font:

    12/15/2015 10:07:56 AM - config_parser.c:parse_config:313 - CONFIG(line  16): font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1

As @stapelberg explained on the mailing list, this cannot be scaled. You mentioned you have the same issue with a scalable pango font, so please attach the log file using that.

[2015-12-15 17:53] bceverly opened #2114 "i3 4.11 ignoring dpi settings in i3bar and i3-nagbar"
I'm running OpenBSD 5.8-current with the latest i3 package from the snapshots directory.  I have Xft.dpi set to 227 in my .Xresources file and am using "xrandr --dpi 227" in my .xinitrc file.  Hardware is a retina 13" Macbook Pro.

Any help you can provide would be appreciated.  Thanks for an outstanding window manager by the way!!!!!!

[2015-12-15 17:53] bceverly commented on #2114
i3 version 4.11 (2015-09-30, branch "4.11")

[2015-12-15 18:04] stapelberg commented on #2114
To clarify, does this affect the text of i3bar, or only the mouse cursor?

[2015-12-15 18:15] #2097 closed

[2015-12-15 18:46] mishurov commented on #2107
Made a patch for 4.10.4 (stable version in Gentoo portages, patched current next branch but it's buggy on restoring sved layout from json), quite simple, just couple of changes to render function and new property.
https://github.com/mishurov/applets/blob/master/i3patch/files/add_zoom_i3_4.10.4.patch

[2015-12-15 18:54] Airblader commented on #2093
I'ver verified on KDE that this is generally not possible in Hangouts, hence closing this.

[2015-12-15 18:54] #2093 closed

[2015-12-15 18:57] Airblader opened #2115 "[enhancement] Add tests for mouse bindings on empty workspaces"
See discussion on #2108:

This refers to #2097

[2015-12-15 21:55] fabrox opened #2116 "_NET_WM_FULLSCREEN_MONITORS not handled properly."
i3 is not handling the _NET_WM_FULLSCREEN_MONITORS (http://standards.freedesktop.org/wm-spec/wm-spec-latest.html#idm140200472531472) hint properly. There are several applications that use this hint to span a fullscreen window over several monitors.

One example is freerdp - If started with /multimon /f the resulting session window should span over all connected monitors. In i3 the resulting window

[2015-12-15 21:56] fabrox commented on #2116
i3 version 4.11 (2015-09-30, branch "4.11")

[2015-12-15 22:49] Airblader commented on #2116
i3 is not handling it all. However, i3 also doesn't claim to handle it and hence any application should be able to deal with that.

i3 only allows to span a fullscreen container over one or all monitors, nothing in between anyway.

I've only looked at the awesome source code, but awesome doesn't handle this hint at all either.

[2015-12-16 01:03] hyiltiz opened #2117 "Please remove outdated milestones"
This project is under very active development and maintenance. Letting the unused milestones outdated seems somewhat unnecessary; it seems using milestones was planned but not actually started. Please remove all present milestones before 4.11 which has already been released, and reconsider the necessity of using milestone.

[2015-12-16 01:57] ffernand commented on #2019
The chrome issue is still present even for the latest version of i3.  Ctrl-n creates a new window not visible during chrome full screen mode.  Current full screen is frozen (ie. accepts no keyboard or mouse input) until full screen mode is existed.  Then both the original chrome window and the new window show up size by size.

This happens even for popups that chrome might generate in the course o

[2015-12-16 03:01] phinicota opened #2118 "Feature request: make workspace_auto_back_and_forth aware of workspaces, displays and focus"
I was told this is currently not possible. Here is what I suggest:
So I have 6 workspaces (WS) on display 1 and other 6 on display 2. I have this enabled in my .i3/config:
[code]

**What I got**: when I'm in WS 4 (mod+4) and switch to 5 (mod+5), mod+5 will take me back to 4. (How it is supposed to work apparently)

**What I wanted**: if WS 5 is on display 2, after a press mod+5 again, I would like

[2015-12-16 03:19] Airblader commented on #2117
Milestones are created automatically on Github and we need the tags. I also don't see why we should remove old milestones, people may want them.

[2015-12-16 03:19] #2117 closed

[2015-12-16 03:24] Airblader commented on #2019
We know the issue exists, but we currently don't think it's an i3 issue.

[2015-12-16 05:01] hyiltiz opened #2119 "Feature request: support putting arbitrary windows into i3bar"
There are many useful applets provided by other desktop environments. One can call the Application Menu provided by KDE5 by simply running `plasmawindowed org.kde.plasma.kicker` from a command line as a window, which can be interacted by clicks.

It is possible to keep this as floated sticky window, but having a native way to put this window as a i3bar icon would be ideal. In the i3 User Guide, ho

[2015-12-16 05:13] acrisci commented on #2119
:-1:

[2015-12-16 05:32] Airblader commented on #2119
I think embedding windows just like any other tray icon is the job of the requesting application, not the job of the embedding application.

Sounds to me like KDE does it the same way by providing a separate utility for that. And since i3 is not a DE, I think such a tool should live outside of i3.

That is if I understood the request correctly. A video or picture would indeed help.

[2015-12-16 05:54] Airblader commented on #2119
Also, FYI, Michael stated some time ago that i3bar is intended to display information on workspaces, not windows, which is why we don't display things like number of windows and so on.

To further rule out a misunderstanding I feel exists in the original post: creating tray icons is not the job of i3bar. We provide the interface to embed a window, but providing something to be embedded is the resp

[2015-12-16 07:15] hyiltiz commented on #2119
i3wm as a Window Manager does not provide a Application Menu, as it should not. However, having an overview of all installed applications would really be great. Maybe a lightweight program based on ncurses would do it. Here I have KDE along with i3wm, so that I can use some of its applications when needed. So, it would be great to just use what KDE already provides to have that feature. Running `p

[2015-12-16 07:50] hyiltiz commented on #2119
I have been able to achieve what I meant above by the sticky window.

[code]

Here is how it looks like:
![sticky](https://cloud.githubusercontent.com/assets/3246683/11835066/b471989e-a39f-11e5-9fa0-23c566a40290.png)

Functionality achieved, but is a very hacky (ugly) workaround.

[2015-12-16 07:59] #1969 closed

[2015-12-16 08:01] stapelberg commented on #2118
This is a reasonable use-case, but I’m not keen on making back-and-forth occupy more mental (and code) complexity in i3 than it already has.

I think your suggestion should be implemented as an external script using the IPC interface.

[2015-12-16 08:01] #2118 closed

[2015-12-16 08:03] stapelberg commented on #2119
I agree with what @Airblader said.

[2015-12-16 08:03] #2119 closed

[2015-12-16 08:19] hyiltiz commented on #2119
@Airblader said:

The last clause is amusingly twisted that I did not quite understand. However, he said "the interface to embed a window" is provided. I was not able to find this API documented. Did he refer to this: http://i3wm.org/docs/4.2/userguide.html#_tray_output ? If so, it is not clear how this API would allow a user to embed a window into the i3bar. If not, then I think I should read the

[2015-12-16 08:32] stapelberg commented on #2119
He means that i3bar implements the [XEMBED standard](http://standards.freedesktop.org/xembed-spec/xembed-spec-latest.html). X11 applications can make use of that, it’s not something that end-users can configure.

[2015-12-16 08:58] hyiltiz commented on #2119
Thank you @stapelberg ! I found from [this](http://doc.qt.io/qt-5/qtwidgets-desktop-systray-example.html) example that implementing a system tray object is *not* trivial, and as you pointed out, *not* something that end-users can configure.

Maybe I should be content with my current configuration. Maybe I can do a small project, if feasible, to come up with a program that wraps an arbitrary window

[2015-12-16 13:59] fabrox commented on #2116
Yes they should, absolutely. But unfortunately they don't and thus I've thought it would be easyer to get i3
handling this hint than implementing "workarounds" for applications that make use of this hint.

What do I need to tell i3 to span a window over all screens? I did not knew that it is possible and it this would solve my problem at least to a certain degree.

I came to this conclusion becaus

[2015-12-16 14:03] Airblader commented on #2116
Can you link to the commit that broke it there? That'd be quite interesting.

You can fullscreen a container in i3 over all monitors by issuing

    fullscreen toggle global

[2015-12-16 14:17] Airblader commented on #2116
Just to make this clearer: the specification has a protocol of how a window manager tells applications which atoms they support. Unsupported non-mandatory atoms MUST be dealt with by the client application. It's not just a "they should"; they are violating the spec and it should be a clear bug against them.

That isn't to say we can't support this atom. I just want to be clear on the fact that thi

[2015-12-16 14:52] fabrox commented on #2116
I think this is the merged pull request in question: https://github.com/FreeRDP/FreeRDP/pull/2426 and this is the approach to fix it https://github.com/FreeRDP/FreeRDP/pull/2821

[2015-12-16 15:09] Airblader commented on #2116
Thanks. The PR is indeed broken since, as stated in the fix PR, it doesn't check for window manager support.

As far as supporting the atom in i3, if I understand it correctly, it would allow clients to fullscreen them on arbitrary sets of outputs. That would be a problem for us since we don't currently support that (and I doubt that it's trivial). And only half-supporting an atom might cause more

[2015-12-16 20:06] ffernand commented on #2019
I'm not sure if you mean that it's an issue with just Chrome or if it's an issue with apps in full screen in general.  A friend of mine did confirm that the Chrome issue in full screen exists in Xmonad as well, but I've noticed that it's not limited to Chrome either.

Another example is Gimp.  Opening the 'Preferences' dialog via 'Edit -> Preferences' or the 'Open' dialog via 'File -> New' when Gi

[2015-12-17 01:15] Airblader commented on #2019
Generally: if it happens for different applications, a good way to start is looking what they have in common. For example, if they all use a toolkit like GTK, it might be a bug in GTK.

For things like dialogs, there are [WM_TRANSIENT_FOR](https://tronche.com/gui/x/icccm/sec-4.html#WM_TRANSIENT_FOR) and [WM_CLIENT_LEADER](https://tronche.com/gui/x/icccm/sec-5.html), which are also the things i3 lo

[2015-12-17 01:21] Airblader commented on #2019
Just FYI, for gimp the following patch (which is pretty ugly) works:

[code]

[2015-12-17 05:04] acrisci commented on #2115
We need something like libxdotool for perl.

[2015-12-17 05:12] naclander opened #2120 "title_format doesn't change top level tab title"
i3 version 4.11 (2015-09-30, branch "4.11")

When using title format in tabbed mode, with multiple tabs and multiple windows under those tabs, I cannot change the top level tab name.

For example,  doing mod+a to select all windows under a tab, and then calling title_format, I expect that tab to have its title changed.

[2015-12-17 12:06] Airblader commented on #2120
To be clear, do you mean the top right in this screenshots?

![screenshot-2015-12-17_07-05-41](https://cloud.githubusercontent.com/assets/2392216/11869290/a19325b0-a48c-11e5-964c-13e75990f60e.png)

[2015-12-17 12:18] Airblader commented on #2098
@pniederlag Did you have any luck with the layout file?

[2015-12-17 12:45] pniederlag commented on #2098
as the problem is not reproducible by will it's tough to run a script before. :(

I just had a crash again today, after about 4 days of stable operations.

backtrace:
https://gist.github.com/1bc7eeff05b7f04a749c

log:
http://logs.i3wm.org/logs/5643440998055936.bz2

[2015-12-17 12:47] Airblader commented on #2098
I was hoping you could just run the script and unplug, run the script and unplug and so on to see if it happens after a while.

Backtraces and logs aren't really useful anymore. They'll always look the same.

[2015-12-17 17:24] naclander commented on #2120
That is correct, I have not found a way to change the tab name that says "S[termite termite]"

[2015-12-17 18:47] Airblader commented on #2120
`title_format` is only meant to change the display of actual leaf containers, but this isn't a leaf container. That's why you cannot change the title.

Can you explain what you would want that container title to change to, given that placeholders like `%title` are somewhat useless in this context?

[2015-12-17 18:56] naclander commented on #2120
Why is that the case? leaf containers aren't mentioned in the [documentation](https://i3wm.org/docs/userguide.html#_window_title_format). If I have a setup composed of tabs within tabs, I would like to be able to change the title of any one of those tabs arbitrarily.

[2015-12-17 19:03] Airblader commented on #2120
Because so far, we considered this only useful on leaf containers.

We generally only expose actual X clients since the nested containers aren't managed windows in the traditional sense, but more of an internal i3 construct. The documentation does explicitly talk about X11 windows and their titles, so while maybe not perfectly clear, I do think that it's in there.

As I've asked before: to what? A

[2015-12-17 19:29] naclander commented on #2120
I'm not sure why a specific example is needed, as the ability to name a tab to something representative of the work happening in that tab seems like a strong enough use case for me, but I'll go ahead and give an example.

Assuming I have many terminals under a tab, and say those terminals all have running ssh sessions into server A, I would like the rename the tab to something like "server A".

Li

[2015-12-17 19:41] VladVP commented on #2081
Can confirm this bug on Debian Jessie stable with i3-gaps version 4.11 (not sure if this is the repo to complain in, since I'm actually using i3-gaps, but the bug seems to be present in both codebases so I am assuming it originated here.)

For me, the bug exclusively occurs in conjunction with LibreOffice Writer. I am on a single-monitor laptop setup, and I usually have terminals and code editors

[2015-12-17 20:02] Airblader commented on #2120
OK, let me explain this. The original usecase for `title_format` was to allow prefixing window titles. We went for a slightly more abstract approach by allow custom strings and placeholders like `%title`. That way, users have a bit more control than just adding a prefix.

However, `%title` being the X11 window title, this only makes sense for actual X11 clients (i.e., leaf containers). If we now a

[2015-12-17 20:14] Airblader commented on #2120
All of this said now, considering the example you stated I think that making `title_format` a container rather than window property makes sense. `%title` would be set to the tree representation, `%class` to "i3-frame" (as is the case for frame windows) and `%instance` to empty string.

@stapelberg Thoughts?

[2015-12-17 21:09] stapelberg commented on #2115
Why? We already have i3test::XTEST which handles all that’s necessary for key bindings. I think it’s a small jump to make it also support button presses.

[2015-12-18 01:00] acrisci commented on #2120
I think `%title` actually makes sense because there is text displayed in the title bar, which is basically what a title is. I think `%class` should probably be blank because there is no class.

[2015-12-18 01:03] acrisci commented on #2115
Because I want to use it outside of the test cases and all the current xtest libraries are too complicated to learn to do the goofy things I want to do with it. But for that case, maybe python is better.

[2015-12-18 07:49] stapelberg commented on #2116
In principle, I’m not opposed to implementing this hint, since I can understand the use-case. However:

From http://standards.freedesktop.org/wm-spec/wm-spec-latest.html#idm140200472531472:

I find it a bit problematic that Xinerama is required here. i3 in general strives to use RandR for everything, and adding a dependency on Xinerama doesn’t sound appealing.

Further, the standard doesn’t say an

[2015-12-18 15:12] Airblader commented on #2120
2d4f8ce90bcf1e07d5abaa6f12fc47d2bb1dc36d

[2015-12-20 08:09] leonardinius commented on #1784
I've also encountered the same behavior with IntelliJ IDEA.
[code]

[2015-12-20 08:18] leonardinius commented on #1784
Quick question though: is there any workaround I could use or something?..

[2015-12-20 08:24] Airblader commented on #1784
The workaround would be to locallly revert the commit mentioned above.

[2015-12-20 11:56] winku opened #2122 "Comma enclosed in quotes"
In config file:
`bindsym $mod+r exec setxkbmap "ru,us";`
In error log (after pressing $mod+r):
[code]
i3 version:
`i3 version 4.11 (2015-09-30, branch "4.11")`

Looks like something is wrong with comma enclosed in quotes. The problem reproduces even if I put `bindsym ...` statement in `mode` definition.

[2015-12-21 10:43] leonardinius commented on #1784
@Airblader It actually worked. Thanks.

[2015-12-21 13:59] unera commented on #1904
two weeks status works fine.

[2015-12-21 21:11] bceverly commented on #2114
Sorry for the tardy reply. Didn't see a notification email.

Yes. This just impacts the cursor size. The text of the bar appears "normally" sized at this dpi.

[2015-12-21 21:18] stapelberg commented on #2114
@bceverly Can you provide the output of `xrdb -query` please?

[2015-12-21 21:20] bceverly commented on #2114
$ xrdb -query
Xft.dpi:        227
*scrollbar*width:       20
.xterm*faceName:        dejavu sans mono:size=8
.xterm*scrollbar*width: 20
.xterm*pointerMode:     2

[2015-12-22 14:08] stapelberg commented on #2114
@bceverly Is the cursor you see when the pointer is over i3bar identical to the cursor you see when the pointer is over the root window (open an empty workspace)?

If yes, I think all that’s necessary is to make i3bar support xcursor (like i3 itself already does).

Until that’s done, I think running `xsetroot -cursor_name left_ptr` in `~/.xsession` might be a workaronud.

[2015-12-22 15:19] bceverly commented on #2114
@stapelberg you are correct.  The pointer over the i3bar is identical to the one on the root window.  I tried the suggestion of xsetroot in both my .xsession and my .xinitrc and unfortunately I didn't change the behavior for me.  Perhaps I'm doing something wrong there.

I do appreciate your help so far!

[2015-12-22 17:50] stapelberg commented on #2114
Which X cursor themes are installed on your machine, and which one is loaded by default? Check /usr/share/icons if you’re unsure, /usr/share/icons/default should be a symlink to the default theme.

I can’t quite reproduce the issue you’re having. The cursor is always the same for me, no matter whether the pointer is over the window decoration, i3bar, or the root window.

I’m using `startx /usr/bin

[2015-12-22 18:29] bceverly commented on #2114
@stapelberg so here's what I get when I try this (keep in mind I'm on OpenBSD 5.8-current):

1.  I can definitely fire up i3 like you did.  However, when I try the xrdb stuff, it acts like it has been successfully processed and yet makes no difference when i3 restarts.

2.  I know my .Xresources file gets processed because it changes the font size in the terminal window successfully.  However, the

[2015-12-22 18:31] bceverly commented on #2114
Sorry - one more thing.  The way I change my cursor theme and size is to simply set the following environment variables in my .profile:

export XCURSOR_PATH=/usr/local/share/icons/
export XCURSOR_THEME=Adwaita
export XCURSOR_SIZE=48

[2015-12-22 21:42] #1904 closed

[2015-12-22 21:43] stapelberg commented on #1904
@unera Could you revert the previously provided patch and upgrade to the latest git revision please? That should also fix the issue, and I’d love if you could confirm that.

[2015-12-22 21:44] stapelberg commented on #2114
What happens when you repeat the investigation from your previous comment, but with the `XCURSOR_*` environment variables unset?

[2015-12-22 22:40] Hessesian opened #2123 "Memory leak after opening hyperlink"
Bug I noticed since newest version
i3 version 4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and contributors

1. ~~Set firefox 43.0.1 as default browser~~ Browser choice doesn't matter
2. Open application containing hyperlinks (skype, android studio...)
3. click on hyperlink

result: cpu and memory gets consumed at high levels until system hangs
expected result: firefox opens new tab

[2015-12-22 22:48] Airblader commented on #2123
What makes you think this has anything to do with i3?

[2015-12-22 22:51] Hessesian commented on #2123
Because it doesn't happen on any other WM, I mainly wanted to check if you see anything interesting in logs that might point towards firefox or towards i3

[2015-12-22 23:04] Hessesian commented on #2123
Correction in description, preferred browser doesn't matter, thunderbird only doesn't cause this issue, seems like skype and android studio does though

[2015-12-23 04:04] heticor915 opened #2124 "adding a default bindsym for exit session in the i3 wizard"
Long time ago we were talking about a strange behavior that were discovered by error in version i3 version 4.11 (2015-09-30, branch "4.11"), and version 4.8, please see for reference [I3wm Exit Session](http://infra.in.zekjur.net/pipermail/i3-discuss/2015-April/ ). I don't know  but I thing that the best option is to put the next line when the wizard creates for the first time the  default configu

[2015-12-23 06:51] stapelberg commented on #2123
Can you remove the assign statements from your config file (line 245 and 246) and retry? I’m thinking the applications might react poorly to their windows not being mapped immediately (because they are on a different workspace, so they shouldn’t be mapped).

[2015-12-23 06:57] stapelberg commented on #2124
My concern from http://infra.in.zekjur.net/pipermail/i3-discuss/2015-April/002055.html still stands:

solution, but that will fail on multi-user systems or when you have a
hanging/broken instance of i3-nagbar sticking around.

that’s why I wanted to clarify what the real problem here is. If it’s
merely the dialog showing up more than once (and I _think_ this is
what the question is about), I think

[2015-12-23 06:57] #2124 closed

[2015-12-23 07:46] Hessesian commented on #2123
Nothing changes, here's a log without assigns though, after clicking on hyperlink in skype chat, memory leak occurs
http://logs.i3wm.org/logs/5763210187636736.bz2

[2015-12-23 07:57] stapelberg commented on #2123
There’s nothing in the log to indicate that i3 would be using high cpu/memory, and I doubt that’s what’s happening.

The only advice I can give you right now is to try to isolate this to a specific component of your setup. Try adding a new user account to your machine (so that you start with a clean setup) and try to reproduce the issue.

[2015-12-24 02:56] kneitinger commented on #2122
Furthermore, any combination of escaping quotes, comma, etc. all produce the same error, if that is helpful to know.

[2015-12-24 15:12] bceverly commented on #2114
@stapelberg - Unfortunately I got the same results as before.  Something odd about OpenBSD's X maybe?

[2015-12-25 11:46] boolean-is-null opened #2126 "i3-nagbar button command not escaped properly"
I'm not 100% sure, but I think the command for the options of the i3-nagbar are not escaped properly.
From the source code, what I can tell, the `$SHELL` is used, with `-c`, but the following commands are not enclosed in quotes.
This leads to problem when using multiple commands in for the option.

For instance, `bash -c "echo foo; echo bar"` works correctly as intended, whereas `bash -c echo foo;

[2015-12-25 14:50] stapelberg commented on #2126
Additional context from https://www.reddit.com/r/i3wm/comments/3y6cou/cant_use_multiple_commands_in_i3nagbar_option/:

The command in question is

    bindsym $mod+Escape exec "if [ -f /var/run/reboot-required ]; then i3-nagbar -t warning -m 'System reboot required' -b 'K' ':' -b 'Poweroff.' 'systemctl poweroff'; else 'i3lock -c 000000; systemctl hibernate'; fi"

[2015-12-25 14:58] stapelberg commented on #2120
nit: since commit 2d4f8ce90bcf1e07d5abaa6f12fc47d2bb1dc36d, we actually set both class and instance to “i3-frame”, so that’s what we should use.

I think changing title_format to apply to containers instead of windows makes sense, provided it doesn’t break any current feature.

[2015-12-25 15:06] stapelberg commented on #2122
You’ll need to quote the argument of the exec command, i.e.:

    bindsym $mod+x exec "setxkbmap ru,us"

I just verified that this works:
[code]

[2015-12-25 15:06] #2122 closed

[2015-12-25 15:45] stapelberg commented on #2114
@bceverly Can you please confirm that the correct cursor is used once you update to commit b1f1da432df47806be3b7e61951eed195ca70fc9? Be sure to put i3bar into the `$PATH` after compiling, or specify [i3bar_command](http://i3wm.org/docs/userguide.html#_i3bar_command) in your i3 config file.

[2015-12-25 16:14] #2111 closed

[2015-12-25 16:26] micheller opened #2127 "virtualbox seamless mode not transparent background"
Hi!

When i try to use virtualbox's seamless mode (guest OS is windows XP with tools installed) I experience this: http://imagebin.ca/v/2RBQ1aLykLi6 but with all background being black instead of white/transparent.

Is this fixable?
Please let me know if any hardware specs should be attached.

[2015-12-25 16:27] stapelberg commented on #2127
duplicate of #1946

[2015-12-25 16:27] #2127 closed

[2015-12-25 16:29] micheller commented on #1946
Experiencing this too:

[code]

[2015-12-25 18:05] Airblader commented on #2098
@stapelberg Do you happen to know if / when an output container can have the urgency flag?

This bug is really easy to fix, but I'm hesitant to do so unless we understand how we get into this situation as we might be fixing a symptom.

[2015-12-25 18:07] Airblader commented on #2110
I'm going to close this now quite early since this bug report never contained anything that justifies a bug. @zenny If you can provide a log file with a pango font causing this, please let us know here and we'll reopen.

[2015-12-25 18:07] #2110 closed

[2015-12-25 18:09] Airblader commented on #1954
I cannot reproduce this anymore, so maybe the changes in the cairo move fixed this as a side effect. Since no one else reported it either, closing.

[2015-12-25 18:09] #1954 closed

[2015-12-25 18:32] Airblader commented on #1808
Closing.

I think if someone wants the "hide workspaces from i3bar" feature, it should be a separate request.

[2015-12-25 18:32] #1808 closed

[2015-12-25 18:32] Airblader commented on #1152
Closing due to inactivity.

[2015-12-25 18:32] #1152 closed

[2015-12-25 20:46] winku commented on #2122
Well, you know that passing `"a,b"` to the program is not the same as passing just `a,b`.
What if I want to pass a string with spaces and a comma?

`bindsym $mod+x exec "setxkbmap \"ru,us\""` produces a similar error:
[code]

[2015-12-25 20:55] stapelberg commented on #2122
@winku You need to use two backslashes for this case:

    bindsym $mod+x exec "setxkbmap \\"ru,us\\""

In general, I’d recommend creating small shell scripts that contain commands where you’d need to worry about quoting.

[2015-12-25 21:12] winku commented on #2122
Thank you @stapelberg
But it is not obvious why I need 2 `\`s to escape `"`. (In most programming languages `\` escapes the next literal)
I think such behavior need to be mentioned in the user guide.

[2015-12-25 21:15] stapelberg commented on #2122
Pull requests are very welcome, the file in question is docs/userguide. Since you ran into the issue, you might have a good perspective on where exactly you would have expected it, hence it’d be great if you could suggest a fix via a pull request.

[2015-12-26 01:26] Hessesian commented on #2123
Found out the reason, xdg-open that some apps use didn't find correct mime-info and had no DE to work with since I use i3, thats why xfce wasn't affected.

Solved it by installing linopen to replace xdg-open, bug was somewhere else it seems

[2015-12-26 01:27] Airblader commented on #2123
Thanks for letting us know!

[2015-12-26 01:27] #2123 closed

[2015-12-26 11:07] lluchs opened #2128 "i3 crashes when starting Steam"
i3 4.11 crashes when starting Steam, while the "Connecting to Steam account" window is shown.

Logfile with minimal configuration: http://logs.i3wm.org/logs/5631131353350144.bz2

Pressing "b" on the crash dialog just saves a file containing "No stack.".

This seems to be similar to the previous issue #1337 / #1338, but with two monitors. The issue appeared after upgrading to i3 4.11 (from 4.10.4).

[2015-12-26 14:12] LuaKT commented on #2128
I'm that other person with this issue.

Using i3 4.11 on Antergos with 3 monitors.
Debug logfile: http://logs.i3wm.org/logs/5756749483081728.bz2
The crash dump from "b" also just gives "No stack."

Steam log: http://pastebin.com/BWNNCx7T

The issue is inconsistent, sometimes I can start Steam fine without it crashing. It happens more frequently when I try and start Steam at startup in my config fi

[2015-12-26 15:02] Airblader commented on #2128
Since it doesn't happen in 4.10.4, can you please run a git bisect to identify the commit that broke it?

[2015-12-26 15:37] stapelberg commented on #2098
So, the direct cause is that `output->con` has `urgent == true`, which shouldn’t happen. Looking at the logfile, I can see that even the root window has the urgent flag set:

[code]

Now the question is which of the various pieces of code that touch the `urgent` member are broken.

@Airblader We could add a function that verifies a number of conditions before setting `urgent` to true, then call th

[2015-12-26 19:28] Airblader commented on #2128
It looks like it might be memory corruption:

[code]

[2015-12-26 19:40] Airblader commented on #2128
Can you please also try updating to the current development branch to see if the issue persists?

[2015-12-26 19:47] Airblader commented on #1291
This seems to have been fixed by the move to cairo because I cannot reproduce it anymore. If anyone else can still reproduce it, let us know and we will reopen.

[2015-12-26 19:47] #1291 closed

[2015-12-26 21:08] lluchs commented on #2128
It's hard to bisect as the crash seems to be somewhat random - at least when restarting Steam over and over. I compiled and installed the development branch now and will report back tomorrow.

The i3 from git didn't crash when starting Steam, but after switching back to 4.11, i3 didn't crash either. I think it never crashes when you're already on the workspace the main Steam window is moved to, bu

[2015-12-26 22:38] stapelberg opened #2129 "mod3 difference in neo installed without xmodmap"
Found at @koebi’s computer with

Running i3 version: 4.11-153-gdc46307 (2015-12-25, branch "next") (pid 7486)

Binding `<Super>+<CapsLock>+d` (colon) didn’t work, neither with `bindsym $mod+mod3+colon` nor `bindsym $mod+mod5+colon`. It was resolved to 0 keysyms.

Once we switched to `setxkbmap de -variant neo`, the `bindsym $mod+mod5+colon` binding started working.

Diffing the `xmodmap` and `xmod

[2015-12-26 23:27] Airblader opened #2130 "[enhancement] Implicit variables"
i3 is a pure X window manager, but currently makes no use of the xrdb. This forces users to duplicate configuration that you'd typically want to be consistent by having it in one place.

I propose introducing implicit variables into the i3 config. To start off easy, I'd limit this to the definition of colors. When i3 reads the config file, it queries the color definitions from xrdb and creates var

[2015-12-27 01:32] LuaKT commented on #2128
I also got development to crash. Here is my log.
http://logs.i3wm.org/logs/5146118144917504.bz2

[2015-12-27 01:46] Airblader commented on #2128
Thanks. Since you have dev compiled, please retry getting a backtrace. Also, can you just keep restarting Steam to see how often it crashes? That way we can figure out whether a bisect is feasible if you try starting Steam x times per iteration.

You can also try to bring i3 to crash and while the crash dialog is open (don't close it!), switch to another TTY and type "sudo gdb $(which i3) (pidof i

[2015-12-27 02:24] LuaKT commented on #2128
The backtrace returns "No Stack" still. Also the same message when using GDB in another TTY.

i3 crashes almost every time when you run it for the first time that session. After that it happens infrequently.

Have just done a git bisect and 6a5d5612356d8c40a8ce4034813239eddb7e2044 is the first bad commit. I'm going to run it again to check.

[2015-12-27 02:43] Airblader commented on #2128
Thanks, the to very useful. If you can confirm that reverting that commit fixes the crash, I'll look into it as soon as I have time.

[2015-12-27 02:51] LuaKT commented on #2128
Just ran it again and landed back at the same commit.

[2015-12-27 10:17] stapelberg commented on #2130
Can you give an example of what I’d put into my ~/.Xresources and what would happen in i3 please?

[2015-12-27 13:54] lluchs commented on #2128
This commit makes sense. When starting Steam, you can shortly see the Steam workspace flashing red before the "Connecting to Steam" window appears.

[2015-12-27 16:43] Airblader commented on #2128
Can you please try to append this patch to the development branch to see if it fixes the issue?

[code]

[2015-12-27 16:49] Airblader commented on #2130
The `~/.Xresources` contains

[code]
client.focused $color0 $color1 $color0 $color1
[code]

[2015-12-27 16:59] Airblader commented on #2098
Yes, sounds like a good plan to me.

[2015-12-27 17:54] LuaKT commented on #2128
Can't recreate the crash since applying this patch, will let you know if it happens again.

Thanks!

[2015-12-27 18:04] Airblader commented on #2128
Thanks for testing and your support with everything. I'll prepare a pull request to get the fix merged.

[2015-12-27 23:12] Airblader commented on #2098
It's a little bit of a stretch, but I wonder if #2132 also fixes this issue.

[2015-12-27 23:16] Airblader commented on #2130
Introducing a dependency to xrdb would also allow us to use the DPI from the `.Xresources`.

[2015-12-27 23:31] Airblader commented on #2116
Neither awesome nor openbox deal with this atom at all. XFCE's window manager supports it, but only by means of setting it when a client message is received, in which case the Xinerama indices are given in the message (by the client).

This all really makes me think that it's not worth supporting this atom and it also seems like an application breaking due to this should reconsider its implementat

[2015-12-27 23:39] Airblader commented on #1761
@dsargrad I don't seem to be able to unpack those debug logs. Can you please upload them to the i3 server as described in the debugging docs?

I'm mostly interested in seeing how you kill the entire workspace since I can't reproduce this yet. It'd also be great if you verified that the bug persists in the current `next` branch of i3.

[2015-12-28 00:19] Airblader commented on #1968
I'm going to close this as the best approach seems to be to update the Travis build as we go along and as Travis updates their machines.

[2015-12-28 00:19] #1968 closed

[2015-12-28 01:15] LuaKT commented on #1761
I'm able to replicate this in the `next` branch.

Get the id of an empty workspace from `i3-msg -t get_tree` and kill it with `i3-msg '[con_id="ID"] kill'`

[2015-12-28 01:36] Airblader commented on #1761
Thanks. Unfortunately I cannot reproduce a crash with the single monitor setup, but I do see some weirdness. I'll have to look into it when I have access to two screens again.

[2015-12-28 01:44] Airblader commented on #1761
Never mind that, I don't think there's much need to reproduce it.

The problem here is that because the command matches via criteria, we bypass the check in `tree_close_con()` that only kills all children of the workspace instead. That's why killing the workspace by selecting the parent to be the focused con doesn't reproduce the issue.

[2015-12-28 02:56] Airblader commented on #1761
I'll be working on this. @LuaKT It'd be cool if you stuck around to verify the patch once I have it ready. Are you @dsargrad ?

[2015-12-28 02:57] LuaKT commented on #1761
No I'm not @dsargrad but I will test whatever you want

[2015-12-28 03:15] Airblader commented on #1761
@LuaKT Can you check out https://github.com/Airblader/i3-original/tree/bug-1761 and see if the issue is fixed?

[2015-12-28 03:20] LuaKT commented on #1761
@Airblader Yep, that fixed it

[2015-12-28 03:21] Airblader commented on #1761
Thank you, much appreciated!

[2015-12-29 04:45] acrisci commented on #1808
If anyone is motivated to run the gauntlet, it might be interesting to suggest in a new feature that workspace names that begin with a single underscore to be hidden on the bar. For instance, workspace `_1:hidden` would be hidden.

[2015-12-29 10:44] #2128 closed

[2015-12-29 10:47] stapelberg commented on #2130
I’m wondering if we should use a variable prefix for this, e.g. `$xrdb:i3wm.color0`. That way, we don’t need to dictate how the variables should be called, and people are free to re-use the variables they’ve set up for other programs. I.e., one user might prefer using `$xrdb:xterm.color0`, others might prefer `$xrdb:i3wm.white`, etc.

Thoughts?

[2015-12-29 10:47] stapelberg commented on #2116
SGTM — let’s push for a fix in the application.

[2015-12-29 10:47] #2116 closed

[2015-12-29 10:50] #1761 closed

[2015-12-29 16:04] Airblader commented on #2130
I don't mind doing it that way, but to me it sounds like it sort of goes against the idea of xrdb which is that an application requests its own resources, not that of other applications. Wildcards are allowed on the configuration side (and only there) to make configuration valid for multiple applications in an easy way.

I think the usecase you describe is usually handled by "variables" within Xre

[2015-12-29 17:05] Airblader commented on #2120
I'm working on this.

[2015-12-29 18:42] obadz opened #2140 "How to prevent an app from intercepting all shortcuts (such as Citrix Receiver)"
Hi,

I'm using Citrix Receiver (aka wfica) on i3 and somehow it's able to go fullscreen (which I definitely want most of the time) but also to intercept all shortcuts, making it impossible to switch to any other window or to close Citrix itself. (Other than logging in from a console and killing the process).

Is there any way, within i3, or using any other tool on top of i3, to prevent Citrix from

[2015-12-29 18:43] obadz commented on #2140
i3 version 4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and contributors

[2015-12-29 18:44] obadz commented on #2140
I doubt a log would help, but let me know if you think otherwise

[2015-12-30 03:05] spython01 opened #2141 "Irregular Behavior with Mod Key in FreeBSD"
Note:  This issue was first reported on the i3wm FAQ page over on [reddit](https://www.reddit.com/r/i3wm/comments/3ykfw0/irregular_mod_key_behavior_with_freebsd_in/).  I'm running i3wm (version 4.10.4) on FreeBSD 10.2 as a guest on VirtualBox 5.0.2 and am seeing some irregular behavior with my Mod key, which is set to `Mod1` (the `<Alt>` key). (Right `<Ctrl>` is my VirtualBox Host Key.)  The steps

[2015-12-30 03:08] LuaKT commented on #2141
Just checking the obvious, you have installed dmenu?

[2015-12-30 03:16] samirparikh commented on #2141
I am the **biggest** idiot in the world.  No I did not so I just ran

    pkg install dmenu

which seems to have fixed that issue.  I still think there is a bug with the creation of the `config` file however.  Thank you @LuaKT !

[2015-12-30 03:18] spython01 commented on #2141
I am the **biggest** idiot in the world. No I did not so I just ran

    pkg install dmenu

which seems to have fixed that issue. I still think there is a bug with the creation of the `config` file however. Thank you @LuaKT !

[2015-12-30 03:24] LuaKT commented on #2141
@spython01 Ha no problem, glad that's working

[2015-12-30 14:54] ben-ben opened #2142 "Scrollback buffer in urxvt messed up after window resizing or moving around"
The scrollback buffer of my **urxvt** terminals gets completely messed up/garbled when I move the window around or resize it. Here is a [snapshot](http://postimg.org/image/knt4gnl4b) of the workspace before I started moving the terminal window. Then I opened vim, and while vim was opened, I moved the terminal window around and put it back to its original position. I closed vim and scrolled up the

[2015-12-30 15:25] Airblader commented on #2142
This is a known problem, but it's a problem in urxvt and not in i3. Hence I'm going to close this issue.

[2015-12-30 15:25] #2142 closed

[2015-12-30 15:27] stapelberg commented on #2130
I’m not that familiar with xrdb (only a casual user), so if you accurately described the spirit of xrdb, we clearly should follow that, especially when users can just use `#define` within Xresources :).

[2015-12-30 15:32] ben-ben commented on #2142
Can you explain me the problem that urxvt is having?

[2015-12-30 15:47] Airblader commented on #2142
I'm not sure about the exact mechanism here, but I know I've seen this discussed before. It'd be best to ask on the urxvt mailing list.

I think that you can use this as a workaround for the problem. Or switch to another terminal emulator ;) I've been an urxvt user for a while, but as feature rich as it is, it also has a lot of problems like font rendering. I found termite to be better, whose majo

[2015-12-30 19:28] LuaKT commented on #2141
Looks like the i3-config-wizard keycode template isn't compatible with the `base` key map rules used on FreeBSD as opposed to the `evdev` rules more commonly used on Linux. The program fails when looking for keycode 114, which in the `base` rules is set to nothing.

Here are the keys used in the `base` rules, maybe it'll be helpful.
http://pastebin.com/AyWCvLr9

[2015-12-30 21:02] spython01 commented on #2141
Thanks for this.  I'm ok with closing this issue since there is a simple workaround of just copying over the `config` file from `/usr/local/etc/i3/` as described above.

As an aside, I never thought I would learn so much about keycodes, key mapping, etc. from a simple tiling window manager.  I also found this helpful [article](http://www.x.org/releases/X11R7.6/doc/xorg-docs/input/XKB-Config.html)

[2015-12-31 14:39] stapelberg commented on #2141
Before closing this issue, let’s stop for a moment and think about whether i3-config-wizard could be improved to handle the situation at hand.

Is FreeBSD always using base instead of evdev, or is it only doing so in certain situations?

What’s the specific failure mode? Will it stop writing the file altogether? Is a half-working file left in place? Could we make it so that only affected key bindi

[2015-12-31 14:47] stapelberg commented on #2140
I think a better place for this question might be https://www.reddit.com/r/i3wm or possibly some other forum that’s window manager independent.

i3 is not involved when applications are grabbing the keyboard. It sounds to me like Citrix is actively grabbing the entire keyboard (instead of using a passive grab like other applications do), and there’s nothing i3 can do about it.

Personally, I think

[2015-12-31 14:47] #2140 closed

[2015-12-31 15:13] spython01 commented on #2141
Unfortunately, I'm not technically savvy enough to answer this.  I would consider myself an armchair programmer who only knows enough to be dangerous!

My experience is that the `config` file you get is only half-baked as you can see from my initial post -- I submitted pastebins of the original file that is created upon initial installation and then what I copied over from `/usr/local/etc/i3/confi

[2015-12-31 15:44] obadz commented on #2140
Thanks for the guidance.

[2015-12-31 15:48] LuaKT commented on #2141
As far as I know FreeBSD will always use the base rules.

The wizard will write the file up to the failure point and exit on this line: https://github.com/i3/i3/blob/next/i3-config-wizard/main.c#L275

The only keys affected that are used in the default config are the arrow keys. XF86 media keys also seem to be different but aren't used in the config.

[2015-12-31 20:37] bceverly commented on #2114
This fixes my issue.  Thank you soooooo much.

[2016-01-02 03:41] Airblader opened #2144 ""-C" switch causes segfault"
`i3 -C` causes a segfault because of 287a0b4c3cc24a18f5063b7d5743f0b85d6852a1

@Alexis211 FYI.

i3 4.11

[2016-01-02 03:42] Airblader commented on #2144
We really need to add a test for this command working, maybe by feeding it an invalid config and checking the output. We've broken this before.

[2016-01-02 03:44] Airblader commented on #2144
Relevant backtrace:

[code]

[2016-01-02 13:43] dersand opened #2146 "Binding_mode inside colors{} inside of bar{} gives compilation error"
Hello!

First of all this is my first issue on github, never really interacted with this website.
Secondly, i've only had i3 for a couple of hours, i don't know too much of this WM.

It should also be noted that i have no idea what binding mode is, i'm only writing this issue because the colors selector is directly from the users guide on i3's website which i tried out on my own.

*Version:*
[code

[2016-01-02 13:49] stapelberg commented on #2146
@i3bot’s response is correct in this case — binding_mode was introduced in i3 v4.11, so upgrading is the right thing to do.

[2016-01-02 13:54] dersand commented on #2146
@stapelberg Excuse my ignorance. I installed i3 through
[code]
Isn't this supposed to install i3's latest version?

[2016-01-02 14:07] jolange commented on #2146
This depends on your distribution. It will certainly give you the latest version *available in the repositories*, which is not necessarily the latest release.
Since you are using `apt-get`, I suspect you are using Debian or Ubuntu, in which case [these extra repositories](http://i3wm.org/docs/repositories.html) could be insteresting for you.

[2016-01-04 01:39] Airblader commented on #2084
We've had a user report that this actually works, see http://article.gmane.org/gmane.comp.window-managers.i3.general/2008.

With that in mind I'll close this as something that can be done in a script with reasonable effort, given that #1668 is fixed. If someone does write such a script, a PR to add this to contrib/ would be amazing.

@stapelberg Cross check: OK?

[2016-01-04 01:39] #2084 closed

[2016-01-04 01:41] Airblader commented on #1784
@leonardinius Sorry for the late reply, I missed your question.

We'd love to fix the bug if it can be fixed reasonably in i3. I'm not yet sure what the fix looks like since the bad commit tries to make i3 follow the spec better and as far as I can tell, everything about it sounds correct to me. So I'm not sure i3 is really at fault here or what exactly is going wrong.

As always, contributions ar

[2016-01-04 03:04] Airblader commented on #1730
Firefox is a really common application and so are multi monitor setups. I just find it pretty odd that not a single other user reported this issue here, on the mailing list, on reddit, … in the last half year. The log files so far have also not been able to show anything that even suggests this issue appears, let alone that it's an i3 issue.

I'm closing this issue for now due to the inactivity. @

[2016-01-04 03:04] #1730 closed

[2016-01-04 08:04] #2115 closed

[2016-01-04 08:11] stapelberg commented on #2146
You can use `apt-cache policy i3` to see which version of i3 is currently installed and which one is available in your distribution’s repositories.

If you’re using Debian testing, you’ll typically get the latest version, otherwise follow @jolange’s link to the auto-builder repositories.

[2016-01-04 08:27] #2114 closed

[2016-01-04 11:44] Elowan opened #2147 "Modifier-Key does not respond on iBook"
hello,

I am on Apple iBook G4 1.07Ghz (A1054) and got a Debian 8.2 ppc install running.
After installing i3 and some additional packages via synapic-package-system, I tried to get
i3 to work, but it won´t...

When Generation a config via i3-config-wizard, I can clearly see "this is Mod1!" when I press ALT
and "This is Mod4!", when I press "apple-command-key". But when I save this config, modifier

[2016-01-04 11:54] Elowan commented on #2147
Sorry, I forgot: i3 --Version Returns: 4.8 (2014-06-15 branch "4.8")
As for thwe debug/log-file, I am not sure, how to setup.. where goes "Exec=i3 --shmlog-size=26214400" exactly?

[2016-01-04 11:59] wlhlm commented on #2147
Please see if it works in the most recent version of i3. See http://i3wm.org/docs/repositories.html

[2016-01-04 12:07] Elowan commented on #2147
Ok, will try to add your Debian-repositorie"echo 'deb http://build.i3wm.org/debian/sid sid main' > /etc/apt/sources.list.d/i3-autobuild.list" and see, if it works & Report back!

[2016-01-04 17:12] Elowan commented on #2147
seems, I can not install the new packages:

W: GPG-Fehler: http://build.i3wm.org sid InRelease: Die folgenden Signaturen konnten nicht überprüft werden, weil ihr öffentlicher Schlüssel nicht verfügbar ist: NO_PUBKEY 070D94CCBE1DB1F1
W: Fehlschlag beim Holen von http://build.i3wm.org/debian/sid/dists/sid/main/binary-powerpc/Packages  404  Not Found [IP: 2a02:2528:503:2::2 80]

E: Einige Indexdateie

[2016-01-04 18:25] Elowan commented on #2147
ok, I checked :http://build.i3wm.org/debian/sid/dists/sid/main/ - there is no subfolder called "binary-powerpc/Packages" , so I think that is the problem that leads to 404 and errors...

[2016-01-04 18:33] stapelberg commented on #2147
We don’t auto-build packages for powerpc. Install the i3 packages from Debian testing.

[2016-01-04 18:36] Elowan commented on #2147
ok -I would - but I am new to linux in general, so I do not know, how to "Install the i3 packages from Debian testing." - Can you please give some hints?

[2016-01-04 18:52] stapelberg commented on #2147
Please use your favorite search engine and/or the resources provided by your distribution (in this case Debian) to figure out how to install packages. A reasonable starting point for your search could be “adding Debian testing repositories”.

[2016-01-04 19:17] AMPivovarov commented on #1784
Hi,

I don't know much about Xorg, but it looks like in this case the [spec](http://www.sbin.org/doc/Xlib/chapt_12.html) had been read in a wrong way.

"Globally Active Input" should not be mixed with "No Input" model.

While the first one indeed means "window should not take focus", the second one means "window should decide whether it want take focus". (`A clock, for example, or a text editor wi

[2016-01-04 19:29] Elowan commented on #2147
hmmm, I took a look around the web and managed to add "stable-updates" to the repositories list.
but still no newer version, than 4.8.2 available to me. I think I should not tinker with "testing repos", because it may destroys my system, because I am just to nooby to handle it right. one error could be fatal so... had to give up and wait until there is som new i3wm version for me.

[2016-01-04 19:29] #2147 closed

[2016-01-04 20:13] Elowan commented on #2147
... but I can not wait forever, so I showed some gutts and just added the testing repos to the list.

* installed 4.11
* works out of the box

* woooooot :)

[2016-01-04 21:32] stapelberg commented on #2147
Thanks for letting us know, it’s good to know that more recent versions actually work on your hardware.

[2016-01-04 21:52] stapelberg commented on #2084
Yep, this is okay for now. Let’s recommend unmapping/mapping windows to users, and if that has a major downside, we can always revisit that decision.

[2016-01-04 23:28] Airblader commented on #1784
Your interpretation sounds good to me, I think that might be it. Can you please try and see if the following patch fixes the issue?

[code]

[2016-01-05 01:39] AMPivovarov commented on #1784
@Airblader No luck.
And this case is already checked in x.c@1101 (x_push_changes).

Wouldn't it be a better way to fix 8a618e4?
[code]
<br/>
Another issue: even after reverting 8a618e4, closing the window causes the main one to gain focus "partially" (only a couple of shortcuts works).
This might be Intellij issue - [IDEA-112607](https://youtrack.jetbrains.com/issue/IDEA-112607), [IDEA-147626](htt

[2016-01-05 17:37] Airblader commented on #1784
Yes, I think it looks like we currently don't handle the case of rejected WM_TAKE_FOCUS correctly.

[2016-01-05 21:32] #2120 closed

[2016-01-05 21:45] naclander commented on #2120
Awesome! I'm really happy this feature request was accepted, and thanks for implementing this.

[2016-01-06 08:15] #2144 closed

[2016-01-06 14:18] Airblader opened #2149 "decoration_border uses wrong fallback color"
PR #2136 is faulty and breaks the backwards compatibility. If the new color class `decoration_border` is not specified in the config, the fallback value will be background – but the default(!) color value of that, not the user-specified background color.

The problem is in `src/config_directives.c`:

[code]

[2016-01-06 14:21] lotheac commented on #2149
On Wed, Jan 06 2016 06:18:24 -0800, Ingo Bürk wrote:

You're right, sorry about that. I assume you're taking care of this?

--
Lauri Tirkkonen | lotheac @ IRCnet

[2016-01-06 14:23] Airblader commented on #2149
Yes. :)

[2016-01-06 14:28] Airblader commented on #1791
Although I don't remember a specific commit in that area, I can no longer reproduce this. @aleb Does this issue still exist for you in the current `next` branch?

[2016-01-06 15:42] sappel34 opened #2151 "GTK3 apps wrong popup/context menu positioning on hidpi"
Version: i3 version 4.11-404-gfdbe3ce (2015-11-16, branch "makepkg")

i3wm seems to have a problem with gtk3 based apps when running on hidpi screens.

dpi and screen dimension correctly configured via xrandr, i3 runs just fine
* in /etc/profile.d/hidpi.sh I added:
   * export GDK_SCALE=2
   * export GDK_DPI_SCALE=0.5
* GTK apps look usable and well scaled but whenever a popup menu or a context me

[2016-01-06 15:44] sappel34 commented on #2151
i3 version 4.11-404-gfdbe3ce (2015-11-16, branch "makepkg") � 2009 Michael Stapelberg and contributors

[2016-01-06 15:50] Airblader commented on #2151
Please provide a minimal log file as described in the debugging docs on the website.

[2016-01-06 15:51] LuaKT commented on #1791
@Airblader I can reproduce this in `next` but like you only when dragging upwards. The cursor ends up 1 pixel below the titlebar

[2016-01-06 15:53] sappel34 commented on #2151
* activated logging
* opened nm-applet context menu

http://logs.i3wm.org/logs/5702351037923328.bz2

[2016-01-06 15:56] sappel34 commented on #2151
As soon as i unset GDK_SCALE the window positions are ok.
Might be a GTK3 issue but why is everything ok when xfce is used?

[2016-01-06 18:20] dbarnett opened #2152 "Allow pasting text in i3-input, i3-dmenu, etc."
i3's input tools are awkward for me to use since I'm not getting tab completion, history, or paste (from clipboard or primary selection). Can they support pasting copied text, etc.?

[2016-01-06 18:25] Airblader commented on #2152
i3-input is only supposed to be a reference implementation. There is no such thing as i3-dmenu. It should be easy enough to write a more powerful tool to communicate arbitrary i3 commands,  including pasting. Hence I don't think there's anything we can or want to do here.

@stapelberg Agreed?

[2016-01-06 18:25] #2152 closed

[2016-01-06 19:17] Airblader commented on #1791
OK, thanks for verifying. I suspect that this is a rounding issue then.

[2016-01-06 19:27] Airblader commented on #2151
Thanks. Context menus are generally override_redirect windows, meaning that they bypass the window manager entirely. Therefore I don't see how i3 could be doing something wrong here. I'm not sure why it works in XFCE, however.

Can you try and unset `GDK_SCALE` *only* for i3 and leaving it set for everything else?

[2016-01-06 19:36] Airblader commented on #2141
I'm not sure just leaving out the binding is a good idea. Users using the wizard are likely new and missing out on important bindings might lead to confusion. The ideal solution to me would be asking the user to press the key they want to use for it and then use that, but that's a pretty complex solution.

I think the minimum here is to show the user a helpful message and not leave out the binding

[2016-01-06 19:45] dbarnett commented on #2152
(I meant "dmenu_run" of course, not "i3-dmenu".)

It does feel like a reference implementation and very limited in a lot of ways. I guess what I'm asking is do you have some alternative you recommend? My whole i3 experience would feel much smoother if i3-input, dmenu_run, and i3-dmenu-desktop supported paste/command history/etc., and they all seem to use a common prompt implementation so I thought

[2016-01-06 19:45] Airblader commented on #1979
I'll take that as a "no" for now. Either way, anyone who cares about this please report it against Chromium and leave the link to the report here. Until we have proof that this is an i3 issue, I'll close this. Currently I don't think that's the case.

[2016-01-06 19:45] #1979 closed

[2016-01-06 19:51] Airblader commented on #2152
`dmenu_run` is provided by dmenu, not i3. `i3-dmenu-desktop` and `dmenu_run` are both just wrapper scripts around dmenu. Pasting functionality would have do be in dmenu itself, which is developed by suckless. I think a good alternative here for you to look at is rofi since dmenu is a little outdated nowadays. lighthouse would also be an alternative.

As for `i3-input`, you could use something like

[2016-01-06 19:52] #1814 closed

[2016-01-06 20:15] #2149 closed

[2016-01-06 20:17] stapelberg commented on #2152
Agreed. While I agree that pasting and completion would be a good feature to have, i3-input is lacking in so many ways that it’d be easier to replace it entirely by something else. What “something else” is, I don’t know. I’m happy to eventually recommend another alternative or merge some replacement of i3-input, whichever is appropriate.

[2016-01-06 20:20] stapelberg commented on #2141
How about intentionally generating a broken config so that users get greeted by i3-nagbar? We could use e.g. invalid_bindsym instead of bindsym and add a comment line that explains what’s going on.

[2016-01-06 20:23] Airblader commented on #2141
I think I'd prefer commenting the binding out and launching i3-nagbar from the wizard itself. Otherwise the user thinks the wizard went through successfully and is then surprised as to why the i3 config is already broken. If we launch i3-nagbar from the wizard, we can choose a much more informative message ("We couldn't configure some of the keybindings, please edit your config manually and look f

[2016-01-06 20:26] stapelberg commented on #2141
How about both? The downside of launching i3-nagbar from the wizard is that it’s a one-off. If the user doesn’t pay attention, exits the session for whatever reason, then comes back, the user won’t know the problem still persists. I consider this a realistic scenario for people who are first installing a custom window manager (and/or i3).

[2016-01-06 20:26] Airblader commented on #2141
Yeah, that sounds good to me.

[2016-01-06 21:22] dbarnett commented on #2152
Got it. Thanks for the suggestions.

[2016-01-07 02:45] Airblader commented on #2152
Just to be clear, we're talking about a replacement that is completely compatible in terms of options and output, right?

[2016-01-07 07:21] sappel34 commented on #2151
Unsetting GDK_SCALE on boot and setting it for launching GTK3 apps didn't help. Further tests revealed:

* same problem in awesome wm
* NO problem in openbox

[2016-01-07 07:42] stapelberg commented on #2152
Yep. Or possibly an incompatible replacement with a wrapper script.

[2016-01-07 13:15] boolean-is-null commented on #2126
I'm still note sure whether this is really an issue of i3-nagbar or an issue of my command.
I'd appreciate some feedback if possible.

cheers!

[2016-01-07 14:53] Airblader commented on #2126
Can you try moving the command into a file and then execute that file from the i3 binding? I'd generally recommend this anyway to avoid escaping issues.

[2016-01-07 19:54] Airblader commented on #2151
@psychon FYI

@sappel34 I can reproduce this with `nm-applet`. However, for now I'll maintain the position that it's an override_redirect window and as such the window manager is not involved in positioning it at all. I suggest filing this bug either at GTK or one of the broken applications (network-manager) to see what the devs say.

[2016-01-07 19:56] sappel34 commented on #2151
I filed a bug with the GTK devs this morning. FYI: toggling an application to i3 fullscreen mode fixes the issue....

[2016-01-07 19:57] Airblader commented on #2151
Can you link the GTK bug here for reference? Thank you :)

[2016-01-07 19:58] sappel34 commented on #2151
https://bugzilla.gnome.org/show_bug.cgi?id=760253

[2016-01-07 20:06] psychon commented on #2151
Any idea how GTK figures out the position this? For a window's position, ICCCM would tell it to use ConfigureNotify events and/or TranslateCoordinate requests, but I don't have any idea for the mouse position (the WM is not involved in this). The ButtonPress event "just" contains the needed coordinates...

I blame GTK, too. :-)

[2016-01-07 20:09] Airblader commented on #2151
Sorry, forgot this earlier: I'm going to close this issue here for now since we don't believe it to be a window manager issue. Once we have feedback from the GTK side, we can consider reopening it if it turns out we are somehow doing something wrong. :)

[2016-01-07 20:09] #2151 closed

[2016-01-08 06:06] pniederlag commented on #2098
Just FYI: crashes still happening and appearing more frequent again. Still not able to produce at will and didn't manage to capture the tree before a crash yet. Is it really just me on debian testing/unstable seeing crashes with suspend/resume in relation to plug/unplug external monitor?

[2016-01-09 05:58] Airblader opened #2153 "Support _NET_WM_DESKTOP correctly"
We currently have `_NET_WM_DESKTOP` in `_NET_SUPPORTED`. This seems to have been the case since around 2009 (1a0817eb3912f25b75cfe61854920c52c78493d2), although I don't really see the reason for it even in that commit.

As a `git grep NET_WM_DESKTOP` reveals, we don't do *anything* with this atom – we don't respect it upon map requests, we don't keep it updated and we don't respond to client messa

[2016-01-09 06:01] Airblader opened #2154 "[enhancement] Rename decoration_border to child_border"
Before releasing 4.12, we should do the rename. See #2136 for context and discussion.

[2016-01-09 06:02] Airblader commented on #2098
@pniederlag I will try to write the patch we spoke of above soon so that you can run i3 with that patch until the crash happens. That should (hopefully) clear everything up.

[2016-01-09 06:10] Airblader commented on #2153
awesomeWM/awesome also implements this slightly "incorrect":

[code]

[2016-01-09 06:22] Airblader commented on #2153
I think we already have a way to number the workspaces since we also need it for  _NET_CURRENT_DESKTOP.

[2016-01-09 08:54] pniederlag commented on #2098
I updated to a more recent version of i3-wm yesterday (debian/nightly build of https://github.com/i3/i3/commit/891bd6e3e5a955de4832053cfa292ba4dbf91874)

I'll let you know how this turns out, as you mentioned the meanwhile closed #2132 could be related.

[2016-01-09 16:22] stapelberg opened #2155 "enhancement: Investigate LeakSanitizer reports when tests use pango fonts"
Testcases that start i3 with e.g. `font pango:monospace 8` in its configuration file contain LeakSanitizer reports. We should figure out whether these are legit and address them, or add a suppression in case they are unavoidable but harmless.

[2016-01-09 21:39] Airblader commented on #2155
Since the tests have been adapted to not use pango fonts anymore at the moment, here's the relevant output:

[code]

[2016-01-09 21:40] Airblader commented on #2155
@stapelberg Unrelated to pango, but do you know where these are coming from (well, I should say why they pop up)?

[code]

[2016-01-09 22:09] Airblader commented on #1787
This works totally fine for me, still, and I think the issue here is simply that you need an i3 border for resize to work without having to press the modifier key. With that pressed, resizing works even without borders, see #1826.

I'm going to close this now since it's not reproducible and has been inactive for a long time.

@aleb If you can still reproduce this, please try pressing your modifier

[2016-01-09 22:13] Airblader commented on #1686
@carrotIndustries Can you still reproduce this in 4.11?

[2016-01-09 23:14] Airblader commented on #2130
@stapelberg This requires `X11/Xresources.h`. I can't seem to be able to find an XCB equivalent. Is this OK? Is libx11 a new dependency for us?

[2016-01-10 13:39] avadakadevra opened #2157 "arch linux i3:status_command process exited unexpectedly (exit 0)"
[5642684278505472.zip](https://github.com/i3/i3/files/84106/5642684278505472.zip)
i get this message in i3bar
status_command process exited unexpectedly (exit 0)
log is here
i3 version 4.11
http://logs.i3wm.org/logs/5642684278505472.bz2

[2016-01-10 13:52] avadakadevra commented on #2157
[5642684278505472.zip](https://github.com/i3/i3/files/84105/5642684278505472.zip)

[2016-01-10 14:50] stapelberg commented on #2157
What happens when you run `i3status` in a terminal?

[2016-01-10 15:14] avadakadevra commented on #2157
output of $i3status
====================
![i3status](https://cloud.githubusercontent.com/assets/13030646/12222178/69bcde12-b7d6-11e5-9c57-acc48d6b3ddf.jpg)

output of $sudo i3status
=========================

![sudoi3status](https://cloud.githubusercontent.com/assets/13030646/12222186/b1aedf68-b7d6-11e5-84a6-db987c3e2e07.jpg)

[2016-01-10 15:17] stapelberg commented on #2157
Can you file an issue at https://github.com/i3/i3status please? Also include the version number of i3status and which distribution you’re using.

[2016-01-10 15:17] #2157 closed

[2016-01-10 15:24] avadakadevra commented on #2157
done
https://github.com/i3/i3status/issues/92

[2016-01-10 16:39] stapelberg commented on #2155
From which test is that valgrind report? My guess for the first issue is that we have a malformed fake-outputs specification somewhere (possibly a trailing space?), I’m not entirely sure about the second one.

[2016-01-10 19:04] #2154 closed

[2016-01-10 19:15] stapelberg commented on #2130
I think you’re right in that there isn’t an xcb equivalent:

In https://sources.debian.net/src/xcb-util-cursor/0.1.1-3/cursor/cursor.c/?hl=95#L44, we parse the RESOURCE_MANAGER property contents directly in an ad-hoc fashion.

cairo-xcb does the same: https://sources.debian.net/src/cairo/1.14.6-1/src/cairo-xcb-resources.c/?hl=232#L232

This seems like a good chance to write a library for xcb (like

[2016-01-10 19:26] Airblader commented on #2130
I like the idea of writing an XCB library, but I don't think the approach from xcb-util-cursor or cairo-xcb is very good. The "power" of xrdb is the matching and wildcards which this mechanism doesn't allow. A proper library that supports the specification correctly would be better.

Either way, it means we need to have distros provide the library in their repositories, which potentially takes a l

[2016-01-10 19:26] stapelberg commented on #2153
I’m not aware of any reasons. I think this was an oversight when developing back then.

Sounds good!

[2016-01-10 19:30] Airblader commented on #2155
@stapelberg It was `t/245-move-position-mouse.t`, but I think I saw this in others as well. The second one confuses me more than the first one. I've looked at the referenced code and can't make sense of it. AFAICT, everything involved in `src/x.c:413` is properly alloc'd and doesn't contain uninitialized values. I have no idea what it has to do with `load_configuration` either.

[2016-01-10 19:30] stapelberg commented on #2130
Sorry, should’ve been clearer: I didn’t mean to imply that their approach is what should be done, rather I wanted to highlight that the lack of a proper library leads to people coming up with ad-hoc hacks like the two occurrences I referred to.

Certainly we’re talking about a couple of weeks to a small number of months here, yes. What I typically like to do is merge the commit which makes use of

[2016-01-10 19:33] Airblader commented on #2130
Alright, thanks. I haven't touched base with providing packages so far, except for the AUR in Arch, but that's of course not comparable. So that information is very helpful to me.

I'll make sure to bring this to mailing list attention once I actually start working on it.

[2016-01-10 19:47] Airblader commented on #2153
I've just tried `xfce4-panel` and set `_NET_WM_DESKTOP` manually on all my windows (`xprop -format _NET_WM_DESKTOP 32c -set _NET_WM_DESKTOP 0`). Setting the atom was enough to make the pager display everything correctly, so I'll convert this to a feature request instead.

[2016-01-10 21:45] stapelberg commented on #2155
I looked into it some more and can’t explain it. Could you try distilling the issue into a minimum working example? Possibly that helps to solve it, but at least we’d be in a position to ask the valgrind people for guidance then.

[2016-01-11 15:27] oberon2007 opened #2158 "start orientation of split toggle"
I love the addition of the split toggle feature. One thing irritates me, though:
When you are on a new workspace you are used to expect that the next tile will be horizantally split as in traditional default. But with the new feature enabled this depends on the last split action. So sometimes you will get vertical tiling for the 2nd container an a fresh workspace, which I find really confusing. I

[2016-01-11 15:28] oberon2007 commented on #2158
i3 version 4.11-671-g7e96419 (2016-01-10, branch "gaps-next")

[2016-01-11 15:30] oberon2007 opened #2159 "moving containers inhibited by split toggle"
With the option **split toggle** activated like this
``for_window [class=".*"] split toggle``
moving containers with ``move left/rigth/up/down`` will not work properly anymore.
i3 version 4.11-671-g7e96419 (2016-01-10, branch "gaps-next")

[2016-01-11 15:46] Airblader commented on #2158
Be aware that "the new feature" is the command `split toggle`. Using this via `for_window [class=".*"] split toggle`, which I assume you are talking about here, is just one way of using it.

[2016-01-11 15:47] Airblader commented on #2158
@jolange FYI

[2016-01-11 15:47] Airblader commented on #2159
@jolange FYI.

[2016-01-11 15:50] oberon2007 commented on #2158
Yes, I'm aware of that. Do you have a more clever suggestion of how to achieve what I want?

[2016-01-11 15:52] Airblader commented on #2159
This issue isn't related to `split toggle` directly. The same effect is seen when using `urxvt, urxvt, split v, urxvt, split h` and then trying to move the bottom right terminal up. Executing the move twice works.

The issue here is that you create a split container with a single leaf, so you have more nesting than you assume when looking at your screen. The first move command makes the split cont

[2016-01-11 16:03] Airblader commented on #2158
I think this works as expected from the command point of view. You open a window, your config executes the split, so the next window opens vertically. This isn't a shortcoming of `split toggle` (which doesn't know what you're doing with it), but of using it with `for_window` that way.

I think that the `for_window` approach for the "alternating layout" was just a bit too naive. You'd probably have

[2016-01-11 16:03] #2158 closed

[2016-01-11 16:05] oberon2007 commented on #2158
Yes. I understand. Agreed. :)

[2016-01-11 16:08] jolange commented on #2158
Right, one might want to use this behaviour manually, which then perfectly makes sense.
But having an automatic alternating split would certainly be nice. (Something similar was requested in #2106)

[2016-01-11 18:33] jolange commented on #2159
Ok, I already wondered how there could be any relation, when I read the title, since `toggle` only adds normal splits.

What alternatives do you have in mind for the current general behaviour?
I see two approaches: When trying to move a container that is the only child of a split container
- first collapse the split container and then move (which you would end up doing manually anyway)
- move the

[2016-01-11 18:39] Airblader commented on #2159
We should certainly be careful with such a change. No matter what, it's a breaking change.

[2016-01-11 18:49] tostiheld commented on #2081
can confirm on debian jessie with 4.11. with me it happens when i try to scroll in any libreoffice window. the bug also appears with the telegram-desktop window (both with and without libreoffice windows opened).

[2016-01-11 18:54] Airblader commented on #2153
Things to take care of for full spec compliance:

[ ] Set the atom when we manage a window.
[ ] Update the atom when a window is moved.
[ ] Upon managing a window, check if the atom is set. If so, place it accordingly. If the atom is set to 0xFFFFFFFF, make it floating and sticky.
[ ] When withdrawing a window, remove the atom.
[ ] Look for client messages and react to them.

[2016-01-11 19:16] psychon commented on #2130
I helped breaking Michael's xcb-cursor and I can also help breaking your library. ;-)
Myself, I have almost zero clue about Xrdb. I merged the code in cairo-xcb, because it did improve the situation, but at the time already felt like a library might be needed. Awesome currently uses Xlib just for this (I keep removing our use of Xlib and people keep coming up with new uses for it (cursors, input,

[2016-01-11 19:24] Airblader commented on #2130
@psychon Awesome (no horribly old pun intended), thank you.

I've spent some time reading up on how the resource manager is supposed to work. Judging from the Debian code search, the majority of developers have little to wrong understanding of it. Seems like people rarely exhaust the powers of the database's options. :) My understanding (hopefully) is good enough now to start off with working on a

[2016-01-11 20:59] aleb commented on #1787
I can still reproduce the bug.

$ i3 --version
i3 version 4.11-219-g9a4dbf3 (2016-01-11, branch "makepkg") © 2009 Michael Stapelberg and contributors

Oh, I tried with mod + right-click and it works. But this is very difficult to discover.. please consider reopening the issue.

[2016-01-11 21:02] Airblader commented on #1787
You're going to have to read the userguide. It's described there. If you feel that it needs to be documented better, please feel free to open a pull request. As an affected user, you probably have the best idea where and how you expect it to be documented.

[2016-01-11 21:35] aleb commented on #1787
I actually reported two bugs here.. One is about dragging the black line (where the cursor becomes the normal pointer) and the other is dragging the margin of the GtkApplication windows (where the cursor becomes *-arrow-to-bar). Sorry about this.

I don't understand why would one look at the userguide when a space can be clearly seen between the windows (the border) and dragging it in other cases

[2016-01-11 21:37] Airblader commented on #1787
Can you maybe provide a screenshot how it looks for you and mark which part exactly you try to click + drag/drop that doesn't work?

[2016-01-11 22:04] oberon2007 commented on #2159
Is ``for_window [class=".*"] split toggle`` not actually supposed to do the same as this:
I open a container, then toggle split orientation (manually), then open another container, toggle ... and so on.
It surprises me that when I do exactly that I will not have that same problem and can still move the containers in the way I am used to!

[2016-01-11 23:08] aleb commented on #1787
![0000031](https://cloud.githubusercontent.com/assets/505582/12249487/5b1844c4-b8c0-11e5-9e82-01eede3671e8.png)
![0000033](https://cloud.githubusercontent.com/assets/505582/12249497/69c42c18-b8c0-11e5-8518-bf5ce471d74c.png)
![0000040](https://cloud.githubusercontent.com/assets/505582/12249504/720d10d8-b8c0-11e5-98e5-49e65521972a.png)

[2016-01-12 07:14] jolange commented on #2159
@oberon2007 are you sure you are doing the exact same thing? The crucial part is always the last toggle, since it introduces a split container holding only one child. I cannot test `split toggle` at the moment, but it should give you the same problem as the sequence @Airblader described using `split h|v`.

[2016-01-12 08:37] psychon commented on #2130
Well, just copy the autofoo-part (`configure.ac`, `Makefile.am`) from xcb-util-cursor to get started and then you only have to add the C parts. The `gperf`-parts of this (which you don't need) can easily be removed. I did the same for xcb-util-errors (http://lists.freedesktop.org/archives/xcb/2015-April/010264.html, a library to map numbers to the names of errors/requests/events that AFAIK no one

[2016-01-12 08:39] stapelberg commented on #2130
In the beginning, I hosted the library on my own git server (would use GitHub these days), then applied for an account and moved it to fdo.

[2016-01-12 09:06] aleb commented on #1787
https://www.youtube.com/watch?v=5wEpnd3f1h0

[2016-01-12 10:02] Airblader commented on #1787
@aleb Thanks. Can you reproduce this with the default i3 config? If so, please use the default config and provide both a log file (after trying to resize) and the output of `i3-msg -t get_tree` (with the windows open like that).

I'll reopen for now.

[2016-01-12 10:37] tostiheld opened #2160 "i3 crashes on the evolution appointment reminder"
title says it all.
steps to reproduce:
1. make appointment in evolution with reminder
2. wait until reminder
3. reminder appears -- crash

debian 8.2 jessie
evolution 3.12.9
i3 4.11

i don't have time right now to attach a log, but i thought i should report this anyway. i'll create a log later (probably this weekend, rather busy with exams)

[2016-01-12 10:41] oberon2007 commented on #2159
Ah. now I understand! Well the difference is that when you do this manually you would normally not have split toggle at the end of your chain of commends. Normally you last action is creating the container and after that you can move it normally. The problem is that you end up with a split toggle command without creating another leaf, right?

[2016-01-12 10:52] Airblader commented on #2130
@psychon (Storm, Maschinennahe Programmierung – he said that'd make you remember :) ) And thanks for all the hints. I'll try to get it started on Github and also apply for an account.

[2016-01-12 10:57] aleb commented on #1787
get_tree: [geditx2.txt](https://github.com/i3/i3/files/87120/geditx2.txt)
log: aleb.ro/i3.tgz

[2016-01-12 11:11] jolange commented on #2159
Yep, that's exactly the problem.

[2016-01-12 11:18] psychon commented on #2130
Ohhhhhh! Of course I know him! Say hi to him from me. I must have missed that name when looking through the list of Christians in the ARBI. :-)

[2016-01-12 12:08] boolean-is-null commented on #2126
I've created the following bash script:

    #!/bin/bash

    if [ -f /tmp/testfile ];
        then i3-nagbar -t warning -m 'System reboot required' -b 'K' ':' -b 'Shut down.' 'systemctl poweroff';

        else 'i3lock -c 000000; systemctl hibernate';
    fi

and executed that script from the i3 binding, which results in the same problem. i3-nagbar works as intended, but when the `/tmp/testfile`

[2016-01-12 16:26] Airblader commented on #2126
I think the problem is that in

[code]
 else ( i3lock -c 000000; systemctl hibernate );
[code]

[2016-01-12 16:53] boolean-is-null commented on #2126
oh my.
You're absolutely right, that's not an issue of i3-nagbar! My mistake, sorry!
I got confused, as I wrote it in a on-liner.

[2016-01-12 16:53] #2126 closed

[2016-01-12 19:09] japhir commented on #2060
I was going crazy over this, I thought I did something wrong. It doesn't work, even with the newest spotify beta. Thanks!

[2016-01-12 19:40] stapelberg commented on #2160
In additon to the log, a backtrace would be great. Also, can you describe how it crashes, i.e. what you see?

[2016-01-12 19:48] stapelberg commented on #1787
I think this issue is about i3 not handling `_NET_WM_MOVERESIZE` for tiling windows:

When clicking the bottom border of a gedit window, I see the following in the i3 log:
[code]

i3 currently only honors application resize requests for floating windows. For tiling windows, the assumption is that because applications were in general not written with tiling window managers in mind, the resize reque

[2016-01-13 16:30] stephen304 commented on #1767
This is a shame. Bspwm lets you split all 4 directions, so I have them bound with a combination including arrow keys, so it feels very intuitive that I can presel any direction and not just be limited to down and right.

I was very interested in switching to i3 but I'll just stick to bspwm, as it seems much easier to get windows where I want them in one-off situations without having to mess with s

[2016-01-13 16:39] Airblader commented on #1767
@stephen304 If you read my comment above, this feature has never actually been declined. There was just nobody arguing for it anymore.

@stapelberg Updated thoughts?

[2016-01-13 18:42] Spheerys commented on #1767
Thank to share your thought stephen304 :)
I will have a look to bspwm.

[2016-01-13 19:51] Airblader commented on #2153
Leftovers:

- [ ] The implementation is currently buggy if, for example, workspaces 1 and 3 are open with windows and then workspace 2 is opened. Whenever workspaces are opened, closed or moved, we need to update the hint on all windows.
- [ ] Tests

[2016-01-14 08:06] stapelberg commented on #1767
@Airblader No update, as nothing new was presented in the discussion so far.

[2016-01-14 08:08] stapelberg commented on #2159
Isn’t the split indicator shown? I thought we don’t have situations any more that cannot be distinguished. If that’s wrong, can you add screenshots to illustrate the issue please?

[2016-01-14 08:10] Airblader commented on #2159
The indicator should be shown indeed, but many people disable it. I guess the real question for this ticket is whether we can change the move behavior for the case of moving a window that's the only child in a split container.

Otherwise I think there's nothing we can do here.

[2016-01-14 08:55] stapelberg commented on #2159
I don’t see it as a big enough issue to introduce yet another special case.

[2016-01-14 09:14] Airblader commented on #2159
OK. Then I'm closing this issue since this isn't a problem with what i3 does, but with how the command is used. So I see nothing we can do about it. A more elaborate IPC script could probably solve it.

[2016-01-14 09:14] #2159 closed

[2016-01-14 20:13] stephen304 commented on #1767
Just thought I'd share a use case I just came across. I was working on one project, and had a single terminal window open. I switched gears to another project but wanted to keep the first terminal window on the bottom half of the screen, so I split upwards.

I'm not clear on exactly how saved layouts work, but I doubt it'd make that situation easier as the 2 terminal windows could have been any 2

[2016-01-14 20:20] Airblader commented on #1767
Personally I see the usecase, and I think there is little one can argue to make it a stronger argument. I could even imagine that very terminal heavy users might do bindings like `split h left, exec $TERM` for all directions.

I wouldn't mind this feature, but maybe a PR would have to show that the patch is at easy as we think it'll be (without causing other problems). The unlock indicator drawing

[2016-01-15 18:21] carrotIndustries commented on #1686
@Airblader, yes. I found out something really strange:
This bug only happens when default_orientation is set to auto. When it's set to horizontal/vertical the layout is preserved.

[2016-01-15 22:30] Airblader commented on #2153
@stapelberg Here's one more thing I just noticed. For pagers to display the workspaces correctly when moving a window to another workspace, we'd have to render that workspace. Otherwise the pager doesn't know the geometry of the window. If I had to guess I'd say you aren't too happy with that.

I'd still go for _NET_WM_DESKTOP support since it can be used by tools other than pagers as well. Like b

[2016-01-16 15:00] Airblader opened #2163 ""open" doesn't work properly on empty workspaces"
I just tried to write a test where I wanted to do this:

[code]

[2016-01-16 15:17] stapelberg commented on #2153
Rendering the destination workspace should be fine as long as no visible changes (i.e. flickering) are pushed to X11.

[2016-01-16 15:49] Airblader commented on #2153
Yeah, agreed, flickering isn't good. :) OK, I'll also look into that. I'm not sure right now whether we don't render non-viewable windows or just not push their X changes. Might be a topic for a separate PR then.

[2016-01-16 20:43] Airblader opened #2165 "Remove _NET_WM_STATE on withdrawn windows"
http://standards.freedesktop.org/wm-spec/1.3/ar01s05.html:

We currently don't do this.

[2016-01-17 19:20] Airblader commented on #1686
@carrotIndustries Thanks for the feedback. That's useful information.

[2016-01-17 19:56] vimeitor opened #2166 "Strange behavior when making a group of stacked windows floating"
Hello,

This is very unimportant, but I figured I would report it anyway.

If you get into a blank workspace and open four windows in stacked mode, then you focus parent twice, and then you make them float, the windows are displayed in a strange way. Doesn't really matter which programs I open. I get something like the following in my computer:
http://imgur.com/Jkq5x92

I don't think it's related

[2016-01-17 20:03] Airblader commented on #2166
We don't really support this anyway. Floating windows are meant to be used for dialogs, nothing more.

That said, from a quick first look, it seems that we focus the workspace container and let it float. If that is the case, that shouldn't be allowed.

Only focusing the parent once and making it float works fine for me.

[2016-01-17 20:03] vimeitor commented on #2166
I'm running the last commit.
i3 version 4.11-219-g9a4dbf3 (2016-01-11, branch "next") © 2009 Michael Stapelberg and contributors

[2016-01-17 20:04] vimeitor commented on #2166
That's what I figured. Yes, focusing the parent once does indeed work in my machine as well.

[2016-01-17 20:08] Airblader commented on #2166
Yeah, so making sure we don't allow floating the workspace container (if that's the case, or whatever else breaks here) should be fine for everyone.

[2016-01-17 21:03] teto commented on #1977
In my setup I only have Neovim and firefox that handles their tabs themselves. I managed to get vim splits work flawlessly with i3 bindings through neovim rpc system and now I am looking at ditching firefox tabs.
 I do like my tabs vertical and just wrote a quick hack to see how hard it would be to write
https://github.com/teto/i3/tree/vertical

As you can see on this screenshot https://transfer.s

[2016-01-17 21:12] lightonflux opened #2167 "Documentation: Mention xmodmap for mod keys in config comment"
Hello,

so i setup the wm with an i3-beginner. And he didn't know what which key corresponds to mod$num.

Luckily under linux you can use `xmodmap` to list the mod keys and the corresponding key name.

We think it would be helpful for other beginners to mention the command so one can easily check which key is mod2, mod3 and so on.

[2016-01-17 21:15] Airblader commented on #2167
Feel free to submit a pull request for this. Since you ran into this, you'd probably know best where you expect this to be documented.

[2016-01-18 19:52] hercek commented on #1067
I would like to have this feature implemented too.
1) Each window title bar would get a one letter marker from the set {V,H,T,S} using the indicator color just next to the left edge of the window title bar. Then the text of the window title itself would follow after a space in the standard colours.
2) Windows in V/H containers would get the rigth/bottom border as they have now. The windows in T/S

[2016-01-18 20:09] Airblader commented on #1067
I don't like displaying a letter in the titlebar because many people that I know, and I myself, don't use the indicator feature at all. To me that would be clutter, space I want to be used for the window title.

[2016-01-18 20:35] hercek commented on #1067
OK, I can live without the letter. Just lets add the distinction between a standalone window in an S/T container and a window which is not alone in some container. Whatever distinction. I do not really care how it is done just lets make these two situations render somewhat differently.

[2016-01-18 21:31] #2153 closed

[2016-01-18 21:42] hercek commented on #1067
Well, I installed a version on my machine which adds this. No clue whether it is really correct since I have looked at the source code the first time this evening and there was some guessing. But it seems to be working for now.
[code]
I'll gladly swap it for whatever better version you guys will produce :)

[2016-01-18 21:43] Airblader commented on #1067
The basic concept is fine, it's pretty much the commit I've had laying around for a few months, too. There's some minor other things that need to be done (see discussion above).

[2016-01-18 21:47] Barteks2x commented on #2081
I'm not sure if it's the same bug but I'm getting simillar behavior, but I know exactly what causes it.
It occurs for example with IntelliJ IDEA. It creates a "tips and tricks" (floating) window at startup. And if that window is in different workspace than main window - every time I move my mouse cursor on that floating window - mouse cursor jumps to the center of main window.
It also occurs with

[2016-01-18 22:26] Airblader commented on #2130
( @psychon He wants me to say "Hi", too, and add that you did convince him to eventually switch to Awesome ;) )

I've started https://github.com/Airblader/xcb-util-xrm now, but the actual implementation is missing still. The implementation won't be as extremely optimized as the Xrm* stuff, I'm sure, but I think that's OK since I doubt anyone is querying thousands of entries anyway. Typically you q

[2016-01-18 22:57] arnuschky commented on #2081
Weird. I use IntelliJ/Pycharm as well, but I don't observe that behavior.

[2016-01-18 23:05] Barteks2x commented on #2081
Actually, I only tested it if these 2 windows are on different monitors. I'm not sure if it works if they are just 2 different workspaces.

[2016-01-19 09:16] stephen304 commented on #1767
You could probably just have the split left or split up functionality just perform split right or down followed by a move, wouldn't that work?

[2016-01-19 20:22] vimeitor opened #2168 "Can't use the mouse after reloading the config"
Hello,

Sorry to be here again. Every time I reload my config, I stop being able to right/left click and use touchpad gestures until I restart i3wm. I'm using the next branch. I've been able to track it down to commit 6f12f02 - Allow mouse bindings to run on the root window.

Have you experienced anything similar? I don't think it has anything to do with my config. I would be more than happy to pr

[2016-01-19 20:25] Airblader commented on #2168
I've seen this happen, too. I'm not sure what's going on. Thanks for the bisect, that's very useful.

[2016-01-19 22:03] Airblader commented on #2168
I can in fact reproduce this reliably.

[2016-01-19 22:09] Airblader commented on #2168
I think we might need to call `xcb_allow_events`.

[2016-01-19 23:22] vimeitor commented on #2168
Thank you very much for taking your time with this :). I don't have much knowledge about this, so sadly I can't help, but I'm more than happy to run the patch a few days and report back any issues if there were any.

[2016-01-20 16:49] TheLQ commented on #1197
Any reason this was closed? Has the logging of what config your using been added? Is this more possible in 2016?

Working around this with bash scripts isn't ideal and goes against what many other apps accomplish with the .d directories.

[2016-01-20 17:40] Airblader commented on #1197
I don't see a reason either, not in this ticket anyway. I'll reopen for now. @stapelberg Has your view on this changed or is it still a valid request?

[2016-01-20 19:10] stapelberg commented on #1197
commit 44367572c98bdb69730d86755dd3edb5207bed3c added the config file path (and its last modification time) to the output of `i3 --moreversion`.

The ticket was closed with the submit_to_cr.i3wm.org status because that was our process for marking suggestions as accepted before we moved to GitHub.

[2016-01-20 19:19] Airblader commented on #1197
I'm not sure I'm interpreting that correctly. So is this still an accepted feature request?

[2016-01-20 19:39] stapelberg commented on #1197
Yes.

[2016-01-20 21:43] #2168 closed

[2016-01-21 23:06] alexelias opened #2171 "focus_follows_mouse doesn't reevaluate on workspace change"
Binary i3 version:  4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and contributors
Running i3 version: 4.11 (2015-09-30, branch "4.11") (pid 20859)

Repro steps:

1. Create 2 workspaces.  Create 2 GNOME terminal instances, vertically split, in workspace 1.  (Workspace 2 can be empty.)
2. Focus the left terminal in workspace 1.
3. Go to workspace 2, and move the mouse cursor to the rig

[2016-01-21 23:14] Airblader commented on #2171
That behavior is intended because you work with your mouse on workspace two, but don't want to predetermine the focus for a workspace you can't even see. It's counterintuitive and would just confuse people.

You can also click into the window to refocus it.

I don't think there's a need for that. A oneliner like

[code]

[2016-01-21 23:32] alexelias commented on #2171
Thanks for the quick reply.  That one-liner worked fine.

[2016-01-21 23:32] #2171 closed

[2016-01-22 16:46] dsifford commented on #759
@stapelberg I attempted your suggestion on Ubuntu 15.10 (using both an `.xsession` and `.xinitrc` file) and it didn't work. Any updated suggestions?

[2016-01-22 17:56] stapelberg commented on #759
@dsifford Likely you’ll need to tell your login manager to use a custom session. See also https://wiki.ubuntu.com/CustomXSession

[2016-01-22 17:58] dsifford commented on #759
@stapelberg That was the exact guide I used and still no dice. The session never showed up on the login screen.. (I tried a few times, actually).

Oh well, I suppose I'll just maintain two different configs.

[2016-01-22 20:11] jolange commented on #2081
I can confirm what @Barteks2x describes with two monitors.
More specifically:
- open a floating window on one monitor
- move it so that part of it is on the other monitor, but less than half of it
- place mouse cursor somewhere on the other monitor and move it into the floating window
- mouse cursor jumps to the middle of the floating window, i.e. the other screen

But I doubt there is a connectio

[2016-01-23 21:49] MrTango commented on #907
Would be a function like workspace back_and_forth possible?
Because it would be really useful, if you switch between two windows.

[2016-01-23 21:56] Airblader commented on #907
@MrTango You can use the IPC.

https://github.com/acrisci/i3ipc-python/blob/master/examples/focus-last.py

[2016-01-23 22:16] Airblader opened #2173 "[enhancement] Render geometry of windows on all workspaces"
We should push the geometry for all windows, even if the workspace isn't visibile. This allows pagers to work correctly now that we properly support `_NET_WM_DESKTOP`.

[2016-01-24 11:07] claf commented on #1517
Yep, I would be glad to have that too! +1

[2016-01-25 06:57] Airblader opened #2174 "[enhancement] Make formatting work with latest clang"
We currently require clang35 to be used for formatting the code. I wonder whether we can make a newer version behave the same (as is, the formatting changes).

[2016-01-25 08:04] stapelberg commented on #2174
Or we could just not bother and have a flag day where we switch from one to the other :).

[2016-01-25 08:05] Airblader commented on #2174
And change the formatting? SGTM. When? :)

[2016-01-25 08:12] stapelberg commented on #2174
Once I see proof that the version of clang-format you have in mind is available on travis, Debian testing and Arch Linux :).

[2016-01-25 11:19] kalsan opened #2175 "[enhancement] Spacer support for i3bar"
As far as I know, it's not possible to use spacers with i3bar by piping from an external tool such as conky. It would be great to have a special unicode symbol trigger a spacer. Say, if I have Wireless and a clock and I want the Wireless to be displayed all the way left and the clock all the way right, I could separate them with that special unicode symbol.
This is just an idea. I think it would m

[2016-01-25 11:22] Airblader commented on #2175
I think this is a duplicated of #1148 which talks about centering, but at it's core it's the same issue.

[2016-01-25 11:22] #2175 closed

[2016-01-25 20:28] Airblader commented on #2174
Arch won't be a problem. It seems like Travis isn't there yet, though.

[2016-01-25 21:21] Airblader commented on #2173
This code in `src/render.c` looks fishy:

[code]

[2016-01-26 07:31] thatjpk opened #2176 "config: Comment lines can be continued with '\'"
I noticed today that comment lines ending in the line-continuation character `\`, which precede a non-comment line, cause the non-comment line to be ignored.  Presumably because the line continuation is honored, and the next line is considered part of the comment.

For example, the following would spawn only one of the two terminal windows a user might expect, because the first one is probably par

[2016-01-26 07:43] thatjpk commented on #2176
FWIW: Glancing at [config_parser.c](https://github.com/i3/i3/blob/31121f133456868d027bd4fcda3d5691641c3c67/src/config_parser.c#L838), it looks like it does exactly what I suspected it did.  It buffers the continuations before it starts skipping comment lines.

(Also, shoutouts to the straight forward code base that allowed me to find that in a few seconds. :D)

[2016-01-26 07:44] Airblader commented on #2176
I'm not sure I'd call this a bug. I don't see a reason why people have `\` at the end of their line other than wanting to continue a line. And this is exactly what we do.

@stapelberg What do you think?

[2016-01-26 08:26] thatjpk commented on #2176
Well, I ran into it doing something like this:

Starting with this:
[code]

Then testing a different bind like this:
[code]

Which made the binding disappear entirely with no indication as to why.  Typically, languages either don't allow continuing comment lines (like bash and Python), or do allow it but doing so is considered bad style (like C and C++).  So it's less a bug and more a principle-of

[2016-01-26 08:27] stapelberg commented on #2176
It’s certainly unexpected behavior. If the fix is reasonably simple, I’ll gladly accept it.

[2016-01-26 08:28] Airblader commented on #2176
OK, thanks for the example. That makes sense to me as well. Do you want to submit a PR for this yourself?

[2016-01-27 10:18] ryanwalder commented on #2081
Same for me:

Ubuntu 14.04
13: 4.11~~trusty1 (from sur5r repo)
LibreOffice: 4.3.8.2 420m0(Build:2)

To replicate for me:

1. Open LibreOffice on workspace 1
2. Move LibreOffice to workspace 2
3. Switch to workspace 2
4. Click menu (or anything) in Libreoffice
5. Mouse jumps to center of workspace 1

I have noticed this from time to time in firefox as well but never reproducible.

[2016-01-27 19:05] Airblader commented on #2160
@tostiheld What's the status?

[2016-01-27 19:07] Airblader commented on #2098
@pniederlag Out of curiosity, have you run into this since? If not, would you have expected to run into it?

[2016-01-27 19:23] thatjpk commented on #2176
I didn't intend to initially, but it looks simple enough for me to do.  I'll need to set up a build/test environment, though.  If a regular contributor wants to knock it out, then go for it!  Otherwise, I might take a stab at it when I get some free time.

[2016-01-27 19:26] Airblader commented on #2176
Just in case you don't know already, we have docs on how to set up everything you need for the tests and how to run them on the website. I think there's no hurry, so feel free to contribute. :)

[2016-01-27 20:45] pniederlag commented on #2098
I do still see crashes about every other day. However I am still without a clue on the circumstances that trigger them. It always happens shortly after unplugging and suspend/resume-cycles, at least that's what I think.

The more I try to produce a crash it just won't happen.

Sry I can't give more valuable input, big thx for taking so much care of your users! Will try to frequently run this scrip

[2016-01-27 20:48] Airblader commented on #2098
I just wanted to make sure the other fix didn't fix this as well. We'll go with that patch we talked about – when I get around to it. I'm very busy at the moment.

[2016-01-27 22:46] tostiheld commented on #2160
forgot about it - just tried to reproduce

1. opened evolution
2. a reminder from a past appointment popped up
3. nothing

no crash. i'm sure it crashed when the reminder appeared previously, but suddenly it doesn't crash anymore...

[2016-01-27 22:49] Airblader commented on #2160
So we have a one time occurrence that isn't reproducible and without log or backtrace. I'm going to close this issue then. :) If you experience it again, please pull log and trace and post back here, then we can reopen it.

[2016-01-27 22:49] #2160 closed

[2016-01-27 23:02] tostiheld commented on #2160
one last remark: it wasn't a one time occurrence. i don't use evolution that often. i'd say a sporadic occurrence

[2016-01-28 07:25] pascalfleury opened #2179 "Resize arrow direction improvement"
When resizing a window (e.g. <META1>-r then using the arrow keys) the direction in which the I have to press the keys seems random. Some windows I have to press 'down' to get the window to increase by moving its only movable border up.

I suggest to have a better selection of the direction in which things move, based on 'movable border'. A window that is tiled at the border of the screen has that

[2016-01-28 07:28] Airblader commented on #2179
If you look at what commands are executed in the resize mode, you might understand what's going on. Reading the docs on that command would also help.

[2016-01-28 09:29] jolange commented on #2176
@thatjpk I did not have a real look at that yet, but I think I'll have some time over the weekend to try and see if I can do it ;-)

[2016-01-28 09:44] pascalfleury commented on #2179
I know. I still claim it is not the most intuitive when using arrow keys, but there is currently no way to configure it so that the movable border moves in the direction of the arrow (which would need some dynamic window state information).

$ i3 --version
i3 version 4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and contributors

My config is within resize is:
        bindsym Left res

[2016-01-29 15:57] blessed opened #2180 "[feature request] Restrict focus left/right to the active output screen in multi-output setup"
Hey, thanks for the great work on this excellent WM!

I think it would be great to have an option to limit _focus left/right_ only to the currently active output (the one that has a focused window). I think this optional behaviour could work the same as if there was only one output where _focus left/right_ just wraps to last/first container on the output.

[2016-01-29 16:08] Airblader commented on #2180
For context:

*
https://www.reddit.com/r/i3wm/comments/4399ni/cycle_through_windows_and_workspaces_inside_only/
* https://faq.i3wm.org/question/1028/switch-focus-only-on-current-output/

[2016-01-29 17:32] Airblader commented on #1767
This has gotten some interest recently, so I'm reopening (as promised above). I actually think this might be useful. I'm not entirely sure how to argue for it, what @stephen304 described (the arrow key binding) makes a lot of sense to me.

[2016-01-30 15:15] godenji commented on #2081
Same, dual monitor, any mouse scroll operation (trackball in my case) results in either the cursor on the secondary monitor, or in last focused panel in current application (e.g. in Eclipse split panel view).

The issue only manifests on primary monitor, secondary monitor (laptop) is unaffected.

FWIW, have had issues pre-4.11 with Eclipse and dragging panel tabs around. Might not be related to i3

[2016-01-30 15:55] tranquilitycal opened #2182 "Mouse theme changes when hovering over i3 windows"
I was trying to set my mouse cursor theme which I had done successfully in .Xresources however when I start i3 and I'm on the desktop I see the default black black cursor. When I launch say Google Chrome my cursor then changes to the specified Gentoo Blue theme I set but if I hover over i3's status bar, window decoration, or switch back to the desktop my theme goes away.

EDIT: i3 version
i3 versi

[2016-01-31 11:10] jolange commented on #2167
This is already mentioned in [4.3. Keyboard bindings](http://i3wm.org/docs/userguide.html#keybindings), which I think is exactly where it belongs.

[2016-01-31 11:14] Airblader commented on #2167
Agreed, thanks for pointing it out. @lightonflux hasn't reacted again either, so I think there's no point in keeping this open.

[2016-01-31 11:14] #2167 closed

[2016-01-31 15:17] stapelberg commented on #2179
I don’t see a pressing need (i.e. there are no frequent user complaints about this) to do anything about the resize commands.

Personally, I typically resize using the modifier + mouse dragging, as that’s by far the easiest way for me.

I think most users who frequently resize get used to the current behavior — this isn’t to say the current behavior is the optimal behavior, but there is a cost to

[2016-01-31 15:18] Airblader commented on #2179
In particular either a breaking change for users as well as scripts or maintaining two different resize mechanisms.

[2016-01-31 15:21] stapelberg commented on #2182
I think this is a duplicate of issue #2114 — in that issue, the cursor over i3bar is fixed.

The root window is not under i3’s control, so you’ll need to set the appropriate cursor for the root window yourself, e.g. using `xsetroot -cursor_name left_ptr` in your `~/.xsession`.

Can you upgrade to at least commit b1f1da432df47806be3b7e61951eed195ca70fc9 and re-open if the issue is still reproducibl

[2016-01-31 15:21] #2182 closed

[2016-01-31 15:42] tranquilitycal commented on #2182
I've upgraded my i3 to the latest version on github (i3 version 4.11-234-gb565676 (2016-01-31, branch "next") © 2009 Michael Stapelberg and contributors) and my .xsession looks like this

`xsetroot -cursor_name Breeze-Hacked`

and .Xdefaults

[code]

and still the same issue when I am on the desktop or hover over i3's window decoration and status bar. Maybe I'm missing something needed for that? I

[2016-01-31 15:48] stapelberg commented on #2180
The `_tree_next()` function (used for changing focus) is already really complicated. I’m wary of adding anything to it.

I would suggest to implement this in a third-party program/script using the IPC interface, but I can see how even just reaching feature parity with the current focus implementation might be rather involved :|.

Any good ideas on how to move forward?

[2016-01-31 15:55] stapelberg commented on #2182
cursor_name does not refer to a theme name, but a cursor name, e.g. `left_ptr` or `watch`. I was suggesting to use `xsetroot -cursor_name left_ptr` because `left_ptr` is the default cursor, but it might be that whatever sets your cursor (the display manager, if you’re using one? or Xorg itself?) might not have xcursor support, so reinforcing the cursor with `xsetroot` might help.

Can you attach t

[2016-01-31 16:04] stapelberg commented on #1767
I agree: having an actual PR would help us gauge the complexity of this suggestion.

In case the complexity is too high, I think it might be feasible to implement this outside of i3 by using saved layouts, possibly by modifying the layout before loading it, so that it swallows the currently focused window but also opens a placeholder next to it.

[2016-01-31 16:35] Airblader commented on #1767
Alright. I'll marking it as accepted then (since accepted still means reserved right to reject a PR).

[2016-01-31 16:37] Airblader commented on #2180
I agree that `_tree_next` is quite complex, but I don't think it's unmanagable. We shouldn't be afraid of our codebase. Touching complex functionality is possible by leaving the code cleaner than we found it and by covering it with testcases.

[2016-01-31 16:48] stapelberg commented on #2180
I agree in principle (and we do have good test coverage), but still, `_tree_next` is one of the hairier parts of our code. In case it can be cleanly refactored into multiple functions, it might just become simple enough that adding this feature is easy. (In that case, we’d still need to weigh the mental complexity against the additional use, but let’s worry about that later.)

[2016-01-31 17:04] tranquilitycal commented on #2182
[Breeze-Hacked.zip](https://github.com/i3/i3/files/111378/Breeze-Hacked.zip)
![cursor1](https://cloud.githubusercontent.com/assets/8621980/12703508/9c5ad3b4-c812-11e5-836c-00af7185c51d.png) (Inside the web browser I can see the theme perfectly)

![cursor2](https://cloud.githubusercontent.com/assets/8621980/12703509/9c679176-c812-11e5-8885-17857b55bdc2.png) (Hovering over anything from i3 will get

[2016-01-31 20:03] nicklan opened #2184 "i3bar sends invalid XEMBED_EMBEDDED_NOTIFY message"
At https://github.com/i3/i3/blob/next/i3bar/src/xcb.c#L827 which is:
[code]

The xembed message isn't an atom, it's just an id. (see [here](http://standards.freedesktop.org/xembed-spec/xembed-spec-latest.html#messages)) This line causes an invalid value to be sent in ev->data.data32[1].

The line should simply be

[code]

i3 version 4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and co

[2016-01-31 20:09] Airblader commented on #2184
Yeah, this seems to be wrong indeed. I also checked it against awesome's code. Do you want to send a PR fixing this?

[2016-01-31 20:15] nicklan commented on #2184
sure, i'll do so shortly, thanks

[2016-01-31 20:37] nicklan commented on #2184
okay, PR #2185 sent

[2016-01-31 22:09] #2184 closed

[2016-02-01 07:52] stapelberg commented on #2182
I installed your theme like so:

[code]

Once I did that, the cursor over i3bar, window decorations and the root window was the Breeze-Hacked cursor that I can see in your first screenshot.

I wonder whether the issue might be that Xresources is not loaded at the time you start i3? Does the issue go away after issuing `i3 restart`?

[2016-02-01 15:15] cornerman commented on #2180
I am really interested in this feature, which is why I made a small patch to see if it can be implemented with just a few changes (https://github.com/cornerman/i3/commit/b9d7de14321f12ab862d2be96e24ad1164f4adf9). It adds a config directive ```focus_keeps_workspace``` and, if enabled, just rejects changing the workspace in the ```_tree_next``` function. I am not entirely sure, whether I missed some

[2016-02-01 21:41] archenemies opened #2187 "problems with "unclutter" and "evince""
Steps to reproduce:

1. Run "unclutter" (a tool for hiding the mouse cursor after inactivity)

2. Create a vertically-split container with e.g. an xterm

3. View a document with "evince" in another panel of the container

4. Move the mouse over evince

5. Use the keyboard to navigate to a different window on the same container, not evince

6. Wait until unclutter hides the mouse cursor (the mouse

[2016-02-01 21:44] Airblader commented on #2187
unclutter is over twenty years old, unmaintained and causes a lot of breakage. Can you please try using unclutter-xfixes (https://github.com/Airblader/unclutter-xfixes) to see if that's better?

[2016-02-02 01:23] acrisci commented on #2180
My opinion is that there is not a compelling enough use case for this to add a config directive.

To do this with the ipc without implementing `tree_next`, you could detect whether or not the focus would switch to another output, and delegate to the proper focus <direction> command in case it will not.

[2016-02-02 06:35] archenemies commented on #2187
I tried unclutter-xfixes and it fixes the problem. Thanks!

[2016-02-02 06:41] Airblader commented on #2187
Great. I'm going to close this because there's not much we can do about the weird hacks the old unclutter is using. :) It probably has some switch to make this work, but break other things instead. I'd just recommend using unclutter-xfixes permanently.

[2016-02-02 06:41] #2187 closed

[2016-02-02 09:31] scampi commented on #2187
thanks @Airblader for unclutter-xfixes ;o) This thread made me switch to it.

[2016-02-03 14:02] avrelaun opened #2188 "[feature request] Option to hide edge borders for workspaces with a single window"
Hi, thank you for this wonderful tiling wm !

It would be nice if we could have a "smart" option for edge borders:
- No borders when there's a single window in a workspace
- Borders when there are multiple windows in a workspace

Why:
- When managing multiple terminals in a workspace, the borders makes it easier to know where the focus is, but when there is only one it's obvious where the focus is

[2016-02-03 14:49] cornerman commented on #2180
For multi-monitor users, the use case is to have all workspaces behave the same with directional focus. So that directions only apply within the current workspace and not on the output level. As of now, it depends whether there is an output in that direction.

Additionally, I think that if this should be implemented, the same would need to be done for the ```move <direction>``` command. So, it mig

[2016-02-03 17:54] alessandro-g89 opened #2189 "[enhancement] Support desktop window of file managers"
I made some changes to support the desktop window of file managers (I tested pcmanfm and nautilus).

Disclaimer: I know this is not a feature which the authors are really interested in. I made it mainly for myself,  but I think I should also discuss it here before publishing the patch somewhere else.

The approach is based on [this old issue](https://github.com/i3/i3/issues/903), with additional h

[2016-02-03 17:57] Airblader commented on #2189
I'm strongly against this as it goes against our philosophy. We have floating windows for dialogs and only dialogs (and the like). The situation of floating windows on a workspace is very unusual for what we intend and once a tiled window is open, the desktop is unusable.

There are many better ways to do this in i3, like binding modes or launchers like dmenu, roti, lighthouse,...

[2016-02-03 17:59] Airblader commented on #2189
That said, since the linked issue is three years old, I'm not going to close this issue right away and rather let @stapelberg say whether his views changed.

[2016-02-03 18:20] jolange commented on #2188
Hi,
are you aware of [`hide_edge_borders`](http://i3wm.org/docs/userguide.html#_hiding_vertical_borders)?

[2016-02-03 18:21] Airblader commented on #2188
Yes, he is. The linked pull request extends this directive by one option.

[2016-02-03 18:22] jolange commented on #2188
Oh, sorry, I only saw the patch, but not the PR.

[2016-02-03 19:12] Airblader commented on #917
@stapelberg This just came up on IRC again. I actually think this would be a very usable feature. A proper API certainly is a problem and I don't have a 100% proposal yet. However, and I know this is a long shot, but I think the best way would be to introduce a command that allows swapping two windows based on two sets of match criteria.

By itself, this could be used to swap windows between two m

[2016-02-03 19:15] Airblader commented on #917
Note that the main complexity here is allowing multiple sets of criteria in a single command. The work that needs to be done to support swapping containers will actually be needed by several other (accepted) feature requests such as sticky_groups.

[2016-02-03 19:17] Airblader commented on #917
One proposal for the command would be

[code]

[2016-02-03 19:17] avrelaun commented on #2188
@jolange I tried to be clearer by editing the title, which flooded this thread (sorry !)

But yeah, the idea is to have hide_edge_borders disabled by default, but enabled in workspaces with one window.

[2016-02-03 23:04] acrisci commented on #2180
But why would you want this?

[2016-02-03 23:17] cornerman commented on #2180
It is a nice way to switch between the two outermost windows with focus left/right. Also, it can easily happen to mistakenly move focus or another window to a different output, which can be confusing especially with a beamer. I want to explicitly leave the current workspace resp. output.

[2016-02-04 18:41] stapelberg commented on #2189
I agree — desktop windows go against the philosophy of a tiling window manager.

[2016-02-04 18:41] #2189 closed

[2016-02-04 21:10] tranquilitycal commented on #2182
Sorry for the delay, Redoing it the same way you did ended up working, Thanks.

[2016-02-05 12:35] matttproud opened #2192 "Support Applying Same Mark to Multiple Windows or Anonymous Ephemeral Window Tags"
@stapelberg, we just spoke 1:1 about this, so I am filing this for bookkeeping's sake while our memories are fresh.  The idea behind this stems from the [Ion window manager](https://en.wikipedia.org/wiki/Ion_(window_manager) and goes something like this:

The user has the ability to tag multiple windows.  In the Ion world, the tag is visually represented as a caret in the corner of the window's ti

[2016-02-05 12:48] matttproud opened #2193 "[FR]: Bulk Modifying a Pre-Existing Session's Layout from Serialized Layout Representation"
@stapelberg, we spoke about this face-to-face earlier, so I am writing this down so we have a log of our discussion:

I asked whether it would be possible to modify the output `i3-save-tree` from a live session and have i3 modify a live session based on the new layout instructions it read.  This is to say, textually modifying the layout file and having it re-arrange the windows and containers base

[2016-02-05 12:58] Airblader commented on #2193
What's the use case for this?

[2016-02-05 13:29] matttproud commented on #2193
The use case is hand editing the layout of a current session and applying
the change.

On Fri, Feb 5, 2016 at 1:59 PM Ingo Bürk <notifications@github.com> wrote:

[2016-02-05 14:12] Airblader commented on #2193
How does it differ from #2084  ?

[2016-02-05 15:31] Airblader commented on #2192
Well, no, it isn't, for exactly the reason you stated below – ambiguity.

Since `con_mark` matches via regular expression, this is possible: `[con_mark=group_A_*] kill` with marks `group_A_1`, …

You can do it like above, but potentially destroying layout. However, retaining layout sounds incredibly complex either way. If you want to move containers which make up a common parent container, you can

[2016-02-05 15:32] matttproud commented on #2193
I think we can mark this as a duplicate.

[2016-02-05 15:32] #2193 closed

[2016-02-05 15:33] Airblader commented on #2192
See also #1637

[2016-02-05 15:41] matttproud commented on #2192
The idea is to move disparate windows and containers (marked) that may or may not share a common parent.  I do not necessarily care about the preservation of layout once they are added into the destination.  They could be sequentially added to the destination container per the order in which they were tagged its rules, or the window manager could make a best attempt to do something else.  I don't

[2016-02-05 15:44] Airblader commented on #2192
For that you could use the same mechanism I described above for the `kill` scenario. You'll just need a little script that keeps track of which number to use, but given the `GET_MARKS` IPC reply this should be pretty much trivial.

[2016-02-05 18:42] Niserd opened #2194 "[feature request] i3-msg exit code"
Hello everybody.
I noticed, that even if i3-msg returns [{"success":false}], it still has exit code "0" which means "success", so that it is impossible to use something like "i3-msg .... || ...." and one has to compare strings (see https://github.com/i3/i3/issues/1809). It would be great if somebody implemented correct exit code handling for i3-msg.

[2016-02-05 19:39] stapelberg commented on #2192
The ambiguity for some commands is indeed a good reason to not haste any changes here.

I like @Airblader’s suggestion with regards to using regular expressions in con_mark. The following Perl script will sequentially tag windows:

[code]

The first argument specifies a prefix, which allows for having multiple selections, if that’s desired.

After binding that script to a key (e.g. `bindsym $mod+x

[2016-02-05 19:44] stapelberg commented on #2194
duplicate of https://github.com/i3/i3/issues/1639

[2016-02-05 19:44] #2194 closed

[2016-02-05 23:10] archenemies opened #2195 "bad interaction with R plot window - whose fault?"
I'm not sure if this is a bug with i3 or R (the statistics package). When I open a plot window under R, it opens in a new i3 window, as I want it to. However, the plot is drawn small, perhaps to match some initially-requested window size. It stays small until I press a key (such as Alt, my Mod1). Then R notices that the window is full-screen, and redraws the plot to take up the whole window. If th

[2016-02-05 23:12] Airblader commented on #2195
R's window needs to redraw itself on the ConfigureNotify correctly. As you suspect, I think this is a bug in R. i3 is not involved in the client's rendering and the notify event is sent by the X server.

[2016-02-05 23:12] #2195 closed

[2016-02-06 00:30] archenemies commented on #2195
Thank you for the reply. I think there are a lot of things that need to be fixed in R, including their bug reporting system which rejected my bug, deactivated my account, and labelled me as a spammer - probably because I included a link to this issue. :(

[2016-02-07 11:16] Airblader commented on #2166
@stapelberg We actually have code dealing with making a workspace container floating, introduced by you in 2010 with daf00a93. Why do we support floating workspace containers?

[2016-02-07 11:19] Airblader commented on #1673
I'm going to close this due to inactivity, there haven't been any other reports and we have no reason to believe i3 is doing something wrong at the moment.

[2016-02-07 11:19] #1673 closed

[2016-02-07 11:23] Airblader commented on #665
As a note, with #1966 in mind, once that is implemented we actually should move `depth` to `Window` since containers themselves no longer have any reason to have a window. That is assuming we *never* use the parent for decoration rendering anymore, including tabbed/stacked, of course.