[2016-02-07 13:54] #2165 closed

[2016-02-07 14:00] Airblader commented on #2174
@stapelberg How does that Travis commit help with clang? :)

[2016-02-07 14:16] stapelberg commented on #2174
It uses debian sid for builds, which has clang 3.6.

[2016-02-07 14:22] Airblader commented on #2174
Ah, I see.

[2016-02-08 10:17] unera opened #2198 "wrong windowplace between 3 variants of workspace... output"
At home I have monitor that is connected to HDMI1
At work I have monitor that is connected to DP1

So I write the config:

[code]

xrandr (at work) showes me the following configuration:

[code]

But I3wm places workspace 1 at eDP1 instead DP1.

If I remove section
[code]

then workspace 1 is placed at DP1 as I want.

http://logs.i3wm.org/logs/5714315743068160.bz2

[2016-02-08 10:23] unera commented on #2198
[code]

[2016-02-08 10:27] Airblader commented on #2198
See #555, defining multiple outputs for a workspace is currently not supported.

[2016-02-08 10:27] #2198 closed

[2016-02-08 10:29] unera commented on #2198
So user is forced to change config for each changing of external monitors.

[2016-02-08 10:31] Airblader commented on #2198
Yes. As I said, there is #555. It's an accepted feature request, someone just needs to implement it and provide the pull request.

[2016-02-08 10:59] vtj opened #2199 "Cannot exit i3 with default config and no terminal emulator"
i3 version 4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and contributors
Logfile: http://logs.i3wm.org/logs/5639221461123072.bz2

With the default config and no terminal emulator, attempting to exit i3 with the exit keybind raises i3-nagbar, and clicking "Yes, exit i3" raises an error "i3-sensible-terminal could not find a terminal emulator. Please install one." Apparently i3-nagbar

[2016-02-08 11:14] Airblader commented on #2199
I tend towards saying that it's reasonable to expect a system to have a terminal emulator installed and make this a wontfix. @stapelberg Thoughts?

[2016-02-08 18:00] stapelberg commented on #2199
I agree that a terminal emulator should be installed. @vtj, how did you install i3 without having a terminal emulator? All distribution packages I know of have an appropriate dependency. Which distribution are you using?

That said, maybe we should special case commands that start with “i3-msg” to be executed directly, without a terminal emulator, as that’d make setup a tiny bit easier for users w

[2016-02-08 20:23] vtj commented on #2199
Using Arch Linux and installed i3 from the official repos. It doesn't seem to have any terminal emulator as a depency (https://www.archlinux.org/packages/community/x86_64/i3-wm/).

[2016-02-09 05:47] Airblader commented on #2199
Of course i3 doesn't have a dependency because we don't want to force you to use a specific one. But any system should have *some* emulator installed, it just seems like a reasonable assumption.

[2016-02-09 07:20] DanTheDane opened #2201 "Workspaces are not moved upon undocking"
After upgrading from 4.10.3 -> 4.11, I suddenly ran into issues with workspace assignment when the physical screen layout changed.

My default setup (which is being docked with 2 external screens (DP1 & DP2-2) one internal (eDP1). In this setup I have workspaces assigned like:
1-4 & 10 = DP1
5-6 = DP2-2
9 = eDP1

Before upgrading, when I undocked and ran the following xrandr script to disable the

[2016-02-09 07:23] Airblader commented on #2201
Yes, we know that it broke what we did before, but it was a revert because the commit broke other things, so I'm not sure what we should do – either way, we break something. I'm inclined to close the issue – i3 now behaves as it did most of the time before except for one release.

@stapelberg Thoughts?

[2016-02-09 07:34] stapelberg commented on #2199
Does Arch Linux still not have the concept of depending on any terminal emulator? On Debian, there are virtual packages which can be provided by specific packages, i.e. `x-terminal-emulator` in this case, which is provided by `xterm`, `urxvt`, etc. This concept is handy for other things as well, such as a web browser, mail transfer agent, etc.

If that’s not a thing in Arch, does Arch support logi

[2016-02-09 07:37] stapelberg commented on #2201
I’d first like to understand what really is the problem here. @DanTheDane Can you provide a logfile please? Also, which graphics driver are you using?

[2016-02-09 07:57] rumpelsepp commented on #2199
Typically you can depend on a particular package, e.g. `foo`. Packages which provide the functionality of `foo` as well can be defined as "providers". From `PKGBUILD(5)`:

[2016-02-09 08:28] vtj commented on #2199
@Airblader Yes, I agree that most of the time, one will have a terminal emulator if he is using i3. Arch should perhaps declare a terminal emulator as an optional depency for i3? Still, I would argue that exiting i3 is something that should be pretty much always possible, at least with the default config.

[2016-02-09 11:56] DanTheDane commented on #2201
I just tried to recompile i3, with the relevant code block commented out to be able to supply the log, but for some reason x (or i3) crashes when doing that, so reverted back to the randr part enabled again.

Are there some other details I can provide in substitution of the logs?

I use the following graphics driver: i915, version 1.6.0 20150731 and running it on Ubuntu 14.04 (the graphics driver

[2016-02-09 17:05] Tharn opened #2202 "Custom DPI breaks pixel borders"
i3 version 4.11 (2015-09-30, branch "4.11"), 64-bit Manjaro

1280x800 12,1" screen. The standard setting of 96 DPI works fine, but I wanted to fix it by setting proper millimeter values in 90-monitor.conf as well as DPI in .Xresources.

Now whenever I tile windows in i3, they are assigned a thick pixel border even though it's set to 1pixel. When I forcibly Mod-y them, they turn into 1 pixel border

[2016-02-09 17:13] Airblader commented on #2202
The "pixel" border will actually correct for the dpi, so the name is somewhat misleading, but we can't change it now. @stapelberg That is what we intend, right? Or should it actually be pixel?

What is Mod+y bound to in your config?

[2016-02-09 17:21] Tharn commented on #2202
It's still on default, Mod+y does

bindsym $mod+y border 1pixel

[2016-02-09 17:42] stapelberg commented on #2202
1-pixel borders are 1 logical pixel, so it will be scaled appropriately based on DPI.

@Tharn Which DPI did you actually set?

In general, my experience is that you want to set 96 dpi unless you are on a hi-dpi monitor, i.e. have 1.5x or 2x scaling.

[2016-02-09 18:02] Airblader commented on #2202
I think the issue here might be that maybe we respect `logical_px` in the config (for the default border width), but not in commands or vice versa.

[2016-02-09 18:05] Tharn commented on #2202
I have it set to 125 DPI. I might end up switching back, yeah. Scaling through font sizes seems to be the trend, but I'm not sure if that covers everything. Website display for example.

Anyway.. I still have to ask. Can't we also have an option for an old-fashioned border width? I can imagine enough high-res folks would want a real 1 pixel border.

[2016-02-09 19:43] stapelberg commented on #2202
No, being able to specify a custom pixel value that overrides the DPI setting is not compelling enough to outweigh the cost of carrying the increased (mental and code) complexity.

[2016-02-09 19:45] stapelberg commented on #2201
Note that you could also just re-install the known-working ubuntu package.

Unfortunately not.

[2016-02-09 19:46] Airblader commented on #2202
Either way, I can confirm that `new_window pixel 10` (config) and `border pixel 10` (command) cause different border widths. Just using a different DPI makes it easy enough to verify this, so the bug is valid.

[2016-02-09 21:41] Anon1234 opened #2205 "[question] Undocumented GET_TREE properties"
Hi!
I am curious about an [undocumented](http://i3wm.org/docs/ipc.html#_tree_reply) fields in `i3-msg get_tree` reply. Are they still considered unfinalized?
Here are this properties:
[code]
There are also missing information about such essential fields as `nodes` and `floating_nodes`.
Thanks.

[2016-02-09 21:45] Airblader commented on #2205
I think the documentation isn't on point here. Those properties are not likely to change anytime soon, there's no reason not to use them. What the docs should actually state is that we won't guarantee compatibility for them across releases as it would just be too much effort. Most of the properties are internal and while scripts can use them, we reserve the right to change them.

My two cents.

[2016-02-09 21:47] Airblader commented on #2205
Addendum: we don't change them light-heartedly, of course. We will still consider whether it's unavoidable or whether measures can be taken within reason.

[2016-02-10 13:29] serussell opened #2206 "Broken text (boxes) after restart"
Hi,

Rarely, but regularly, `$mod+Shift+r` results in all i3 text being rendered as boxes.  I haven't seen any other artifacts resulting from a restart, text is always fine on first start, and is _usually_ OK after a restart.  I don't recall this happening as a result of changing display configurations, although i3 doesn't appear to clear the display buffer so new displays often come up full of ga

[2016-02-10 18:27] Guanox opened #2207 "Window aspects affect displaying of content"
Hello, since today I have been experiencing something I would call screen tearing inside some programs, namely chromium and slack.

logfile: http://logs.i3wm.org/logs/576414474567680

    /tmp λ i3 --moreversion 2>&- || i3 --version
    Binary i3 version:  4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and contributors
    Running i3 version: 4.11 (2015-09-30, branch "4.11") (pid 12789

[2016-02-10 18:30] Airblader commented on #2207
i3 is not involved in the rendering of the client, hence closing this. The common problems here are a) graphics driver and b) compositor settings.

[2016-02-10 18:30] #2207 closed

[2016-02-10 19:34] Airblader commented on #2206
On a side note, thank you for the detailed report. I wish every bug report was like this!

When it happens again, can you please provide a log file (from after the restart)? Make sure to enable debug logging in your config before the restart. I want to see whether anything goes wrong with loading the font (that we can see).

How reliably can you reproduce this (x out of 10?). Are you new to i3 or

[2016-02-10 19:41] Airblader commented on #2199
@stapelberg Why does i3-nagbar spawn a terminal in the first place? IMHO it should just execute the command, launching a terminal should be up to the user.

[2016-02-10 19:45] Airblader commented on #2082
Based on our understanding of this I am going to close this request for now as there seems to be no clean way to implement this. If anyone can come up with a good plan (or a PR, of course), we can reevaluate this.

[2016-02-10 19:45] #2082 closed

[2016-02-10 19:48] Airblader commented on #2016
The reason is that one needs to create a split container first. I think this isn't a bug, but rather an implication of the design decision. It's rather easy to "fix" this: With the focus on one of the two horizontally split containers, focus parent, split h or v, layout tabbed and open the window.

[2016-02-10 19:48] #2016 closed

[2016-02-10 19:50] Airblader commented on #1908
I'm going to close this due to the combination of a) inactivity, b) closed-source software (has never been reproduced on Virtualbox) and c) no reason to believe that this is an i3 issue so far.

[2016-02-10 19:50] #1908 closed

[2016-02-10 19:52] Airblader commented on #1823
I don't actually have an interest in this any longer. How do we want to move forward with this? Do we still want this? @stapelberg @acrisci

[2016-02-10 19:56] Airblader commented on #1694
@kernc This is a long shot, but does this still happen to you with i3 4.11 and whatever version xfce4-panel is at now?

[2016-02-10 21:04] #2202 closed

[2016-02-10 21:05] stapelberg commented on #2205
I think the documentation is still accurate in that undocumented ones might change. In case you’re interested in using any of these, please submit a pull request (or file an issue) about the ones you want to use, and we can discuss them on a case-by-case basis.

[2016-02-10 21:05] #2205 closed

[2016-02-10 21:11] stapelberg commented on #2199
i3-nagbar was written for config errors and commands that can’t be parsed. For both cases, the button actions are `i3-sensible-pager` and `i3-sensible-editor`, both of which only make sense in a terminal emulator. So, the answer is: it fit the use-case quite well back then. Of course, i3-nagbar has since been extended to also be used as a confirmation before exiting the session.

[2016-02-10 21:13] stapelberg commented on #1823
I’m not interested in personally spending any time on this, so if there’s nobody else interested, we can close the issue.

[2016-02-10 21:15] Airblader commented on #2199
So how do we proceed here? I'm not really a fan of special-casing things, personally. We could also argue that it's the package maintainer's job to add some emulator dependency – if some distro doesn't allow this, that's not really within our power to change (if anything, it's another good reason for a distro to add that concept).

We could also extend i3-nagbar with a flag that only passes the co

[2016-02-10 21:17] stapelberg commented on #2199
We could make the i3-nagbar code look at the command, and if it starts with i3-msg, skip passing it to the shell. It’s not very clean and might surprise someone in the future in case we ever want to do something like `i3-msg <command> | less`, but I don’t see us doing that (famous last words).

[2016-02-10 21:19] Airblader commented on #2199
Yeah, exactly. ;) What about my proposal of using a flag for i3-nagbar instead of a special case? I.e., `i3-nagbar --no-terminal` or something like that.

[2016-02-10 21:48] stapelberg commented on #2199
Well, that flag would need to be a per-button flag, right, since otherwise we’re facing the same extendability issue?

[2016-02-10 21:55] Airblader commented on #2199
If I want to use a terminal for one of the buttons I can still always specify the button command to call i3-sensible-terminal with some command.

[2016-02-11 06:13] rsynnest commented on #1694
I'm still experiencing this bug. My versions:
[code]
I just screen capped a brief example of the bug which can be seen here https://youtu.be/VRK_xus7AO0
As I described before, the bug only occurs for me when creating a new workspace. Switching to an existing workspace that already has applications inside it doesn't trigger the bug. The bug can also be prevented by removing the "workspace-switcher"

[2016-02-11 07:49] stapelberg commented on #917
Are you saying that other feature requests also need to match multiple sets of criteria in the same command? If so, which ones specifically?

Another proposal would be `[criteria] swap` (swap with focused) and `[criteria] swap <con_id>`. That way, we’d avoid having two criteria in the same command. The simple case (swap with focused) would still be possible for interactive use without scripts, and

[2016-02-11 07:50] stapelberg commented on #2166
I think we shouldn’t support that. The code was introduced back when we thought that was a good idea.

[2016-02-11 07:52] stapelberg commented on #2199
Correctly calling i3-sensible-terminal is actually really hard: https://github.com/i3/i3/blob/next/i3-nagbar/main.c#L146 (see also https://github.com/i3/i3/commit/2bf80528bdb2814331f9149289a0dd1e3422282b).

[2016-02-11 07:56] Airblader commented on #917
No, the opposite. Multiple criteria is only needed for this particular feature (and my particular proposal). The work we need in multiple features is the code that deals with swapping containers correctly. We need that for sticky groups, for example, but it would also be useful for persistent layouts etc.

I think your proposla is also alright, but IMHO then we should offer an API that allows matc

[2016-02-11 08:00] stapelberg commented on #917
Adding an IPC command to match windows and get a list of con_ids sounds good to me.

[2016-02-11 08:01] Airblader commented on #2199
OK, I see your point. I don't have a good suggestion right now, I just don't like special-casing i3-msg commands.

[2016-02-11 14:32] claf commented on #2081
Same for me, LibreOffice is involved.
Step to reproduce are exactly what @ryanwalder wrote in his comment (which I saw it before going through all those debug tests I did !)

[2016-02-11 15:10] fx3O2 opened #2208 "disable bar modifier (no operation command not allowed)"
I would like to disable the bar modifier key as I never want the bar to show up on pressing any modifier key. I toggle the bar mode with `Menu` when I want to see it.

[code]

[code]

[2016-02-11 15:13] fx3O2 commented on #2208
[code]

[2016-02-11 16:06] Airblader commented on #2208
`nop` is a command, not a generic "nothing" placeholder.

I think it's reasonable to allow disabling this. @stapelberg Agreed?

[2016-02-11 20:28] Airblader commented on #2208
I've taken the liberty of implementing this already. If @stapelberg ends up not wanting it, it's not a lot of wasted time anyway. :)

[2016-02-11 20:30] Airblader commented on #2192
I'm going to close this now already since we believe the usecase is covered. If @matttproud disagrees, we can revisit.

[2016-02-11 20:30] #2192 closed

[2016-02-11 20:31] matttproud commented on #2192
Thank you for the suggestions.  I think it will suffice.  I had meant to
formally reply a few days ago but ran out of time.

On Thu, Feb 11, 2016 at 9:30 PM Ingo Bürk <notifications@github.com> wrote:

[2016-02-11 22:01] fx3O2 commented on #2208
@Airblader You so kind! :kissing_cat: :heart:

[2016-02-12 21:15] Airblader commented on #1197
Just to anyone taking a shot at this, I think the following things should be taken care of:

* Ensure that the used config folder is added to `i3 --moreversion`.
* Ensure we log all individual filenames we parse.
* Ensure we still log the "finished" config as we do today.
* Ensure a proper sorting of the files.

I'd also suggest that we append all files from the folder to the "main" config (rather

[2016-02-12 21:24] Airblader commented on #1955
@stapelberg Despite what we talked about in #1931, I'm not sure we should be changing this behavior. I think it's a common usecase for people to have `focused_inactive` be the same as `unfocused` because they only want to highlight the focused window.

With this change, however, this means that selecting a parent container makes the selection completely invisible in this scenario.

I think we'll u

[2016-02-12 21:25] Airblader commented on #1955
Just for the record (and to try it out), here's a patch:

[code]

[2016-02-13 08:46] nielsk opened #2211 "Renaming workspaces from Upper case to lower case doesn't work"
[code]
results in:
[code]
And the display of the name ("Files") isn't changed.
When you run
[code]
once again, the following error appears:
[code]
So it seems internally something has happened.

But it should just change the name from "9:Files" to "9:files"

As a workaround you can do this:
[code]

This:
[code]
works as well. So I guess that internally workspace names are case-insensitive, while t

[2016-02-13 08:51] nielsk commented on #2211
Binary i3 version:  4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and contributors
Running i3 version: 4.11 (2015-09-30, branch "4.11") (pid 20910)
Loaded i3 config: /home/nik/.i3/config (Last modified: Sa 13 Feb 2016 09:41:14 CET, 522 seconds ago)

The i3 binary you just called: /usr/bin/i3
The i3 binary you are running: i3

[2016-02-13 08:53] nielsk commented on #2211
http://logs.i3wm.org/logs/5710758973276160.bz2

[2016-02-13 09:51] Airblader commented on #2211
Just a quick test, I couldn't reproduce the weirdness you're seeing with something internally happening anyway (and frankly I don't see how it'd happen in the code), but I can reproduce that changing the casing doesn't work.

[2016-02-13 10:30] nielsk commented on #2211
@Airblader I don't know if something happens internally, that was a guess because the error changes from:
`Old workspace "9: Files" not found` to `New workspace "9:files" already exists`
after I ran the command once

[2016-02-13 10:37] Airblader commented on #2211
Yeah I understand. I'm just saying that I cannot reproduce that first error happening. I just immediately see the second error you get.

[2016-02-13 16:49] fx3O2 commented on #2208
As a workaraound I set `modifier Mod3`, whatever this key is it never gets triggered.

[2016-02-14 16:39] serussell commented on #2206
I didn't see the debugging page.  I will follow it when I next get the chance.  I don't know if I can reliably reproduce the issue, so it may take some time.

I am not new to i3; I've used it for years, although I did take a brief hiatus for a few years with OSX before returning to Linux.  It's happened on and off, but rarely enough that I simply ignored and restarted.  Xorg has more trouble than

[2016-02-14 17:34] Airblader commented on #2206
OK, so it's not a recently introduced issue (and not nearly as frequent as I thought it'd be). It may very well be a bug in pango or anything else. It'll be a tough one to figure out, unless the log file reveals it's clearly an i3 issue (but I very much doubt that'll be the case)…

[2016-02-15 07:14] #2208 closed

[2016-02-15 07:15] #2166 closed

[2016-02-15 07:34] #2211 closed

[2016-02-15 07:48] stapelberg commented on #1955
Fair enough. Let’s close this issue, then?

[2016-02-15 07:49] Airblader commented on #1955
Ack.

[2016-02-15 07:49] #1955 closed

[2016-02-15 10:12] ndemou commented on #2098
Just a quick "me too": it's rare (as in once every many days) but it happens. Dual monitor laptop. External monitor is also HDMI on mini-DP to HDMI converter.

Sorry but I failed to get a backtrace although I've installed i3-wm-dbg for this purpose.

[2016-02-15 10:16] ndemou commented on #2081
me too: steps to reproduce are exactly what @ryanwalder wrote in his comment above. Same setup also except older LibreOffice version (4.2.8.2 420m0(Build:2))

[2016-02-15 10:18] Airblader commented on #1823
Closing it then for now. @acrisci knows what to do if he is still interested in this. :)

[2016-02-15 10:18] #1823 closed

[2016-02-16 04:13] koniu opened #2214 "IPC: focus and assignment handling"
Hello!  I like i3 so much that I'm looking to move from AwesomeWM (¬¬) but I'm hitting some limitations in its IPC scripting. An example would be handling of window setup when it's first managed:

1. I'm moving a new window to another workspace via IPC `window::new`, focus staying on the current workspace
2. The window very briefly shows up on the current workspace.
3. The window gets swept away b

[2016-02-16 04:18] koniu commented on #2214
i3 version 4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and contributors

[2016-02-16 05:47] Airblader commented on #2214
You could assign the window to some workspace,  then it'd never even pop up on your current workspace. You can still move it elsewhere from the IPC again then. You could also move all new windows to the scratchpad, that's a hidden workspace.

A no_assign makes no sense to me. What do we do with the window? It needs to go somewhere.

[2016-02-16 06:17] koniu commented on #2214
I do understand the window needs to be in the tree somewhere.

Using Scratchpad for this is would be an ugly hack as it is useful for other things.
Assigning it to another, regular, workspace is an option, albeit pretty hacky too. Ability to hide workspaces would go some way towards it but still seems a bit abusive.

How about another take: a `hidden` property per-node. I think it would have benef

[2016-02-16 06:28] Airblader commented on #2214
I don't think it's a hack at all. You want to hide the window and not have it on a specific workspace. That's what the scratchpad is for. It also doesn't interfere with most of what the scratchpad will be used for otherwise.

For reference, we talked about hiding workspaces from i3bar before. It never went anywhere. I can't look up the ticket on mobile right now, though.

Can you maybe elaborate m

[2016-02-16 06:32] koniu commented on #2214
Looking at the code and hacking howto some more, would it not be sufficient to return from render_con() if con->hidden?

[2016-02-16 07:25] koniu commented on #2214
I'm detecting a considerable dose of (healthy) conservatism ;)

I'm looking to implement a framework for easy, declarative configuration of layouts. I'm thinking workspace classes and window matching. More flexible automation, maybe YAML config. The config format (with its for_window and friends) seems too flat to implement any logic beyond the basic. The resulting configuration is, in a fashion,

[2016-02-16 07:28] koniu commented on #2214
On more specific issues: I'm probably being massively naive but would it not almost suffice to return from `render_con()` if `con->hidden` to have hiding per-node?

[2016-02-16 19:06] Airblader commented on #2214
No, that won't work. Note that "rendering" in i3 refers to rendering the layout, not to "drawing". So returning here would simply mean excluding the container from all layout calculations, which would probably make it appear to be frozen (breaking tiling entirely). It also won't deal with focus handling.

We are open to features, but we're gonna need a better argument than "The API is a little fla

[2016-02-16 19:30] Airblader commented on #1946
So I've thought about it. Frankly I don't think we should route the clicks to windows underneath because I don't understand what we base this decision on. Doing that on transparent areas might make sense for VirtualBox, but be an issue for other applications. It also doesn't sound like the best idea to me to get involved into the window's pixmap to decide what to do with a click.

I suspect what V

[2016-02-17 15:30] amosbird opened #2215 "Bindkey doesn't work well with VirtualBox GUI"
When `VirtualBox GUI` is set to `non capture keyboard` mode, i3 can react on all the bindkey settings. However, it will cause `VirtualBox GUI` lose focus even though the cursor is still on its window. Also, there are some situations in which i3 will leak the keystroke to guest machine, like this binding: `bindkey Super_L+p exec take_a_screenshot`, a Windows guest will pop out the Start menu after

[2016-02-17 16:02] Airblader commented on #2215
"focus" is a concept with many meanings (X11 Input Focus, `_NET_ACTIVE_WINDOW`, i3's focused container). Which exactly did you look at?

That sounds odd. i3 grabs the key, the rest should be handled by X itself (for this case we don't need to call `xcb_allow_events`). So just to make sure, what you see is that *both* the i3 command *and* the guest command are triggered?

[2016-02-17 16:15] amosbird commented on #2215
Well, I don't know "focus" has multi-meanings and I have no idea which one falls in this situation. I only mentioned "focus" because after a back and forth switch, `VirtualBox GUI` can become active and respond to keyboard again.

Yes.

[2016-02-17 20:57] koniu commented on #2214
That is great to hear. The matters of complexity and compatibility are perfectly understood, fear not: that's why I said _**healthy** conservatism_ :). I've only just started looking at i3 in more depth and probing what's possible. The issue of  implementation complexity is heavily at the forefront.

I did give it a go and it does avoid flicker but creates a bunch of other issues:
- windows moved

[2016-02-17 21:16] Airblader commented on #2214
I haven't tried to reproduce this yet, but if that's the case, that sounds like a bug to me.

In theory, X provides this out of the box – it's called unmapping the window. But since i3 uses the mapping requests to manage (and stop managing) a window, that won't be much help to you as is. I don't think the recently added support for `_NET_WM_DESKTOP` would help much either (just thinking out loud).

[2016-02-19 11:43] sleep-walker opened #2216 "i3 doesn't set focus to window when moving from different Xorg screen"
I have 3 monitors connected to 2 video cards running Xorg with two screens and two instances of i3 (4.11) . Simply said, keyboard doesn't follow mouse when crossing Xorg screen boundary. I can use mouse to switch windows and get focus that way but it is not much handy.

I found another user with the same problem on [reddit](https://www.reddit.com/r/i3wm/comments/3q6np9/i3_on_multiple_x_screens_x_s

[2016-02-19 11:48] Airblader commented on #2216
We don't support multiple X screens. Duplicate of #2082

[2016-02-19 11:48] #2216 closed

[2016-02-19 11:49] Airblader commented on #2216
If someone can come up with a clean pull request, we'll be happy to discuss it, though.

[2016-02-19 23:18] Airblader commented on #917
We also need to define the focus behavior. My suggestion:

* If neither container was focused, don't change focus.
* Otherwise, focus should move so that another window is focused, but focus stays in the same physical location. This should also avoid issues with swaps across workspaces and so on and IMHO is mentally easier to understand.

[2016-02-20 02:34] Adaephon-GH commented on #917
I would be interested the "quick zoom" feature @Airblader mentioned and think, it would be easier to use, if one could mark the the "main window" in a way that (certain?) marks remains at the position rather than on the window when swapping.

For example, lets say I have this layout with A marked as "main"

    +-----+---+
    |     | B |
    |     +---+
    |  A  | C |
    |main +---+
    |     |

[2016-02-20 09:18] nvanggaard opened #2217 "Feature request handling of new external monitor"
I've been using i3 on my laptop running arch for quite some time, and I love it!

My config is made for using both the laptop without any external monitor, and with an external monitor.

But if I for some reason need to connect a monitor to another port than my standard external monitor uses, I need to change in the config file and reload configuration.

Therefore I think it would be nice if you s

[2016-02-20 09:30] Airblader commented on #2217
Can you elaborate what exactly you use that variable for? Maybe there are better solutions to the actual problem.

I think #1197 would make this unnecessary.

Currently, all external calls i3 makes are asynchronous, so it wouldn't work using the same mechanism. I also don't really like blocking on scripts when reading the config. We could also be using #2130 for this (once implemented).

Overall I

[2016-02-20 09:36] Adaephon-GH commented on #917
In regards to how the command might look and work, might I suggest to keep it close to `focus` and `move`?

    # swap the focused window with window in direction (analogue to focus)
    swap <left|right|up|down>
    # swap current with marked window (analogue to move window to mark)
    swap window with mark MARK
    # the same with id (maybe?)
    swap window with id ID
    # swap other window

[2016-02-20 09:37] Airblader commented on #917
I don't think we should special case mark names here. I'd rather leave this kind of logic up to the script if a user wants it to be different. It should be easy enough. I fully expect this `swap` feature to be mostly used by external scripts anyway, the standalone functionality is rather limited.

In terms of what happens with attributes such as marks we should think about what we do. We have two

[2016-02-20 09:40] Airblader commented on #917
@Adaephon-GH I would prefer a combination of the two:

[code]

[2016-02-20 09:44] Airblader commented on #917
Disregard my now deleted comment. I in fact do like

[code]

[2016-02-20 09:45] nvanggaard commented on #2217
I'm saying that the proposed solutions are the best, just a way which would solve my specific problem :)

My setup consist of 20 workspaces, where 10 is for my laptops screen, and 10 for the external screen, they are assign to the screen by:

workspace "1: Main" output $primaryOutput

So I was able to change the variable "on the fly" i would just need to reload my config and the screen which the w

[2016-02-20 09:47] Airblader commented on #2217
Your usecase is a duplicate of #555.

[2016-02-20 09:47] #2217 closed

[2016-02-20 09:47] shioyama commented on #1137
I suppose there are good reasons not to implement this, but I'd like to vote to at least re-consider this decision. I find `back_and_forth` really really useful when I'm going back and forth between to windows on different workspaces, except on multiple outputs where it suddenly does not do what I expect it to do.

I realize this can be implemented thorugh the ipc, I've added other features that w

[2016-02-20 09:51] nvanggaard commented on #2217
No it is not a duplicate of #555

I want to be able to connect a screen to a random port on my computer and a set of workspaces should automatically be assigned to the screen.

[2016-02-20 09:54] Airblader commented on #2217
Yes, and you do that by assigning those workspaces to all outputs that are in question for this:

[code]

[2016-02-20 09:59] Airblader commented on #2217
Besides, if we had an IPC command that allows redefining a variable, but still requires a reload of the config, then that command is pointless since the config will also contain `set $foo bar` somewhere, once again overriding the previously executed command.

[2016-02-20 10:05] nvanggaard commented on #2217
Fair enough, that wasn't what I got from #555

But that will work in most cases, unless if you connect 2 external monitors to a laptop, and you don't want to use the laptops screen.

Have honestly not thought about that, but i think it my problem can be solve if #1197 is implemented.

[2016-02-20 14:19] stapelberg commented on #1946
Depends on how complex the resulting code would be. Having never looked at the shape extension, I can’t judge that. A proof of concept pull request would help.

[2016-02-20 14:26] Airblader commented on #1946
A good idea for judging it or anyone wanting to do a PR is probably to look at how, e.g., Openbox implements it. It juses Xlib instead of xcb, but that shouldn't matter much.

[2016-02-20 14:30] stapelberg commented on #1137
It’s exactly that complication that I’d like to keep out of i3 :).

If you feel really strongly about it, the best way to get this feature into i3 is to:

1. Implement it in an external script, share that with the community, shake out all issues that pop up.
2. Demonstrate that plenty of people are actually using the script (i.e. not “me and my best friend”, but “dozens of different users”).
3. Se

[2016-02-20 16:26] fx3O2 opened #2218 "cant use mouse while playing robocraft"
Output of `i3 --moreversion 2>&- || i3 --version`:

[code]

**What I did:**

- Playing [Robocraft](http://robocraftgame.com)
- Focus other workspace while still ingame (browsing the web while respawning or in queue)
- Trying to use the mouse on anything other than this unity game

**What I saw:**

- I saw a lot of cats on the net
- No mouse at all (not possible to scroll or even click)

**What I e

[2016-02-20 16:30] Airblader commented on #2218
I feel pretty confident that this is because the game is grabbing the pointer and doesn't release it when it loses focus. Can you reproduce this with another window manager like awesome or openbox or does it work there?

[2016-02-20 17:21] fx3O2 commented on #2218
It doesn't work with xfce4 either. I even tried different applications (Thunar, Firefox, Urxvt, ...). No app should ever have the privilege to grab my pointer this way! I would expect the window manager to take over and force release.

[2016-02-20 17:31] Airblader commented on #2218
Which confirms that it's not an i3 issue because it's what I suspected it is.

How else would things like first person shooter games work?

Unfortunately the window manager simply *can't* because X doesn't provide a way to force this. My suggestion is that you file a bug against the game. It should release the grab upon losing focus.

[2016-02-20 17:31] #2218 closed

[2016-02-20 17:35] Airblader commented on #2218
I don't really understand what you mean you tried those?

[2016-02-20 17:55] fx3O2 commented on #2218
The only workaround is using steam and its overlay. How is steam doing it then?

If I switch the workspace it is an intended action I determined to do so.

This behaviour is totally antipattern from a user point of view.

You're right, it isn't i3wm's fault. Why can't i3wm be that smart then? :baby_chick:

[2016-02-20 18:15] Airblader commented on #2218
No argument here. The grab is just a technical necessity to make things like games work. Of course grabs should be released correctly, but that is up to the program itself to do.

Can you elaborate more, please?

This is clearly a bug in the client. It isn't our responsibility to work around all the bugs in other applications.

Even if we wanted to: there simply is no way to force the ungrab unles

[2016-02-20 18:50] fx3O2 commented on #2218
You know Steam? If I start the game through Steam, pressing Shift+Tab the so known "Steam Overlay" appears. While open, I can navigate on other workspaces without any problem.

OK thank you sir, I gonna mess around with xdotool then. :baby_bottle:

[2016-02-20 18:56] Airblader commented on #2218
Probably because the game disengages the grab. I'm not sure about the inner workings of the overlay.

I really advise you not to to enable `break_actions` as this will break screen lockers. Just file a bug against the game.

[2016-02-21 04:58] fx3O2 commented on #2218
Oh, nvm I just noticed there is an ingame keybinding to ungrab the mouse.

[2016-02-21 13:06] Airblader opened #2220 ""tray_output primary" does not fall back to the first available output"
This issue originally stems from #2219 as reported by @rtlanceroad.

In #1855 we discussed that the i3bar code says it falls back to the first available output for the system tray in case `tray_output primary` was specified but there is no primary output. As it turns out, this code appears to be misleading.

We have the "sanity check" code that decides whether the tray should even be configured fo

[2016-02-21 14:39] eva7sk opened #2222 "More I3WM with KDE suport in next version ?"
Sorry for my english
Now i'm using KDE 5.16.0 with i3 4.11-258 as window manager, dual screen
because kde has many usefull widgets i can add to Desktop / Panel, like wifi, sound manager, application launcher etc ....
So, i want i3status is on top of my screen, kde Panel is on bottom, but the problem now is all the kde panels are on the same screen[Issues]

I set this line on config file
for_window

[2016-02-21 14:49] Airblader commented on #2222
And what exactly is it that you want i3 to do that would make it support KDE better?

[2016-02-21 14:50] Airblader commented on #2222
Maybe what you want to use is https://github.com/sLite/i3 by @sLite.

[2016-02-21 14:53] eva7sk commented on #2222
@Airblader The only two thing is enough for me:
one is Panel Position on multiple monitor setup
another is Desktop on the Background

[2016-02-21 14:57] eva7sk commented on #2222
@Airblader Wow, this project looks good, i will try this project tonight
but i still want to i3 have a little more support on kde too, like this topic described

[2016-02-21 15:01] Airblader commented on #2222
See #903, we don't want to support these windows. Instead, file a request against KDE that allows disabling the desktop window.

Can you please elaborate and what you do, what you see and what you would expect to see? Screenshots would also help.

[2016-02-21 15:28] eva7sk commented on #2222
I just tried https://github.com/sLite/i3
It works like a chram
Thank you

[2016-02-21 15:34] #2222 closed

[2016-02-21 15:37] eva7sk commented on #2222
@Airblader Thank you, i Really appreciate your help

[2016-02-21 20:24] Airblader opened #2223 "[enhancement] Allow compositors to identify floating windows"
While we don't officially support compositing, I think it's an indisputable fact that many users use i3 with a compositor. For a while I tried to see whether there is anything in the specs that would allow a compositor to tell floating and tiling windows apart, but with little luck.

I propose that we introduce a "proprietary" atom that we maintain on windows to indicate this state. Maybe somethin

[2016-02-22 05:02] eva7sk opened #2224 "I don't want share workspaces between monitors"
Sorry for my english
I want each monitor has 10 workspaces No matter how many monitors i have
and Use mod+#1~10 keys to switch between workspaces, move container etc ....
If i have the more monitor the less number key maped workspaces in each monitor
I want all of these operations are limited in focused monitor, Like awesome wm/bspwm does

[2016-02-22 05:20] eva7sk opened #2225 "Mod+number key maped output"
In I3WM 4.11 there is only  move workspace to output {left,down,right,up}
And i want also use mod+number keys to move workspace beyond a monitor
The reason is i don't want change the view of some monitor

And i didn't use
bindsym $mod+1 move workspace to output DP-0
bindsym $mod+2 move workspace to output DP-1
bindsym $mod+3 move workspace to output DVI-I-1
Because, if i changed a computer, i have

[2016-02-22 05:44] eva7sk commented on #2224
This is really important, because if i want use number key add a workspace i have to exactlly remember if this number of workspace already in other monitor
For example, i was wanted to add workspace and if i pressed a workspace already have then i3 will switch to it which is i don't want

[2016-02-22 06:21] eva7sk commented on #2224
I rather split workspace opration and monitor operation much more than these two operation combined

[2016-02-22 06:37] Airblader commented on #2224
This has been discussed before. The way workspaces work is an intrinsic design decision in i3 that we are not looking to change.

If you want workspaces to switch on all outputs like on other systems, you can use the IPC to write a script.

Having all workspaces open even if they're empty goes against the workspace concept of i3. We don't want this.

As for key bindings: just use bindings that ind

[2016-02-22 06:37] #2224 closed

[2016-02-22 06:40] Airblader commented on #2225
So of you want to move containers to another monitor but not by using the monitor's name and not by a directional command... What is your proposal? What exactly do you want to have?

Outputs aren't numbered and their internal order depends completely on xrandr. Being able to select the n-th output doesn't seem to make much sense to me, given that this order can be different everytime.

[2016-02-22 08:13] stapelberg commented on #2224
You captured it fairly well. I have nothing to add.

[2016-02-22 08:15] #2220 closed

[2016-02-22 08:16] stapelberg commented on #2223
Sounds good to me.

[2016-02-22 12:35] jasonkhanlar opened #2226 "questionable i3 behavior when dragging windows"
https://youtu.be/8KIsZO8AUMY

That video showcases some of the strange behaviors I've noticed from dragging to resize windows.

An issue I notice is that after a particular sequence of resizing windows, no longer can I select them to resize further. Additionally, it appears that titlebars appear underneath window elements to the point of no return in some cases not represented in the video.

Is th

[2016-02-22 12:52] jasonkhanlar commented on #2226
Also, I reproduced an xterm error event, but before I was able to, I crashed i3 as well, as can be seen at https://youtu.be/ug-B9_EMX0s

[2016-02-22 12:57] jasonkhanlar commented on #2226
Thanks for reference to http://i3wm.org/docs/debugging.html

$ i3 --version
i3 version 4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and contributors

$ i3 --moreversion 2>&- || i3 --version
Binary i3 version:  4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and contributors
Running i3 version: 4.11 (2015-09-30, branch "4.11") (pid 8054)
Loaded i3 config: /home/sager/.confi

[2016-02-22 14:21] eva7sk commented on #2224
@Airblader
Thank you give me a direction to work on IPC script.
If this has discussed before, and can't change, is there a similar script that i can reference on it?

my english is bad i didn't described clearly this part:
I mean each monitor has [maximum 10 automated workspaces], it doesn't mean "Having all 10 workspaces open even if they're empty"
for example:
i want i3 automaticlly create works

[2016-02-22 14:27] eva7sk commented on #2224
@stapelberg Could you think about this topic again?

[2016-02-22 14:50] eva7sk commented on #2224
the key binding would like this:
mod+#1~10 switch workspace on focused monitor
mod+Shift+#1~10 move container to workspace on focused monitor
mod+Control+#1~10 move workspace to output 1~10

[2016-02-22 15:14] eva7sk commented on #2224
https://github.com/i3/i3/issues/2222

[2016-02-22 15:40] Adaephon-GH commented on #917
I agree that special marks was not one of my better ideas as it adds extra complexity and might be confusing. I think in most cases "quick zoom" might be better handled with directional swapping anyway, so there is probably no longer a strong case for different types of marks.

As for the question if marks should generally stay in a location or move with the window, I tend to think that the latter

[2016-02-22 15:57] eva7sk commented on #2224
This man has the same situation
https://www.reddit.com/r/i3wm/comments/36diri/can_i_alter_the_multimonitor_behaivour/

[2016-02-22 16:04] amosbird opened #2227 "Remapping `Control + h` to `BackSpace` works inconsistently."
Output of `i3 --moreversion 2>&- || i3 --version`:

Binary i3 version:  4.11 (2015-09-30, branch "4.11")

URL to a logfile as per http://i3wm.org/docs/debugging.html

http://logs.i3wm.org/logs/5764748591235072.bz2

**What I did:**

I’m pressing Control+h in Firefox input box with i3 binding `bindsym control+h exec "xdotool getactivewindow key -clearmodifiers --window %1 BackSpace"`

**What I saw:*

[2016-02-22 16:07] Airblader commented on #2227
Does it work if you use

    bindsym --release control+h exec "xdotool getactivewindow key -clearmodifiers --window %1 BackSpace"

?

[2016-02-22 16:07] amosbird commented on #2227
no

[2016-02-22 16:59] eva7sk commented on #2224
The way is clear now, use IPC to recived the number key i pressed, detect monitor name, use variables, wire monitor mode on config file, etc... can substantial reduce the line of config file, just output name hard coded.

[2016-02-22 17:23] eva7sk commented on #2224
After see this config, The way is clear now, i can write script connect IPC to recive the number keys i pressed, detect monitor name, wire monitor mode on config file with variable, etc... can substantial reduce the line of config file, just output name hard coded.
But i still feel it doesn't make sense to use config file and script to force implement the feature of an application.

[2016-02-22 17:34] hamoid commented on #1385
Pressing CTRL does not help in my case. Any time I try dragging tabs most of the screen flickers. The best I can get, after much trying and flickering, is two editors side by side. But not more than two editors, and no way to have one below and one above.

[2016-02-22 17:43] scampi commented on #2224
I find myself having the same need as @eva7sk . I didn't read through the doc nor tried the script approach though to find some way to reproduce this feature. Laziness/time mostly...

In awesomewm they have a multi-screen management of the workspaces similar to what @eva7sk described. Just wanted to voice that if there was an **easy** way to manage workspaces with multiple screens, that would be v

[2016-02-22 18:00] stapelberg commented on #2226
Yep, this looks like a bug.

I think the issue is that `new_percent` in resize.c:resize_graphical_handler becomes negative.

[2016-02-22 18:29] eva7sk commented on #2224
@scampi Yes, i have tried Gnome->XFCE->AwesomeWM->XMonad->KDE->BSPWM->I3WM
 KDE is most complex desktop environment i like, but kWin doesn't have independent workspaces in each monitor
BSPWM has mouse drag move function, but doesn't have a complex layout, in some case it will be very limited
XMonad looks good but i don't know about haskell, and i can't figure out how to work with mouse
I3WM is alm

[2016-02-22 18:48] eva7sk commented on #2224
@stapelberg Could you think about this topic again?

[2016-02-22 18:55] eva7sk commented on #2222
@Airblader But if i use sLite project i have to wait about this great new feature #https://github.com/i3/i3/pull/2178, so this why i still want i3 has more compatibility on kde

[2016-02-22 19:06] sLite commented on #2222
Fear not! I will collaborate with @Airblader in the near future and we will try to bring better KDE support to upstream i3. Cross your fingers and let's see if we can come up with a solution that doesn't need KDE specific code :)
Interresting PR, sounds like something i would like to have too.

If we don't manage to bring KDE compatibility upstream i will try to keep my fork more up to date in the

[2016-02-22 19:38] eva7sk commented on #2222
@Airblader These two days I using your project all the time without any Obvious error
Until your comment, i don't worry about anymore
So my main two problems https://github.com/i3/i3/pull/2178 https://github.com/i3/i3/issues/2224 are both found solution :)

[2016-02-22 19:38] eva7sk commented on #2222
@sLite These two days I using your project all the time without any Obvious error
Until your comment, i don't worry about anymore
So my main two problems #2178 #2224 are both found solution :)

[2016-02-22 20:01] Airblader commented on #2222
Well, at least to i3-gaps. But even I am not willing to just accept any patch; it shouldn't be a patch that works around weird KDE things.

[2016-02-22 20:01] eva7sk commented on #2224
@scampi Yes, I have tried Gnome->XFCE->AwesomeWM->XMonad->KDE->BSPWM->I3WM
AsesomeWM has mouse drag move function, but can not manul split layout & rotate/flip
XMonad looks good but i don't know about haskell, and i can't figure out how to work with mouse
KDE is most complex desktop environment i like, but kWin doesn't have independent workspaces in each monitor, this is why i'm using I3WM instead

[2016-02-22 20:03] Airblader commented on #2224
There is absolutely nothing wrong with writing an IPC script. That's a big part of what the IPC is for. Please don't compare i3 to awesome, they are very different window managers.

i3 does manage workspaces on multiple screens, so this "essential part of a wm" is there. You just want it to be *different*, but that's not the same as it not being there.

[2016-02-22 20:06] Airblader commented on #2224
Please also don't cross-reference completely unrelated issues. Linked issues should be relevant.

[2016-02-22 20:14] eva7sk commented on #2224
@Airblader i'm new to github, i was wondering what is reference used for, and then i loved it

[2016-02-22 21:19] Airblader commented on #2227
Your `xdotool` command doesn't work for me even when run manually without any keybinding. What does work is this:

    bindsym --release control+h exec "xdotool key --clearmodifiers BackSpace"

[2016-02-22 21:39] Airblader commented on #2225
So IMHO this should be handled one of these ways:

* With #1197 implemented such that you have a single machine-specific file that sets a variable to the appropriate output.
* Write a script that uses `xrandr` or whatever else to determine the name of the output you are looking for and then executes the command.

@eva7sk Please clarify what you mean by

How should i3 know which output you are talk

[2016-02-23 00:21] iaculch commented on #1839
I am still experiencing this freeze, it is quite intermittent, happening to me a couple of times a week, and I am plugging in an external monitor to my laptop a few times a day.

This is the command I run to activate the external monitor:

`xrandr --output eDP1 --mode 3200x1800 --pos 288x2160 --rotate normal --scale 0.5x0.5 --output DP1 --mode 1920x1080 --pos 0x0 --rotate normal`

and another to s

[2016-02-23 01:59] amosbird commented on #2227
It performs worse than the previous `xdotool` command.

[2016-02-23 02:34] prchyr commented on #2081
can confirm this as well with libreoffice, mainly working with impress, though my cursor will jump to a seemingly random workspace if many are open. cannot reproduce preference of workspace jump.

[2016-02-23 03:27] kalgynirae opened #2228 "Reloading config while in a non-default binding mode confuses i3"
Output of `i3 --moreversion 2>&- || i3 --version`:

[code]

URL to a logfile as per http://i3wm.org/docs/debugging.html:

http://logs.i3wm.org/logs/5734616174428160.bz2

**What I did:**

1. In a terminal, I ran `sleep 2 && i3-msg reload`.
2. I entered `resize` mode by pressing Alt+r.
3. Two seconds passed and i3 reloaded the config.

**What I saw:**

i3bar still reported that I was in `resize` mod

[2016-02-23 06:25] Airblader commented on #2227
Can you please be more specific on this?

I really don't see an i3 issue here. We grab a key and execute a command. The command is executed. What doesn't work is the xdotool command but that's not i3's fault.

[2016-02-23 06:42] amosbird commented on #2227
Ok. I will open an issue there. It would be great if i3 could support sending key events directly.

[2016-02-23 06:42] #2227 closed

[2016-02-23 06:47] Airblader commented on #2227
I would've loved to first get some more details than just "it's worse than before". My command works for me, yours didn't even work when run from a terminal. Saying "it doesn't work" isn't really helpful.

[2016-02-23 06:50] amosbird commented on #2227
I really don't know how to describe this problem literally. I think I should upload a screencast sometime later.

[2016-02-23 14:30] shioyama commented on #1137
Thanks, I can understand your position on this. I'll implement it as a script first and look into what it would take to actually do it within i3 itself.

[2016-02-23 17:06] He-Ro opened #2229 "Inconsistent displaying of empty workspaces in i3bar"
Output of `i3 --moreversion 2>&- || i3 --version`:

Binary i3 version:  4.11-262-geb631ce (2016-02-22, branch "makepkg") © 2009 Michael Stapelberg and contributors
Running i3 version: 4.11-262-geb631ce (2016-02-22, branch "makepkg") (pid 14256)
Loaded i3 config: /home/hendrik/.i3/config (Last modified: 2016-02-21T14:59:17 CET, 183075 seconds ago)

The i3 binary you just called: /usr/bin/i3
The i3

[2016-02-23 17:36] Airblader commented on #2229
Thanks for reporting, I can reproduce this.

[2016-02-25 18:18] Airblader commented on #2228
I think the best approach here is to switch into the default mode. We have no guarantee that the current mode will even still exist after the config has been reloaded and using the default mode as a fallback seems like unnecessary complexity for a really rare situation to me.

[2016-02-25 19:21] Airblader commented on #2225
@eva7sk Can you please respond to the question of what exactly you envisioned?

[2016-02-25 20:18] #2223 closed

[2016-02-25 20:18] #2229 closed

[2016-02-25 20:19] #2228 closed

[2016-02-26 11:27] Airblader commented on #917
@Adaephon-GH I agree

[2016-02-26 16:01] bad63r opened #2234 "Crash when plug off internet cable"
Output of `i3 --moreversion 2>&- || i3 --version`:

i3 version 4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and contributors

URL to a logfile as per http://i3wm.org/docs/debugging.html:
logfile: http://logs.i3wm.org/logs/5647435049205760.bz2

My i3Config: https://github.com/bad63r/i3-wm/blob/master/i3config

**What I did:**
As i have problem with internet I do plug in/off my interne

[2016-02-26 17:28] stapelberg commented on #2234
I don’t think this is related to i3, since i3 doesn’t do anything with the network. The closest we get is i3status, which displays the network speed, but if i3status crashes (or goes crazy), that doesn’t affect i3 either.

I guess this might be a driver issue.

Can you reproduce this with other window managers?

[2016-02-26 21:49] Airblader commented on #917
I've pushed a rough prototype that implements `[…] swap <id>`. It works in a few cases that I've tested, but one issue became clear: Say you have this layout:

[code]

[2016-02-28 16:55] BobuSumisu opened #2235 "Config-file variable expansion when variable name is a prefix of another variable"
Output of `i3 --moreversion 2>&- || i3 --version`:

    i3 version 4.11-269-g6fe8d30 (2016-02-25, branch "next") © 2009 Michael Stapelberg and contributors

**Summary**

Defining a variable which name is a prefix of an earlier defined variable, will make the earlier defined variable unusable as the lexer/parser will expand the latter defined (prefix) variable first.

**What I did:**

If I define t

[2016-02-28 19:38] Airblader commented on #2235
I think in the past we didn't consider this a bug because the variable parser isn't supposed to be very clever. I still think this should be fixed. Moreover, I think `$foo$bar` should work.

[2016-03-01 12:34] ligamoren opened #2236 "new_window and new_float options: name logic"
Hello. new_window and new_float options allow me to set borders around windows, but these names ("new_window", "new_float") have nothing to do with borders. Instead, word "new" is used, which is almost unrelated to the meaning of these options. Probably, it would be better to rename them, for example, to "border_tiling" and "border_floating" respectively or something like that?

[2016-03-01 12:38] Airblader commented on #2236
While I agree in principal, this is not worth breaking existing configs over imho.

[2016-03-01 14:03] ligamoren commented on #2236
Maybe it is possible to make both variants work at the same time (i.e. one can use "new_window" and "new_float" OR "border_tiling" and "border_floating")?

[2016-03-01 14:08] Airblader commented on #2236
Then we have two things doing the same thing that we never get rid of. Not sure what the advantage of that would be.

[2016-03-01 14:10] ligamoren commented on #2236
...and announce that "new_float and new_window are deprecated and use of ... ... is recommended instead".
I know it's a lot of work, but illogical names are a bit irritating.
If developers do not agree, let it be as it is.

[2016-03-01 14:12] Airblader commented on #2236
Deprecation means that at some point we actually remove the old syntax. We rarely, rarely ever do this, though (we already have "deprecated" things). Please don't misunderstand me – I do favor better names for things. But for any change, the benefit should outweight the cost of complexity and maintenance.

@stapelberg How do you feel about it?

[2016-03-01 14:15] ligamoren commented on #2236
I understand it, and if changing names will result in any complexity and inconveniences -- of course it isn't worth it, let the names stay unchanged.

[2016-03-02 08:28] stapelberg commented on #2236
I think we should address this if we ever decide to introduce a v5 config format (with the appropriate migration mechanisms, just like the v3→v4 transition). Given that the v4 format seems to work fine largely, I don’t think we’ll do that, though.

[2016-03-02 08:28] #2236 closed

[2016-03-02 15:39] wodny commented on #832
Hi, I have a suspicion that the patch adding the `_MOTIF_WM_HINTS` support is incorrect, works by chance and might break with different endianness of the system. At https://github.com/i3/i3/blob/f14a94031c6b33a11715bfc4e0273cc05d981ae6/src/window.c#L341 there is:
[code]
It suggests that decorations are stored in element [1], but sources (even the one quoted by the window.c file) show that it's act

[2016-03-02 15:47] wodny commented on #832
CC @stapelberg

[2016-03-02 18:40] freed00m opened #2237 "Gnome3 apps starts with border none"
Output of `i3 --moreversion 2>&- || i3 --version`:

[code]

_REPLACE: i3 version output_

URL to a logfile as per http://i3wm.org/docs/debugging.html:

http://logs.i3wm.org/logs/5725637813731328.bz

**What I did:**

I started the logging on the fly, and opened Nautilus file manager
Then I used keysim to change it's border to pixel 2 and back to none

[code]

**What I saw:**

Nautilus (and evince,

[2016-03-02 18:51] Airblader commented on #832
@wodny What you're saying sounds correct to me. Can you please open a bug for this?

[2016-03-02 19:02] Airblader commented on #2237
This is because those windows set `_MOTIF_WM_HINTS` which tell the window manager to not draw decorations. Everything's working as intended here.

If you want to force the border, you could use

[code]

[2016-03-02 19:02] #2237 closed

[2016-03-02 21:02] wodny opened #2238 "Patch from #832 adding _MOTIF_WM_HINTS support is incorrect"
Hi, I have a suspicion that the patch from issue #832 adding the `_MOTIF_WM_HINTS` support is incorrect, works by chance and might break with different endianness of the system. At https://github.com/i3/i3/blob/f14a94031c6b33a11715bfc4e0273cc05d981ae6/src/window.c#L341 there is:
[code]
It suggests that decorations are stored in element [1], but sources (even the one quoted by the window.c file) sh

[2016-03-02 21:04] wodny commented on #2238
Create a pull request #2239.

[2016-03-03 01:38] JZL opened #2240 "Youtube exiting fullscreen exits fullscreen"
Output of `i3 --moreversion 2>&- || i3 --version`:
[code]

i3 version 4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and contributors

URL to a logfile as per http://i3wm.org/docs/debugging.html: https://gist.github.com/JZL/a6f7b0a0338b55e54d50

**What I did:**

Go to youtube.com from a split chrome window. Make the youtube video full screen and then exit the fullscreen (both by pressi

[2016-03-03 06:58] Airblader commented on #2240
It's up to Chrome to decide what to do when pressing Escape, not i3, so I'm going to close this bug. I'm confident that this is the behavior Chrome intents.

[2016-03-03 06:58] #2240 closed

[2016-03-03 08:01] #2238 closed

[2016-03-03 11:00] alecdwm commented on #1751
I am also able to reproduce this bug.

[2016-03-03 20:48] Airblader commented on #2225
Well, a week has passed and I still don't know what is actually being proposed, so I'm going to close this. @eva7sk If you are interested in this, please elaborate on what exactly you are proposing and we can reopen.

[2016-03-03 20:48] #2225 closed

[2016-03-03 20:49] Airblader commented on #2201
@DanTheDane Did you have any luck getting the log? You could also call `DISPLAY=:0 i3-dump-log -f` from another TTY and see what comes up there when the crash happens. If calling `i3-dump-log` consistently crashes i3, please attach gdb to i3 and get the backtrace.

[2016-03-03 20:55] Airblader commented on #2179
A month has passed, so I think there's no strong enough opinion. The way I take it, neither @stapelberg nor I think this is significantly better than the current way, therefore not justifying the breaking behavior change.

The offer stands, anyone wanting to provide a PR to push this topic can do so.

[2016-03-03 20:55] #2179 closed

[2016-03-05 01:40] Airblader commented on #1197
One more thing is the location of `config.d`. I think easiest would be to just have it always be a folder in the same directory of the main config file? However, that also means that we always require a config file, even if it's empty. I think that's OK, though.

[2016-03-05 22:05] DanTheDane commented on #2201
Hi Airblader,

Unfortunately not yet. I can only test it at work (that's where it's docked). I will hopefully have time getting it logged next week.

[2016-03-06 11:51] Airblader opened #2241 ""move position mouse" doesn't move to the visible workspace"
If a window is on a currently non-visible workspace, but is moved via `move window to position mouse`, it is not moved to the visible workspace, but instead just moved to the mouse position on the non-visible workspace.

i3 4.11

[2016-03-06 21:04] Airblader commented on #2241
`move position center` has the same behavior of not moving it to the current workspace.

@stapelberg Do we even want to do this? Or do we want it to be up to the user, who can, of course, just do `[…] move window to workspace current, move window to position mouse`?

[2016-03-07 17:43] pniederlag commented on #2201
I can confirm the issue on your debian nightly builds.

    i3 --version
    i3 version 4.12-6-g42f5a6c (2016-03-06, branch "next") © 2009 Michael Stapelberg and contributors

~ >3months ago workspaces from unplugged monitors would move to available monitor after executing randr with updatet screen layout. However lately I had to blindly activate the missing workspace via keyboard shortcuts and th

[2016-03-07 20:22] Airblader commented on #2201
@pniederlag

So just to get this straight, it was only fixed *after* you executed `xrandr`? The sole act of unplugging left the workspaces invisible?

[2016-03-08 05:37] cshinaver commented on #1197
Should the new "finished" config file be created, parsed and used by i3, and then discarded?

-austrinus

[2016-03-08 06:28] Airblader commented on #1197
As opposed to? We certainly don't want to write the file to disk or anything like that.

[2016-03-08 06:38] cshinaver commented on #1197
It seems [here](https://github.com/i3/i3/blob/42f5a6ce479968a8f95dd5a827524865094d6a5c/src/config_parser.c#L819) that when the file is parsed, all other configs are obliterated. I might be reading it wrong though. I thought the easiest way to implement this would be to append the new files to the main config file before `parse_file` is called. However, I wasn't sure the best way to go about this.

[2016-03-08 06:39] cshinaver commented on #1197
I was considering appending it to the existing config file, but that would modify whatever the user had already set (as well as writing to disk).

[2016-03-08 06:40] Airblader commented on #1197
No, under no circumstances can we modify the config. This feature should work entirely in memory. Appending to the config the user could do locally on their own.

[2016-03-08 06:44] cshinaver commented on #1197
That's what I thought. What did you have in mind when you were saying to append to the config? Would it require reading the entire file into memory, appending to that, and then parsing? Seems kind of messy.

[2016-03-08 06:46] Airblader commented on #1197
That's what I meant and I don't see why that is messy at all. We create the appended config on memory and then parse that. Parsing each chunk individually would be just as fine but I imagine that to be way more difficult.

[2016-03-08 06:52] cshinaver commented on #1197
Alright sounds good. So I'm thinking read main config into string, append configs in sorted order, send string along to the parser.

[2016-03-08 07:02] Airblader commented on #1197
Yeah, that'd the basic idea. I'm still not sure how we should determine the full directory name. We could append ".d" to the main config name or we could take the config's directory and use "config.d" within there. But let's talk such details once we have a first pull request.

[2016-03-08 19:04] stapelberg opened #2246 "enhancement: reproducible builds: asciidoc"
Once https://github.com/asciidoc/asciidoc/pull/9 is merged and included in a released version, we should set `-a footer-style=revdate` to have our documentation built reproducibly.

[2016-03-08 22:35] elextr commented on #2246
@stapelberg one way to speed the commit to asciidoc is for you to test it with all backends and say it works.

[2016-03-09 09:17] Adaephon-GH opened #2247 "Bug or feature?: title indent on `split vertical|horizontal`"
Output of `i3 --moreversion 2>&- || i3 --version`:

Binary i3 version:  4.12 (2016-03-06, branch "4.12") © 2009 Michael Stapelberg and contributors
Running i3 version: 4.12 (2016-03-06, branch "4.12") (pid 603)
Loaded i3 config: /home/adaephon/.i3/config (Last modified: Mi 09 Mär 2016 08:20:50 CET, 2516 seconds ago)

The i3 binary you just called: /usr/bin/i3
The i3 binary you are running: i3

URL

[2016-03-09 09:19] Adaephon-GH commented on #2247
Unsupported version?  Where did I go wrong?

[2016-03-09 09:23] Airblader commented on #2247
@stapelberg The bot is buggy. :)

[2016-03-09 09:53] Airblader commented on #2247
I haven't read the entire thing, but in general: we have explicit code for this, so I assume the basic existence is intentional. I'm not sure whether it's intentional that it's only there for tabbed layouts.

@stapelberg Maybe you can shine some light on the background of this.

[2016-03-09 12:24] jamespanda opened #2248 "the font of i3status not shown while statusline '#000000' in the bar section of the config file"
Binary i3 version:  4.12 (2016-03-06, branch "4.12") © 2009 Michael Stapelberg and contributors
Running i3 version: 4.12 (2016-03-06, branch "4.12") (pid 1089)
Loaded i3 config: /home/skypanda/.i3/config (Last modified: 三  3/ 9 20:20:05 2016, 123 seconds ago)

[2016-03-09 12:26] Airblader commented on #2248
@jamespanda Can you please provide more information? Especially your config files.

[2016-03-09 12:28] jamespanda commented on #2248
# i3 config file (v4)
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!
#
# This config file uses keycodes (bindsym) and was written for the QWERTY
# layout.
#
# To get a config file with the same key positions, but for your current
# layout, use the i3-config-wizard
#

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {}

[2016-03-09 12:29] Airblader commented on #2248
Please format it correctly, this is unreadable.

[2016-03-09 12:30] jamespanda commented on #2248
[123.txt](https://github.com/i3/i3/files/165100/123.txt)

[2016-03-09 12:33] archevel opened #2249 "Problem installing sur5r-keyring on ubuntu xenial"
This might just be because ubuntu xenial is not released yet, but figured I'd post an issue just in case :) This was all done on a new install of ubuntu xenial.

**What I did:**
Added:
[code]
to `/etc/apt/sources.list`

Then ran:
[code]

then I tried to install `sur5r-keyring` with:

[code]
**What I saw:**
(see above)
**What I expected instead:**
something like:
[code]

WORKAROUND:
A bit hacky, bu

[2016-03-09 12:34] Airblader commented on #2248
@jamespanda Thanks. Does the text appear if you change the statusline color to `#000001`? And can you post a screenshot (of both cases if it happens to appear again then).

Also, what version of cairo do you have installed?

[2016-03-09 12:35] Airblader commented on #2249
@sur5r FYI.

Closing since this is a distro package issue, not an i3 issue.

[2016-03-09 12:35] #2249 closed

[2016-03-09 12:36] jamespanda commented on #2248
![2016-03-09-203426_1440x900_scrot](https://cloud.githubusercontent.com/assets/14955228/13635434/9ab0acc2-e636-11e5-8f05-8a7cb099fea1.png)
![2016-03-09-203619_1440x900_scrot](https://cloud.githubusercontent.com/assets/14955228/13635435/9af67b9e-e636-11e5-8e74-0d2a0a7e88b6.png)
cairo-1.14.6

[2016-03-09 12:41] Airblader commented on #2248
Does it work if you remove the quoting around the color?

    # replace …
    statusline '#000000'
    # … with …
    statusline #000000

[2016-03-09 12:42] jamespanda commented on #2248
![2016-03-09-204207_1440x900_scrot](https://cloud.githubusercontent.com/assets/14955228/13635545/68708a74-e637-11e5-9582-3fd4f9836ad9.png)
statusline '#000001'

[2016-03-09 12:48] Airblader commented on #2248
@jamespanda That's when you tried `statusline '#1'`? What about removing the quoting?

[2016-03-09 12:51] jamespanda commented on #2248
i have removed it and reloaded i3 before i catched a screenshot

[2016-03-09 12:52] Airblader commented on #2248
@jamespanda Yes, but which config did you use? Your comment seems to indicate that you used

    statusline '#1'

But I want you to use

    statusline #000000

E..g, remove the `''` around the color (for all colors in the `bar` block).

[2016-03-09 12:53] jamespanda commented on #2248
statusline #000000

[2016-03-09 12:54] Airblader commented on #2248
@jamespanda So in other words when removing the `''`, it works as you expect, correct?

[2016-03-09 12:56] jamespanda commented on #2248
removing the ' ',and find the situation above

[2016-03-09 12:56] Airblader commented on #2248
The last screenshot seems correct to me. Is anything still wrong?

[2016-03-09 12:57] jamespanda commented on #2248
#000001 works but #000000 not

[2016-03-09 12:59] Airblader commented on #2248
I am completely confused. Is the last screenshot you posted above using `statusline '#1'` as your comment there indicated or is it using `statusline #000000`?

[2016-03-09 13:01] jamespanda commented on #2248
the second image --> #000000
the third image --> #000001

[2016-03-09 13:03] Airblader commented on #2248
But the second picture was posted before I told you to remove the `''`. Let's try to clear up the confusion. Use this in your config:

[code]

[2016-03-09 13:04] jamespanda commented on #2248
i have removed it and took a snapshot before you told me

[2016-03-09 13:05] Airblader commented on #2248
Did you remove the quotes for both `background` and `statusline` there? Or just `statusline`?

[2016-03-09 13:06] jamespanda commented on #2248
both have been removed

[2016-03-09 13:10] jamespanda commented on #2248
i encounter the first situation too while both with ' ' (#ffffff-->background,#000000-->font)

[2016-03-09 13:12] Airblader commented on #2248
Can you use

[code]
colors {
    background #ffffff
    statusline #000001
}
[code]

[2016-03-09 13:14] jamespanda commented on #2248
yes
have tested it lots of time

[2016-03-09 13:27] Airblader commented on #2248
Using

[code]

[2016-03-09 13:29] jamespanda commented on #2248
{"id":"bar-0","tray_padding":2,"mode":"dock","hidden_state":"hide","modifier":"Mod4","position":"top","status_command":"i3status -c ~/.i3/i3status.conf","font":"pango:\"WenQuanYi Micro Hei Mono\" 14","workspace_buttons":true,"strip_workspace_numbers":false,"binding_mode_indicator":true,"verbose":false,"colors":{"background":"#ffffff","statusline":"#000000"}}

[2016-03-09 13:32] jamespanda commented on #2248
i3bar:
i3status: trying to auto-detect output_format setting
i3status: falling back to "none"
[i3bar/src/xcb.c:737] ERROR: Window 01401724 violates the XEMBED protocol, _XEMBED_INFO not set

[2016-03-09 13:37] jamespanda commented on #2248
i3:
RROR: Received ConfigureNotify for unknown window 0x00a00000
ERROR: Received ExposeEvent for unknown window 0x00a00000
ERROR: Received ConfigureNotify for unknown window 0x00a00000
ERROR: Received ConfigureNotify for unknown window 0x00a00003
ERROR: Received ExposeEvent for unknown window 0x00a00003
ERROR: Received ConfigureNotify for unknown window 0x00a00003
ERROR: Received ConfigureNotify f

[2016-03-09 13:39] Airblader commented on #2248
Please actually read the docs, you haven't enabled debug logging for either i3 or i3bar. And also don't paste the logs in here, but upload them as a file or on pastebin.

[2016-03-09 14:06] jamespanda commented on #2248
launch with i3-with-shmlog
i3-dump-log: Could not shm_open SHM segment for the i3 log (/tmp/i3-log-2447): No such file or directory
Data is not an i3 log file....

[2016-03-09 14:20] Airblader commented on #2248
Try logging in with your normal i3 and just executing

    i3-msg "debuglog on, shmlog on, reload"

[2016-03-09 14:21] Airblader commented on #2248
@jamespanda Also, is this an issue that you only experience sind i3 4.12 or did it also happen with 4.11?

[2016-03-09 14:29] jamespanda commented on #2248
i3-msg "debuglog on, shmlog on, reload"
[{"success":true},{"success":true},{"success":true}]
4.12-->gg
4.11-->run well

[2016-03-09 14:32] jamespanda commented on #2248
i3wm on freebsd

[2016-03-09 14:40] jamespanda commented on #2248
run via ktrace

[456.txt](https://github.com/i3/i3/files/165371/456.txt)

[2016-03-09 14:46] Airblader commented on #2248
Can you upload the output of `xdpyinfo` as well?

I cannot reproduce this (except for when using the quotes) and suspect this only happens on FreeBSD. I'm afraid you, or someone else, might have to bisect this issue since it's a regression from 4.11. It should take less than 10 iterations, so not too difficult.

[2016-03-09 14:47] jamespanda commented on #2248
upload too more sensitive data...
[789.txt](https://github.com/i3/i3/files/165386/789.txt)

[2016-03-09 14:52] Airblader commented on #2248
All extensions that are somewhat relevant seem to be present. I think we need to go for a git bisect. Can you do that?

[2016-03-09 14:57] jamespanda commented on #2248
i am just an enduser
not familiar with git...

[2016-03-09 17:22] tomty89 opened #2250 "leftover `tray_output primary` in bar{} causes issue with 4.12"
I notice that i3-wm 4.12 no longer includes the line `tray_output primary` in bar{} when generate a config file. However, I feel like there's still some sort of bug that the line can cause issue in 4.12 (For example, one upgrades from 4.11 to 4.12 without regenerating/editing the config file). **I mean, shouldn't it simply become a no-op?**

By default xorg does not set any output as primary expli

[2016-03-09 17:34] Airblader commented on #2250
You're right that we removed it from the default config again. However, it still is a valid directive for those who want the tray output on the primary output and set that flag correctly, so we can't make it a no op.

It's certainly an inconvenience for those who generated the config with 4.11, but there's nothing we can do about that.

[2016-03-09 17:34] #2250 closed

[2016-03-09 20:05] Cynerd commented on #2226
Is anyone solving this? If not, I would try to fix this somehow as my first deeper look to i3.

[2016-03-09 20:55] Airblader commented on #2247
Having read the post in detail now I think that there definitely is something wrong here. But I think we should have Michael explain what the indentation is supposed to be for and how it should behave, or if it's even something we want to keep.

[2016-03-09 20:55] Airblader commented on #2226
AFAIK no one is looking into it, so go ahead! :)

[2016-03-09 20:59] Airblader commented on #2248
@jamespanda A git bisect isn't really hard and requires no understanding of the i3 codebase whatsoever. You can find a good description on how to do it here: https://git-scm.com/docs/git-bisect

Please let us know whether you'll be doing that. If not, I'm afraid this bug is just going to wait until someone else can reproduce it. I tried and cannot reproduce it.

[2016-03-09 21:00] Airblader commented on #2234
@bad63r Any updates?

[2016-03-09 21:02] Airblader commented on #2214
@stapelberg What are your thoughts on this?

[2016-03-10 00:57] ixjlyons commented on #2248
If I understand the issue correctly, it's that `statusline #000001` in the bar config correctly produces nearly-black text in i3bar, but `statusline #000000` produces white text. I was able to reproduce this, so I ran a git bisect. I set `statusline #000000` and issued `git bisect good` if the bar text was black and `git bisect bad` if the bar text was white. This process pointed to commit 21c0c20

[2016-03-10 06:03] Airblader commented on #2248
Thanks for the bisect! I'm puzzled that this commit is the culprit. Can you just make sure, revert that commit and verify that it then works fine?

I could imagine that this is a rounding issue when we parse the color. If it's not that, I don't know what i3 could be doing wrong.

@psychon You don't happen to know about any cairo bug when using #000000 and CAIRO_OPERATOR_SOURCE, do you?

[2016-03-10 06:11] Airblader commented on #2248
Also, can you reproduce the issue with the background color instead of the text color?

[2016-03-10 06:23] jamespanda commented on #2248
ixjlyons have committed... i sleep first

[2016-03-10 07:11] Airblader commented on #2248
@ixjlyons On top of checking whether the same issue exists for `background`, can you also try checking out this branch of i3 and see if the `statusline` color issue exists there?

https://github.com/Airblader/i3-original/tree/bug-2248

[2016-03-10 07:43] ixjlyons commented on #2248
Homework!

* commit 21c0c20 indeed includes the breaking change -- confirmed on two different machines now (setup almost exactly the same though)
* `statusline` and `separator` exhibit this behavior, but not `background`
* @Airblader's [current](https://github.com/Airblader/i3-original/commit/c5f75ff694bde8a9d6e322a12d8127edbdf5a906) bug-2248 branch doesn't seem to fix it

[2016-03-10 07:45] Airblader commented on #2248
@ixjlyons Thanks so much for your help. Can you give some info about those two machines? What system are you running and what versions of cairo and pango are installed? What font are you using in i3bar (in particular, a pango font or not)?

I am currently completely puzzled over what's happening. Since it doesn't affect `background`, it likely has to do with `src/font.c` where we create cairo cont

[2016-03-10 08:03] ixjlyons commented on #2248
* arch
* cairo 1.14.6
* pango 1.39.0
* using Liberation Mono font

It'd be nice if we could figure out how you can replicate it, but I'm happy to test out potential fixes and report back for now.

[2016-03-10 08:22] Airblader commented on #2248
I agree that being able to reproduce it would help. I tried on two machines and am unable to do so, unfortunately. It's interesting that you run Arch, so it's got nothing to do with BSD. I use Manjaro, so we have the same cairo and pango versions. I also tried both with and without using pango and can't reproduce it.

@ixjlyons Can you append this patch, run for a few seconds and then show the out

[2016-03-10 08:22] bad63r commented on #2234
Well i tried openbox and plasma 5 and there is the same problem. I'm using network-manager-applet for internet. I'll try some other program, but still I'm not sure what is the real problem(at least we know it is not up to i3 ) . Thx for support.

[2016-03-10 08:24] Airblader commented on #2234
Which means it isn't an i3 issue, as suspected; hence I'm going to close this issue. I would recommend you to contact the Xorg mailing list about this problem for now.

[2016-03-10 08:24] #2234 closed

[2016-03-10 08:59] psychon commented on #2248
@Airblader Nope, I don't know about any such cairo bugs.
@Everyone What video drivers do you use? Intel, nvidia binary blob, neaveau, modesetting, fglrx, ...?

[2016-03-10 09:05] sur5r commented on #2249
Thanks for the note. The keyring reporitory at http://debian.sur5r.net/sur5r-keyring/ contains a package for xenial, will check why it did not migrate to the i3 reposiroty.

[2016-03-10 09:16] joeyabrams opened #2251 "i3 and Chromium reproducable crash/freeze"
Output of `i3 --moreversion 2>&- || i3 --version`:
Binary i3 version:  4.12 (2016-03-06, branch "4.12") © 2009 Michael Stapelberg and contributors
Running i3 version: 4.12 (2016-03-06, branch "4.12") (pid 398)

URL to a logfile as per http://i3wm.org/docs/debugging.html:

http://logs.i3wm.org/logs/5686536431468544.bz2

**What I did:**

I started multiple terminals on workspace 1.
I switched to wor

[2016-03-10 09:35] joeyabrams commented on #2251
isnt this a downgrade...?

[2016-03-10 10:10] sur5r commented on #2249
Actually the Packages file for xenial already contained the keyring package, please retry and contact me directly if the issue persists.

[2016-03-10 10:30] Airblader commented on #2251
Yes, the bot is currently broken. Reopening.

[2016-03-10 10:31] Airblader commented on #2251
I don't think this problem has anything to do with i3. Can you try it with different window managers? If it works with those, can you also check whether the issue exists when downgrading to 4.11?

[2016-03-10 12:00] josswright commented on #1197
Apologies for jumping into what seems to have been a long discussion, but wouldn't simply having a 'source' or 'include' config directive solve this much more elegantly? If a user wanted to have a full directory of individual snippets, they can simply be sourced from the main config file.

I mainly found this because I simply want to add "source ~/.i3/config.local" to the end of my file to include

[2016-03-10 19:57] jamespanda commented on #2248
i use xf86-video-ati driver on my machine too

[2016-03-10 20:00] Airblader commented on #2248
@ixjlyons Yes, you're right on using i3bar's log output. Thanks for testing it out. So at least we know that we use the correct values.

@psychon I'm really starting to doubt that this is an i3 issue; what's your feeling here?

[2016-03-11 01:31] serch037 commented on #2251
A similar thing has happened to me, specifically when playing a video form Youtube when the window is in fullscreen mode and I try to switch workspaces or minimize the window without pausing the video. This crashes the system almost invariably.

[2016-03-11 07:27] pniederlag commented on #2201
Good question, unfortunatly I am not sure on the answer anymore. I think at first(~9 months ago) it worked even without *any* interaction, then sometime later it worked only after executing xrandr.

The last couple of weeks I had to explicitly move the workspace.

I just checked with '4.12-8-g960e638 (2016-03-09, branch "next")' and of course it's "fine" again. Updating screen layout with xrandr -

[2016-03-11 07:39] pniederlag opened #2252 "Crash on plugin of external monitor"
Another crash in relation to suspend/resume and hotplugging external monitor

[code]

What I did:

I had a single monitor attached, worked, suspended. Then I resumed and attached an external monitor.

What I saw:

crash dialog of i3wm

Debug backtrace:
https://gist.github.com/109b7e2db148082bbc56

No corresponding Logfile available

[2016-03-11 07:51] pniederlag opened #2253 "Please update date of milestone 4.12"
the issue bot currently suggests to downgrade from 4.12 to 4.11

- the bot refers to the most recent milestone to determine the current stable release
- 4.12 has no date set yet (milestone in issues)

I think updating the date on the milestone (or changing the logice of the bot to refer to tags instead) would improve things.

[2016-03-11 07:52] pniederlag commented on #2253
see #2252 for an example of a problem with the bot

[2016-03-11 08:06] joeyabrams commented on #2251
Hello,

I tested the same scenario with Enlightenment without being able to reproduce the crash.

I'll downgrade to 4.11 tonight and test it out -- sorry for the delay, worked all night.

Thanks for your help!

[2016-03-11 08:34] psychon commented on #2248
@Airblader I have to admit that I can't really follow who can reproduce this and who cannot, but if this turns out to be consistent with the video driver used, I'll happily blame that video driver. It's just weird that this is apparently not known yet.

Oh, and I just had another idea: http://sources.debian.net/src/cairo/1.14.6-1/src/cairo-xcb-connection.c/?hl=326#L326
Is this still reproducible i

[2016-03-11 09:01] joeyabrams commented on #2251
The issue persists on i3 v 4.11:

[joey@future ~]$ i3 --version
i3 version 4.11 (2015-09-30, branch "4.11") © 2009 Michael Stapelberg and contributors

http://logs.i3wm.org/logs/5654831519760384.bz2

Thanks!

[2016-03-11 20:37] Airblader commented on #1197
@josswright That sounds fine to me as well.

[2016-03-11 20:39] Airblader commented on #2248
@psychon It seems to affect multiple users (also some on reddit who haven't posted) here and @ixjlyons can reproduce it on two machines using two different drivers.

@ixjlyons Can you try what @psychon said?

[2016-03-11 20:43] cshinaver commented on #1197
@josswright The reason I personally wouldn't want to do it that way is because I'd have to muddle with the parsing logic (which will take more time since I haven't grok'd it yet). Thus far, I've managed to read the entire config into memory before parsing, and loop through the files in `config.d` in sorted order. Moving the logic to be within the parsing would take a good amount of time, which I d

[2016-03-11 20:54] DanTheDane commented on #2201
@pniederlag
I just upgraded to 4.12 yesterday, and so far so good (I have only done slight testing). This is a bit odd, since I was running the next branch until now, just with the modification mentioned. 4.12 is from the ubuntu repo, so are without it.

I suggest that the ticket is closed. If I can replicate it continuously again, then I can reopen the ticket.

[2016-03-11 20:57] Airblader commented on #2201
@DanTheDane Thanks for letting us know.

Sounds good to me. Let us know and we'll reopen.

[2016-03-11 20:57] #2201 closed

[2016-03-11 22:18] ixjlyons commented on #2248
@psychon, @Airblader : I cannot replicate the issue with that environment variable set.

[2016-03-12 02:40] hashhar commented on #2098
I'd like to chime in on this. I'm seeing similar crashes (more like lockups) when I close the lid (or the display turns off) and open it again.

The screen turns back on but all I can see is the desktop background and the i3bar (completely static, it does not update). This was the first time it happenned, so I'll try adding additional details and logs later in the day.

[2016-03-12 03:00] stapelberg commented on #1197
I’m not convinced that include statements are more elegant than having i3 do the concatenation of all files in a directory.

include statements could result in an endless include loop.

I think the code for properly logging/exposing the tree of included configuration files will actually be more complex when allowing for arbitrary structures by virtue of exposing an include statement.

All that sai

[2016-03-12 03:04] stapelberg commented on #2253
Done, thanks for the hint. GitHub’s UI is confusing: I distinctly remember that the due date was set to the current date when I added the milestone, yet it wasn’t saved. Maybe I would have needed to click on the date anyway? We’ll find out when I release the next version.

[2016-03-12 03:04] #2253 closed

[2016-03-12 03:09] stapelberg commented on #2247
Thanks for the detailed analysis.

In general, I agree that the behavior should be consistent and I don’t think the nesting being present only in certain situations was intentional.

That said, I don’t remember what the original idea was — it turns out that I never have nested split containers in practice, so I forgot that this behavior existed.

It’s not a bug, so I’d not want to just delete this

[2016-03-12 05:44] Airblader commented on #1197
I don't think we have to make this overly complex (and agree that that would be bad). As for errors, that's the same question as how we should behave when there's an error in the config. Ultimately I don't think it matters as it comes back to a configuration error, but I'd personally prefer to start up anyway and launch i3-nagbar.

If we went with include statements, I think we should just disallo

[2016-03-12 07:29] serch037 commented on #2251
What is your gpu and processor?  There is a confirmed bug in the latest versions of  Chrome/Chromium with Intel 4600 and hardware acceleration. Maybe try disabling hw acceleration in Chromium just to know if the issue persists in i3.

[2016-03-12 08:25] pniederlag commented on #2098
#2252 seems to be a crash with similar conditions (on a more recent i3wm version)

[2016-03-12 09:45] psychon commented on #2248
Ok... so @ixjlyons wrote that he has cairo 1.14.6. What's the X.org version? Does this perhaps make a difference between "I can reproduce" and "I cannot reproduce"?

[2016-03-12 12:51] theOtherNuvanda opened #2255 "Missing titlebars on windows with client-side decorations."
Output of `i3 --moreversion 2>&- || i3 --version`:

[code]

URL to a logfile as per http://i3wm.org/docs/debugging.html:

Not provided as the observed behavior is expected.

**The current behavior:**

![i3_missing-titlebars_1](https://cloud.githubusercontent.com/assets/13070524/13723056/494f5a98-e859-11e5-979c-d81dc7cec452.png)

When an application that uses client-side window-decorations – like m

[2016-03-12 16:02] pniederlag opened #2256 "Crash on resume"
This morning I had another crash on resuming.

I had captured get_tree, get_outputs and get_workspaces very shortly before the crash, I added these plus the backtrace on https://gist.github.com/pniederlag/3e71fc339352440500e3

Would be awesome if someone was able to nail down the cause of the crash.

For completeness this is the version used:
[code]

[2016-03-12 16:28] mikkeloscar opened #2257 "Inconsistent behavior of `move left|right|up|down`"
Output of `i3 --moreversion 2>&- || i3 --version`:

[code]

URL to a logfile as per http://i3wm.org/docs/debugging.html:

I have not included a log because I don't know when the error will happen (as described below), thus the log will be huge and might include a lot of private info, which I would rather not include here (or try to remove from the possible relevant parts of the log).

If this is a

[2016-03-12 17:21] stapelberg commented on #2252
Can you reproduce this? Can you also provide a logfile? That would go a long way, I think.

[2016-03-12 17:27] stapelberg commented on #2214
Agreed, the IPC interface was not meant to be synchronous, and I don’t think we’re in a good position to add synchronicity in any way.

I’m not categorically excluding hidden workspaces, but I can’t judge how well making workspaces with a name that starts with `__` available to users will fit into the general i3 user experience. It might be that there are some edge cases that I haven’t thought of

[2016-03-12 17:48] stapelberg commented on #1197
One more point that I dislike about this feature request: it does away with the 1:1 mapping of “this file contains the configuration exactly as i3 sees it”. I.e., for debugging, one needs to mentally (or actually) replace include statements with the files they refer to, or in the case of the config directory, do the same concatenation logic that i3 does.

I’m not saying this alone is a deal breake

[2016-03-12 17:51] stapelberg commented on #2256
The backtrace shows that this is the same issue as #2252, but you didn’t supply a logfile here either. Can you please amend #2252 with a logfile rather than opening new issues? :) Thanks!

[2016-03-12 17:51] #2256 closed

[2016-03-12 17:52] stapelberg commented on #2255
If the apps don’t behave how you’d like them to, my first instinct would be to change that in the app rather than work around the issue in the window manager.

Is there some way to turn off client-side decorations in GNOME?

[2016-03-12 18:00] stapelberg commented on #2241
I think the `move position mouse` command should do what it says and no more, i.e. it should stay as-is. If users want to have the window/container be moved to the current workspace, they should combine the commands you suggested.

[2016-03-12 18:00] #2241 closed

[2016-03-12 18:37] josswright commented on #1197
The addition of local configuration additions to a base file is a very, compelling case for me -- it's exactly why I found this bug. Not to appeal to prior examples too much, but it's also a standard configuration option for a program to have. Off the top of my head, my configuration files for mutt, zsh, R, and vim all contain an include for local alterations from the base configuration.

External

[2016-03-12 19:44] Airblader commented on #1197
Not really. We should still log the parsed config as we do now and there you can see what i3 actually uses. This is sort of already the case for variables, by the way.

Other than that I agree with @josswright that this is something a lot of tools offer and I stand by my point that we should keep this simple. Even keeping a list of included files as suggested by @josswright is too complex for my t

[2016-03-12 19:45] Airblader commented on #2255
@stapelberg already mentioned that this is the intended way. There are specifications that describe exactly that we should behave this way and hence we do. As Michael said, ask the application to at least provide you the option.

[2016-03-12 19:45] #2255 closed

[2016-03-12 21:05] ixjlyons commented on #2248
xorg-1.18.1

[2016-03-12 21:17] schreq commented on #1517
Another +1. It would prevent layout changes when restarting apps.

[2016-03-13 05:09] joeyabrams commented on #2251
I disabled hardware acceleration as suggested and that seems to have resolved the issue

[2016-03-13 05:09] #2251 closed

[2016-03-13 09:26] kinware opened #2258 "[Feature request] Add support for NETWM_FULLSCREEN_MONITORS allowing i3 to use multiple monitors inside a VMware virtual machine"
For people running i3 under a virtual machine in VMware multiple monitors does not work.The reason seems to be that VMware uses the NETWM_FULLSCREEN_MONITORS window manager hint instead of using xrandr.

Googling a bit on this seems to indicate that other window managers have added support without too much trouble, but I don't know how this applies to i3. The partial "Xinerama" support in i3 might

[2016-03-13 14:19] Airblader commented on #2258
I am 100% certain that we talked about this before, but I can't seem to find it right now. It may have been on the mailing list? Anyway, one problem I remember was this:

How do we get those indices without Xinerama? Xinerama is outdated and while i3 does support it as a fallback, we generally want to use randr. So how do we get those indices without using Xinerama?

The second problem is that we

[2016-03-13 17:08] gerrard00 commented on #1197
Let me add one more voice of support for this feature. I personally prefer the config.d approach instead of include statements so that I have the flexibility of having different numbers of included files on different machines. That said, any implementation would make my life much simpler. i3 is currently the only software in my core set of tools where I can't easily customize my standard configura

[2016-03-13 18:11] lkraav commented on #905
Hello dear upstream. While window icons was not accepted to core, perhaps I could request some insight into what has changed in i3-4.12 API, so that https://github.com/ashinkarov/i3-extras/pull/32 patch doesn't easily build anymore even after a relatively sane rebase run? Could someone here take a look?

[2016-03-13 18:59] stapelberg commented on #1197
I haven’t tested this yet, but I think having the following structure could work for in-place restarts:

[code]

In your config, you can then use `bindsym $mod+x exec ~/.bin/concat-config && i3-msg reload` instead of the default `reload` binding (in fact, the script could likely do that for you). With regards to concat-config itself, it could be as simple as:

[code]

My observation is that in oth

[2016-03-13 19:04] stapelberg commented on #905
I think the discussion in the issue you referenced captures the issue pretty well.

[2016-03-13 21:30] Airblader commented on #2258
Duplicate of #2116

[2016-03-13 21:30] #2258 closed

[2016-03-13 22:24] herbygillot opened #2260 "[enhancement] [feature request] Switch back and forth between monitors/outputs"
Hi all, apologies for opening a pull request before opening this enhancement issue:

I'm looking to add the ability to switch back and forth between monitors, similar to the workspace back and forth switching.  With this feature, you can easily move rapidly between monitors while keeping the workspace sequence independent in the situation where you want workspace back and forth to switch different

[2016-03-14 10:53] theOtherNuvanda commented on #2255
@Airblader as one can see from the pictures I have already disabled the decorations within the GNOME apps. However that does not add any decorations in i3 (at least not for me). How does i3 determine whether an application should have window decorations? Could you link me to these specifications? I did search the web before posting here, but was unable to find anything that looked promising.

[2016-03-14 12:36] josswright commented on #1197
I would argue that 'other programs offer this feature' doesn't fully capture the point being made. It's better expressed as "lots of other feature-lean programs consider this a well-motivated core part of their configuration, and it has a well-documented history of use in those". It's not a fundamental reason by itself, but it points to a pretty broad agreement across the unix software ecosystem t

[2016-03-14 13:26] Airblader commented on #2255
@theOtherNuvanda `_MOTIF_WM_HINTS`, for example.

[2016-03-14 16:51] schreq opened #2261 "Persisting placeholder style after swallowing a window"
Output of `i3 --moreversion 2>&- || i3 --version`:

i3 version 4.12-8-g960e638 (2016-03-09, branch "branch-next")

URL to a logfile as per http://i3wm.org/docs/debugging.html:

http://logs.i3wm.org/logs/5675214360805376.bz2

**What I did:**

I saved and applied a layout, opened a terminal which gets swallowed by a placeholder.

**What I saw:**

The placeholder style persists and swallowed windows

[2016-03-14 19:36] theOtherNuvanda commented on #2255
Thank you! That helped me alot :)

[2016-03-15 13:52] Airblader commented on #2248
@ixjlyons @psychon I'm currently on 1.17.4. I don't necessarily want to compile X myself while on vacation, so I can wait for 1.18 to ship in Manjaro or someone tries the downgrade. :)

[2016-03-15 19:30] aacebedo opened #2262 "Hidden window not centered when appearing"
Output of `i3 --moreversion 2>&- || i3 --version`:

Binary i3 version:  4.12 (2016-03-06, branch "4.12") © 2009 Michael Stapelberg and contributors
Running i3 version: 4.12 (2016-03-06, branch "4.12") (pid 1500)
Loaded i3 config: /home/aacebedo/.i3/config (Last modified: sam. 06 févr. 2016 10:00:16 CET, 3320602 seconds ago)

The i3 binary you just called: /usr/bin/i3
The i3 binary you are running:

[2016-03-15 19:59] Airblader commented on #2262
CC @ManuelSchneid3r

Looking both at your logfile and mine when I reproduce it, it's very clear that the window is sending configure requests to be positioned at `(0, 0)`. I then reproduced it while running albert under x11trace and when showing the window this is what happens (`x11trace albert | grep --linebuffered -i configure`):

[code]
000:<:01c5: 16: Request(12): ConfigureWindow window=0x0200

[2016-03-15 19:59] #2262 closed

[2016-03-15 20:00] ixjlyons commented on #2248
Downgrading to pre-1.18 is pretty daunting, at least for me -- I'm not sure I understand the dependency structure well enough to avoid screwing things up. I took a quick shot at it by modifying the `xorg-server-dev` package from the AUR to install 1.17.4, but 1.18.0 brought quite a few changes with the dependencies, at least in the way arch packages them anyway. I think this is about the limit to

[2016-03-15 20:07] Airblader commented on #2248
@ixjlyons I understand, no worries, you've been a great help already. I might set up a VM at some point and install 1.18 to see if I can reproduce the issue.

@psychon If X is at fault, *any* program drawing with pure black should be broken, no? That should be easy enough to verify with @ixjlyons's help.

[2016-03-15 20:09] Airblader commented on #2248
Actually, we have already seen that the background color in i3bar doesn't have this problem, so maybe it might be a problem in pango?

[2016-03-16 08:11] ManuelSchneid3r commented on #2262
Thank you for pointing this out. This happens even if I use fixed values for QWidget::move so it has to be a Qt bug. I'm just curious why it works with awesome.

[2016-03-16 08:48] psychon commented on #2248
Since `CAIRO_DEBUG=xrender-version=-1.-1` makes the problem go away, it has to be in something "in or after cairo". If Pango were giving the wrong values to cairo, then that environment variable wouldn't make a difference. So this should either by a bug in some xrender-specific code path in cairo or in the X server (where RENDER's CompositeGlyphs request somehow is optimized away, or something lik

[2016-03-16 15:53] Airblader commented on #2262
Even with the instructions I can't reproduce this reliably, so it seems to be some sort of race condition, perhaps? Also, things like which atoms the window manager claims to support might make a difference. But either way, I suggest filing this bug against QT.

[2016-03-16 21:15] aacebedo commented on #2262
@ManuelSchneid3r Can you help me to fill the bug on QT tracker ? you are more familiar with your code than me and will be more efficient to explain how you use the QT window.

[2016-03-18 16:55] MotifX commented on #1715
Links don't work.
When can i3 be ported to support Wayland?

[2016-03-18 17:05] Airblader commented on #1715
i3 will not be ported to Wayland because it's code is too tightly connected to X. At that point it'd be a rewrite. There's sway which is a config compatible rewrite for Wayland.

[2016-03-18 19:44] Chr1stoph commented on #2141
First thank you for i3!
If I am not wrong the 114 behaviour did not appear in the past. In my config the relevant lines are as below:

\# alternatively, you can use the cursor keys:
bindsym $mod+ISO_Level3_Shift focus left
bindsym $mod+Super_R focus down
bindsym $mod+Print focus up
bindsym $mod+(null) focus right

With a current i3-config-wizard I get an incomplete config file, too.
It might be re

[2016-03-18 21:40] terminalmage opened #2263 "In tabbed mode, windows underneath transparent windows do not update"
Output of `i3 --moreversion 2>&- || i3 --version`:

Binary i3 version:  4.12 (2016-03-06, branch "4.12") © 2009 Michael Stapelberg and contributors
Running i3 version: 4.12 (2016-03-06, branch "4.12") (pid 26404)
Loaded i3 config: /home/erik/.config/i3/config (Last modified: Wed 16 Mar 2016 08:27:28 PM CDT, 157951 seconds ago)

The i3 binary you just called: /usr/bin/i3
The i3 binary you are runni

[2016-03-18 21:57] Airblader commented on #2263
That's because we set `_NET_WM_STATE_HIDDEN` on the window and the application picks up on it. It doesn't have anything to do with the compositor, just with the application itself.

My recommendation would be to completely hide windows in tabbed containers if they're not visible, that seems to make the most sense to me. That way, this feature actually saves you battery. ;)

This is working as inte

[2016-03-18 21:57] #2263 closed

[2016-03-19 01:46] Airblader commented on #2263
Just for completeness sake, you can do what I recommended above in compton via

[code]

[2016-03-19 03:35] terminalmage commented on #2263
I configured as you said and noticed no perceptible difference in battery life.

I patched and rebuilt with the line where ``_NET_WM_STATE_HIDDEN`` is set commented out, and once again, no perceptible difference in battery life.

Thanks for the additional information, which allowed me to fix this on my own.

[2016-03-19 17:33] acrisci commented on #2199
This is actually an issue that I saw more than I expected to in IRC. It's actually easy to forget to install a terminal on a fresh install of the OS.

[2016-03-21 18:42] stapelberg commented on #1197
Thanks for the thoughtful response!

wmii uses a somewhat similar approach in that they have a shell script which implements an event loop over keypress events and then sends commands to the window manager. One of the ways in which i3 aims to be better than wmii (its spiritual predecessor) is to not use such a design because of the observation that computers under heavy load become really sluggish

[2016-03-21 18:51] stapelberg commented on #2260
I think this is a duplicate of #2118. Your PR provides only part of what was discussed there, but I don’t think it’d be fair to accept your special case while rejecting further back-and-forth functionality in general.

Hence, I’m closing this enhancement request in favor of having this functionality in external scripts.

[2016-03-21 18:51] #2260 closed

[2016-03-21 19:07] stapelberg commented on #2141
@Chr1stoph I don’t have time to investigate this issue at the moment, but let me remark that I’d prefer it if we could fix it upstream instead of with a FreeBSD-specific patch — IIUC, you’ve been posting patches in the FreeBSD bugzilla, and it’d be great if you could instead send a pull request for i3 itself :). Thanks!

[2016-03-21 19:22] herbygillot commented on #2260
I understand where you're coming from, but this change does not aim to change workspace back_and_forth in any way.

It simply aims to provide one command for taking focus back to the last output you were focused on, which is a straightforward case that happens often enough when using i3.

It's meant to be a simple command that does what it says on the tin, and the user will use it how he or she wi

[2016-03-21 19:26] stapelberg commented on #2260
Yes, I realize that.

I consider back-and-forth to be an orthogonal feature that could be applied to many different commands that i3 offers, so it doesn’t matter that this feature doesn’t change the “workspace back_and_forth” command specifically, it’s still a change related to back-and-forth.

[2016-03-21 19:28] herbygillot commented on #2260
Understood. Thanks for taking a look.

[2016-03-21 20:07] Chr1stoph commented on #2141
@stapelberg I have tried to make a pull request as https://github.com/i3/i3/pull/2267 but it was not successful. Fortunately @Airblader closed that.  Please excuse the trouble. @Airblader told me that hat patch does not match the ideas as in the ticket discussion above. Now I am not sure how to proceed.

[2016-03-22 06:57] ixjlyons commented on #2248
Ok, I think I've figured out a way to run i3bar on an xtrace server. Here's what I did:

* update i3 to d68387b
* hard-code `":9"` for the display name in the call to `xcb_connect` [here](https://github.com/i3/i3/blob/d68387bf5d73446765d323e2065f4c71fadfc245/i3bar/src/xcb.c#L1194)
* set this hacked i3bar as `i3bar_command` in i3 config, create a minimal status command so i3bar contains very little

[2016-03-22 13:06] TheLQ commented on #1197
Perhaps such an involved process could be put in the documentation or wiki as a starting point? This is the first time I've seen an approach like this and its not exactly obvious that the user needs to take all these steps

1) Make the script `~/.i3/concat-config`

[code]

2) Change your config from `bindsym $mod+Shift+c reload` to `~/.i3/concat-config && i3-msg reload`. (what about restart?)

3)

[2016-03-22 15:11] AndersenJ opened #2268 "Enhancement: Cygwin build"
Since this is my favorite window manager, it would be really nice to have a build to use with Cygwin. People have done this with XFCE, Openbox, and other projects, so it should be doable. I would do it myself, but quickly discovered I have no clue what I'm doing.

[2016-03-22 16:13] Airblader commented on #2248
The files look good to me, thank you for going through the trouble of this. :) Unfortunately I'm not familiar with RENDER myself. @psychon is going to look at it, I hope.

[2016-03-22 19:49] acrisci commented on #2268
I've built i3 on cygwin before. It should be doable.

The question is though, how useful would it really be? Is anyone actually running X on a windows as their desktop? Last time I looked into doing that, it seemed very limited.

[2016-03-23 08:40] stapelberg commented on #2268
I’d sure appreciate an external cygwin build for people who are interested, but we won’t have an official cygwin build. AFAIK, none of our core contributors use cygwin regularly, so we don’t have the manpower to support it.

[2016-03-23 08:40] #2268 closed

[2016-03-23 22:00] memeplex opened #2270 "[RFE] Option to avoid hiding border with indicators"
The 0 pixel and `hide_edge_borders` can hide indicators. This may not be desirable (it's specially arbitrary with `hide_edge_borders` since depending on the position of the window the indicator is shown or not). As the indicator conveys more information than a mere border I suggest to add an option to force showing the indicator (split) border.

`i3 version 4.11 (2015-09-30, branch "4.11") © 2009

[2016-03-24 17:01] Cynerd opened #2271 "Mouse buttons 11-14 bindsym not working"
Since I updated to version 4.12 from 4.11 all my mouse bindings for buttons 11-14  stopped working. Basic mouse buttons bindings works, only those additional doesn't. Log here is with new config file with just `bindsym --whole-window button11 exec --no-startup-id xterm` added. What I mean stopped working is that xterm is not started.

[code]

`http://logs.i3wm.org/logs/5738275486564352.bz2`

[2016-03-24 18:13] Sohalt commented on #2118
Has anybody written a script that does this via IPC?
This is exactly the behavior I'm looking for with back_and_forth in a multi monitor setup.

[2016-03-24 18:16] Airblader commented on #2271
If you add a binding

    bindsym --whole-window button4 nop

Does the `button11` binding work then?

[2016-03-24 22:31] Cynerd commented on #2271
I will try. I am until Tuesday away from my setup with that mouse, so I will inform you after that.

[2016-03-25 18:09] psychon commented on #2248
Thanks a lot @ixjlyons
Some hand-editing later (removing irrelevant differences), the diff between those two files is down to https://gist.github.com/psychon/f7b4d87340b204de580f. The UNKNOWN request in the diff is CreateSolidFill (xtrace doesn't support RENDER version 0.10?!?) creating picture 0x00a00014 with color red=0, green=0, blue=0x1010, alpha=0xffff (`#000010ff` in HTML-notation).

I'll ha

[2016-03-26 15:58] jolange commented on #1993
I also noticed this error the other day and I think this should be fixed, because someone who does not look into the reasons for the build failure will think that the code is broken and maybe not see the trivial fix for this.

I have implemented this by checking if `.git` exists.

So you want the version file to be added/updated for every release? This would mean that any development version would

[2016-03-27 10:57] charlesvdv opened #2272 "Weird behavior when accessing a specific workspace"
Hi !

Output of `i3 --moreversion 2>&- || i3 --version`:

Binary i3 version:  4.12 (2016-03-06, branch "4.12") © 2009 Michael Stapelberg and contributors
Running i3 version: 4.12 (2016-03-06, branch "4.12") (pid 27256)
Loaded i3 config: /home/charles/.config/i3/config (Last modified: Sun 27 Mar 2016 12:33:28 PM CEST, 512 seconds ago)
The i3 binary you just called: /usr/bin/i3
The i3 binary you are

[2016-03-27 11:43] psychon commented on #2248
@ixjlyons Could it be that you had some tray icons while recording the trace with color "#000000", but none for the trace with "#000001"? Or some different workspaces-something? The trace for "#000000" also paints something with colors like "#2b2e37", "#58697d" and draws a single character to it. The other trace doesn't do anything like that.

This would account for most of the difference between

[2016-03-27 11:46] jolange commented on #2272
You have scratchpad [bindings](https://github.com/charlesvdv/dotfiles/blob/master/.config/i3/config#L120-L125) for `minus`. Quickly searching for french keyboard layout revealed that a minus is `Shift+6`, right? I bet it's related to that binding. Can you try it with those lines removed?

[2016-03-27 11:49] charlesvdv commented on #2272
It works ! Thanks a lot ! And sorry for the useless issue :/

[2016-03-27 14:33] akhilman opened #2273 "Support _NET_WM_STATE_FOCUSED"
Output of `i3 --moreversion 2>&- || i3 --version`:

i3 version 4.12 (2016-03-06, branch "4.12") © 2009 Michael Stapelberg and contributors

**What I did:**

Run any gtk3 app with client side decoration like Nautilus or Evince. Make window floating, Move focus to this window and move out.

**What I saw:**

Window decoration stays like window is focused.

**What I expected instead:**

Window decorat

[2016-03-27 15:39] Airblader commented on #2273
We don't really have a reason to support this atom since we don't group windows like that. Since we don't claim to support this atom, the bug is in Gnome which should have a reasonable fallback behavior. That's what _NET_SUPPORTED is for, afterall.

I also don't mind supporting it, personally, though.

[2016-03-27 16:04] Airblader commented on #2272
I suppose I can close this then.

[2016-03-27 16:04] #2272 closed

[2016-03-27 16:58] ixjlyons commented on #2248
Whoops, I had tray output disabled for both cases, but those colors correspond to my workspace buttons. I didn't think to disable them for the test (though I did make sure I only had 1 workspace active if I remember correctly). I don't understand why it would be in one of the files and not the other, though.

I re-ran the tests where the only things rendered are the bar itself (color `#2b2e37`) an

[2016-03-27 17:49] acrisci commented on #2273
It's in _NET_WM_STATE

https://specifications.freedesktop.org/wm-spec/wm-spec-latest.html#idm140200472615568

[2016-03-27 17:58] Airblader commented on #2273
Yes, but each atom in there must be explicitly listed as supported. And this one currently isn't.

[2016-03-27 18:06] acrisci commented on #2273
I'm not arguing. I'm just making a note because I'm going to work on this next week.

[2016-03-27 20:33] Airblader commented on #2273
Ah, alright. Cool. While you're on it, maybe you want to fix WM_TAKE_FOCUS? ;)

[2016-03-27 20:36] chaseadamsio commented on #2060
I was having the same problem in the past few days. I just upgraded my NixOS channel and saw that there was a version bump to 0.9 to 1.0, so the spotify-beta version is def. the right direction for investigation. Thanks for suggesting @Airblader.

[2016-03-27 20:49] acrisci commented on #2273
Tell me the issue or make a new one and I'll take a look at it. I did a lot of work on that awhile ago.

[2016-03-27 20:55] Airblader commented on #2273
@acrisci It's #1784. You'll have to scroll a while to see what the issue is.

[2016-03-28 01:13] Airblader commented on #2248
@psychon Do you have an explanation for why we can track this down to a specific i3 commit? Is it because it changes the way cairo optimizes the calls?

Also, is there anything we can do to workaround this issue for now?

@ixjlyons What video driver are you using?

[2016-03-28 05:05] ixjlyons commented on #2248
@Airblader Tests were done with xf86-video-nouveau 1.0.12. Note that I can reproduce the issue with xf86-video-ati 7.6.1.

[2016-03-28 12:04] japhir opened #2274 "i3 freezes when I drag a chrome tab to a new window that is assigned to a different workspace"
Output of `i3 --moreversion 2>&- || i3 --version`:
Binary i3 version:  4.12 (2016-03-06, branch "4.12") © 2009 Michael Stapelberg and contributors
Running i3 version: 4.12 (2016-03-06, branch "4.12") (pid 1605)
Loaded i3 config: /home/japhir/.config/i3/config (Last modified: Sun 27 Mar 2016 10:33:11 PM CEST, 55538 seconds ago)

The i3 binary you just called: /usr/bin/i3
The i3 binary you are runni

[2016-03-28 12:14] Airblader commented on #2274
Does i3 freeze or Chrome? As in, can you still switch to other workspaces?

[2016-03-28 13:22] japhir commented on #2274
I've just experimented a little.

It seems like the workspace that has the old chrome on it freezes (doesn't respond to any mouse input) but switching workspaces with the keyboard still works.
If I switch back to the old workspace it doesn't render properly, showing the other workspace I just visited.
Furthermore, if the workspace I'm automagically sending the new window to is already in focus it

[2016-03-28 13:58] Airblader commented on #2274
I'm convinced that this is a duplicate of #1751, hence closing. This *might* have to do with broken WM_TAKE_FOCUS handling, but could just as well be a bug in Chromium. Either way, we have an issue for it already.

[2016-03-28 13:58] #2274 closed

[2016-03-28 16:40] psychon commented on #2248
@Airblader I can't explain that and I have a hard time following this code. The guilty commit removes some alpha support, but the debug patches floating around print alpha values...? All I can say is that `cairo_set_source_rgb(c,r,g,b)` is implemented as `cairo_set_source_rgba(cr,r,g,b,1)`, so if that patch that was bisected above really makes a difference, you were not using alpha 1 before.

@ixj

[2016-03-29 07:57] stapelberg commented on #2141
Describing the status quo by quoting from your pull request:

Describing the intended state by summarizing the discussion in this issue:

* the resulting configuration file should contain an explanatory comment above the binding(s) which couldn’t be converted
* i3-nagbar should be spawned to inform the user about the conversion failure

The path forward to fix this issue is to come up with a pull

[2016-03-29 12:48] Cynerd commented on #2271
That additional binding fixed it.

[2016-03-29 21:01] kler opened #2275 "VirtualBox Seamless mode renders no window title, menu nor i3bar"
Hello

First, thank you very much for what seems to be an excellent and rather easy to understand tiling window manager! So far I’m just trying it out, but it looks very promising!

Output of `i3 --moreversion 2>&- || i3 --version`:

URL to a logfile as per http://i3wm.org/docs/debugging.html:

http://logs.i3wm.org/logs/5661458385862656.bz2

**Additional software version information:**

- VirtualB

[2016-03-29 21:04] Airblader commented on #2275
Can you please check whether the seamless window is simply floating or fullscreen? This could explain both missing window titles and hiding i3bar.

Missing window decorations could also be requested by the window. Please provide the output of `xprop` when selecting the seamless window.

[2016-03-29 21:07] Airblader commented on #2271
Thanks, I suspect it's what I described above then. I'll try to provide a patch for this soon.

For the other issue you mentioned: from the top of my head I can't remember a specific change here, but I'd say this new behavior is better. @stapelberg What do you think?

[2016-03-29 22:54] Airblader commented on #2271
@stapelberg We could also just grab *exactly* those buttons that we need to grab. But it would force us to ditch the XCB constants and use simple integers instead (`XCB_BUTTON_INDEX_1` → `1`) since constants only exist for up to `_5`. This seems to be the case for Xlib as well.

[2016-03-30 04:58] kler commented on #2275
The window is not floating, nor is it fullscreen.
It's just filling up the whole area.

I've attached screenshots of four xcalc running to make it more clear.

**This is the xprop output of the top left xcalc instance:**

[code]

**Screenshots:**

**Failing** - VirtualBox's Seamless mode:
<img width="1440" alt="failing - virtualbox seamless mode" src="https://cloud.githubusercontent.com/assets/966

[2016-03-30 06:07] Airblader commented on #2130
The library is soon going to come to a first release. Given that implementing this forces the various distributions to package it, should we maybe implement this with a compile flag for now that we remove in the next release? That gives them some time and is also easier for people building i3 from source.

[2016-03-30 06:47] stapelberg commented on #1197
I’d be happy to accept a user-contributed documentation article (see https://i3wm.org/docs/) about this subject.

[2016-03-30 06:51] stapelberg commented on #2270
I see where you’re coming from, but I don’t think the additional mental complexity and code complexity is worth the marginal benefits in this edge case. I’d prompt you to make a decision: either save that 1 pixel of border, or enjoy the additional information that can be provided if the border is available.

[2016-03-30 06:51] #2270 closed

[2016-03-30 07:13] stapelberg commented on #1993
For release tarballs, the version should be the release version, e.g. `4.12`.
For non-release tarballs, the version should be the release version with a suffix, e.g. `4.12-unknown`.
For git checkouts, the version should stay as it currently is, e.g. `4.11-215-gf14a940`

[2016-03-30 07:28] stapelberg commented on #2275
I think seamless mode might just not understand how i3 renders window decorations (on the parent window), hence they don’t show up.

@Airblader, you asked a while ago if we could change how we render things, and supporting seamless mode better might be a good justification for such a change (provided it doesn’t break anything else of course).

[2016-03-30 07:29] Airblader commented on #2275
I'll gladly take any additional reason. :) I just have to pick up working on this again at some point.

[2016-03-30 07:30] stapelberg commented on #2271
Agreed.

That’s fine.

[2016-03-30 07:49] stapelberg commented on #2130
In general, I dislike conditional compilation. In particular, I’d want to avoid releasing a version of i3 in which this feature is available or not depending on the libraries that were available at compile time. I think that’d lead to plenty of confusion.

I think the packaging for Debian and Arch could be done pretty quickly. Having the library available in Debian will also allow us to use it in

[2016-03-30 07:54] Airblader commented on #2130
I wouldn't have made it dependent on the availability of the library on the user's system, but as a hard flag on whether to include this in the build or not. We could also add a note to the userguide in the meantime as well as add this information to `i3 --more-version`. We don't often depend on new libraries and even less so on *new* libraries, so I think this would be reasonable.

Giving the pac

[2016-03-30 09:30] psychon commented on #2130
Random suggestion: Make awesome-git depend on this library before i3 does so. Awesome is bad at doing releases, so this doesn't cause that much trouble and I don't mind the random breakage (we are in bumpy times anyway). This won't cover many distros, I fear, but I bet that at least Arch would "automatically" pick up the library, just because awesome-git depends on it.

@Airblader I'd like to take

[2016-03-30 09:35] Airblader commented on #2130
I'd absolutely love for someone (or multiple people) to peer-review the library first. I don't have much of a timeline. I'll open an issue for this in the repository. I'll add @stapelberg as well in case he wants to review it at some point. I'll also inform the Xorg mailing list about the peer review.

[2016-03-30 12:59] KaseiWang commented on #1175
Same issue here. Removing mpd status can fix it. But what confused me is, after I removed mpd status and i3bar works, I readd mpd status to conky config, now i3bar show mpd status normally.

[2016-03-30 14:50] layus opened #2276 "Crash at startup with multiple monitors."
Output of `i3 --moreversion 2>&- || i3 --version`:

Binary i3 version:  4.12-17-g84c39a1 (2016-03-30, branch "next") © 2009 Michael Stapelberg and contributors
Running i3 version: 4.12-17-g84c39a1 (2016-03-30, branch "next") (pid 989)
Loaded i3 config: /home/gmaudoux/.i3/config (Last modified: mer 30 mar 2016 16:16:31 CEST, 648 seconds ago)

The i3 binary you just called: /usr/bin/i3
The i3 binary

[2016-03-30 14:55] Airblader commented on #2276
Since i3 crashes, can you provide a backtrace? You'll need to run a build with debug symbols (e.g., by using the self-compiled i3). Further instructions can be found in #2269.

But this only affects Firefox? Are you running a compositor? If so, does it still happen if you don't run it?

Do you mean `append_layout`? Please open a separate issue for this.

[2016-03-30 15:22] ixjlyons commented on #2248
Sorry for the delay, @psychon that code indeed produces white lines over the yellow square.

[2016-03-30 15:23] layus commented on #2276
Here comes the backtrace:
[code]

[2016-03-30 15:27] psychon commented on #2248
I don't mind the delay, I don't have this issue. I just tried on another computer and I cannot reproduce this here either. I guess we now have two figure out where the bug is.

@jamespanda Could you try the code from the previous-previous comment?

I'll see if I can resurrect my Arch-laptop and reproduce the problem there (both before and after upgrading things), but I will surely forget to do so

[2016-03-30 15:30] Airblader commented on #2248
I'll attempt to summarize:

* It's not an i3 bug since the code above reproduces the problem.
* it's not a cairo bug because of the trace logs
* a video driver bug seems unlikely since we see this issue with multiple drivers

Is it maybe a bug in Xorg itself?

[2016-03-31 14:00] Airblader commented on #2276
Yeah, I too think this is a race condition here. Thanks for the backtrace.

[2016-03-31 19:25] Chr1stoph commented on #2141
Dear @stapelberg

Should it be similar to the mechanism when there is an error deteted in the i3 config file?

With the current work around i3 works put outputs an error message at the end. Shall the non working bindings be commented out in the configuration file? Or shall they be kept because the messages are an additional reminder for the user?

I think about what should trigger i3-nagbar. When

[2016-03-31 19:46] Airblader commented on #2141
Yes.

No. We discussed this before (see previous comments) and decided against it. We want the user to be reminded everytime, otherwise they might forget.

I can't think of any reasonable motivation to keep a broken binding. It won't work anyway, so the user can just delete it or comment it out. This is, afterall, a broken configuration and i3-nagbar exists exactly to nag the user about such cases

[2016-03-31 20:10] Chr1stoph commented on #2141
Dear @Airblader,
thank you for the information. This is crystal clear and consistent. I should have asked a dictionary for nag earlier. I hope I can contribute a little bit but it will take me some time since I am not a professional programmer. Your idea is straightforward. This makes it easier.
Thanks and kind regards,
Christoph

[2016-03-31 20:11] Airblader commented on #2141
Take your time. Thanks for contributing. :)

[2016-04-01 05:30] psychon commented on #2248
I cannot reproduce this on my other laptop with Arch linux, so let's make a summary:

Cannot reproduce:
- @psychon Arch (up to date), Intel graphics (I can provide more details if needed), X.org 1.18.1 & 1.18.2
- @Airblader Majaro, X.org 1.17.4 (feel free to edit this comment and add more information

Can reproduce:
- @jamespanda FreeBSD, xf86-video-ati
- @ixjlyons Arch, X.org 1.18.1, xf86-video-n

[2016-04-01 07:03] stapelberg commented on #2130
That doesn’t change my take on it.

I feel like that’s too much mental complexity for our users.

It’s good enough to make it a smooth ride for most of the systems, we can’t realistically cover all of them.

People who compile software from source can also compile libraries from source. i3’s take on compiling from source has always been a firm “don’t do that, use your distro’s packages or our auto

[2016-04-01 07:32] Airblader commented on #2248
I just had a coworker try this as well who is running Arch. No luck reproducing it there either. Frankly I still think a bug in Xorg / the X extension is a more likely candidate. If it was a general video driver bug, this bug would be flooding the bugtrackers.

[2016-04-01 07:35] Airblader commented on #2130
OK. :) Let's send out a heads up once the library is released.

[2016-04-01 08:18] jamespanda commented on #2248
![2016-04-01-161612_1440x900_scrot](https://cloud.githubusercontent.com/assets/14955228/14201546/3f7e5984-f825-11e5-978b-cbece094ab0e.png)
Yes,white text

[2016-04-01 09:35] psychon commented on #2248
Thanks everyone. With the help of MrCooper from IRC I think I have found the problem.
I reported it upstream: https://bugs.freedesktop.org/show_bug.cgi?id=94775
Basically, some part of the server (that is used only by some drivers, EXA) always assumes operator OVER.

[2016-04-01 09:45] Airblader commented on #2248
Great, thanks for the link and support. :) I'll be closing this bug here now that a report exists in the correct tracker.

[2016-04-01 09:45] #2248 closed

[2016-04-01 09:54] jamespanda commented on #2248
thanks a lot

[2016-04-01 13:07] jamespanda commented on #2248
the patch works
![2016-04-01-210420_1440x900_scrot](https://cloud.githubusercontent.com/assets/14955228/14207585/9dba38b0-f84d-11e5-8b78-6ccc29733368.png)
![2016-04-01-210446_1440x900_scrot](https://cloud.githubusercontent.com/assets/14955228/14207584/9db2cc74-f84d-11e5-9866-4ae81bcfc059.png)

[2016-04-01 13:43] Airblader commented on #2248
@jamespanda Thanks for letting us know. Since we don't actually track this, it's better to give this feedback upstream where the patch needs to be applied. I've commented there for now that you reported it to work, though. :)

[2016-04-02 12:09] 8carlosf commented on #2276
I also have some problems with xrandr, if I run this function

[code]

i3 crashes, mouse still moves but I can't do anything. The interesting part is, if I use the GUI arandr, everything runs smooth. Also, if I run the commands 1 by one _sometimes_ i3 doesn't crash.
Weird stuff, maybe related to recent changes in xrandr (btw, I'm using i3 version 4.12 (2016-03-06, branch "4.12").

[2016-04-02 12:12] Airblader commented on #2276
@8carlosf In order to know whether it's the same issue as here or not, you'll need to pull a backtrace.

That doesn't sound much like i3 crashing. If i3 crashes, it'll usually show a crash dialog. If that doesn't render correctly, you will still only be able to move the mouse within a very small rectangle in the center of the screen.

If i3 crashes without showing the dialog, either your entire X

[2016-04-02 12:58] 8carlosf commented on #2276
@Airblader I think you are right. i3 doesn't crash, it's something weird, not sure what yet.
Sorry to bother, keep the good work!

[2016-04-04 12:17] mgoral commented on #1197
If having config.d is basically equal to doing `cat i3/config i3/config.d/*` then what about the order of files inside config.d? Can they depend on each other?

For example, I'd like to have the following layout:

[code]

It is clear that these cannot be read in any predefined order and wil eventually lead to init-like hacks (by requiring some users to have files like `00_variables.cfg, 10_movemen

[2016-04-04 12:27] Airblader commented on #1197
We don't want the kind of complexity an init system provides, so I think a naming mechanism to achieve a specific order is perfectly fine. There'll never be "systemd for i3 configs". :)

[2016-04-04 13:26] teto commented on #1668
I recently replaced urxvt with termite and tried again using layouts. I haven't enabled i3 debug but termite seems to behave like urxvt, thus windows aren't swallowed :'(

[2016-04-04 14:13] mgoral commented on #1197
Hmm... I gave it more thoughts and I'm starting to think that there's no good reason to implement
this feature at all because it's extremely easy to achieve any behaviour we like with `i3 -c`.  I'll
explain it below, first let me go through the flaws of proposed designs:

config.d:
- user would have to remember that i3 loads contents of this directory in a particular order (so
  user would have to

[2016-04-04 14:22] Airblader commented on #1668
Is there any reason why you need to match on the title? I think in most cases it should be possible to match on class and instance and start the terminals accordingly.

[2016-04-04 14:25] Airblader commented on #1197
I think you're making an excellent point. But beware of #1558. But as far as this issue goes, I agree that maybe we should just decide against this now. Even ordering the files is totally possible that way. So there's really no advantage of implementing anything.

[2016-04-04 14:53] alexmcnurlin commented on #1668
If I launch a Firefox window with a specific url, the title doesn't get set
until the page loads. As a result, my layout restore always puts the
Firefox Windows in the wrong spot.
On Apr 4, 2016 07:22, "Ingo Bürk" <notifications@github.com> wrote:

[2016-04-04 14:57] teto commented on #1668
Similarly, I want my terminals to start in specific directories. This is done with "termite -d $HOME/myrep" or "urxvt -cd $HOME/toto". I suppose I could do without the match on title and launch the terminals in the same order as I want  them swallowed. Could concurrency problems mess up the order if late terminals spawn before others ?

[2016-04-04 15:07] Airblader commented on #1668
I realize what you want to do, but you don't need to use the title to match on. Just match on class and instance and start the application accordingly. For example, start urxvt with

    urxvt -name foo

And match via

    class: "(?!)urxvt"
    instance: "foo"

[2016-04-04 16:38] TheLQ commented on #1197
My issue is "change everything else that starts i3" or "change how you start i3 from your distro way to ~/.Xsession" is not simple nor user friendly. It's like if nginx said "To add a site, edit `/etc/init.d/nginx` on Ubuntu <14 and find this text here inside the case, edit /etc/init/nginx on Ubuntu >14 at this text here, /etc/default/nginx on $otherOS at this text here..., if you want templates w

[2016-04-04 16:47] Airblader commented on #1197
While I somewhat see your point, it does not outweigh the benefit of not adding unnecessary complexity in my eyes. This is a perfectly fine Unix way to do things and I see no reason not to do that. We also don't aim to be nginx and you should keep in mind that those projects usually have way more manpower to add all kinds of features and maintain them. I also think your comparison is a little much

[2016-04-04 16:49] Airblader commented on #1197
On a related note, if your distro doesn't allow you to start i3 with the parameters you want to, I see that as a weakness in your distribution. It should allow you to start application with whatever parameters you want to start it.

[2016-04-04 17:51] teto commented on #1668
With termite I can override the role with "-r". I tried modifying the i3-save-tree output with matching "role" and it works as expected.
I leave this open as I think it would still be nice to have.

[2016-04-04 18:00] mgoral commented on #1197
Good point. I can see how it can be problematic to reload configuration/restart i3 with process substitution (via e.g. `i3-msg reload`). Essentially it creates a fifo pipe, which is not seekable so you cannot re-read it. The unix way in that case would be probably to kill process and restart it, but from i3 point of view this would be regression. I guess things like that are among the reasons why

[2016-04-06 08:02] richarddewit commented on #1148
I'd like this! :+1:

[2016-04-06 10:53] cornerman opened #2280 "i3 freezes when ipc client becomes unresponsive"
Output of `i3 --moreversion 2>&- || i3 --version`:

Binary i3 version:  4.12-21-g66d9c98 (2016-04-04, branch "next") © 2009 Michael Stapelberg and contributors
Running i3 version: 4.12-21-g66d9c98 (2016-04-04, branch "next") (pid 16730)
Loaded i3 config: /home/cornerman/.i3/config (Last modified: Wed 06 Apr 2016 01:41:05 PM CEST, 32 seconds ago)

The i3 binary you just called: /usr/bin/i3
The i3 b

[2016-04-06 11:22] Airblader commented on #2280
This is a duplicate of #1876, but we now have an actual case where this causes problems. And it sounds like a reasonable case to me. @stapelberg What do you think?

[2016-04-06 18:54] stapelberg commented on #1197
I’m removing the “accepted” label because it has become clear during the discussion that we don’t currently want to merge a config.d implementation into i3.

I see a couple of things that can be done in order to move this issue forward, for people who are interested in the subject:

* Write a user-contributed documentation article describing how to concatenate/assemble a configuration file from pa

[2016-04-06 18:54] #1197 closed

[2016-04-06 19:28] stapelberg commented on #2280
One solution might be to re-architect the status line generator in such a way that the part which receives IPC events from i3 is in a separate process that is never SIGSTOP'ed. I’d recommend that for now, simply because it’ll work right away.

With regards to addressing this in i3, I’m not sure what all the possible ways to address the issue are. Some thoughts, feedback welcome:

* Just stopping t

[2016-04-07 12:01] cornerman commented on #2280
Yeah, fixing the statusline generator in this manner is definitely the way to go, as the event processing should not be stopped. Still, i3 should stay responsive.

You are right, the first two options would be pretty hard on the client. However, I think buffering all new events for each client would be overkill. How about only buffering the part of the last event message which could not be written

[2016-04-07 14:59] stapelberg commented on #2280
I agree that this suggestion is better than the points I brought up earlier. But, the crucial detail is dropping messages silently: as I mentioned above, clients which rely on getting all messages (think time trackers) would be broken by such a change.

[2016-04-07 15:36] cornerman commented on #2280
True, but to me, dropping messages seems like the better option than blocking the whole wm. Maybe one could add a message signaling that events were missed, to make clients aware. But I am not sure whether this really helps.

Would it make sense to store the most recent message for each event type? So, the client at least knows the current state, which might help in some cases.

[2016-04-07 15:40] Airblader commented on #2280
Can't we move the writing part of the IPC implementation into a separate process?

[2016-04-07 15:53] cornerman commented on #2280
But wouldn't this lead to a similar problem? Either block all IPC writing or buffer the failed messages, which would ultimately lead to dropping messages.

[2016-04-07 15:57] cornerman commented on #2280
But there might be more clients, which would also be blocked.

[2016-04-07 16:06] Airblader commented on #2280
Hm. Yeah, valid point.

[2016-04-07 17:39] alexj136 commented on #1148
I would also like this. Perhaps the possibility of centering some content, while other content stays to the left and/or right.

[2016-04-07 17:58] Chr1stoph commented on #2141
Now I have done little modifications on my first idea. The output in the config file is as
`"bindsym $mod+114 focus right # ERROR: Could not translate string to key symbol. Please
assign a different number."`

In bindings.c I found a place near line 381 where the key symbols are checked. I just added
`has_errors = true;` to trigger the call of i3-nagbar at the end of the related function.

After s

[2016-04-08 14:11] layus commented on #2276
Any idea on how to debug this ?

[2016-04-08 18:54] joehillen opened #2282 "assign [title="Gitter"] 0 does not work with Gitter chat client"
Output of `i3 --moreversion 2>&- || i3 --version`:

[code]

**What I did:**
In my config I have:
[code]
I launch gitter.

**What I saw:**
Gitter opens in whatever workspace I have open.

**What I expected instead:**
Gitter should open in workspace 0.

Here is the output from `xprop` on the Gitter window:
[code]

[2016-04-08 19:05] Airblader commented on #2282
It works fine for me, so please provide your full config and a log file.

[2016-04-08 19:13] Airblader commented on #2276
@layus With the backtrace it's pretty obvious why it's crashing and it'd be easy to avoid the crash. The real problem here is that we shouldn't just avoid the crash but make sure we fix the underlying problem, not the symptom.

The problem is that the workspace of the focused window cannot be determined. Either, `focused` is `NULL` or it's set to a container higher up in the hierarchy than workspa

[2016-04-08 19:22] joehillen commented on #2282
Here you go: http://logs.i3wm.org/logs/5697982787747840.bz2

The relevant chunk appears to be:
[code]

[2016-04-08 19:31] joehillen commented on #2282
And my config https://gist.github.com/1cada8fa2f30280689e96dc3be66dca8

[2016-04-08 19:32] Airblader commented on #2282
Yeah, it's what I suspected (since this is pretty much always the case): The application first sets `node-webkit` as the title and then maps the window. `Gitter` is only set *after* the fact, but assignments in i3 are only executed when managing the window.

I'm going to close this since everything is working as intended here, but to not leave you hanging, you could do this:

    for_window [title

[2016-04-08 19:32] #2282 closed

[2016-04-08 19:35] joehillen commented on #2282
That works perfectly! Thank you! <3

[2016-04-09 14:25] cornerman opened #2283 "[Question] Integral type for con_id"
Currently, I have a problem with overflowing con_ids in an IPC client (https://github.com/acrisci/i3ipc-glib/issues/8 and https://github.com/cornerman/i3-easyfocus/issues/6), because they were wrongly represented as an int there.

In i3, the id for the container is the address to the corresponding Con struct and is treated as a ```long``` when being read or written (https://github.com/i3/i3/blob/n

[2016-04-09 14:58] acrisci commented on #2283
From [the docs](http://i3wm.org/docs/ipc.html#_tree_reply)

id (integer)
The internal ID (actually a C pointer value) of this container. Do not make any assumptions about it. You can use it to (re-)identify and address containers when talking to i3.

But if you really couldn't make any assumptions about it, then we can't have an ipc library in C.

From [the code](https://github.com/i3/i3/blob/next

[2016-04-09 15:11] cornerman commented on #2283
Yes, that is what I also found and I was interested, why a ```signed long``` was chosen and not unsigned.

[2016-04-09 15:55] acrisci commented on #2283
I'm not sure if I'm looking at this the right way, but I think it's ok to do that.

From `man stdint.h`

So the `intptr_t` is guaranteed to hold a pointer as an integer.

On my system, this is defined as follows:

[code]

So it would seem that `long int` would be suitable for converting a pointer to an integer but `long` would work too.

However, you might think that for a very high memory address

[2016-04-09 16:53] cornerman commented on #2283
Thanks for the response! That is what I had mind. Long is fine if we can assume that it is big enough to hold a pointer value.

Exactly, this does not seem right, which is why I thought unsigned might be a better fit and wanted to ask.

[2016-04-10 10:06] simonnagl commented on #1329
Sorry I was gone for so long. Today I  spend some time on this again. I tested this on branch master 0e29101ae5f3753626ba447b83a9b8bd490de37e

**Bar sections in config**
[code]

**Setup**
`xrandr --output LVDS1 --primary --below HDMI1 --auto`
**Steps to reproduce**
* Restart i3
* `killall i3bar`
* `for c in $(i3-msg -t get_bar_config | python -c 'import json,sys;print("\n".join(json.load(sys.stdin

[2016-04-10 10:09] Airblader commented on #1329
#2010 is not implemented yet. :)

[2016-04-10 10:55] simonnagl commented on #1329
Sorry, then I missunderstood something. I thought it was closed with #2001

[2016-04-10 11:05] stapelberg commented on #2280
I think there’s just no good option here. We’d need an option which is clearly better in order to justify changing the current behavior.

I’d recommend to either not SIGSTOP the process, or to implement a different policy for handling messages in a separate process which is not SIGSTOPped (think a proxy for i3ipc).

[2016-04-10 11:05] #2280 closed

[2016-04-10 11:09] #1993 closed

[2016-04-10 11:15] stapelberg commented on #2283
I think the only reason to use `long int` was to satisfy the function signature of `yajl_gen_integer`.

I agree that we should clean up the code by using `intptr_t`. Pull requests welcome :).

[2016-04-10 11:19] Airblader commented on #2130
The library has now been released. I will contact the package maintainers soon and also work on a proposal for this feature.

[2016-04-10 18:34] acrisci commented on #2283
@stapelberg `intptr_t` or `uintptr_t`?

[2016-04-10 20:12] Airblader commented on #2130
Working on a patch for this, I ran into a couple of things:

* Not having to define which resources to load is rather awkward because in the code we need to figure out the buffer size after all replacements. Currently we rely on parsing all `set` statements first, but without a `set` for resources, that isn't possible.
* During config validation, we have no connection and hence cannot get the reso

[2016-04-11 00:28] ncoop commented on #1200
I have `set $execnsi exec --no-startup-id` and can confirm it works.

[2016-04-11 01:56] Meta-Shift-q commented on #1808
This is somewhat ugly, but can't you hide a workspace by moving its top container to the scratchpad? You would have to remember what container corresponds to what workspace and you would have to handle floating windows separately.

[2016-04-11 05:13] mattmahn opened #2285 "Google Chrome does not update view when view in other workspaces changes"
Output of `i3 --moreversion 2>&- || i3 --version`:
[code]

URL to a logfile as per http://i3wm.org/docs/debugging.html:

http://logs.i3wm.org/logs/5676709948948480.bz2

**What I did:**
(When I was looking through the log file, I took the liberty to note the line numbers of the events I took, so you can hopefully jump around it more easily.)

1. Starting at workspace 3 (on a separate monitor; hade

[2016-04-11 05:29] Airblader commented on #2285
This isn't i3 at fault here because we aren't actually involved in the rendering of the client itself. Typically this is a graphics driver issue.

Are you running a compositor?

[2016-04-11 05:48] mattmahn commented on #2285
Okay. That makes sense since this problem does not seems to happening very consistently anymore.
At some point I lost track of my graphics driver situation. I'm not sure if it's proprietary NVIDIA and Nouveau; all I know is that a big NVIDIA log pops up on the screen for a fraction of a second before LightDM loads.

No, I'm not using a compositor. Do you think that running one may fix this?

[2016-04-11 05:49] Airblader commented on #2285
Yeah, try running a compositor. It helps with these things quite often.

[2016-04-11 06:36] Airblader commented on #1808
I'm pretty sure (read: hope) that we disallow moving outputs that are that high in the hierarchy to the scratchpad.

[2016-04-11 07:37] layus commented on #2276
Hmm... I get

[code]

Well, type 5 is CT_DOCKAREA, so maybe this is just as bad as CT_CON ?

What is the straightforward patch :-) ?

[2016-04-11 09:56] Airblader commented on #2276
Mh, the focus being on a dockarea sounds really wrong. I think we should investigate this. Could you append the following patch, provoke the crash (well, it'll be a different one this time, hopefully) and pull the backtrace for it? Then we should see which codepath is setting the focus to a dockarea.

[code]

[2016-04-11 10:26] layus commented on #2276
Stack trace:

[code]

Bonus:

[code]

[2016-04-11 10:36] Airblader commented on #2276
Thank you, this explains a lot. Can you do one more bonus and print `output->active`?

I think we should go for multiple fixes here:

* `maybe_back_and_forth` should return with an error message if it cannot determine the workspace. There's no good reason to crash the window manager because we can't switch back-and-forth.
* `randr_query_outputs` should only focus the primary screen if this makes s

[2016-04-11 10:43] layus commented on #2276
Yep, here it comes:

[code]

[2016-04-11 12:54] Meta-Shift-q commented on #1808
I just checked and you are right. The top container falls apart into separate subcontainers.

In this case, one has to add one more level above it, before moving it to the scratchpad :-) Moving it back seems to be a little bit of a challenge still, but I'm sure one can figure out a workaround.

[2016-04-11 16:15] tnagorra opened #2288 "Problem with makefile"
i3 is cloned in "/home/nuclear/projects cloned/i3" directory. While trying to make i3, I get the following error.
[code]
make is unsuccessful if path to project directory contains a directory name with a space.

[2016-04-11 16:21] tnagorra commented on #2288
i3 version 4.12-32-gb3fb3cb (2016-04-10, branch "next") © 2009 Michael Stapelberg and contributors

[2016-04-11 17:36] stapelberg commented on #2288
It seems like this is a limitation of GNU make, see https://savannah.gnu.org/bugs/?712

If you have an idea on how to fix the issue, please re-open.

[2016-04-11 17:36] #2288 closed

[2016-04-11 19:34] Airblader commented on #2276
@layus Thanks for all your help, it's much appreciated. If you just want a patch for now to avoid the crashes, you can append this which I hope should at least prevent the crash:

[code]

[2016-04-11 19:35] layus commented on #2276
Nice ! I will test it at work tomorrow :-).

[2016-04-11 21:03] Airblader opened #2289 "Take care of skipped tests"
We are currently skipping the following tests:

* `t/103-move.t`
* `t/105-stacking.t`
* `t/114-client-leader.t`

We should take care of these. This means updating them if possible or creating separate issues.

[2016-04-12 07:39] layus commented on #2276
This is enough to prevent the crash, thanks !

[2016-04-12 16:37] Airblader commented on #2271
@Cynerd Can you please try the patch from #2290 and tell us whether it fixes the issue?

[2016-04-12 16:38] Airblader commented on #2285
I'm going to close this since as mentioned above, the window manager is not involved in rendering the client. From the description it appears the be a rather common issue we see due to graphics drivers / compositing.

If we do find out that this might be an i3 issue afterall, we can reopen.

[2016-04-12 16:38] #2285 closed

[2016-04-12 16:40] Airblader commented on #2261
I haven't looked at the log file, but personally I cannot reproduce this.

@schreq Can you provide a screenshot of what it looks like after swallowing and what a normally opened terminal looks like?

[2016-04-12 16:44] Airblader commented on #2214
So the way we handled this in the past is closing the issue as we currently don't accept such pull requests. If anyone wants to come up with a patch and give it a go for a while to report back, we can revisit this idea.

Given the patch isn't too huge, I'd consider adding such a patch to i3-gaps for the time being to make it available to a broaded audience. If someone wants me to take up on this o

[2016-04-12 16:44] #2214 closed

[2016-04-12 16:48] Airblader commented on #2247
I've also played around with this and frankly just can't make sense of it.

I'll argue that it is. It causes window titles to be indented for no reason (none anyone can think of, anyway). With smaller screens or more nested containers, this causes window titles to be cut off unnecessarily early.

I'd vote to remove this. I very much doubt anyone is relying on it since it behaves so oddly.

[2016-04-12 16:48] Airblader commented on #2206
@serussell Are you still experiencing this?

I have read a few reports of people with such a problem in different applications by now. It makes me think this was some kind of bug in a graphics driver or X and I'm inclined to close the issue.

[2016-04-12 17:08] Cynerd commented on #2271
@Airblader I tested it and it works fine. Thank all you for your work.

[2016-04-12 17:10] Airblader commented on #2271
@Cynerd Thanks for the confirmation!

[2016-04-12 19:56] Adaephon-GH commented on #2247
I would vote for removal, too.

While I originally thought, it could be interesting with a visible character, it probably would be not much more than a gimmick. I do not think, that nesting depth as single indicator would be of practical use:

* It does not deliver conclusive information
 * Two windows with the same depth may be in the same container, or two different containers with the same dept

[2016-04-12 20:08] Airblader commented on #2247
On the subject of indentation, two more points:

* I've just noticed a bug with the rendering of marks. Will provide a PR.
* IMHO the title should be indented by the border width. We currently inset it by two (logical) pixels, hard-coded.

[2016-04-12 20:41] Airblader commented on #2247
Playing around on a patch I actually found that the rendering has a couple more issues. My pull request will fix this. If we have convinced @stapelberg that removing indentation is favorable, I could include that as well.

[2016-04-13 10:04] Chocobozzz opened #2292 "Can't get no_focus working: always says "This is the first window on this workspace...""
Output of `i3 --moreversion 2>&- || i3 --version`:

    Binary i3 version:  4.12 (2016-03-06, branch "4.12") © 2009 Michael Stapelberg and contributors
    Running i3 version: 4.12 (2016-03-06, branch "4.12") (pid 2193)
    Loaded i3 config: /home/florian/.config/i3/config (Last modified: mer. 13 avril 2016 11:23:09 CEST, 1567 seconds ago)

    The i3 binary you just called: /usr/bin/i3
    The i3

[2016-04-13 10:16] Airblader commented on #2292
The problem seems to be that you are using a tabbed workspace layout, so even if many windows are open, there's only ever one (direct) descendant.

What we actually need to do is count the number of containers holding windows.

[2016-04-13 10:19] Airblader commented on #2292
I'll work on a fix for this.

[2016-04-13 10:20] Chocobozzz commented on #2292
Awesome, thanks @Airblader.

[2016-04-13 16:59] schreq commented on #2261
@Airblader Ok. Here are screenshots of a workspace with 2 terminals. On the [right](http://abload.de/img/normal-focused0fjyw.png) is the normal terminal and on the [left](http://abload.de/img/placeholder-focusedlqjg9.png) is a swallowed one.

[2016-04-13 17:14] EvilPudding opened #2294 "Statusline "#000000" text draws white on Xorg, but draws black on Xephyr"
Binary i3 version:  4.12-33-g82beed5 (2016-04-13, branch "next") © 2009 Michael Stapelberg and contributors

[2016-04-13 17:15] stapelberg commented on #2283
After reading http://stackoverflow.com/a/29800314/712014, I think `uintptr_t` is what we should use.

[2016-04-13 17:15] Airblader commented on #2294
Duplicate of #2248.

[2016-04-13 17:15] #2294 closed

[2016-04-13 17:23] EvilPudding commented on #2248
I don't think the conclusion arrived here has much to do with my problem, I have used black text on my i3bar for long now, and I never had a problem, today, I updated i3 (and cairo as a dependency), and it started rendering white... how did it work before? If it's a driver problem, how is it that it stopped working after I updated i3?

[2016-04-13 17:24] Airblader commented on #2248
Because before we didn't use cairo to render i3bar.

[2016-04-13 17:26] EvilPudding commented on #2248
So it's a cairo issue?

[2016-04-13 17:27] Airblader commented on #2248
No, it's an Xorg issue, but it is only triggered because we now use cairo which triggers a different code path in Xorg.

[2016-04-13 17:34] Airblader commented on #2248
Since the thread has become quite long, here's a list of things to work around the bug for now:

* Use `#000001`. Simple and quick.
* Apply the patch posted on the Xorg patch locally. Would help fixing the actual issue the most.
* Downgrade i3. If you're lazy, but want pure black.
* Build i3 from source but with `-DCAIRO_SUPPORT=0`.

[2016-04-13 17:43] stapelberg commented on #2276
That sounds reasonable to me.

[2016-04-13 17:45] #2271 closed

[2016-04-13 18:02] Airblader commented on #2261
Thanks. I still can't reproduce this, unfortunately.

[2016-04-13 18:25] Airblader commented on #2292
@Chocobozzz Can you try the patch from #2296 please?

[2016-04-13 18:54] EvilPudding commented on #2248
I'll use the patch, it's the most practical option since gentoo has automatic patches feature on updating. Thanks!

[2016-04-14 02:59] i336 opened #2297 "Window focusing issue when moving mouse between X11 displays (:0.x)"
**Output of `i3 --moreversion 2>&- || i3 --version`**:

[code]

**URL to a logfile as per http://i3wm.org/docs/debugging.html**:

[code]
**What I did:**

Move my mouse from one discrete X11 screen to another (for example, :0.1 > :0.0)

**What I saw:**

The window on the target X screen does not get focused when I move my mouse over it.

I believe I have focus-follows-mouse enabled: i3 tracks my mo

[2016-04-14 03:31] i336 commented on #2297
I found a solution!

[code]

Totally shoulda explored this a long time ago. That'll teach me! (I switched to i3 about a month ago, was starting to crazy xD)

Well, I'm sorted for the time being, although it'll be nice when i3 itself is fixed.

[2016-04-14 05:58] Airblader commented on #2276
I think we need to investigate this more instead. If I add that check to `con_focus`, a lot of tests start failing because, I assume, they expect it to set `focused`. This means a lot of tests set the focus on a weird container. We should fix this.

[2016-04-14 06:11] Airblader commented on #2276
All in all these error scenarios are way too common, even in the tests. I think we need to take a deeper look here. If we rely on being able to focus dockarea and output containers, we cannot at the same time rely on being able to determine the workspace of the focused container at any point in time.

[2016-04-14 07:08] Airblader commented on #2297
This is a duplicate of #2216 and #2082.

If you find a clean way to implement this, please document that proposal in the original ticket and we can consider reopening it there.

[2016-04-14 07:08] #2297 closed

[2016-04-14 07:14] i336 commented on #2297
Woops, should have searched the issue list.

[2016-04-14 07:25] i336 commented on #2216
Further information and (really hacky, but low CPU) workaround, from #2297:

How to reproduce this bug on ANY machine, regardless of your GPU / X setup:

[code]

Sit the Xephyr windows side by side then move the mouse between the two closest `xterms` (if the `xterms` are not vertical then set them to be). The bug will immediately be apparent.

Workaround (prepare for epic horrid hax):

[code]

Thi

[2016-04-14 08:30] layus commented on #2276
I might be able to look into the code this weekend. I'll keep you updated.

[2016-04-14 09:20] schreq commented on #2261
I just compiled g83c8740 and I still have the issue. I just noticed that the style for titlebars work, it's just the border color for active clients which will always remain black for swallowed windows. It's not my style settings because the same thing happens with the default.

[2016-04-14 16:40] mattmahn commented on #2285
(Commenting just for those that may run into this problem too.)
I've been running [compton](https://github.com/chjj/compton) since yesterday, and have not experienced this issue anymore.

[2016-04-15 01:32] acrisci opened #2299 "[Question] What does i3 stand for?"
What do the i's stand for? The world must know...

[2016-04-15 04:49] Airblader commented on #2299
Technically it stands for "imoroved"  because that's what it stands for in the predecessor wmii.

[2016-04-15 06:28] stapelberg commented on #2299
wmi was window manager improved
wmii was window manager improved improved
i3 is an improvement over that, but “window manager improved improved improved” just sounds silly long, hence the abbreviation.

Hope the clarifies ;).

[2016-04-15 06:28] #2299 closed

[2016-04-15 07:26] #2292 closed

[2016-04-15 07:27] #2283 closed

[2016-04-15 07:39] stapelberg commented on #2257
Thanks for your patience with this issue, the last few weeks have been very busy for me.

Issue #809 is relevant and describes that the intended behavior is to not move focus. That allows users to chain the move and focus commands in case they do want to move focus, and just use move in case they don’t.

So, yes, there’s a bug here, but the bug is that focus is moved at all when sending windows to

[2016-04-15 07:42] stapelberg commented on #2247
Could either of you start an email thread on i3-discuss asking whether there are users who rely on this feature (and what their motivation/use-case is) please? I don’t want to over-eagerly remove it, but in case nobody steps up, removal is fine.

[2016-04-15 07:47] stapelberg commented on #2141
That sounds like it should fit the bill. We can discuss details (such as making the error message more descriptive, and the placement of the comment) in a pull request. Can you please send your changes in the form of a pull request? Thanks!

[2016-04-15 12:50] acrisci commented on #2299
I had a feeling that was it but I wanted official confirmation. :shipit:

[2016-04-15 13:14] mariokamenjak opened #2300 "LibreOffice Impress, slideshow not showing on i3wm."
Output of `i3 --moreversion 2>&- || i3 --version`:

Binary i3 version:  4.10.3 (2015-07-30, branch "4.10.3") © 2009-2014 Michael Stapelberg and contributors
Running i3 version: 4.10.3 (2015-07-30, branch "4.10.3") (pid 8501)

The i3 binary you just called: /usr/bin/i3
The i3 binary you are running: i3

URL to a logfile as per http://i3wm.org/docs/debugging.html:

I was not debugging at the time of

[2016-04-15 13:14] #2300 closed

[2016-04-15 18:30] mikkeloscar commented on #2257
Thanks for taking the time to review this.

I will still argue that the intended behavior is counter intuitive. To me it's very strange that `move left|right|up|down` behaves one way when used on a single screen, but differently when used between multiple screens.

To me `move workspace x` as described in #809 is a completely different command than `move left|right|up|down` and the way it's suppos

[2016-04-15 21:03] stapelberg commented on #2257
Yep.

[2016-04-16 11:13] Chr1stoph commented on #2141
Dear @stapelberg, dear @Airblader,
I hope the pull request is ok since my first try some weeks ago was really a mess. I hope the proposed modifications are useful as a starting point.
Thank you,
Christoph

[2016-04-16 15:10] Airblader commented on #2247
Done.

[2016-04-16 19:51] Airblader commented on #2289
@stapelberg In `t/144-client-leader.t` the only skipped tests is positioning windows with a client leader on the leader's workspace. Is this something we still want to implement? If so, I'd open an issue, if not, we should simply remove the test.

[2016-04-17 12:17] kneitinger commented on #2235
Sorry for flooding this thread with so many commit name changes!  A tad embarrassing!

[2016-04-17 12:19] Airblader commented on #2235
No worries. I prefer good commit messages. :)

[2016-04-18 01:33] kneitinger commented on #2235
Revised commit handles the insertions in a more efficient manner than my original, by constructing the SLIST sorted by length, longest at the head, shortest at the tail, meaning any `strcmp` or `strcasestr` is unnecessary, while still achieving the same behavior.

[2016-04-19 01:44] Radivarig commented on #558
Bah. Wanted to catch button event without modifier as well

[2016-04-19 04:55] Airblader commented on #558
@Radivarig You can. The comments in here aren't up to date.

[2016-04-19 09:33] spacelike opened #2307 "Crash when toggling floating twice on parent container"
Output of `i3 --moreversion 2>&- || i3 --version`:

Binary i3 version:  4.10.4 (2015-09-08, branch "4.10.4") © 2009-2014 Michael Stapelberg and contributors
Running i3 version: 4.10.4 (2015-09-08, branch "4.10.4") (pid 17963)

The i3 binary you just called: /usr/bin/i3
The i3 binary you are running: i3

**What I did:**

Open 2 terminal windows. Put one in floating mode. With the floating window ac

[2016-04-19 09:33] #2307 closed

[2016-04-20 03:05] jamespanda commented on #2248
another solution:change the acceleration method of the graphic card from exa to glamor
if glamor is compatible with your card.
i even found i get more performance in my pc after i changed it.

[2016-04-20 18:15] EvilPudding commented on #2248
@jamespanda That seems to work pretty well, I'm not very familiar with the differences between the two though.

[2016-04-21 07:45] thisredone opened #2309 "Random unrecoverable freezes"
Output of `i3 --moreversion 2>&- || i3 --version`:

    Binary i3 version:  4.12-17-gcc5fa49 (2016-03-24, branch "gaps-next") © 2009 Michael Stapelberg and contributors
    Running i3 version: 4.12-17-gcc5fa49 (2016-03-24, branch "gaps-next") (pid 28046)
    Loaded i3 config: /home/piotr/.config/i3/config (Last modified: śro, 20 kwi 2016, 19:20:52, 51390 seconds ago)

    The i3 binary you just ca

[2016-04-21 07:59] Airblader commented on #2309
Can you please attach gdb and pull a backtrace?

[2016-04-21 08:28] thisredone commented on #2309
This one comes from the next freeze http://pastie.org/pastes/10806475/text

[2016-04-21 20:50] MarijnStevens opened #2310 "Suggestion: Double tap/click support"
Is this going to be supported ? I suppose it could be --double

[code]
There is problem that you need to wait for the second click for like ~200-400 ms

[2016-04-21 20:59] Airblader commented on #2310
And that is a major reason for why we don't want this. Besides, such a feature is incredibly complex. I think it'd best be served in an external tool (something similar to sxhkd.

See also #2009.

[2016-04-21 20:59] #2310 closed

[2016-04-22 00:30] acrisci commented on #2310
Yeah I agree. Double click also means you have to wait until mouseup to do anything which adds more overhead. I think they are only required if your app is so mouse heavy that you need to overload your buttons to handle more functionality, but i3 is not mouse heavy at all.

I would suggest as an alternative to go buy a mouse with a bunch of buttons and then you can bind mouse commands to the extra

[2016-04-22 05:57] Airblader commented on #2309
I feel like you might have something running using the IPC incorrectly. i3 behaves badly when this happens. Do you run any i3-related scripts in your setup? Can you reproduce the freeze when using the default config?

[2016-04-22 11:26] thisredone commented on #2309
You are correct - I'm using [i3ipc-ruby](https://github.com/veelenga/i3ipc-ruby) in one of my scripts. It is subscribed to all window events. Perhaps that's why using spotify is impossible without i3 freezing soon after (Spotify updates the title constantly).
I've since disabled the script and will report back with the status. In the meantime - is there an alternative approach to what I was doing?

[2016-04-22 12:06] Airblader commented on #1784
So this is a bit of a long shot but this fixes the issue:

[code]

[2016-04-22 12:19] Airblader commented on #2309
The problem is probably not the amount of IPC messages, but that incomplete data is sent to the API. See #1876.

[2016-04-22 13:29] thisredone commented on #2309
The issue doesn't occur when not using [i3ipc-ruby](https://github.com/veelenga/i3ipc-ruby) so I guess I'll close this.

[2016-04-22 13:29] #2309 closed

[2016-04-22 14:05] cpuguy83 commented on #1450
Really ought to add the key import to the install docs page, otherwise people just install the package without checking keys.

[2016-04-22 18:33] wlhlm opened #2311 "i3bar: Accept "primary" for output config option"
This is a feature request to add the argument "primary" as special case to the `output` config option for i3bar to enable the bar to automatically be put on the primary monitor without having to configure an output explicitly (helpful with occasionally changing monitor setups), similar to `tray_output`.

My specific use case is to be able to have an i3bar with a different `status_command` on the p

[2016-04-22 21:01] catchin commented on #1784
I just tried it with the latest IntelliJ IDEA and it fixes the problem that the new window is not drawn. So this works :).

However, when closing the new window, the main window is not fully focused. Meaning that it is shown and i3 title bar indicates it should be focused, but it does not respond to any key press.

[2016-04-22 21:03] klassm commented on #1784
I didn't notice that behaviour today - I'll try to confirm that tomorrow though.

[2016-04-22 21:06] Airblader commented on #1784
@catchin Thanks for the feedback. I can reproduce this, but oddly it only starts happening the second time I open the diff window. The first time I open and close it, the focus is set correctly.

[2016-04-22 22:15] Airblader commented on #1784
I think when handling FocusIn events, we now need to update `_NET_ACTIVE_WINDOW`. I don't think we need to update the input focus since that's what should've caused it in the first place. Anyway, this is just a reference for a potential proper fix.

@catchin I can see the behavior you describe even prior to this patch. Furthermore, I've looked into this for a while now and I believe that this is n

[2016-04-22 22:25] Airblader commented on #1784
I've looked into how awesome and Openbox handle this and they handle all of this quite a bit different. I'll see whether things improve if we do it the same way.

[2016-04-22 23:51] acrisci commented on #2014
This change broke my ipc libraries.

[2016-04-22 23:58] Airblader commented on #1784
OK. Before I go to bed now, here is where I ended up for now: In general, the way i3 handles the input hint and `WM_TAKE_FOCUS` sounds reasonable. There's only two points:

* We probably shouldn't update `_NET_ACTIVE_WINDOW` if we are only just sending `WM_TAKE_FOCUS` since it may be rejected. This is really mostly cosmetics, though, but should be fixed.
* I don't like that i3 suppresses `WM_TAKE_

[2016-04-23 00:04] Airblader commented on #2014
@acrisci We discussed this above, see @stapelberg's comment:

[2016-04-23 00:08] acrisci commented on #2014
Yeah I should have been paying attention. Maybe I'll try to extend that documentation so we can have this to be stable. I bet you also broke Sway as well. Please try to remember to ping me on ipc changes so I can update my libraries faster.

[2016-04-23 00:25] Airblader commented on #2014
That sounds fine, I think marks have reached a mature state anyway.

sway is still missing the tree reply, so I doubt that.

That's fair, I'll try to remember.

[2016-04-23 15:03] sur5r commented on #1450
@cpuguy83 I'm sorry, but right now, this makes no sense. Neither are the commits signed nor is i3wm.org served via https. Putting the fingerprint there would be no real improvement over the current situation which is more or less TOFU.

There is however a trust path from @stapelberg s key (4E7160ED4AC8EE1D) via my personal key (4CF2B218F54DAE3D) to the key used for signing the repository (E3CA1A89

[2016-04-23 17:51] carrotIndustries opened #2312 "i3-input positioned off-screen"
`Binary i3 version:  4.12 (2016-03-06, branch "4.12") © 2009 Michael Stapelberg and contributors
Running i3 version: 4.12 (2016-03-06, branch "4.12") (pid 4419)
`
Not sure whether this is an i3 or i3-input bug:
When selecting a parent container and starting i3-input, i3-input gets positioned off-screen.

Steps to reproduce:
Go to new workspace, create layout as follows:
<pre>
+-------------------+

[2016-04-23 18:33] Airblader commented on #2312
I think the problem here is that when the parent container is selected, the input focus is assigned to the EWMH support window. We should check in i3-input whether it's that window. If not, we should display i3-input at a hard-coded position (like we used to).

[2016-04-23 19:12] stapelberg commented on #1450
Actually, i3wm.org is served via https, and we do sign the release tags. We already list the fingerprint on https://i3wm.org/downloads/

[2016-04-23 19:32] Airblader commented on #2312
Actually the problem is that the input focus is on the frame window and then translating the coordinates messes things up. We should fix the EWMH support window issue as well, though.

[2016-04-24 01:20] Airblader opened #2315 "Handle rejected WM_TAKE_FOCUS requests correctly"
This relates to #1784. For clients using the `WM_TAKE_FOCUS` protocol, we immediately update things like `_NET_ACTIVE_WINDOW` when sending the request. However, this will leave us in an improper state if the client rejects this request and doesn't set input focus.

We should not update the focus information in this case until we actually get notified, which will be in a FocusIn event.

CC @acrisci

[2016-04-24 01:28] Airblader commented on #1784
I am splitting this issue up into the separate issues we identified. I also will not change that we suppress `WM_TAKE_FOCUS` if we are allowed to set input focus ourselves for the time being because it doesn't violate the specification and was part of a bugfix.

I will provide a PR that fixes the IntelliJ / RubyMine issue properly, but before I do I want to look into the issue when closing the dif

[2016-04-24 02:05] woodensquares commented on #2082
today I randomly looked at this old issue I opened and noticing that others have hit it I took a bit of time to dig into this some more (I've just been using my hacky workaround since November) and I think this other approach might be clean enough for others to use as well

https://gist.github.com/woodensquares/9b5c7d3e186c5d49540f29c81d688e1e

I will be using this for a while longer to make sure

[2016-04-24 11:52] fhaun opened #2316 "Redraw problems on Raspberry (Raspbian, Debian Jessie)"
Output of `i3 --moreversion 2>&- || i3 --version`:

[code]

URL to a logfile as per http://i3wm.org/docs/debugging.html:

http://logs.i3wm.org/logs/5693341270278144.bz2

**What I did:**

Running i3 on Raspberry Pi 3, OS is Raspbian (Debian Jessie). I've tried color depth of 16, 24 and 32. With and without an compositor (compton).

**What I saw:**

I have redraw problems in **all programs**, e.g. a

[2016-04-24 12:00] Airblader commented on #2316
For reference, this originated here: https://www.reddit.com/r/i3wm/comments/4g51zc/i3_version_412_redraw_problems_on_raspberry/

[2016-04-24 13:58] Airblader commented on #1784
OK, I've looked more into this now. Using `$mod+q` as my binding to close the diff view, I noticed that focus is restored correctly if I press `$mod` after the window is closed (or keep it held down for long enough).

I then ran RubyMine under xtrace. When focus is "lost", it puts out a single `SetInputFocus` request with a set timestamp, so this is probably it responding to our `WM_TAKE_FOCUS`. H

[2016-04-24 14:18] wlhlm commented on #2311
I just realized that this feature request only covers the problem I want to solve by 50%: What I want to do is to write a custom `status_command` that runs in the i3bar on the primary output and acts as notification daemon (somewhat similar to `twmnd`). A second i3bar instance should run on all non-primary outputs and host the usual `status_command` like i3status.

So in summary I have two `bar {}

[2016-04-24 16:09] AMPivovarov commented on #1784
What should it do after its request was denied? Why are they denied, btw?

This flag is set by JDK.

[2016-04-24 16:15] Airblader commented on #1784
I haven't looked at that, mostly because it's close to impossible. All I can see is that they send the request and that i3 doesn't do anything to change the input focus. I can see that there is some unmapping and window destroying going on at the same time, so my best guess is that RubyMine is bringing things out of order. But it'd be easier of the IntelliJ guys debugged this in detail.

[2016-04-24 16:36] Airblader commented on #1784
Cancel that! I think I found the bug for this in i3 now. :-)

[2016-04-24 16:48] acrisci commented on #2315
:+1: the case I'll be watching is xfce4-notifyd. It maps windows that are managed, have no decorations, and should not be focused when it is mapped.

[2016-04-24 16:49] Airblader commented on #1784
Well, sorry for jumping the gun, but I was wrong. I thought it might be an issue that we send a "last timestamp" in `WM_TAKE_FOCUS` instead of CurrentTime, but that is actually exactly how we *have* to do it according to the spec.

Still… maybe we are sending a "too old" timestamp because we forgot to update our last saved timestamp? If we had a focus change since then, this would cause RubyMine's

[2016-04-24 16:51] Airblader commented on #2315
@acrisci It could be that by now we don't focus it on account of other properites anyway. For example, it might set `_NET_WM_USER_TIME = 0`, maybe?

[2016-04-24 16:52] acrisci commented on #2311
@wlhlm make another issue for the second case and come up with a proposal for how to handle that situation and we can discuss it there.

[2016-04-24 17:14] acrisci opened #2318 "Implement an ipc-shutdown event"
This event should be triggered when the ipc is about to shutdown. It will have a `"change"` member that explains the reason for the shutdown.

[code]

It can be one of `"restart"` or `"exit"`. `ipc-shutdown::restart` will be triggered when i3 is restarted by user command (such as `i3-msg restart` or by binding) and `ipc-shutdown::exit` will be triggered when i3 exits (either X server shutdown or b

[2016-04-24 17:20] acrisci commented on #2318
See #1581 for complications that result from `restart` command and ipc.

When i3 restarts, we lose the connection to the ipc socket. This causes user scripts to exit and they must be restarted such as in an `exec_always` config block.

It would be nice to add a feature to an ipc library that automatically reconnects to the socket when i3 is restarted. This however would only be appropriate for res

[2016-04-24 17:21] AMPivovarov commented on #1784
Just merged your branch.
Note, that the focus is not lost completely, when diff window is closed.
Global actions (like "Find Action" or "Go To Class") can be invoked and (If the focus should be in editor) caret can be moved (but it is invisible and typing doesn't work).
The issue is very similar to the https://youtrack.jetbrains.com/issue/IDEA-65637 and https://youtrack.jetbrains.com/issue/IDEA-14

[2016-04-24 17:24] acrisci commented on #1784
#2315

[2016-04-24 17:29] Airblader commented on #1784
@AMPivovarov I've now verified that the timestamps aren't the issue either. So I maintain my previous position that this is probably an IntelliJ issue. I've said it before, but this focus stuff is quite confusing…

@acrisci I'm not sure why you link that again, but as far as the current discussion goes, this is unrelated. IntelliJ *does* send the request, so they don't reject `WM_TAKE_FOCUS` here.

[2016-04-24 17:29] acrisci commented on #1784
See #1167 and 05f0585

[2016-04-24 17:30] Airblader commented on #1784
@acrisci Yeah, I've stated later on that I don't intend to change this because of that bugfix.

[2016-04-24 19:11] AMPivovarov commented on #1784
@Airblader
Another observation: closed window not necessary should belong to the IDE.
Closing terminal window, that results in IDE window being focused, leads to the same issue. But regular i3 actions "focus left/right" / "focus on mouse over" work fine.
Is there are any difference between these cases in i3 focus handling?

[2016-04-24 19:15] Airblader commented on #1784
@AMPivovarov No, there's no difference. There's only very little information that connects different windows on some level, but that information is not relevant for the focus handling at all.

[2016-04-24 19:56] stapelberg commented on #2316
If we don’t find another solution for this issue, we should revert the commit. AFAIR, it was only introduced for transparency, which is not an officially supported use-case, right?

[2016-04-24 19:58] stapelberg commented on #2318
Sounds good.

[2016-04-24 20:00] Airblader commented on #2316
I don't think we should revert the commit without understanding what is happening. I am not aware of any reason for why we can't use these depths, so I'm not convinced it's a bug in i3. It might just be triggering a code path somewhere that wasn't triggered before. It doesn't seem to be a general issue because I'm pretty sure we have quite a few more emacs users and 4.12 has been out for a while n

[2016-04-24 20:03] Airblader commented on #2316
Since the referenced patch was only one of a larger change and has been partially reverted already, I think the best course of action is to manually write a revert patch that @fhaun can apply so we can gain some confidence in what exactly is causing these issues.

@fhaun Can you also provide the output of both of these commands, clicking on the emacs window when executing them?

    xwininfo | gre

[2016-04-24 20:14] Airblader commented on #2316
@fhaun And then, please try appending the following two patches (individually, not together) and let us know if either one fixes the problem.

#### Patch 1: Don't clear the surface of the first child

[code]
diff --git a/src/main.c b/src/main.c
index b2ce17d..2aef598 100644
--- a/src/main.c
+++ b/src/main.c
@@ -483,25 +483,7 @@ int main(int argc, char *argv[]) {

     root_depth = root_screen->roo

[2016-04-24 22:05] fhaun commented on #2316
xwininfo before patching:
[code]

"Patch 1: Don't clear the surface of the first child" doesn't help.

"Patch 2: Don't try to use 32-bit depth by default" **solves** the redraw problems.

xwininfo after patching with Patch 1:
[code]

xwininfo after patching with Patch 2:
[code]

With Patch 2 both depth are the same now.

[2016-04-24 22:10] Airblader commented on #2316
Thanks for the feedback!

@psychon You know your way around the whole thing with visuals and depths. Is there anything wrong about using a 32-bit depth frame window for a 24-bit client window? My understanding is that this is fine – we can't control a client's depth, afterall, but that can't force the window manager to give up transparency on its decorations.

From what I can tell awesome does the

[2016-04-24 23:24] nmiculinic opened #2320 "Add padding to titlebar"
Idea is supporting padding into the title bar, that is for pango rendered text has some padding pixels around it. Pango has information how big is the space it occupies:

[code]

Proposed syntax would be similar to CSS, that is:
title_padding <all>
title_padding <top&bottom> <left & right>
title_padding <left> <top> <right> <bottom>

[2016-04-24 23:28] Airblader commented on #2320
Can't you just use this?

    title_format "        %title"

[2016-04-25 01:50] 0trenixjetix opened #2321 "8th desktop in i3 is broken"
Output of `i3 --moreversion 2>&- || i3 --version`:

Binary i3 version:  4.12 (2016-03-06, branch "4.12") © 2009 Michael Stapelberg and contributors
Running i3 version: 4.12 (2016-03-06, branch "4.12") (pid 3483)
Loaded i3 config: /home/jorge/.i3/config (Last modified: vie 25 mar 2016 04:37:18 CET, 2671729 seconds ago)

The i3 binary you just called: /usr/bin/i3
The i3 binary you are running: i3

W

[2016-04-25 02:10] acrisci commented on #2321
Would you post your config so we can see what is being executed when you press that key? There could be trailing spaces at the end of your bindsym config declaration.

[2016-04-25 09:12] psychon commented on #2316
This is definitely not an i3 issue. It just hits a different code path in the X server (if both windows have the same depth, the server uses the same memory for storing the content of both, if they have different depths, then it does $SOMETHING to keep them somewhat apart). I don't know the details, but I know that when awesome started using a 32 bit visual, I had similar problems with the intel d

[2016-04-25 09:43] 0trenixjetix commented on #2321
[config.txt](https://github.com/i3/i3/files/234260/config.txt)

[2016-04-25 09:46] Airblader commented on #2321
Your config has whitespace after the binding:

[code]

[2016-04-25 09:46] #2321 closed

[2016-04-25 09:47] 0trenixjetix commented on #2321
thank you, em, i feel stupid

[2016-04-25 10:38] Airblader commented on #2316
@psychon Thanks :-)

@stapelberg Now we need to decide what to do. Here are the options I see:

* We close the bug and tell people to update their X server. While I can see that this is probably the most uncomfortable for a user, it's my preference. We shouldn't work around bugs in other applications (including the server) unless it doesn't restrict us (as was the case for having to clear a cairo

[2016-04-25 11:07] nmiculinic commented on #2320
I can use is as hacky way of achieving left padding, however it is not an option for vertical padding.

Also this is tangentaly related to #1750 since my original intentions were having text centered (not caring about marks that much).

For vertical padding I've tried another hack found [here](https://www.reddit.com/r/i3wm/comments/42087l/padding_in_the_titlebar/):
[code]
though every time I put s

[2016-04-25 17:19] acrisci commented on #2257
I was the one who implemented `move left|right|up|down` across outputs and my intention was that focus should always follow the window.

[2016-04-25 18:38] Airblader opened #2322 "Set input focus with last known timestamp"
When calling `xcb_set_input_focus`, we should do so with `last_timestamp` rather than `XCB_CURRENT_TIME`.

I'm only opening this issue as a reminder becasue there currently are a few pending pull requests and issues in that area and keeping multiple pull requests up to date is just more stressful. I'll provide the patch as soon as those are through.

i3 4.12

[2016-04-26 07:06] stapelberg commented on #2316
Currently I’m leaning towards reverting the commit. That avoids a bunch of bugs (in otherwise supported configurations).

Can you clarify if anything aside from transparency-related issues would regress when we revert the commit?

[2016-04-26 07:09] #1784 closed

[2016-04-26 07:20] #2235 closed

[2016-04-26 08:52] Airblader commented on #2316
Why is a machine running a broken X server a supported configuration? If we had this change for two years rather than a few months and the X server only then introduced the bug, would we also revert commits for that?

I think that we should keep the pressure on both Xorg and Debian to fix bugs and backport fixes. If everybody just ducks away, there's no reason to fix these problems properly, but a

[2016-04-26 08:59] Airblader commented on #2316
@psychon Are you aware of any existing bug reports against X for this? I'm just wondering why awesome has had this for so long and yet the bug seems to persist.

@stapelberg If my philosophy on bug responsibility above doesn't convince you, can we agree on the `#if 0` approach with an explanatory comment? Or maybe even the command-line flag?

[2016-04-26 09:27] psychon commented on #2316
@Airblader Nope. I've been too lazy about sending bug reports upstream, mostly because too many users use the argument "but it works in fluxbox" as a reason why I have to fix this. Also, https://bugs.freedesktop.org/show_bug.cgi?id=34885 didn't really have any nice result (and it took ages to come up with a simple, self-contained reproducer; this is even harder for bugs like these which I cannot r

[2016-04-26 10:19] hossein4heydari opened #2324 "I3wm problems with virtualbox"
Hi
When I fullscreen  VirtualBox on I3wm it shows my Background instead of My Virtual machine, next problem is that when we run virtualbox I3wm shortcuts won't work and instead they work for virtual system!

[2016-04-26 11:04] Airblader commented on #2316
If it does, we should reject this bug anyway. We don't support closed-source software. :-)

[2016-04-26 16:32] Airblader commented on #2316
Just to clarify, that last comment wasn't meant to be serious. ;)

[2016-04-26 16:37] fhaun commented on #2316
Something about the graphics driver:
http://liliputing.com/2014/02/raspberry-pi-gets-true-open-source-graphics-drivers.html

[2016-04-26 22:57] giacecco opened #2325 "Odd tray icon rendering"
Output of `i3 --moreversion 2>&- || i3 --version`:

[code]

**What I did:**

Nothing, just run a few applications that offer tray icons.

**What I saw:**

Sometimes, the tray icons are rendered incorrectly as Dropbox and Telegram respectively in the pictures below.

![i3wm-tray](https://cloud.githubusercontent.com/assets/303693/14836737/37300f0e-0c0a-11e6-8a6e-a75a248e237f.png)

![71400914-0977-11

[2016-04-27 05:11] kneitinger commented on #2325
I occasionally have a similar issue, but stacking correctly rendered icons instead of a distortion.

If I'm running slack and cutegram (also a telegram app), there will be two tray positions, one for slack and one for telegram, which clicking on them confirms.  The slack icon is correct, but the cutegram icon is shown on top of another slack icon.

![d](https://cloud.githubusercontent.com/assets/5

[2016-04-27 05:18] kneitinger commented on #2324
I can't speak to the first issue (the background image).  But the second behavior is normal.  A VM will often have an escape sequence to hop your keyboard out of the VM and into the host OS (iirc on Virtual Box it is the right Alt key, or right Ctrl + right Alt).  Virtual Box can't know what shortcuts every host and guest desktop have, so making assumptions would inevitably cause something to not

[2016-04-27 05:19] Airblader commented on #2325
This has got to be a video driver issue. I don't know why but we're seeing a lot of those lately.

At least here it's rather simple to rule out changes on our side. It's not cairo because tray icons aren't rendered by us. It's not a depth issue because i3bar doesn't use a 32 bit depth.

[2016-04-27 05:26] kneitinger commented on #2325
@giacecco what graphics driver do you use?  I'm using xf86-video-intel.  I first saw this issue about a week ago, but before that I only sometimes had 2 tray icons at the same time, so it may not be new.

[2016-04-27 06:08] Airblader commented on #2325
The fact that it started happening recently also suggests it's not an i3 problem because we didn't release.

I'm using the same video driver as you. It updated last night for me and I've been seeing glitches similar to what giacecco is seeing, but in client windows like Chrome, not yet in the tray icons. I'll keep an eye out for that as well.

I'm like 99% that this is just a bug in the driver. An

[2016-04-27 06:14] andreatta commented on #2325
I can confirm this bug here on ArchLinux with xf86-video-intel Version 1:2.99.917+636+g562ae1f-1.
It manifests itself the same way as @kneitinger described.
It seems as if the place where the old icons was is copied (with the icon) and then the new is overlapped. In case of dropbox client the icon seems to have transparent parts, so the underlying icon is partly visible. with synology-cloud-statio

[2016-04-27 06:18] giacecco commented on #2325
I'm using a "stock" Fedora 23 on a Lenovo T450S, that should have an NVIDIA GeForce 940M. I have not been using Linux for a while and could not find what the best way today is to check what the video drivers are, but I am sure I did not installed the NVIDIA drivers.

[2016-04-27 06:19] Airblader commented on #2325
Let's make this short. The clear indication here is a video driver bug. Somebody please report this against the driver and link the bug in this issue. Then everybody go there and report that you are affected as well so they know it quickly affected multiple people.

[2016-04-27 06:30] Airblader commented on #2325
Are you sure you have the T450s with the nvidia card? Most come with an Intel card. I have the same machine at work and will update today (probably) so I will see whether I start seeing the same issues there then too.

You can check the driver by grepping in the lsmod output for "i915", "nouveau" and "nvidia".

[2016-04-27 06:34] Airblader commented on #2324
For the second issue see the above comment. For the first issue, are you running a compositor?

We know that VirtualBox doesn't integrate super well with i3, see #2275. Can you please post a screenshot of what fullscreen looks like?

[2016-04-27 06:39] giacecco commented on #2325
@airblader is right, I apologise, I can see the i915 in lsmod.

[2016-04-27 07:04] kneitinger commented on #2325
Sorry to continue the conversation here as this is no longer the appropriate channel. I'll file a bug report tomorrow;  @giacecco & @andreatta , I'll send an email to the addressees listed in your GH profiles with a link to the freedesktop bug report, in case you would like to follow it or further comment on it.

[2016-04-27 07:05] Airblader commented on #2325
@kneitinger Please just post the link here we and everyone else coming across this knows where to go. :)

[2016-04-27 19:14] StefanKrauth commented on #2324
Reg. the virtualbox issue. After starting the virtual machine, go to the preferences -> input. Deselect the "Auto Capture Keyboard" checkbox. Done. i3 shortcuts will work while virtualbox is running. Even when the virtual machine runs in fullscreen.

Reg. the first issue: I experience the same when I maximize the virtual machine via view -> maximize. As a workaround I just don't do this and maximi

[2016-04-29 00:38] zhou13 opened #2326 "i3 does not adjust the output of workspace when monitors are unpluged."
**Output of `i3 --moreversion 2>&- || i3 --version`:**
[code]

**URL to a logfile as per http://i3wm.org/docs/debugging.html:**

http://logs.i3wm.org/logs/5631943370604544.bz2

**What I did:**

1.  start i3 without external monitors

2.  plug in an external monitor

3.  run `xrandr --auto`

4.  create some workspace on the external monitor

5.  unplug the external monitor

6.  run `xrandr --auto`

[2016-04-29 12:25] JeffAbrahamson opened #2327 "discrepancy between mouse position and focused window on mulitple workspace change"
Output of `i3 --moreversion 2>&- || i3 --version`:

    Binary i3 version:  4.10.3 (2015-07-30, branch "4.10.3") © 2009-2014 Michael Stapelberg and contributors
    Running i3 version: 4.10.3 (2015-07-30, branch "4.10.3") (pid 1993)

    The i3 binary you just called: /usr/bin/i3
    The i3 binary you are running: i3

URL to a logfile as per http://i3wm.org/docs/debugging.html:

    http://logs.i3

[2016-04-29 12:26] #2327 closed

[2016-04-29 12:46] JeffAbrahamson commented on #2327
Now running 4.12:

    Binary i3 version:  4.12 (2016-03-06, branch "4.12") © 2009 Michael Stapelberg and contributors
    Running i3 version: 4.12 (2016-03-06, branch "4.12") (pid 1993)
    Loaded i3 config: /home/jeff/.i3/config (Last modified: Sun 13 Mar 2016 08:29:11 CET, 4079739 seconds ago)

    The i3 binary you just called: /usr/bin/i3
    The i3 binary you are running: i3

And same behavi

[2016-04-29 12:52] JeffAbrahamson opened #2328 "discrepancy between mouse position and focused window on mulitple workspace change"
Output of `i3 --moreversion 2>&- || i3 --version`:

[code]

URL to a logfile as per http://i3wm.org/docs/debugging.html:

[code]

**What I did:**

I switched from workspace group a to c and back to a. On a, I move the mouse from the left window to the right window. (I have windows (roughly) on the left and right of the right output.)

**What I saw:**

The mouse is over the left window and the focu

[2016-04-29 18:37] Airblader commented on #2328
http://i3wm.org/docs/userguide.html#_mouse_warping

http://i3wm.org/docs/userguide.html#_focus_follows_mouse

The rest of what you describe is intended behavior. The reason here is that we want to allow users to quickly switch back and forth between workspaces without messing up the focus by setting it to where the mouse is. This would be rather unexpected behavior for most users.

[2016-04-29 18:43] JeffAbrahamson commented on #2328
What I understand from that man entry is that the mouse warps to the center of the focused window on ws switch.  Is that not the behaviour?

What I find unexpected is that the mouse and the focus don't coincide.

[2016-04-29 18:59] Airblader commented on #2328
Mouse warping only occurs when switching workspaces between outputs. I understand that you are switching workspaces on the same output, right? Or am I misunderstanding you?

[2016-04-29 19:25] JeffAbrahamson commented on #2328
Aha, I missed a paste in my issue.  Sorry.  I have two screens, so two outputs.  I have some bindings like this to let me change them as sets.  So the issue is that there are two workspace changes in a row.  If I only change one workspace, this isn't an issue.

    bindsym a  workspace 1; workspace 2;  mode "default"
    bindsym b  workspace 3; workspace 4;  mode "default"
    bindsym c  workspace

[2016-04-29 19:34] Airblader commented on #2328
Ah, alright. I'll reopen for now so we can talk about this some more because I'm not convinced anymore my answers are addressing your actual situation.

I'm trying to follow your description in the original post but I think I'm getting lost. Can you maybe describe in individual steps what you are pressing, doing and expecting? And please also describe the layout of your windows in detail. Maybe ev

[2016-04-29 19:48] SirCmpwn opened #2329 "i3-dmenu-desktop inserts an additional space in quotation marks"
See https://github.com/SirCmpwn/sway/issues/521

I consider this a flaw in i3-dmenu-desktop, not in sway.